@()(implicit session: Session)
@home.main("Update News"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/news.css")" media="screen" />

    <div class="container" style="margin-bottom: 40px">

        <div class="row justify-content-center">
            <div class="met-log-body col-xl-9 pl-md-5" style="margin-left: 50px;margin-top: 50px">
                <ul class="met-log-list list-unstyled pl-md-5 ml-md-5">
                    <h2 class="my-2">2021</h2>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;display: none;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2021.03.05</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.6 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>5、优化：配对差异检验；</p>
                                        <p>1、新增：多变量两两之间相关系数；</p>
                                        <p>1、新增：ggcor；</p>
                                        <p>1、新增：柱状图+热图组合展示微生物功能；</p>
                                        <p>1、新增：基因表达的时间趋势及聚类群划分 ；</p>
                                        <p>5、优化：(o)pls-da优化；</p>
                                        <p>1、新增：气泡图展示基因丰度；</p>
                                        <p>1、新增：因子分析；</p>
                                        <p>1、新增：krona；</p>
                                        <p>1、新增：序列处理工具（DNA/RNA转换器、截取序列、序列长度过滤、序列长度统计、序列格式化）；</p>
                                        <p>1、新增：deseq2差异分析；</p>
                                        <p>1、新增：FunGuide功能预测；</p>
                                        <p>1、新增：BugBase功能预测；</p>
                                        <p>1、新增：Tax4Fun2；</p>
                                        <p>1、新增：wgcna分析；</p>

                                        <p>1、新增：searchTag最热门模块；</p>
                                        <p>1、新增：微信扫码登录，绑定微信账号；</p>
                                        <p>5、新增：热门词条；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;display: none;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2021.04.15</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.8 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：edgeR差异分析；</p>
                                        <p>2、新增：tSNE；</p>
                                        <p>3、新增：picrust模块，用户同一时间运行模块任务数量限制为1个；</p>
                                        <p>4、新增：为节约空间资源，仅提供tiff图片的压缩包下载；</p>
                                        <p>5、新增：每个模块增加常见FAQ板块。GO、KEGG、PCA、热图、CCA、Lefse模块FAQ更新；</p>
                                        <p>6、新增：所有模块结构优化；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2021.03.26</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.7 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：多样性指数盒型图</p>
                                        <p>2、新增：管理员版面，获取任务文件功能；</p>
                                        <p>3、新增：定期数据备份；</p>
                                        <p>4、优化：火山图优化，点颜色设置方式改变，新增参数：图例字体、图里标题、主标题相关参数；</p>
                                        <p>5、优化：组内相关性分析，组件相关性分析优化，对相关性分析后产生的NA数据进行处理，解决因为NA数据导致运行失败的问题；</p>
                                        <p>6、优化：组内相关性分析，组件相关性分析的网络图进行优化，添加参数：数据起始行，解决网络图绘制数据过大导致的页面卡死问题；</p>
                                        <p>7、优化：对输入文件格式进行统一优化处理，减少因文件内容格式问题导致的运行失败问题；</p>
                                        <p>8、优化：柱状图、revseq、getorf、lefse2模块，教学视频更新；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2021.03.12</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.6 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：高级散点图；</p>
                                        <p>2、优化：柱状图，新增参数：X轴标题旋转角度、Y轴标题旋转角度</p>
                                        <p>3、优化：对所有模块上传矩阵文件进行处理，解决矩阵尾部存在空白数据导致运行失败的问题</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2021.03.05</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.5 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：RandomForest随机森林分析；</p>
                                        <p>2、优化：Picrust,添加选填参数：max_nsti、min_reads、min_samples、m、min_align、skip_norm。对seq.fasta输入文件OTU名称进行处理；</p>
                                        <p>3、修复：Circos图，修复输入文件中数值较小导致画图失败的问题；</p>
                                        <p>4、修复：修复饼图比例计算错误，导致绘图与数据不匹配的问题；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2021.02.26</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.4 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：线性回归图；</p>
                                        <p>2、新增：多元线性回归分析；</p>
                                        <p>3、新增：站内信功能，另外添加来信提示标志，和反馈提示标志；</p>
                                        <p>4、优化：气泡图，新增参数：用于做图的行数；</p>
                                        <p>5、优化：断轴柱状图，新增参数：x轴字体水平偏移、x轴字体垂直偏移。用以解决X轴字体旋转后跟刻度线产生的对齐问题；</p>
                                        <p>6、优化：PCA、PCoA、NMDS、CCA、箱线图、断轴柱状图、曼哈顿图、误差折线图、树图treemap、柱状图、气泡图等模块，主标题位置调整为居中；</p>
                                        <p>7、优化：PCA，修复PCA分组文件SampleID与OTU文件SampleID顺序不一致，导致的绘图分组错误；</p>
                                        <p>8、修复：模块收藏按钮显示问题；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2021.02.07</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.3 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：（O）PLS-DA；</p>
                                        <p>2、优化：频率直方图，主标题居中显示；</p>
                                        <p>3、优化：CCA/RDA环境因子线添加箭头；</p>
                                        <p>4、优化：气泡图，增加GO、KEGG文件格式兼容,新增参数：文件类型、Y轴描述绘制最大长度；</p>
                                        <p>5、优化：PCA，新增参数：是否归一化；</p>
                                        <p>6、优化：PCOA，新增参数：计算距离方法；</p>
                                        <p>7、优化：Lefse分析、TAX4FUN功能预测、Faprotax功能预测、Picrust2功能预测、Emboss Abiview、火山图模块，教学视频更新；</p>
                                        <p>8、优化：用户反馈，增加任务编号栏；</p>
                                        <p>9、优化：图片重绘界面优化，解决双勾问题；</p>
                                        <p>10、修复：火山图，分界线颜色设置不支持keyword颜色参数的问题；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2021.01.29</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.2 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、修复：权重网络图、组内相关性分析、组间相关性分析，结果文件存在NA数据时，任务状态一直是运行中的问题</p>
                                        <p>2、优化：频率直方图，xy坐标轴绘制；</p>
                                        <p>3、优化：断轴柱状图，参数断轴位置，更改为断轴区间,增加断轴上下限；</p>
                                        <p>4、优化：误差折线图，新增参数：误差线宽度；</p>
                                        <p>5、优化：wilcoxon秩和检验、分组文件格式统一，必须含有表头；</p>
                                        <p>6、优化：T检验，分组文件格式统一，必须含有表头。参数是否将两个方差作为相等的，更改为进行何种方差检验；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2021.01.22</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.1 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：三维pca；</p>
                                        <p>2、优化：NMDS分析，新增参数：计算距离方法；</p>
                                        <p>3、优化：柱状图，新增参数：x轴字体角度；</p>
                                        <p>4、优化：GO富集分析和KEGG富集分析模块，随机读取并绘制数据，修改为从上至下读取并绘制数据；</p>
                                        <p>5、优化：primer3,删除参数：是否选择PCR引物、选择参数；</p>
                                        <p>6、修复：360浏览器下载文件后会重定向问题修复；</p>
                                        <p>7、修复：隐藏控件检查问题修复；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2021.01.08</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.1 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：NMDS分析；</p>
                                        <p>2、修复：饼图重绘颜色设置不匹配的问题；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>

                    <h2 class="my-2">2020</h2>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.12.31</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.2.0 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：wilcoxon秩和检验；</p>
                                        <p>2、优化：Tax4Fun，新增参数：选择SILVA数据库、预计算方法。修复运行失败不报错，显示运行成功的问题；</p>
                                        <p>3、优化：权重网络图、组内相关性分析，组间相关性分析中的网络图，增加当前网络图节点、边详细信息下载功能；</p>
                                        <p>4、优化：lefse2.0，新增参数：最高分类学层级；</p>
                                        <p>5、优化：箱线图，新增参数：是否翻转横纵坐标轴；</p>
                                        <p>6、优化：柱状图，增加参数：Y轴标题, 柱子宽度，X轴样本排序自定义；</p>
                                        <p>7、修复：Faprotax，修复运行失败不报错，显示运行成功的问题；</p>
                                        <p>8、修复：热图，显示行列名选项反了的问题；</p>
                                        <p>9、修复：PCOA、PCA绘图失败问题；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.12.18</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.9 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：Kruskal-Wallis秩和检验；</p>
                                        <p>2、新增：方差分析（ANOVA）；</p>
                                        <p>3、新增：管理员页面，增加模块使用频率统计功能；</p>
                                        <p>4、新增：模块分类"菌群功能分析"</p>
                                        <p>5、修复：PCOA模块，分组问题修复；</p>
                                        <p>6、优化：添加lock，防止多次点击导致同一任务重复提交；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.12.11</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.8 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：circos物种关系模块；</p>
                                        <p>2、新增：T检验；</p>
                                        <p>3、优化：进入旧版lefse模块跳出提示弹窗，是否跳转到lefse2.0页面；</p>
                                        <p>4、优化：lefse2.0，LDA判别分析结果将最后一级名称为norank other uncultured的数据筛除；</p>
                                        <p>5、优化：主页热门工具修改成显示使用频率最多工具；</p>
                                        <p>6、修复：火山图重绘，分界线颜色无法设置的问题；</p>
                                        <p>7、修复：重绘时间超过85s时，网络通信自动被关闭，前端接收不到任务完成状态，页面卡死在图片绘制中请耐心等待的状态中；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.12.04</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.7 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、优化：柱状图模块添加2参数：是否将低丰度结果合并为Other、合并丰度低于x%的OTU</p>
                                        <p>2、修复：收藏显示问题</p>
                                        <p>3、优化：三元图模块，输入文件变更为丰度表、三元分组文件、富集标注/物种关注文件。新增参数，点大小转换；</p>
                                        <p>4、优化：lefse2.0模块，多组分类分析的分析策略选项更改。差异特征图重绘，增加参数类名标签旋转角度；</p>
                                        <p>5、优化：lefse2.0、circos图、气泡图、树图和组间相关性分析模块，使用说明更新；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.11.20</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.6 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：lefse2.0模块,增加LDA判别分析结果文件（仅含差异显著）。增加差异特征图，以及所有结果图的重绘功能；</p>
                                        <p>2、优化：柱状图模块重绘,增加参数图例信息排序；</p>
                                        <p>3、新增：组间相关性分析；</p>
                                        <p>4、优化：气泡图,去除气泡点大小设置,气泡点大小根据丰度值变化。添加背景色及网格；</p>
                                        <p>5、优化：误差折线图,添加横纵坐标轴；</p>
                                        <p>6、优化：断轴柱状图,添加横纵坐标轴；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.11.6</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.5 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：树图（Treemap）；</p>
                                        <p>2、新增：三原图；</p>
                                        <p>3、优化：热图，增加行分组和列分组的颜色设置；</p>
                                        <p>4、优化：Circos圈图，染色体间距参数优化，支持统一间隔设置和每个间隔单独设置；</p>
                                        <p>5、优化：GO,KEGG重绘的颜色设置方式更改，原有bug修复；</p>
                                        <p>6、修复：树状图取消分组画图失败的问题；</p>
                                        <p>7、修复：取消收藏功能存在取消失败的问题；</p>
                                        <p>8、修复：主页面导航栏背景色随页面上下滚动上移问题；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.10.23</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.4 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：圈图；</p>
                                        <p>2、新增：表格转置；</p>
                                        <p>3、新增：两表格合并；</p>
                                        <p>4、新增：多表格合并；</p>
                                        <p>5、新增：主页增加滚动通知栏；</p>
                                        <p>6、新增：管理员版面增加滚动通知栏管理；</p>
                                        <p>7、优化：饼图、误差折线图、热图使用说明更新；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.10.16</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.3 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：气泡图；</p>
                                        <p>2、新增：意见反馈版面:包括意见反馈和反馈记录；</p>
                                        <p>3、新增：管理员版面新增意见反馈部分；</p>
                                        <p>4、新增：任务运行日志查看；</p>
                                        <p>5、修复：PCA,PCOA,样本名显示问题修复；</p>
                                        <p>6、修复：频率直方图，示例文件数据存在问题导致绘图出错，已修复。模块界面增加频率参数；</p>
                                        <p>7、修复：lefse图示例文件导致的图片绘制失败问题，以及只能显示两组比较结果的问题；</p>
                                        <p>8、修复：网站更新时，正在运行中的任务失效，运行状态停留在运行中不显示失败的问题；</p>
                                        <p>9、优化：PCoA、断轴柱状图和频率直方图，3个功能模块的使用说明更新；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.10.10</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.2 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：饼图；</p>
                                        <p>2、新增：误差折线图；</p>
                                        <p>3、新增：登陆信息加密传输；</p>
                                        <p>4、优化：Emboss Primer3 输入参数优化；</p>
                                        <p>5、优化：Emboss Primer3、Emboss Abiview、Emboss Getorf、Emboss Revseq、FAPROTAX功能预测，5个功能模块的使用说明更新；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.9.25</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.1 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：PCoA；</p>
                                        <p>2、新增：断轴柱状图；</p>
                                        <p>3、新增：频率直方图；</p>
                                        <p>4、修复：维恩图每组显示数据数量多一个的问题；</p>
                                        <p>5、优化：柱状图将上传分组文件作为可选项；</p>
                                        <p>6、优化：Tax4Fun额外生成第二层级、第三层级丰度表的箱线图；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.9.18</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.0 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：小提琴图；</p>
                                        <p>2、新增：树图；</p>
                                        <p>3、优化：Tax4Fun、PICRUST2、FAPROTAX功能预测的丰度表上传支持两种格式：txt格式和biom格式；</p>
                                        <p>4、优化：Lefse分析：只需上传输入一个OTU分度表，分度表支持两种格式：txt格式、biom格式；</p>
                                        <p>5、优化：火山图重绘增加2参数：X轴范围，Y轴范围；</p>
                                        <p>6、优化：曼哈顿图重绘增加参数：是否绘制分界线，分界线上下点的大小分别设置,X轴字体旋转角度,X轴字体相距X轴的距离,Y轴取值范围等；</p>
                                        <p>7、优化：结果文件列表增加内容预览；</p>
                                        <p>8、优化：更新组内相关性分析和柱状图的教学视频；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.9.11</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.9 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：EMBOSS相关的功能模块，abiview、revseq、getorf、Eprimer3；</p>
                                        <p>2、新增：火山图；</p>
                                        <p>3、新增：曼哈顿图；</p>
                                        <p>4、优化：结果图重绘，字体大小参数改用滑动条设置；</p>
                                        <p>5、优化：添加了组内相关性分析和柱状图功能模块的使用说明；</p>
                                        <p>6、优化：部分使用说明和教学视频未更新的模块，贴上视频录制中敬请期待的提示；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.8.28</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.8 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：新增PICRUST2功能预测；</p>
                                        <p>2、新增：新增lefse分析；</p>
                                        <p>3、优化：PCA重画新加参数，放大显示区域（x范围，y范围）；</p>
                                        <p>4、优化：Tax4Fun，修复了Ko_table表头问题，结果添加箱线图、pca图；</p>
                                        <p>5、优化：组内相关性分析增加示例文件2；</p>
                                        <p>6、优化：公告发布富文本编辑器增加颜色和表情；</p>
                                        <p>7、优化：前端检查文件格式，异步导致无法及时获取正确检查结果的问题；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.8.21</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.7 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：新增功能FAPROTAX功能预测；</p>
                                        <p>2、新增：软件搜索功能；</p>
                                        <p>3、新增：公告列表浏览。最新公告自动弹出机制：1.公告尚在有效期；2.用户未未读过该公告；</p>
                                        <p>4、新增：管理员面板：包括发布公告，修改用户权限；</p>
                                        <p>5、优化：将部分待开发的功能模块放上去了，点击后显示开发中提示；</p>
                                        <p>6、修复：修复文本框内回车键换行失效问题；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.8.14</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.6 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：Tax4Fun功能预测，柱状图；</p>
                                        <p>2、新增：教学视频增加弹幕功能、播放调速、视频截屏等功能；</p>
                                        <p>3、修复：浏览器缓存问题导致的，图片重绘后下载的pdf，png，tiff，结果压缩文件包没有同步更新的问题；</p>
                                        <p>4、优化：添加维恩图、热图、权重网络图、kegg、go,五个功能的教学视频；</p>
                                        <p>5、优化：功能重绘参数部分重新布局，将改图参数分为三类：数据布局参数、颜色参数、字体参数。并增加提交重绘时，自动定位不合法参数所在位置；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.8.5</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.5 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、修复：修复组内相关性分析，只上传一个矩阵文件时，网络图连线重复问题，；</p>
                                        <p>2、更新：组内相关性分析网络图重绘，添加数据筛选板块，包括显示的小数点位数、p值检验阈值、c值检验阈值；</p>
                                        <p>3、更新：权重网络图重绘，添加数据筛选板块，具体包括同组内相关性分析；</p>
                                        <p>4、优化：更换组内相关性分析logo
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.8.4</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.4 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：组内相关性分析功能；</p>
                                        <p>2、新增：软件更新时间戳，实现软件更新后，在软件更新时间之前运行的任务只能下载结果文件，不能重新绘图；</p>
                                        <p>3、更新：所有软件使用说明更新；</p>
                                        <p>4、更新：箱线图，PCA，CCA的教学视频更新；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.7.29</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.3 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：维恩图添加了文件格式的检查。upload lists type1：检查文件是否超过6列(作图最多6组)；upload lists type2：检查table文件每行数据数量是否一致，检查内部数据是否为有效数字，检查第一行样品名是否重复存在；检查group文件行数是否超过6行（作图最多6组），检查每行中的样品名在table文件中是否存在；</p>
                                        <p>2、新增：维恩图使用说明、示例结果；</p>
                                        <p>3、新增：热图重新绘图增加参数，可调整横坐标文字旋转角度；</p>
                                        <p>4、新增：热图示例文件格式更新；</p>
                                        <p>5、优化：所有颜色选择器，支持手动输入色值；并增加色值有效性的检查；</p>
                                        <p>6、优化：我的任务中单个任务删除时，添加了是否确认删除的询问；</p>
                                        <p>7、优化：所有功能的示例文件，点击后文件内容将直接在新窗口显示，需要下载鼠标右键选择另存为；</p>
                                        <p>8、优化：注册账号时，点击密码和确认密码输入框跳出提示：安全起见，建议不要使用qq、微信、支付宝等常用密码；</p>
                                        <p>9、优化：输入错误网页地址报错问题，将重定向到404页面，提示页面丢失或不存在；</p>
                                        <p>10、修复：浏览器关闭，登陆状态失效问题；</p>
                                        <p>11、修复：点击我的任务，导航栏上下抖动问题；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.7.21</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.2 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：维恩图添加了第二个文件上传接口，支持通过本身带有统计数据的矩阵文件和分组文件进行维恩图的绘制；</p>
                                        <p>2、新增：更新日志功能；</p>
                                        <p>3、新增：2个短信验证功能，修改个人信息、改绑手机号；</p>
                                        <p>4、变更：热图功能整体变更；</p>
                                        <p>5、修复：运行时间戳的时差问题；</p>
                                        <p>6、修复：热图结果图重绘xy轴字体设置相反问题；</p>
                                        <p>7、优化：我的任务界面优化；</p>
                                        <p>8、优化：个人中心界面布局优化；</p>
                                        <p>9、优化：任务详情,使用参数部分设计优化；</p>
                                        <p>10、优化：GO富集分析，盒型图（Boxplot），CCA/RDA，主成分分析（PCA）四个功能的使用说明更新；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #9095975e 3.5px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.6.30</h3>
                        <img src="/assets/images/dot-circle.png" style="left: -22px; position: relative !important; background-color: #e1e2f5;"/>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.1 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar">
                                        <p>1、新增：GO富集分析，KEGG富集分析，主成分分析（PCA），CCA/RDA，热图（Heatmap），盒型图（Boxplot），权重网络图，维恩图，共8个软件功能；</p>
                                        <p>2、新增：3个短信验证功能，短信验证登录、短信验证注册、修改密码；</p>
                                        <p>3、新增：个人中心；</p>
                                        <p>4、新增：软件收藏功能；</p>
                                        <p>5、新增：我的任务，关键词搜索，任务批量删除等功能；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
            function formValidation() {
                $("#mailSigninForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        code: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                }
                            }
                        }
                    }
                });
                $("#signinForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        user: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#signupForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入手机号！'
                                },
                                phone:{
                                    message: '请输入正确手机号',
                                    country: 'CN'
                                }
                            }
                        },
                        name: {
                            validators: {
                                notEmpty: {
                                    message: '请填写姓名！'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: '请填写邮箱地址！'
                                },
                                emailAddress:{
                                    message:'请输入正确邮箱地址！'
                                }
                            }
                        },
                        company: {
                            validators: {
                                notEmpty: {
                                    message: '请填写单位！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
                $('#passwordForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入新密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password2: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password1',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
            }
    </script>

    @home.footer()
}