@()(implicit session: Session)

@home.main("MyTask"){


    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>

    <style>
            input[type="text"]{
                display: unset;
                padding: unset;
                background: white;
            }
            select {
                display: unset;
            }
            label {
                margin-bottom: unset;
            }
            .dataTables_wrapper .dataTables_paginate .paginate_button {
                margin-top: unset;
            }
        .grid_8{
            width: 100%;
            margin: unset;
        }
        /*tr:hover{*/
        /*    background: #cbeeeb;*/
        /*}*/
            .mws-table tbody tr.odd:hover,.mws-table tbody tr.even:hover {
                background-color: #c4e3f3;
            }
            .selected {
                background-color: #c4e3f3!important;
            }
            .layui-layer {
                -webkit-overflow-scrolling: touch;
                top: 35%;
                left: 41%;
                margin: 0;
                padding: 0;
                background-color: #fff;
                -webkit-background-clip: content;
                box-shadow: 1px 1px 50px rgba(0,0,0,.3);
            }
            .layui-layer-lan .layui-layer-btn {
                 padding: 10px;
                 text-align: right;
                 border-top: unset;
            }
            .layui-layer-lan[type=dialog] {
                min-width: 280px;
                border-radius: 11.5px;
            }
            .layui-layer-lan .layui-layer-title {
                background: #333;
                color: #fff;
                border: none;
                border-top-left-radius: 11.5px;
                border-top-right-radius: 11.5px;
            }
        .success{
            color: cadetblue;
        }
        .failed{
            color: #bf4064;
        }
        .running{
            color: #a08c5f;
        }
            /*滚动条样式*/
            .innerbox::-webkit-scrollbar {/*滚动条整体样式*/
                width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
                height: 4px;
            }
            .innerbox::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
                border-radius: 5px;
                -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
                background: rgba(0,0,0,0.2);
            }
            .innerbox::-webkit-scrollbar-track {/*滚动条里面轨道*/
                -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
                border-radius: 0;
                background: rgba(0,0,0,0.1);
            }
            #prepic{
                padding: 10px 20px 0 10px!important;
            }
            .img-thumbnail{
                -webkit-transition: unset;
                transition: unset;
            }
            div.dataTables_wrapper {
                background: #1f3851;
            }
            .mws-panel .mws-panel-header {
                /*background: url(../../images/core/mws-panel-header-bg.png) repeat-x;*/
                height: 25px;
                position: relative;
                padding: 12px;
                font-size: 14px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -o-border-radius: 4px;
                -khtml-border-radius: 4px;
                border-radius: 4px;
                background: #1f3851;
            }
            .mws-panel .mws-panel-header span.mws-i-24 {
                padding-left: 40px;
                background-position: 8px center;
                color: white;
            }
            div.dataTables_wrapper .dataTables_paginate span.paginate_button{
                background: #1f3851;
            }
    </style>


    <div class="container" style="width: 99.5%;margin: unset;max-width: unset">

        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-table-1">我的任务</span>

            </div>
            <div class="mws-panel-body">
                <div class="mws-panel-toolbar top clearfix">
                    <ul>
                        <li><a class="mws-ic-16 ic-cloud-download-1" style="color: cadetblue" id="download">下载</a></li>
@*                        <li><a class="mws-ic-16 ic-eye2" style="color: cadetblue" id="preview">预览</a><a id="hidden" data-reveal-id="previewpage" style="display: none"></a></li>*@
                        <li><a class="mws-ic-16 ic-delete2" style="color: cadetblue" id="delete">删除</a></li>
                        <li><a class="mws-ic-16 ic-refresh2" style="color: cadetblue" id="refresh">刷新任务状态</a></li>
                    </ul>

                </div>

                <table class="mws-datatable-fn mws-table" id="table">
                    <thead>
                        <tr>
                            <th>任务编号</th>
                            <th>软件名称</th>
                            <th>提交时间</th>
                            <th>结束时间</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>




    <script type="text/javascript" src="/assets/plugins/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/assets/plugins/colorpicker/colorpicker.js"></script>
    <script type="text/javascript" src="/assets/plugins/spinner/ui.spinner.js"></script>

    <script type="text/javascript" src="/assets/js/jquery-ui.js"></script>

    <script>


            function toRedraw(url) {
                console.log(url);
                $.ajax({
                    type: "POST",
                    url: url,
                    contentType:"application/json",
                    success: function(result){
                        //请求正确之后的操作
                    }
                });
            }

            $(document).ready(function () {

                var mytask;
                loading();

                function loading() {
                    mytask=$("#table").dataTable({
                        searching:true,
                        bPaginate:true,
                        bLengthChange: true,
                        bFilter:true,
                        destroy:true,
                        bSort:true,
                        sPaginationType: "full_numbers",
                        sAjaxSource:"/CloudPlatform/MyTasks/getDutys",
                        sAjaxDataProp:'rows',
                        fnServerData: function ( sSource, aoData, fnCallback ) {
                            $.ajax( {
                                dataType: 'json',
                                type: "POST",
                                url: sSource,
                                data: aoData,
                                success: fnCallback
                            } );
                        },
                        aoColumns:[
                            {mDataProp:"taskname"},
                            {mDataProp:"sname"},
                            {mDataProp:"submit"},
                            {mDataProp:"finish"},
                            {mDataProp:"status"}
                        ],
                        aaSorting:[[2,"desc"]], //设置默认排序
                        contentType: "application/x-www-form-urlencoded"

                    });

                }

                function refresh() {
                    mytask.fnClearTable();
                    mytask.fnDestroy();
                    loading();
                }

                $("#refresh").click(function() {
                    var element = "<div id='content'><span id='info'>刷新中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                    var index = layer.alert(element, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        title: "提醒",
                        btn: []
                    });
                    refresh();
                    window.setTimeout(function () {
                        layer.close(index);
                    }, 2000)
                });

                $("#table tbody").on('click','tr',function (){
                    if($(this).hasClass('selected')){
                        $(this).removeClass('selected');
                    } else {
                        $('tr.selected').removeClass('selected');
                        $(this).addClass('selected');

                    }
                });

                $("#delete").click(function () {
                    var taskname=$('tr.selected').find("#taskname").text();
                    if(taskname==""){
                        swal({
                            title: "未选择任务",
                            text: "请选择要删除的任务记录！",
                            type: "warning",
                            confirmButtonText: "确认"
                        });
                    }else{
                        $.ajax({
                            url:"/CloudPlatform/MyTasks/deleteDutys?uid=@session.get("userId")"+"&taskname="+taskname,
                            type:"post",
                            success:function (data) {
                                if(data.valid==="false"){
                                    swal({
                                        title: "错误",
                                        text: "删除失败！"+data.message,
                                        type: "error",
                                        confirmButtonText: "确认"
                                    })
                                }else{

                                    swal({
                                        title: "删除成功",
                                        text: "任务记录删除成功！",
                                        type: "success",
                                        confirmButtonText: "确认"
                                    })
                                    refresh();
                                }
                            }
                        })
                    }


                });

                // $("#preview").click(function () {
                //     var taskname=$('tr.selected').find("#taskname").text();
                //     if(taskname==""){
                //         swal({
                //             title: "未选择任务",
                //             text: "请选择要预览的任务记录！",
                //             type: "warning",
                //             confirmButtonText: "确认"
                //         });
                //     }else{
                //         if($('tr.selected').find("#status").text()=="已完成"){
                //             $.ajax({
                //                 url:"/CloudPlatform/SoftTool/getDownloadFiles?taskname="+taskname,
                //                 type:"post",
                //                 success:function (data) {
                //                     var pics=""
                //                     $.each(data.files,function (i,v) {
                //                         pics +="<li><img class='img-rounded img-thumbnail img-responsive' src='/CloudPlatform/pic?path="+v+"' alt=\"生物云平台\"><li>"
                //                     });
                //                     $("#prepic").html(pics)
                //                 }
                //             });
                //             $("#hidden").click();
                //         }else{
                //             swal({
                //                 title: "无法预览",
                //                 text: "任务未完成,无法预览！",
                //                 type: "warning",
                //                 confirmButtonText: "确认"
                //             });
                //         }
                //
                //     }
                // });

                $("#download").click(function () {
                    var taskname=$('tr.selected').find("#taskname").text();
                    if(taskname==""){
                        swal({
                            title: "未选择任务",
                            text: "请选择要下载的任务记录！",
                            type: "warning",
                            confirmButtonText: "确认"
                        });
                    }else{
                        if($('tr.selected').find("#status").text()=="已完成"){
                            window.location.href = "/CloudPlatform/SoftTool/downloadZip?taskname="+taskname;
                        }else{
                            swal({
                                title: "无法下载",
                                text: "任务未完成,无法下载！",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                        }

                    }
                });


            });




            function formValidation() {
                $("#signinForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        user: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#signupForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入手机号！'
                                },
                                phone:{
                                    message: '请输入正确手机号',
                                    country: 'CN'
                                }
                            }
                        },
                        name: {
                            validators: {
                                notEmpty: {
                                    message: '请填写姓名！'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: '请填写邮箱地址！'
                                },
                                emailAddress:{
                                    message:'请输入正确邮箱地址！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber1').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#passwordForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入旧密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入新密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password2: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password1',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber2').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });

            }

    </script>

}