@(taskname:String,sname:String,inputfile:String,param:String,submit:String,finish:String,status:String)(implicit session: Session)
@home.main("Task Preview"){
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>

    <style>
        .grid_8{
            width: 100%;
            margin: unset;
        }
        .mws-panel .mws-panel-content {
            padding: 24px;
            float: left;
            background: white;
        }
        .grid_6{
            width: 60%;
        }
        .grid_2{
            width: 20%;
        }
        .title{
            font-weight: 700;
            font-family: "Helvetica Neue", Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Tahoma, Arial, sans-serif;
            margin-top: 20px;
            margin-bottom: 10px;
            margin-right: 36px;
            line-height: 2.6;
            color: inherit;
            font-size: 16px;
            color: #424141;
        }
        .content{
            font-weight: 700;
            font-family: "Helvetica Neue", Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Tahoma, Arial, sans-serif;
            font-size: 16px;
            color: #827e7e;
        }
    .success{
        color: white;
        background: cadetblue;
        padding: 8px 15px;
        border-radius: 19px;
    }
    .failed{
        color: white;
        background: #bf4064;
        padding: 8px 15px;
        border-radius: 19px;
    }
    .running{
        color: white;
        background: #a08c5f;
        padding: 8px 15px;
        border-radius: 19px;
    }
    .list{
        margin-left: 125px;
            height: 33%;
    }
    .list:first-child{
        margin-left: 0px;
    }
        .align{
            padding-left: 15px;
        }
        .button{
            /*background: #8fb2b3;*/
            background: #434343;
            border-radius: 6px;
            color: white;
            padding: 10px 30px;
        }
        .content a:hover{
            color: white!important;
            background-color: #6e9b76;
        }

    </style>

    <div class="container" style="width: 98.5%;margin: unset;max-width: unset;padding: 5px">
        <div class="mws-panel grid_8" style="background: white!important;">

            <div class="mws-panel-body" style="border: unset">
                <div class="mws-panel-content grid_6">
                    <h1>任务详情</h1>
                    <br>
                    <ul>
                        <li>
                            <span class="title">任务编号:</span>
                            <span class="content align">@taskname</span>
                        </li>
                        <li>
                            <span class="title">使用软件:</span>
                            <span class="content align">@sname</span>
                        </li>
                        <li>
                            <span class="title">输入文件名:</span>
                            <span class="content" id="input">@inputfile</span>
                        </li>
                        <li>
                            <span class="title">使用参数:</span>
                            <span class="content align" id="para">@param</span>
                        </li>
                        <li>
                            <span class="title">提交时间:</span>
                            <span class="content align">@submit</span>
                        </li>
                        <li>
                            <span class="title">结束时间:</span>
                            <span class="content align">@finish</span>
                        </li>
                        <li>
                            <span class="title">任务状态:</span>
                            <span id="status" class="content" style="margin-left: 15px">@status</span>
                        </li>
                        <br><br><br>
                        <li>
                            <span class="title">下载结果文件包:</span>
                            <span class="content"><a class="button" id="download">下载</a></span>
                        </li>
                    </ul>
                </div>
                <div class="mws-panel-content grid_2">
                    <h2><span class="content"><a href="/CloudPlatform/myTask" class="button mws-i-24 i-bended-arrow-left" style="font-weight: 200;padding-right: 44px;background-position: 134px center;background-repeat: no-repeat;">返回任务列表</a></span></h2>
                    <br>
                    <ul>
                        <li>
                            <h3 style="margin-top: 11px;margin-bottom: 10px;">结果列表</h3>
                            <div id="filesUrl"></div>
                        </li>
                        <br>
                        <li>
                            <span class="content"><a class="button" id="preview">结果预览</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<script>

        $(document).ready(function () {
            console.log(111)
            list();
            if("@status"==="已完成"){
                $("#status").addClass('success');
            } else if("@status"==="运行失败"){
                $("#status").addClass('failed');
            } else {
                $("#status").addClass('running');
            }

        });

        function list() {
            $.ajax({

                url:"/CloudPlatform/SoftTool/getFiles?id=@session.get("userId")"+"&taskname=@taskname",
                type:"post",
                success:function (pics) {
                    var html = "";
                    $.each(pics,function (i,v) {
                        html += "<li><a href='/CloudPlatform/SoftTool/download?path="+ v +"' target='_blank'>" + v.substring(v.lastIndexOf("\\")+1,v.length) + "</a></li>"
                        // html += "<li><a href='/CloudPlatform/SoftTool/download?path="+ v+"&name=" + v.substring(v.lastIndexOf("\\")+1,v.length) + "' target='_blank'>" + v.substring(v.lastIndexOf("\\")+1,v.length) + "</a></li>"
                    });
                    $("#filesUrl").html(html);
                }
            })
        }

        $("#download").click(function () {
            console.log($("#status").val())
            if($("#status").val()!=="已完成"){
                swal({
                    title: "无法下载",
                    text: "任务未完成，无法下载！",
                    type: "warning",
                    confirmButtonText: "确认"
                })
            }else{

            }
        });

        $("#preview").click(function () {
            if($("#status").val()!=="已完成"){
                swal({
                    title: "无法预览",
                    text: "任务未完成，无法预览结果！",
                    type: "warning",
                    confirmButtonText: "确认"
                })
            }else{

            }
        });



</script>


}