@import models.Tables.DutysRow
@(row:DutysRow)(implicit session: Session)

@*<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-slider-master/css/bootstrap.min.css")" media="screen" />*@
<style>
    /*p内部内容不换行*/
    p{
        white-space: nowrap;
    }
</style>

<div class="mws-panel grid_8" style="background: white!important;">
    <div class="mws-panel-body" style="border: unset">
        <div class="mws-panel-content grid_3">
            <h1>任务详情</h1>
            <br>
            <ul>
                <li>
                    <span class="title">任务编号:</span>
                    <span class="content align">@row.taskname</span>
                </li>
                <li>
                    <span class="title">使用软件:</span>
                    <span class="content align">@row.sname</span>
                </li>
                <li class="inputfile">
                    <div style="width: 25%;float: left">
                        <span class="title" >输入文件名:</span>
                    </div>
                    <div style="width: 75%;float: left">
                        <div id="input" style="padding: 10px 0 0 30px;">
                        </div>
                    </div>
                </li>
                <li class="inputpara">
                    <div style="width: 20%;float: left">
                        <span class="title" >使用参数:</span>
                    </div>
                    <div class="reference">
                        <div id="para" style="padding-left: 50px;padding-top: 10px;max-width: 500px">
                        </div>
                    </div>
                </li>
                <li>
                    <span class="title">提交时间:</span>
                    <span class="content align">@row.subtime</span>
                </li>
                <li>
                    <span class="title">结束时间:</span>
                    <span class="content align">@row.finitime</span>
                </li>
                <li>
                    <span class="title">任务状态:</span>
                    <span id="status" class="content" style="margin-left: 50px">@row.status</span>
                </li>
            </ul>
        </div>
        <div class="mws-panel-content" style="width: 50%">
            <h2><span class="content"><a href="/CloudPlatform/myTask" class="button mws-i-24 i-bended-arrow-left" style="font-weight: 200;padding-right: 44px;background-position: 134px center;background-repeat: no-repeat;">返回任务列表</a></span></h2>
            <br>
            <div class="mws-panel" style="width: 100%">
                <h3 style="margin-top: 11px;margin-bottom: 10px;">结果列表:</h3>
                <div class="mws-panel-body">
                    <table class="mws-table">
                        <thead>
                            <tr>
                                <th>文件</th>
                                <th>说明</th>
                                <th>下载</th>
                            </tr>
                        </thead>
                        <tbody id="filesUrl">
                        </tbody>
                    </table>
                </div>
                <br><br>
                <span class="title">查看运行日志:</span>
                <span class="content align"><a class="button" id="log" onclick="showlog()">运行日志</a></span>
                <br><br>
                <span class="title">下载结果文件包:</span>
                <span class="content align"><a class="button" id="download" onclick="downloadZip()">下载</a></span>
            </div>

        </div>
    </div>
</div>




    <script>


        if("@row.input"=="/"){
            $(".inputfile").hide();
        }else{
            var input="@row.input";
            var inp="";
            $.each(input.split("/"),function (i,v) {
                inp += "<p class='content'>"+v+"</p>";
            });
            $("#input").html(inp);
        }

        if("@row.param"=="/"){
            $(".inputpara").hide();
        }else{
            var param="@row.param";
            var par="";
            $.each(param.split("/"),function (i,v) {
                par += "<p class='content'>"+v+"</p>";
            });
            $("#para").html(par);
        }


        if("@row.status"==="已完成"){
            $("#status").addClass('success');
            $.ajax({
                url:"/CloudPlatform/SoftTool/getDownloadFiles?taskname=@row.taskname&soft=@row.sabbrename",
                type:"post",
                success:function (data) {
                    var html = "";
                    $.each(data.files,function (i,v) {
                        var colo="";
                        if((i+1)%2==0) colo="even";
                        else colo="odd";
                        var readfile="";
                        if(data.name[i].indexOf("pdf")>=0){
                            readfile="'/CloudPlatform/Utils/previewFile?taskname=@row.taskname&filename="+data.name[i]+"&filetype=pdf'";
                        } else if(data.name[i].indexOf("xls")>=0) {
                            readfile="'/CloudPlatform/Utils/previewFile?taskname=@row.taskname&filename="+data.name[i]+"&filetype=xls'";
                        } else {
                            readfile="'/CloudPlatform/Utils/previewFile?taskname=@row.taskname&filename="+data.name[i]+"&filetype=txt'";
                        }
                        // html += "<tr class='"+ colo +"'><td>" + data.name[i] + "</td><td>" + data.ins[i] + "</td><td><a onclick='downloadFile(\""+data.name[i]+"\")' class='fa fa-download'></a></td></tr>";
                        if(data.name[i].indexOf("zip")>=0) html += "<tr class='"+ colo +"'><td>" + data.name[i] + "</td><td>" + data.ins[i] + "</td><td style='padding: 8px 0px 8px 16px;width: 60px;'><a onclick='downloadFile(\""+data.name[i]+"\")' class='fa fa-download' target='_blank'></a></td></tr>";
                        else html += "<tr class='"+ colo +"'><td>" + data.name[i] + "</td><td>" + data.ins[i] + "</td><td style='padding: 8px 0px 8px 16px;width: 60px;'><a onclick='downloadFile(\""+data.name[i]+"\")' class='fa fa-download' target='_blank'></a><a href=" + readfile + " class='fa fa-eye' target='_blank' style='margin-left: 10px;'></a></td></tr>";
                    });
                    $("#filesUrl").html(html);
                }
            });
        } else if("@row.status"==="运行失败"){
            $("#status").addClass('failed');
            $("#filesUrl").html("<span>运行失败，无结果！</span>");
        } else {
            $("#status").addClass('running');
            $("#filesUrl").html("<span>运行中，暂无结果！</span>");
        }

        function viewFile(filename) {

        }

        function downloadFile(filename){
            if("@row.status"!=="已完成"){
                swal({
                    title: "无法下载",
                    text: "任务未完成，无法下载！",
                    type: "warning",
                    confirmButtonText: "确认"
                });
            }else{
                @*$("#temp_down").attr("href","/CloudPlatform/SoftTool/downloadFile?taskname=@row.taskname&filename=" + filename + "&num="+ Math.random());*@
                @*$("#temp_down")[0].click();*@
                window.open("/CloudPlatform/SoftTool/downloadFile?taskname=@row.taskname&filename=" + filename + "&num="+ Math.random());
            }
        }


            function downloadZip(){
                if("@row.status"!=="已完成"){
                    swal({
                        title: "无法下载",
                        text: "任务未完成，无法下载！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                }else{
                    @*$("#temp_down").attr("href","/CloudPlatform/SoftTool/downloadZip?taskname=@row.taskname&num="+Math.random());*@
                    @*$("#temp_down")[0].click();*@
                    window.open("/CloudPlatform/SoftTool/downloadZip?taskname=@row.taskname&num="+Math.random());
                }
            }

        function showlog(){
            $.ajax({
                url: "/CloudPlatform/MyTasks/showlog?taskname=@row.taskname",
                type: "post",
                success: function (data) {
                    if(data.canmanage==0){
                        swal({
                            title: "运行日志为空",
                            text: "运行日志为空！",
                            type: "warning",
                            confirmButtonText: "确认"
                        });
                    }else {
                        $("#logContent").text(data.content);
                        $("#liLog").click();
                    }
                }
            });
        }
    </script>