@import models.Tables.DutysRow
@(row:DutysRow)(implicit session: Session)
@home.main("Task Preview"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-slider-master/css/bootstrap-slider.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("font-awesome-4.7.0/css/font-awesome.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/redraw.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
    <script src="@routes.Assets.versioned("cytoscape3.15.1/cytoscape.min.js")"></script>
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap-slider-master/bootstrap-slider.js")"></script>

    <style>
            .picleft{
                margin-top: 5px;
                width: 120px;
                text-align: right;
            }
            .picright{
                width: 200px;
            }
            .fontleft{
                margin-top: 5px;
                width: 130px;
                text-align: right;
            }
            .fontright{
                width: 190px;
            }
    </style>

    <div class="container" style="width: 98.5%;margin: unset;max-width: unset;padding: 5px">
        @task.preview(row)
        <div class="mws-panel grid_8" style="background: white!important;">
            <div class="mws-panel-body" style="border: unset">
                <div id="IGC" class="mws-panel-content" style="width: 96%;padding-top: 0;padding-right: 0;display: none">
                    <hr>
                    <ul class="nav nav-tabs" style="background: #f2f2f2;">
                        <li class="active">
                            <a href="#" data-target=".form2" data-toggle="tab">权重网络图</a>
                        </li>
                        <li class="">
                            <a href="#" data-target=".form1" data-toggle="tab">Heatmap 热图</a>
                        </li>
                    </ul>
                    <div class="tab-content" style="box-sizing: border-box!important;overflow: auto;scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);scrollbar-width: thin;height: 96%;">
                        <form id="IGCNet" method="GET" enctype="multipart/form-data" class="form2 tab-pane fade active in" style="box-sizing: border-box!important;">
                            <div class="redraw-head" style="margin-top: 10px;">
                                <h3 style="display: inline-block">重新绘图：</h3>
                                <div class="dropdown" style="display: inline-block">
                                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 7px 30px;text-shadow: unset;border-radius: 7px;">
                                        下载结果图
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;width: 150px">
                                        <a class="dropdown-item" onclick="down('jpg')">下载 jpg</a>
                                        <a class="dropdown-item" onclick="down('png')">下载 png</a>
                                        <a class="dropdown-item" onclick="downJson()">下载 json</a>
                                    </div>
                                </div>
                                <div class="dropdown" style="display: inline-block">
                                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 7px 30px;text-shadow: unset;border-radius: 7px;">
                                        下载当前节点、边详细信息
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" style="width: auto;" onclick="downloadpics('@row.status','@row.taskname','Network_Edges','xls')">边信息(包含对应r，p，-ln(p)等数据)</a>
                                        <a class="dropdown-item" style="width: auto;" onclick="downloadpics('@row.status','@row.taskname','Network_Nodes','xls')">节点信息文件(包含点度中心性、紧密度中间性等)</a>
                                    </div>
                                </div>
                                <span style="margin-right: 35px; color: gray; float: right; margin-top: 30px;">提示：点击连线或结点，可查看对应的p值和c值</span>
                            </div>
                            <br>
                            <div id="cy" style="height: 600px;border:1px solid #8b8b8b9c;margin: 10px 0px 10px 0px;width: 62%;float: left;"></div>
                            <div class="redraw_panel" style="width: calc(38% - 50px);margin-left: 40px;display: inline-block">
                                <hr style="margin-top: 10px">
                                <h3>绘图数据筛选：</h3>
                                @units.redrawUnits.selector("","数据起始行(一次最多绘制2000行)：","rows")
                                @units.redrawUnits.input_text_1("","显示小数点位数：","dot","数字")
                                @units.redrawUnits.input_text_1("","p值检验阈值(0-1)：","pthres","数字")
                                @units.redrawUnits.input_text_1("","c值(绝对值)检验阈值(0-1)：","cthres","数字")
                                <hr style="margin-top: 0px">
                                <h3>矩阵文件1：</h3>
                                @units.redrawUnits.selector("","基因节点形状：","gshape")
                                @units.redrawUnits.colorpicker("","基因节点颜色：","netcolor1")
                                @units.redrawUnits.colorpicker("","基因名颜色：","netcolor2")
                                @units.redrawUnits.input_text_1("","基因节点透明度(0-1)：","gopa","数字")
                                @units.redrawUnits.input_text_1("","基因节点大小(0-10)：","gsize","数字")
                                @units.redrawUnits.input_text_1("","基因名大小(0即不显示)：","gfont","数字")
                                <div id="table2" style="display: none">
                                    <hr style="margin-top: 0px;">
                                    <h3>矩阵文件2：</h3>
                                    @units.redrawUnits.selector("","基因节点形状：","eshape")
                                    @units.redrawUnits.colorpicker("","基因节点颜色：","netcolor3")
                                    @units.redrawUnits.colorpicker("","基因名颜色：","netcolor4")
                                    @units.redrawUnits.input_text_1("","基因节点透明度(0-1)：","eopa","数字")
                                    @units.redrawUnits.input_text_1("","基因节点大小(0-10)：","esize","数字")
                                    @units.redrawUnits.input_text_1("","基因名大小(0即不显示)：","efont","数字")
                                </div>
                                <hr style="margin-top: 0px;">
                                @units.redrawUnits.colorpicker("","连线颜色：","netcolor5")
                                @units.redrawUnits.input_text_1("","连线透明度：","opacity","数字")
                                <input type="button" value="绘&nbsp;&nbsp;制" name="submit" class="btn btn-primary btn-dark" onclick="saveNet()" style="margin-left: 30px">
                            </div>
                            <div class="update_panel" style="width: 26%;margin-left: 40px;display: inline-block">
                                <div style="padding: 20px">
                                    <h3 style="color: red">通知：</h3>
                                    <span style="color: red">软件版本已在<label class="update"></label>更新！<label class="update"></label> 前运行的 @row.sname 任务仅可下载结果文件，不支持重新绘图。</span>
                                </div>
                            </div>
                        </form>
                        <form id="IGCHeat" method="GET" enctype="multipart/form-data" class="form1 tab-pane fade" style="box-sizing: border-box!important;">
                            <div class="redraw-head" style="margin-bottom: 30px; margin-top: 10px;">
                                <h3 style="display: inline-block">重新绘图：</h3>
                                <div class="dropdown" style="display: inline-block">
                                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 7px 30px;text-shadow: unset;border-radius: 7px;">
                                        下载结果图
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;width: 150px">
                                        <a class="dropdown-item" id="downPic" onclick="downloadpics('@row.status','@row.taskname','heatmap','pdf')">下载 pdf</a>
                                        <a class="dropdown-item" id="downPng" onclick="downloadpics('@row.status','@row.taskname','heatmap','png')">下载 png</a>
                                        <a class="dropdown-item" id="downTiff" onclick="downloadpics('@row.status','@row.taskname','heatmap','tiff.gz')">下载 tiff</a>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 60%;float: left">
                                <img id="redraw_pic" src="" style="width: 100%;height: auto" >
                            </div>
                            <div class="redraw_panel redraw-right" style="width: 40%;float: left;margin-bottom: 30px;">
                                <ul class="nav nav-tabs" style="margin-left: 20px">
                                    <li class="active" id="ins_tab1" >
                                        <a href="###" data-target="#picpara" data-toggle="tab">数据布局参数</a>
                                    </li>
                                    <li class="" id="col_tab1" >
                                        <a href="###" data-target="#colopara" data-toggle="tab">颜色参数</a>
                                    </li>
                                    <li class="" id="out_tab1">
                                        <a href="###" data-target="#fontpara" data-toggle="tab">字体参数</a>
                                    </li>
                                </ul>
                                <div class="tab-content" style="box-sizing: border-box!important;padding-top: 30px">
                                    <div class="tab-pane fade active in" id="picpara">
                                        @units.redrawUnits.selector("","归一化：","sc")
                                        @units.redrawUnits.selector("","是否取lg：","lg")
                                        @units.redrawUnits.selector("unused","热图显示部分：","smt")
                                        @units.redrawUnits.selector("","是否使用星星矩阵：","lfi")
                                        @units.redrawUnits.selector("","是否对行聚类：","cluster_rows")
                                        @units.redrawUnits.selector("showautorow","行聚类方法：","crm")
                                        <div class="form-group-p use-flex" id="showrow" style="display: none">
                                            <div class="form-group">
                                                <label for="">聚类分割数(1-</label><label id="rnum"></label><label>)：</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="rp" name="rp" class="form-control" placeholder="数字" style="width: 100%; float: left;">
                                            </div>
                                        </div>
                                        @units.redrawUnits.selector("","是否对列聚类：","cluster_cols")
                                        @units.redrawUnits.selector("showautocol","自动列聚类方法：","ccm")
                                        <div class="form-group-p use-flex" id="showcol" style="display: none">
                                            <div class="form-group">
                                                <label for="">聚类分割数(1-</label><label id="cnum"></label><label>)：</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="cp" name="cp" class="form-control" placeholder="数字" style="width: 100%; float: left;">
                                            </div>
                                        </div>
                                        @units.redrawUnits.selector("","是否画格子边界：","hasborder")
                                    </div>
                                    <div class="tab-pane fade" id="colopara">
                                        @units.redrawUnits.selector("","颜色(数值从小到大)：","color")
                                        <div id="inputcolor" class="one-line" style="display: none">
                                            <div style="border: 1px solid lightgrey;border-radius: 5px;padding: 10px;margin-left: 30px">
                                                <div class="form-group-p" style="padding-left: 0">
                                                    <div style="width: 100%;margin-left: 10px">
                                                        <label>自定义颜色（2-6个）：</label>
                                                    </div>
                                                </div>
                                                <br><br>
                                                <div class="form-group-p" >
                                                    <div class="form-group" style="width: calc(100% - 20px)">
                                                        <ul id="mycolor">
                                                        </ul>
                                                        <input type="text" id="designcolor" name="designcolor" class="form-control" value="" style="display: none">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group-p" style="padding-left: 0">
                                                    <input type="button" value="增加颜色" class="btn btn-primary btn-dark" onclick="addcolor()" style="width: 100px;">
                                                    <input type="button" value="删除颜色" class="btn btn-primary btn-dark" onclick="delcolor()" style="width: 100px;">
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                        @units.redrawUnits.input_text_1("","颜色渐变数量：","cc","数字")
                                        @units.redrawUnits.colorpicker("nacolor","缺失值数据颜色：","nc")
                                        @units.redrawUnits.colorpicker("borcolor","边界颜色：","cbc")
                                    </div>
                                    <div class="tab-pane fade" id="fontpara">
                                        @units.redrawUnits.selector("","是否显示行名：","hasrname")
                                        @units.redrawUnits.selector("","是否显示列名：","hascname")
                                        @units.redrawUnits.selector("","格子上显示数字：","hasnum")
                                        @units.redrawUnits.selector("","x轴字体旋转角度：","xfa")
                                        @units.redrawUnits.input_text_2("","行 X 列聚类树高度：","X","rtree","ctree","数字","数字")
                                        <div style="margin-top: 15px;">
                                        @units.redrawUnits.slider("","X轴字体大小：","xfs","0","40","1")
                                        </div>
                                        @units.redrawUnits.slider("","Y轴字体大小：","yfs","0","40","1")
                                        @units.redrawUnits.slider("","格子内字体大小：","fn","0","40","1")
                                    </div>
                                </div>
                                <br>
                                <input type="button" value="绘&nbsp;&nbsp;制" name="submit" class="btn btn-primary btn-dark" onclick="DrawHeat()" style="margin-left: 30px">
                            </div>
                            <div class="update_panel redraw-right" style="width: 40%;float: left;margin-bottom: 30px;">
                                <div style="padding: 20px">
                                    <h3 style="color: red">通知：</h3>
                                    <span style="color: red">软件版本已在<label class="update"></label>更新！<label class="update"></label> 前运行的 @row.sname 任务仅可下载结果文件，不支持重新绘图。</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>


@*    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>*@
@*    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>*@
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script>

            const updatetime="2021-04-05";

            $("#cluster_rows").change(function () {
                showr();
            });

            $("#cluster_cols").change(function () {
                showc();
            });

            $("#hasborder").change(function () {
                bordercolor();
            });

            $("#color").change(function () {
                show();
            });

            const colorValidators = {
                validators: {
                    notEmpty:{
                        message: '不能为空！'
                    },
                    color: {
                        type: ['hex','keyword'],  // The default value for type
                        message: '错误色值！支持hex或keyword色值'
                    }
                }
            };

            var colornum=0;
            var allcol=0;
            var allrow=0;

            function formValidation() {
                let field2 = {};
                let number2 = ["dot","gopa","gfont","eopa","efont","opacity"];
                FieldNumber(field2, number2);
                let color2 = ["netcolor1", "netcolor2", "netcolor3", "netcolor4", "netcolor5"];
                FieldColor(field2, color2);
                let excluded2 = [""];
                let zeroonecheck = {
                    validators: {
                        notEmpty: {
                            message: '不能为空!'
                        },
                        numeric: {
                            message: '必须为数字！'
                        },
                        greaterThan: {
                            value: 0,
                            message: "必须大于等于0！"
                        },
                        lessThan: {
                            value: 1,
                            message: "必须小于等于1！"
                        }
                    }
                };
                let zerotencheck = {
                    validators: {
                        notEmpty: {
                            message: '不能为空!'
                        },
                        numeric: {
                            message: '必须为数字！'
                        },
                        greaterThan: {
                            value: 0,
                            message: "必须大于等于0！"
                        },
                        lessThan: {
                            value: 10,
                            message: "必须小于等于10！"
                        }
                    }
                };
                field2["pthres"] = zeroonecheck;
                field2["cthres"] = zeroonecheck;
                field2["gsize"] = zerotencheck;
                field2["esize"] = zerotencheck;
                addFormValidation("IGCNet", field2, excluded2);
                let field = {};
                let number = ["rtree","ctree","cc"];
                FieldNumber(field, number);
                let color = ["nc", "cbc"];
                FieldColor(field, color);
                let excluded = [""];
                let onecheck = {
                    validators: {
                        notEmpty: {
                            message: '不能为空!'
                        },
                        numeric: {
                            message: '必须为数字！'
                        },
                        greaterThan: {
                            value: 1,
                            message: "必须大于1！"
                        }
                    }
                };
                field["rp"] = onecheck;
                field["cp"] = onecheck;
                addFormValidation("IGCHeat", field, excluded);
            }

            var cy;

            $(document).ready(function () {
                if("@row.status"=="已完成"){
                    var shapename = ["圆形","三角形","圆角三角形","矩形","圆角矩形","底部圆角矩形","切角矩形","桶形","长斜方形","菱形","圆角菱形","五角形","圆角五角形","六边形","圆角六边形","凹面六边形","七边形","圆角七边形","八边形","圆角八边形","星形","标签","圆角标签","V型"];
                    var shape = ["ellipse","triangle","round-triangle","rectangle","round-rectangle","bottom-round-rectangle", "cut-rectangle","barrel","rhomboid","diamond","round-diamond","pentagon","round-pentagon","hexagon", "round-hexagon","concave-hexagon","heptagon","round-heptagon","octagon","round-octagon","star","tag", "round-tag","vee"];
                    creatSelector("gshape",shapename,shape);
                    creatSelector("eshape",shapename,shape);

                    var scname = ["column","row","none"];
                    var sc = ["col","row","none"];
                    creatSelector("sc",scname,sc);
                    var lg = ["none","lg2","lg10"];
                    creatSelector("lg",lg,lg);
                    var smtname = ["全部","左半边","右半边","上半边","下半边","右上三角","左下三角"];
                    var smt = ["full","left","right","top","bottom","topTriangle","bottomTriangle"];
                    creatSelector("smt",smtname,smt);

                    var clustername = ["不聚类","自动聚类"];
                    var cluster = ["FALSE","TRUE"];
                    creatSelector("cluster_rows",clustername,cluster);
                    creatSelector("cluster_cols",clustername,cluster);
                    var crmname = ["complete","single","ward","average","mcquitty"];
                    var crm = ["complete","single","ward.D","average","mcquitty"];
                    creatSelector("crm",crmname,crm);
                    creatSelector("ccm",crmname,crm);
                    var hasbordername = ["no","yes"];
                    var hasborder = ["none","white"];
                    creatSelector("hasborder",hasbordername,hasborder);

                    var tf = ["TRUE","FALSE"];
                    var tfname = ["yes","no"];
                    creatSelector("lfi",tfname,tf);
                    creatSelector("hasrname",tfname,tf);
                    creatSelector("hascname",tfname,tf);
                    creatSelector("hasnum",tfname,tf);
                    var xfaname = ["0","45","90","270"];
                    var xfa = ["0","315","90","270"];
                    creatSelector("xfa",xfaname,xfa);
                    var colorname = ["蓝-黄-红","蓝-白-红","手动输入"];
                    var color = ["#E41A1C:#FFFF00:#1E90FF","#E41A1C:#FFFFFF:#1E90FF","0"];
                    creatSelector("color",colorname,color);


                    checkupdate(updatetime, "@row.subtime");
                    $("#IGC").show();
                    $("#unused").hide();
                    loading();
                }
            });

            function loading() {
                $.ajax({
                    url:"/CloudPlatform/SoftTool/getParams?taskname=@row.taskname&abbre=@row.sabbrename",
                    type:"post",
                    success:function (data) {
                        $("#rows").html("");
                        var rows = [], rowsname = [];
                        for(var i = 0; i <= parseInt(data.len); i++) {
                            rows.push(i);
                            rowsname.push("第" + (2000 * i + 1) + "行");
                        }
                        creatSelector("rows",rowsname,rows);

                        if(data.table2) $("#table2").show();
                        cy = window.cy = cytoscape({
                            container: document.getElementById('cy'),
                            layout: {
                                name: 'cose',
                                idealEdgeLength: 100,
                                nodeOverlap: 20,
                                refresh: 20,
                                fit: true,
                                padding: 30,
                                randomize: false,
                                componentSpacing: 100,
                                nodeRepulsion: 400000,
                                edgeElasticity: 100,
                                nestingFactor: 5,
                                gravity: 80,
                                numIter: 1000,
                                initialTemp: 200,
                                coolingFactor: 0.95,
                                minTemp: 1.0
                            },
                            style: data.selector,
                            elements: data.rows,
                            minZoom: 1e-1,
                            maxZoom: 5,
                            wheelSensitivity: 0.05
                        });
                        cy.unbind('click');
                        cy.bind('click', function(e){
                            if (e.target === cy)  {
                                cy.edges().removeClass('highlighted');
                            }
                            else if(e.target.group() == "nodes") {
                                if(cy.edges("[target='" + e.target.id() + "']").hasClass('highlighted')||cy.edges("[source='" + e.target.id() + "']").hasClass('highlighted')){
                                    cy.edges().removeClass('highlighted');
                                }else{
                                    cy.edges().removeClass('highlighted');
                                    cy.edges("[target='" + e.target.id() + "']").addClass('highlighted');
                                    cy.edges("[source='" + e.target.id() + "']").addClass('highlighted');
                                }
                            }else {
                                if(cy.edges("[id='" + e.target.id() + "']").hasClass('highlighted'))
                                    cy.edges("[id='" + e.target.id() + "']").removeClass('highlighted');
                                else cy.edges("[id='" + e.target.id() + "']").addClass('highlighted');
                            }
                        });



                        $.each(data.elements2,function (i,v) {
                            if(i.indexOf("color")>=0)
                                $("#"+i).colorpicker({color: v, defaultPalette: 'web',showOn:"button"})
                                        .on("change.color", function(event, color){ //选择颜色事件
                                            //formValidation重新验证颜色
                                            $("#IGCNet").formValidation("revalidateField", i);
                                        });
                            else $("#" + i).val(v);
                        });
                        $(".evo-cp-wrap").css("float", "left");
                        $(".evo-cp-wrap").css("width", "calc(100% - 34px)");

                        $("#redraw_pic").attr("src","/CloudPlatform/pic?path="+data.pics[0]+"&num="+Math.random());
                        $("#rnum").text(data.rnum);
                        $("#cnum").text(data.cnum);
                        allcol=data.allcol;
                        allrow=data.allrow;
                        $.each(data.elements1,function (i,v) {
                            if(i=="color") {
                                if(colorpattern(v)) $("#"+i).val(v);
                                else {
                                    $("#"+i).val("0");
                                    $("#inputcolor").show();
                                }
                                splitcolor(v);
                            } else if(i=="nc" || i=="cbc") {
                                $("#"+i).colorpicker({color: v, defaultPalette: 'web', showOn:"button"})
                                        .on("change.color",function (event,color){
                                            $("#IGCHeat").formValidation("revalidateField",i);
                                        });
                            } else if($("#"+i).attr("data-slider-id")==null) {
                                $("#" + i).val(v);
                            } else {
                                $("#"+i).bootstrapSlider({tooltip:'always'});
                                $("#" + i).bootstrapSlider('setValue', v);
                            }
                        });
                        bordercolor();
                        showr();
                        showc();
                        $(".evo-cp-wrap").css("float", "left");
                        $(".evo-cp-wrap").css("width", "calc(100% - 34px)");
                    }
                });
            }

            function down(param) {
                var pic="";
                if(param=="jpg") pic=cy.jpg();
                else pic=cy.png({"bg":"#fff"});
                var a = document.createElement('a');          // 创建一个a节点插入的document
                var event = new MouseEvent('click');          // 模拟鼠标click点击事件
                a.download = 'netPic';                 // 设置a节点的download属性值
                a.href = pic;                                 // 将图片的src赋值给a节点的href
                a.dispatchEvent(event);
            }

            function downJson() {
                var ele = document.createElement('a');
                ele.download = "test.json";
                var blob = new Blob([JSON.stringify(cy.json(), null, 2)],{type:'application/json,charset=utf-8;'});
                var blob = new Blob([JSON.stringify(cy.json())]);
                ele.href = URL.createObjectURL(blob);
                document.body.appendChild(ele);
                ele.click();
                document.body.removeChild(ele);
                console.log(JSON.stringify(cy.json()));
            }

            function saveNet() {
                var form = $("#IGCNet");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    var element = "<div id='content'><span id='info'>绘图中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                    var index = layer.alert(element, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        title: "提醒",
                        btn: []
                    });
                    var form1 = new FormData($("#IGCNet")[0]);
                    $.ajax({
                        url: "/CloudPlatform/SoftTool/reDrawRun?taskname=@row.taskname&abbre=@row.sabbrename" + "_Net",
                        type: "post",
                        processData: false,
                        contentType: false,
                        data: form1,
                        success: function (data) {
                            loading();
                            layer.close(index);
                        }
                    });
                }
            }

            function splitcolor(param) {
                var colo="";
                var colors=param.toString().split(":");
                colornum=colors.length;
                $.each(colors,function (i,v) {
                    colo +="<li id='li_color"+i+"' class='form-group' style='width: 100%'><div style=' width: 100%;float: left;'><input id='color"+i+"'  name='color"+i+"' class='colorPicker evo-cp0'></div></li>";
                });
                $("#mycolor").html(colo);
                $.each(colors,function (i,v) {
                    $("#IGCHeat").formValidation('addField','color'+i, colorValidators);
                    $("#color"+i).colorpicker({color: v, defaultPalette: 'web', showOn: "button"})
                            .on("change.color",function (event,color){
                                $("#IGCHeat").formValidation("revalidateField",'color'+i);
                            });
                });
                // $("#inputcolor .evo-cp-wrap").css("float", "left");
                // $("#inputcolor .evo-cp-wrap").css("width", "200px");
                $(".evo-cp-wrap").css("float", "left");
                $(".evo-cp-wrap").css("width", "calc(100% - 34px)");
            }

            function colorpattern(param) {
                var count = $('#color').find('option').length;
                for(var i=0;i<count;i++)
                {
                    if($('#color').get(0).options[i].value == param) return true;
                }
                return false;
            }

            function show() {
                var param = $("#color").val();
                if(param=="0") $("#inputcolor").show();
                else $("#inputcolor").hide();

            }

            function addcolor() {
                if(colornum==6){
                    swal({
                        title: "添加颜色失败",
                        text: "添加失败，颜色最大数量为6个！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                }else{
                    var coloid='color'+colornum;
                    var colo = "<li id='li_color"+colornum+"' class='form-group' style='width: 100%'><div style=' width: 100%;float: left;'><input id='"+coloid+"'  name='"+coloid+"' class='colorPicker evo-cp0'></div></li>";
                    $("#mycolor").append(colo);
                    $("#IGCHeat").formValidation('addField',coloid, colorValidators);
                    $("#"+coloid).colorpicker({color: '#E41A1C', defaultPalette: 'web', showOn:"button"});
                    $("#"+coloid).on("change.color",function (event,color){
                        $("#IGCHeat").formValidation("revalidateField",coloid);
                    });
                    // $("#inputcolor .evo-cp-wrap").css("float", "left");
                    // $("#inputcolor .evo-cp-wrap").css("width", "200px");
                    $(".evo-cp-wrap").css("float", "left");
                    $(".evo-cp-wrap").css("width", "calc(100% - 34px)");
                    colornum=colornum+1;
                    console.log(colornum);
                }

            }

            function delcolor() {
                if(colornum==2){
                    swal({
                        title: "删除颜色失败",
                        text: "删除失败，颜色最小数量为2个！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                }else{
                    $("#li_color"+(colornum-1)).remove();
                    colornum=colornum-1;
                    $("#IGCHeat").formValidation('removeField','color'+(colornum));
                }
                console.log(colornum);
            }

            function DrawHeat() {
                var form = $("#IGCHeat");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    if(checkrpcp()){
                        var element = "<div id='content'><span id='info'>绘图中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                        var index = layer.alert(element, {
                            skin: 'layui-layer-lan',
                            closeBtn: 0,
                            title: "提醒",
                            btn: []
                        });
                        var colors=[];
                        for(var i=0;i<colornum;i++)
                            colors.push($("#color"+i).val());
                        $("#designcolor").val(colors.join(":"));
                        var form1 = new FormData($("#IGCHeat")[0]);
                        $.ajax({
                            url: "/CloudPlatform/SoftTool/reDrawRun?taskname=@row.taskname&abbre=@row.sabbrename" + "_Heat",
                            type: "post",
                            processData: false,
                            contentType: false,
                            data: form1,
                            success: function (data) {
                                layer.close(index);
                                if(data.valid=="false"){
                                    swal({
                                        title: "错误",
                                        text: data.message,
                                        type: "error",
                                        confirmButtonText: "确认"
                                    });
                                }else{
                                    $("#redraw_pic").attr("src","/CloudPlatform/pic?path="+data.pics+"&num="+Math.random());
                                    $("#cnum").text(data.cnum);
                                    $("#rnum").text(data.rnum);
                                }
                            }
                        });
                    }
                }else {
                    switchToInvalid();
                    swal({
                        title: "参数设置错误",
                        text: "有参数不合法，请核实！",
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }
            }

            function checkrpcp() {
                if(parseInt($("#rp").val())>allrow) {
                    swal({
                        title: "行聚类分割数错误",
                        text: "行聚类分割数超过总行数！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    return false;
                }
                if(parseInt($("#cp").val())>allcol) {
                    swal({
                        title: "列聚类分割数错误",
                        text: "列聚类分割数超过总列数！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    return false;
                }
                return true;
            }

            function bordercolor() {
                var colorparam = $("#hasborder").val();
                if (colorparam == "white") $("#borcolor").show();
                else $("#borcolor").hide();
            }

            // function bordercolor() {
            //     console.log(111);
            //     var colorparam = $("#hasborder").val();
            //     console.log(colorparam);
            //     if (colorparam == "white") $(".borcolopart").show();
            //     else $(".borcolopart").hide();
            // }

            function showr() {
                var colorparam = $("#cluster_rows").val();
                if (colorparam != "FALSE") {
                    if(colorparam=="TRUE") $("#showautorow").show();
                    else $("#showautorow").hide();
                    $("#showrow").show();
                } else {
                    $("#showautorow").hide();
                    $("#showrow").hide();
                }
            }

            function showc() {
                var colorparam = $("#cluster_cols").val();
                if (colorparam != "FALSE") {
                    if(colorparam=="TRUE") $("#showautocol").show();
                    else $("#showautocol").hide();
                    $("#showcol").show();
                } else {
                    $("#showcol").hide();
                    $("#showautocol").hide();
                }
            }

            //找第一个invalid元素，并跳转
            function switchToInvalid() {
                $("#IGCHeat .help-block[data-fv-result='INVALID']").each(function () {
                    if($(this).parent().parent().attr('id')){
                        if($(this).parent().parent().attr('id').toString().indexOf("color")>=0){
                            $("a[data-target='#colopara']").click();
                        }else{
                            var parent=$(this).parent().parent().parent().attr('id');
                            $("a[data-target='#"+parent+"']").click();
                        }
                    } else{
                        var parent=$(this).parent().parent().parent().attr('id');
                        $("a[data-target='#"+parent+"']").click();
                    }
                    return false;
                });
            }

    </script>

}