@import models.Tables.DutysRow
@(row:DutysRow)(implicit session: Session)
@home.main("Task Preview"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-slider-master/css/bootstrap-slider.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("font-awesome-4.7.0/css/font-awesome.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/index.css")" media="screen" />
    <link href="@routes.Assets.versioned("cytoscape3.15.1/style.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/redraw.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
    <script src="@routes.Assets.versioned("cytoscape3.15.1/cytoscape.min.js")"></script>

    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap-slider-master/bootstrap-slider.js")"></script>


    <style>
            #cy {
                position: relative;
                left: 0;
                top: 0;
                z-index: 999;
            }
            hr {
                margin-top: 0px;
                margin-bottom: 20px;
                border: 0;
                border-top-color: currentcolor;
                border-top-style: none;
                border-top-width: 0px;
                border-top: 1px solid #e5e5e5;
            }
            .slider {
                margin-bottom: 0px;
                /*height: 350px;*/
            }
            .slider.slider-horizontal {
                width: 260px;
                height: 20px;
            }
    </style>

    <div class="container" style="width: 98.5%;margin: unset;max-width: unset;padding: 5px">
        @task.preview(row)
        <div class="mws-panel grid_8" style="background: white!important;">
            <div class="mws-panel-body" style="border: unset">
                <div class="mws-panel-content" style="width: 96%;padding-top: 0;padding-right: 0">
                    <hr>
                    <div class="redraw-head">
                        <h3 style="display: inline-block">结果图：</h3>
                        <div class="dropdown" style="display: inline-block">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 7px 30px;text-shadow: unset;border-radius: 7px;">
                                下载结果图
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;width: 150px">
                                <a class="dropdown-item" onclick="down('jpg')">下载 jpg</a>
                                <a class="dropdown-item" onclick="down('png')">下载 png</a>
                                <a class="dropdown-item" onclick="downJson()">下载 json</a>
                            </div>
                        </div>
                        <span style="margin-right: 10px; color: gray; float: right; margin-top: 30px;">提示：点击连线或结点，可查看对应的p值和c值</span>
                    </div>
                    <br>
                    <form id="Net" style="display: none" method="GET" enctype="multipart/form-data">
                        <div id="cy" style="height: 600px;border:1px solid #8b8b8b9c;margin: 10px 0px 10px 0px;width: 67%;float: left;"></div>
                        <div class="redraw_panel" style="width: 30%;margin-left: 25px;display: inline-block">
                            <ul class="nav nav-tabs" style="margin-top: 10px">
                                <li class="active" id="ins_tab1" >
                                    <a href="###" data-target="#picpara" data-toggle="tab">数据布局</a>
                                </li>
                                <li class="" id="col_tab1" >
                                    <a href="###" data-target="#colopara" data-toggle="tab">颜色参数</a>
                                </li>
                                <li class="" id="out_tab1">
                                    <a href="###" data-target="#fontpara" data-toggle="tab">字体参数</a>
                                </li>
                            </ul>

                            <div class="tab-content" style="box-sizing: border-box!important;padding-top: 30px">
                                <div class="tab-pane fade active in" id="picpara">
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label>显示数据保留小数点位数：</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="dot" name="dot" class="form-control" placeholder="数字" value="3" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">
                                        </div>
                                    </div>
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label>p值检验阈值：</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="pthres" name="pthres" class="form-control" placeholder="数字" value="0.1" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">
                                        </div>
                                    </div>
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label>c值(绝对值)检验阈值：</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="cthres" name="cthres" class="form-control" placeholder="数字" value="0.5" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label for="">基因节点形状：</label>
                                        </div>
                                        <div class="form-group">
                                            <select name="gshape" id="gshape" style="width: 100%;">
                                                <option value="ellipse">圆形</option>
                                                <option value="triangle">三角形</option>
                                                <option value="round-triangle">圆角三角形</option>
                                                <option value="rectangle">矩形</option>
                                                <option value="round-rectangle">圆角矩形</option>
                                                <option value="bottom-round-rectangle">底部圆角矩形</option>
                                                <option value="cut-rectangle">切角矩形</option>
                                                <option value="barrel">桶形</option>
                                                <option value="rhomboid">长斜方形</option>
                                                <option value="diamond">菱形</option>
                                                <option value="round-diamond">圆角菱形</option>
                                                <option value="pentagon">五角形</option>
                                                <option value="round-pentagon">圆角五角形</option>
                                                <option value="hexagon">六边形</option>
                                                <option value="round-hexagon">圆角六边形</option>
                                                <option value="concave-hexagon">凹面六边形</option>
                                                <option value="heptagon">七边形</option>
                                                <option value="round-heptagon">圆角七边形</option>
                                                <option value="octagon">八边形</option>
                                                <option value="round-octagon">圆角八边形</option>
                                                <option value="star">星形</option>
                                                <option value="tag">标签</option>
                                                <option value="round-tag">圆角标签</option>
                                                <option value="vee">V型</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label>基因节点大小：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="gsize" name="gsize" data-slider-id='sesize' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
@*                                            <input type="text" id="gsize" name="gsize" class="form-control" placeholder="数字" value="5" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">*@
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label for="">环境因子节点形状：</label>
                                        </div>
                                        <div class="form-group">
                                            <select name="eshape" id="eshape" style="width: 100%">
                                                <option value="diamond">菱形</option>
                                                <option value="ellipse">圆形</option>
                                                <option value="triangle">三角形</option>
                                                <option value="round-triangle">圆角三角形</option>
                                                <option value="rectangle">矩形</option>
                                                <option value="round-rectangle">圆角矩形</option>
                                                <option value="bottom-round-rectangle">底部圆角矩形</option>
                                                <option value="cut-rectangle">切角矩形</option>
                                                <option value="barrel">桶形</option>
                                                <option value="rhomboid">长斜方形</option>
                                                <option value="round-diamond">圆角菱形</option>
                                                <option value="pentagon">五角形</option>
                                                <option value="round-pentagon">圆角五角形</option>
                                                <option value="hexagon">六边形</option>
                                                <option value="round-hexagon">圆角六边形</option>
                                                <option value="concave-hexagon">凹面六边形</option>
                                                <option value="heptagon">七边形</option>
                                                <option value="round-heptagon">圆角七边形</option>
                                                <option value="octagon">八边形</option>
                                                <option value="round-octagon">圆角八边形</option>
                                                <option value="star">星形</option>
                                                <option value="tag">标签</option>
                                                <option value="round-tag">圆角标签</option>
                                                <option value="vee">V型</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label>环境因子节点大小：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="esize" name="esize" data-slider-id='sesize' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="10"/>
@*                                            <input type="text" id="esize" name="esize" class="form-control" placeholder="数字" value="10" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">*@
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="colopara">
                                    <div class="form-group-p">
                                        <div style="float: left">
                                            <label>基因名颜色：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="color2"  name="color2" value="" class="colorPicker evo-cp0">
                                        </div>
                                    </div>
                                    <div class="form-group-p" id="borcolor">
                                        <div style="float: left">
                                            <label>基因节点颜色：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="color1"  name="color1" value="" class="colorPicker evo-cp0">
                                        </div>
                                    </div>
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label>基因节点透明度：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="gopa" name="gopa" data-slider-id='sgopa' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
                                            @*                                            <input type="text" id="gopa" name="gopa" class="form-control" placeholder="数字" value="1" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">*@
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group-p">
                                        <div style="float: left">
                                            <label>环境因子名颜色：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="color4"  name="color4" value="" class="colorPicker evo-cp0">
                                        </div>
                                    </div>
                                    <div class="form-group-p" id="borcolor">
                                        <div style="float: left">
                                            <label>环境因子节点颜色：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="color3"  name="color3" value="" class="colorPicker evo-cp0">
                                        </div>
                                    </div>
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label>环境因子节点透明度：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="eopa" name="eopa" data-slider-id='seopa' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
@*                                            <input type="text" id="eopa" name="eopa" class="form-control" placeholder="数字" value="1" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">*@
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group-p" id="borcolor">
                                        <div style="float: left;">
                                            <label>连线颜色：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="color5"  name="color5" value="" class="colorPicker evo-cp0">
                                        </div>
                                    </div>
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label>连线透明度：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="opacity" name="opacity" data-slider-id='sopacity' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.4"/>
@*                                            <input type="text" id="opacity" name="opacity" class="form-control" placeholder="数字" value="0.4" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">*@
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="fontpara">
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label>基因名大小：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="gfont" name="gfont" data-slider-id='sgfont' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="12"/>
@*                                            <input type="text" id="gfont" name="gfont" class="form-control" placeholder="数字" value="12" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">*@
                                        </div>
                                    </div>
                                    <div class="form-group-p">
                                        <div class="form-group">
                                            <label>环境因子名大小：</label>
                                        </div>
                                        <div class="form-group">
                                            <input id="efont" name="efont" data-slider-id='sefont' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="12"/>
@*                                            <input type="text" id="efont" name="efont" class="form-control" placeholder="数字" value="12" style="width: 60px;float: left;margin-right: 5px;margin-left: 10px;">*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" value="绘&nbsp;&nbsp;制" name="submit" class="btn btn-primary btn-dark" onclick="saveNet()" style="margin-left: 30px">
                        </div>
                        <div class="update_panel" style="width: 26%;margin-left: 40px;display: inline-block">
                            <div style="padding: 20px">
                                <h3 style="color: red">通知：</h3>
                                <span style="color: red">软件版本已在<label class="update"></label>更新！<label class="update"></label> 前运行的 @row.sname 任务仅可下载结果文件，不支持重新绘图。</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

            const updatetime="2020-08-04";

            function checkupdate(){
                $(".update").text(updatetime);
                if("@row.subtime".split(" ")[0]<=updatetime) {
                    $(".update_panel").show();
                    $(".redraw_panel").hide();
                } else {
                    $(".redraw_panel").show();
                    $(".update_panel").hide();
                }
            }

            const colorValidators = {
                validators: {
                    notEmpty:{
                        message: '不能为空!'
                    },
                    regexp: {
                        regexp: /^#([0-9a-fA-F]{6})$/,
                        message: "色值不合法！色值必须以#开头，色值需为6位"
                    }
                }
            };

            function formValidation() {
                $('#Net').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    excluded: [':disabled'],
                    fields: {
                        dot: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        pthres: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        cthres: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        gopa: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        gsize: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                },
                                greaterThan: {
                                    value: 0,
                                    message: "必须大于等于0！"
                                },
                                lessThan: {
                                    value: 10,
                                    message: "必须小于等于10！"
                                }
                            }
                        },
                        gfont: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        eopa: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        esize: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                },
                                greaterThan: {
                                    value: 0,
                                    message: "必须大于等于0！"
                                },
                                lessThan: {
                                    value: 10,
                                    message: "必须小于等于10！"
                                }
                            }
                        },
                        efont: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        opacity: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        color1:colorValidators,
                        color2:colorValidators,
                        color3:colorValidators,
                        color4:colorValidators,
                        color5:colorValidators
                    }
                });
            }

            function down(param) {
                var pic="";
                if(param=="jpg") pic=cy.jpg();
                else pic=cy.png({"bg":"#fff"});
                var a = document.createElement('a');          // 创建一个a节点插入的document
                var event = new MouseEvent('click');          // 模拟鼠标click点击事件
                a.download = 'netPic';                 // 设置a节点的download属性值
                a.href = pic;                                 // 将图片的src赋值给a节点的href
                a.dispatchEvent(event);
            }

            function downJson() {
                var ele = document.createElement('a');
                ele.download = "test.json";
                var blob = new Blob([JSON.stringify(cy.json(), null, 2)],{type:'application/json,charset=utf-8;'});
                var blob = new Blob([JSON.stringify(cy.json())]);
                ele.href = URL.createObjectURL(blob);
                document.body.appendChild(ele);
                ele.click();
                document.body.removeChild(ele);
                console.log(JSON.stringify(cy.json()));
            }

            var cy;

            function loading(){
                $.ajax({
                    url:"/CloudPlatform/SoftTool/getNetData?taskname=@row.taskname",
                    type:"post",
                    success:function (data) {
                        cy = window.cy = cytoscape({
                            container: document.getElementById('cy'),
                            layout: {
                                name: 'cose',
                                idealEdgeLength: 100,
                                nodeOverlap: 20,
                                refresh: 20,
                                fit: true,
                                padding: 30,
                                randomize: false,
                                componentSpacing: 100,
                                nodeRepulsion: 400000,
                                edgeElasticity: 100,
                                nestingFactor: 5,
                                gravity: 80,
                                numIter: 1000,
                                initialTemp: 200,
                                coolingFactor: 0.95,
                                minTemp: 1.0
                            },
                            style: data.selector,
                            elements: data.rows,
                            minZoom: 1e-1,
                            maxZoom: 5,
                            wheelSensitivity: 0.05
                        });
                        cy.unbind('click');
                        cy.bind('click', function(e){
                            if (e.target === cy)  {
                                cy.edges().removeClass('highlighted');
                            }
                            else if(e.target.group() == "nodes") {
                                if(cy.edges("[target='" + e.target.id() + "']").hasClass('highlighted')||cy.edges("[source='" + e.target.id() + "']").hasClass('highlighted')){
                                    cy.edges().removeClass('highlighted');
                                }else{
                                    cy.edges().removeClass('highlighted');
                                    cy.edges("[target='" + e.target.id() + "']").addClass('highlighted');
                                    cy.edges("[source='" + e.target.id() + "']").addClass('highlighted');
                                }
                            }else {
                                if(cy.edges("[id='" + e.target.id() + "']").hasClass('highlighted'))
                                    cy.edges("[id='" + e.target.id() + "']").removeClass('highlighted');
                                else cy.edges("[id='" + e.target.id() + "']").addClass('highlighted');
                            }
                        });
                        $.each(data.elements,function (i,v) {
                            if(i.indexOf("color")>=0)
                                $("#"+i).colorpicker({color: v, defaultPalette: 'web',showOn:"button"})
                                        .on("change.color", function(event, color){ //选择颜色事件
                                            //formValidation重新验证颜色
                                            $("#Net").formValidation("revalidateField", i);
                                        });
                            else {
                                if($("#"+i).attr("data-slider-id")==null) $("#"+i).val(v);
                                else {
                                    $("#"+i).bootstrapSlider({tooltip:'always'});
                                    $("#" + i).bootstrapSlider('setValue', v);
                                }
                                // $("#" + i).val(v);
                            }
                        });
                        $(".evo-cp-wrap").css("width", "120px");
                        $(".evo-cp-wrap").css("float", "left");
                    }
                });
            }




            $(document).ready(function () {
                if("@row.status"=="已完成"){
                    checkupdate();
                    $("#Net").show();
                    loading();
                }
            });


            function saveNet() {
                var form = $("#Net");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    var element = "<div id='content'><span id='info'>绘图中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                    var index = layer.alert(element, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        title: "提醒",
                        btn: []
                    });
                    var form1 = new FormData($("#Net")[0]);
                    $.ajax({
                        url: "/CloudPlatform/SoftTool/redrawNet?taskname=@row.taskname",
                        type: "post",
                        processData: false,
                        contentType: false,
                        data: form1,
                        success: function (data) {
                            loading();
                            layer.close(index);
                        }
                    });
                }else {
                    switchToInvalid();
                    swal({
                        title: "参数设置错误",
                        text: "有参数不合法，请核实！",
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }
            }

            function switchToInvalid() {
                $(".help-block[data-fv-result='INVALID']").each(function () {
                    if($(this).parent().parent().attr('id')){
                        if($(this).parent().parent().attr('id').toString().indexOf("color")>=0){
                            $("a[data-target='#colopara']").click();
                        }else{
                            var parent=$(this).parent().parent().parent().attr('id');
                            $("a[data-target='#"+parent+"']").click();
                        }
                    } else{
                        var parent=$(this).parent().parent().parent().attr('id');
                        $("a[data-target='#"+parent+"']").click();
                    }
                    return false;
                });
            }

    </script>



}