@import models.Tables.DutysRow
@(row:DutysRow)(implicit session: Session)
@home.main("Task Preview"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("font-awesome-4.7.0/css/font-awesome.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/index.css")" media="screen" />
    <link href="@routes.Assets.versioned("cytoscape3.15.1/style.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/redraw.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
    <script src="@routes.Assets.versioned("cytoscape3.15.1/cytoscape.min.js")"></script>

    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>

    <style>
            #cy {
                position: relative;
                left: 0;
                top: 0;
                z-index: 999;
            }

    </style>

    <div class="container" style="width: 98.5%;margin: unset;max-width: unset;padding: 5px">
        @task.preview(row,"Net")
        <div class="mws-panel grid_8" style="background: white!important;">
            <div class="mws-panel-body" style="border: unset">
                <div class="mws-panel-content" style="width: 96%;padding-top: 0;padding-right: 0">
                    <hr>
                    <div class="redraw-head">
                        <h3 style="display: inline-block">结果图：</h3>
                        <div class="dropdown" style="display: inline-block">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 7px 30px;text-shadow: unset;border-radius: 7px;">
                                下载结果图
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;width: 150px">
                                <a class="dropdown-item" onclick="down('jpg')">下载 jpg</a>
                                <a class="dropdown-item" onclick="down('png')">下载 png</a>
                                <a class="dropdown-item" onclick="downJson()">下载 json</a>
                            </div>
                        </div>
@*                        <a class="button" style="margin-left: 20px;" onclick="refresh()">刷新网络图</a>*@
@*                        <input type="text" id="search" onchange="search()" style="display: inline-block;width: 300px;margin-left: 100px"/>*@
                    </div>
                    <br>
                    <form id="Net" style="display: none" method="GET" enctype="multipart/form-data">
                        <div id="cy" style="height: 600px;border:1px solid #8b8b8b9c;margin: 10px 0px 10px 0px;width: 67%;float: left;"></div>
                        <div style="width: 26%;margin-left: 40px;display: inline-block">
                            <hr>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="">基因节点形状：</label>
                                </div>
                                <div class="form-group">
                                    <select name="gshape" id="gshape" style="width: 100%;">
                                        <option value="ellipse">圆形</option>
                                        <option value="triangle">三角形</option>
                                        <option value="round-triangle">圆角三角形</option>
                                        <option value="rectangle">矩形</option>
                                        <option value="round-rectangle">圆角矩形</option>
                                        <option value="bottom-round-rectangle">底部圆角矩形</option>
                                        <option value="cut-rectangle">切角矩形</option>
                                        <option value="barrel">桶形</option>
                                        <option value="rhomboid">长斜方形</option>
                                        <option value="diamond">菱形</option>
                                        <option value="round-diamond">圆角菱形</option>
                                        <option value="pentagon">五角形</option>
                                        <option value="round-pentagon">圆角五角形</option>
                                        <option value="hexagon">六边形</option>
                                        <option value="round-hexagon">圆角六边形</option>
                                        <option value="concave-hexagon">凹面六边形</option>
                                        <option value="heptagon">七边形</option>
                                        <option value="round-heptagon">圆角七边形</option>
                                        <option value="octagon">八边形</option>
                                        <option value="round-octagon">圆角八边形</option>
                                        <option value="star">星形</option>
                                        <option value="tag">标签</option>
                                        <option value="round-tag">圆角标签</option>
                                        <option value="vee">V型</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group-p" id="borcolor">
                                <div class="form-group">
                                    <label>基因节点颜色：</label>
                                </div>
                                <div class="form-group">
                                    <div  class="evo-cp-wrap">
                                        <input id="color1"  name="color1" value="" class="colorPicker evo-cp0" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>基因节点透明度：</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="gopa" name="gopa" class="form-control" placeholder="数字" value="1" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">
                                </div>
                            </div>
                            <div id="showgfont">
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label>基因名大小(0-不显示)：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="gfont" name="gfont" class="form-control" placeholder="数字" value="12" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label>基因名颜色：</label>
                                    </div>
                                    <div class="form-group">
                                        <div  class="evo-cp-wrap">
                                            <input id="color2"  name="color2" value="" class="colorPicker evo-cp0" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-top: 0px;">
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="">环境因子节点形状：</label>
                                </div>
                                <div class="form-group">
                                    <select name="eshape" id="eshape" style="width: 100%">
                                        <option value="diamond">菱形</option>
                                        <option value="ellipse">圆形</option>
                                        <option value="triangle">三角形</option>
                                        <option value="round-triangle">圆角三角形</option>
                                        <option value="rectangle">矩形</option>
                                        <option value="round-rectangle">圆角矩形</option>
                                        <option value="bottom-round-rectangle">底部圆角矩形</option>
                                        <option value="cut-rectangle">切角矩形</option>
                                        <option value="barrel">桶形</option>
                                        <option value="rhomboid">长斜方形</option>
                                        <option value="round-diamond">圆角菱形</option>
                                        <option value="pentagon">五角形</option>
                                        <option value="round-pentagon">圆角五角形</option>
                                        <option value="hexagon">六边形</option>
                                        <option value="round-hexagon">圆角六边形</option>
                                        <option value="concave-hexagon">凹面六边形</option>
                                        <option value="heptagon">七边形</option>
                                        <option value="round-heptagon">圆角七边形</option>
                                        <option value="octagon">八边形</option>
                                        <option value="round-octagon">圆角八边形</option>
                                        <option value="star">星形</option>
                                        <option value="tag">标签</option>
                                        <option value="round-tag">圆角标签</option>
                                        <option value="vee">V型</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group-p" id="borcolor">
                                <div class="form-group">
                                    <label>环境因子节点颜色：</label>
                                </div>
                                <div class="form-group">
                                    <div  class="evo-cp-wrap">
                                        <input id="color3"  name="color3" value="" class="colorPicker evo-cp0" readonly="readonly" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>环境因子节点透明度：</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="eopa" name="eopa" class="form-control" placeholder="数字" value="1" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">
                                </div>
                            </div>
                            <div id="showefont">
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label>环境因子名大小(0-不显示)：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="efont" name="efont" class="form-control" placeholder="数字" value="12" style="width: 60px;float: left;margin-right: 5px;margin-left: 10px;">
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label>环境因子名颜色：</label>
                                    </div>
                                    <div class="form-group">
                                        <div  class="evo-cp-wrap">
                                            <input id="color4"  name="color4" value="" class="colorPicker evo-cp0" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-top: 0px;">
                            <div class="form-group-p" id="borcolor">
                                <div class="form-group">
                                    <label>连线颜色：</label>
                                </div>
                                <div class="form-group">
                                    <div  class="evo-cp-wrap">
                                        <input id="color5"  name="color5" value="" class="colorPicker evo-cp0" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>连线透明度：</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="opacity" name="opacity" class="form-control" placeholder="数字" value="0.4" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">
                                </div>
                            </div>
                            <input type="button" value="绘&nbsp;&nbsp;制" name="submit" class="btn btn-primary btn-dark" onclick="saveNet()" style="margin-left: 30px">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

            function formValidation() {
                $("#signinForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        user: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#signupForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入手机号！'
                                },
                                phone:{
                                    message: '请输入正确手机号',
                                    country: 'CN'
                                }
                            }
                        },
                        name: {
                            validators: {
                                notEmpty: {
                                    message: '请填写姓名！'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: '请填写邮箱地址！'
                                },
                                emailAddress:{
                                    message:'请输入正确邮箱地址！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber1').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });

                $('#passwordForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入旧密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入新密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password2: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password1',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber2').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });

            }

            function down(param) {
                var pic="";
                if(param=="jpg") pic=cy.jpg();
                else pic=cy.png({"bg":"#fff"});
                var a = document.createElement('a');          // 创建一个a节点插入的document
                var event = new MouseEvent('click');          // 模拟鼠标click点击事件
                a.download = 'netPic';                 // 设置a节点的download属性值
                a.href = pic;                                 // 将图片的src赋值给a节点的href
                a.dispatchEvent(event);
            }

            function downJson() {
                var ele = document.createElement('a');
                ele.download = "test.json";
                var blob = new Blob([JSON.stringify(cy.json(), null, 2)],{type:'application/json,charset=utf-8;'});
                var blob = new Blob([JSON.stringify(cy.json())]);
                ele.href = URL.createObjectURL(blob);
                document.body.appendChild(ele);
                ele.click();
                document.body.removeChild(ele);
                console.log(JSON.stringify(cy.json()));
            }


            // function refresh() {
            //     window.cy.elements().remove();
            //     loading();
            // }
            var cy;

            function loading(){
                $.ajax({
                    url:"/CloudPlatform/SoftTool/getNetData?taskname=@row.taskname",
                    type:"post",
                    success:function (data) {

                        cy = window.cy = cytoscape({
                            container: document.getElementById('cy'),
                            layout: {
                                name: 'cose',
                                idealEdgeLength: 100,
                                nodeOverlap: 20,
                                refresh: 20,
                                fit: true,
                                padding: 30,
                                randomize: false,
                                componentSpacing: 100,
                                nodeRepulsion: 400000,
                                edgeElasticity: 100,
                                nestingFactor: 5,
                                gravity: 80,
                                numIter: 1000,
                                initialTemp: 200,
                                coolingFactor: 0.95,
                                minTemp: 1.0
                            },
                            style: data.selector,
                            elements: data.rows,
                            minZoom: 1e-1,
                            maxZoom: 5,
                            wheelSensitivity: 0.05
                        });
                        cy.unbind('click');
                        cy.bind('click', function(e){
                            if (e.target === cy)  {
                                cy.edges().removeClass('highlighted');
                            }
                            else if(e.target.group() == "nodes") {
                                if(cy.edges("[target='" + e.target.id() + "']").hasClass('highlighted')||cy.edges("[source='" + e.target.id() + "']").hasClass('highlighted')){
                                    cy.edges().removeClass('highlighted');
                                }else{
                                    cy.edges().removeClass('highlighted');
                                    cy.edges("[target='" + e.target.id() + "']").addClass('highlighted');
                                    cy.edges("[source='" + e.target.id() + "']").addClass('highlighted');
                                }
                            }else {
                                if(cy.edges("[id='" + e.target.id() + "']").hasClass('highlighted'))
                                    cy.edges("[id='" + e.target.id() + "']").removeClass('highlighted');
                                else cy.edges("[id='" + e.target.id() + "']").addClass('highlighted');
                            }
                        });
                        $.each(data.elements,function (i,v) {
                            if(i.indexOf("color")>=0) $("#"+i).colorpicker({color: v, defaultPalette: 'web'});
                            else $("#"+i).val(v);
                        });
                        $(".evo-cp-wrap").css("width", "120px");
                        $(".evo-cp-wrap").css("float", "left");
                        $(".colorPicker").attr("readonly", "readonly");
                    }
                });
            }




            $(document).ready(function () {
                if("@row.status"=="已完成"){
                    $("#Net").show();
                    loading();
                }
            });


            function saveNet() {
                var element = "<div id='content'><span id='info'>绘图中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                var index = layer.alert(element, {
                    skin: 'layui-layer-lan',
                    closeBtn: 0,
                    title: "提醒",
                    btn: []
                });
                var form1 = new FormData($("#Net")[0]);
                $.ajax({
                    url: "/CloudPlatform/SoftTool/redrawNet?taskname=@row.taskname",
                    type: "post",
                    processData: false,
                    contentType: false,
                    data: form1,
                    success: function (data) {
                        loading();
                        layer.close(index);
                    }
                });
            }


    </script>



}