@import models.Tables.DutysRow
@(row:DutysRow)(implicit session: Session)
@home.main("Task Preview"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("font-awesome-4.7.0/css/font-awesome.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/redraw.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>

    <div class="container" style="width: 98.5%;margin: unset;max-width: unset;padding: 5px">
        @task.preview(row,"CCA")
        <div class="mws-panel grid_8" style="background: white!important;">
            <div class="mws-panel-body" style="border: unset">
                <div class="mws-panel-content" style="width: 96%;padding-top: 0;padding-right: 0">
                    <hr>
                    <div class="redraw-head">
                        <h3 style="display: inline-block">重新绘图：</h3>
                        <div class="dropdown" style="display: inline-block">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 7px 30px;text-shadow: unset;border-radius: 7px;">
                                下载结果图
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;width: 150px">
                                <a class="dropdown-item" id="downPic">下载 pdf</a>
                                <a class="dropdown-item" id="downPng">下载 png</a>
                                <a class="dropdown-item" id="downTiff">下载 tiff</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <form id="CCA" style="display: none" method="GET" enctype="multipart/form-data">
                        <div style="width: 60%;float: left">
                            <img id="redraw_pic" src="/assets/images/.jpg" style="width: 100%;height: auto" >
                        </div>
                        <div class="redraw-right" style="width: 40%;float: left;margin-bottom: 30px;">
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="">选择x轴数据：</label><span class="must">&nbsp;&nbsp;*</span>
                                </div>
                                <div class="form-group right">
                                    <select name="xdata" id="xdata">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="">选择y轴数据：</label><span class="must">&nbsp;&nbsp;*</span>
                                </div>
                                <div class="form-group right">
                                    <select name="ydata" id="ydata">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="">原点坐标(X : Y)：</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="xaxis" name="xaxis" class="form-control" placeholder="数字" value="0" style="width: 50px;float: left;margin-right: 5px">
                                    <label style="float: left"> : </label>
                                    <input type="text" id="yaxis" name="yaxis" class="form-control" placeholder="数字" value="0" style="width: 50px;  margin-left: 5px;float: left">
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>样品点大小：</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="samsize" name="samsize" class="form-control" placeholder="数字" value="6" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">
                                </div>
                            </div>
                            <div class="one-line" >
                                <div style="border: 1px solid lightgrey;border-radius: 5px;padding: 10px;margin-left: 30px">
                                    <div class="form-group-p" style="width: 100%;padding-left: 0">
                                        <div class="form-group" >
                                            <label for="color">
                                                样品点颜色(分组 - 颜色)：
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group-p" >
                                        <div class="form-group" style="width: 85%">
                                            <ul id="mycolor">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div style="display: none">
                                <input type="text" id="color" name="color" >
                            </div>

                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否显示样品名：</label>
                                </div>
                                <div class="form-group right">
                                    <select id="showsname" name="showsname" onchange="sample()" >
                                        <option value="false">no</option>
                                        <option value="true">yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group-p" id="sample" style="display: none">
                                <div class="form-group">
                                    <label>样品名字体大小：</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="samfont" name="samfont" class="form-control" placeholder="数字" value="7" style="width: 65px;float: left;margin-right: 5px;margin-left: 10px;">
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否显示环境因子：</label>
                                </div>
                                <div class="form-group right">
                                    <select id="showevi" name="showevi" onchange="evi()">
                                        <option value="false">no</option>
                                        <option value="true">yes</option>
                                    </select>
                                </div>
                            </div>
                            <div id="evi" style="display: none">
                                <div class="form-group-p">
                                    <div id="snamecol">
                                        <div class="form-group">
                                            <label>环境因子名颜色：</label>
                                        </div>
                                        <div class="form-group">
                                            <div  class="evo-cp-wrap">
                                                <input id="color1"  name="color1" value=" " class="colorPicker evo-cp0" readonly="readonly" style="margin-top: -5px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-left: 20px;">
                                        <label>环境因子字体大小：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="evifont" name="evifont" class="form-control" placeholder="数字" value="7" style="width: 50px;float: left;margin-right: 5px">
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div id="snamecol">
                                        <div class="form-group">
                                            <label>环境因子坐标线颜色：</label>
                                        </div>
                                        <div class="form-group">
                                            <div  class="evo-cp-wrap">
                                                <input id="color2"  name="color2" value=" " class="colorPicker evo-cp0" readonly="readonly" style="margin-top: -5px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否显示物种：</label>
                                </div>
                                <div class="form-group right">
                                    <select id="showspeci" name="showspeci" onchange="speci()">
                                        <option value="false">no</option>
                                        <option value="true">yes</option>
                                    </select>
                                </div>
                            </div>
                            <div id="speci" style="display: none">
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label>物种名字体大小：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="specifont" name="specifont" class="form-control" placeholder="数字" value="7" style="width: 70px;float: left;margin-right: 5px">
                                    </div>
                                    <div class="form-group" style="margin-left: 20px">
                                        <label>物种点大小：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="specisize" name="specisize" class="form-control" placeholder="数字" value="6" style="width: 70px;float: left;margin-right: 5px">
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div id="snamecol">
                                        <div class="form-group">
                                            <label>物种颜色：</label>
                                        </div>
                                        <div class="form-group">
                                            <div  class="evo-cp-wrap">
                                                <input id="color3"  name="color3" value=" " class="colorPicker evo-cp0" readonly="readonly" style="margin-top: -5px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="">图片长宽：</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="width" name="width" class="form-control" placeholder="数字" value="15" style="width: 50px;float: left;margin-right: 5px">
                                    <label style="float: left">--</label>
                                    <input type="text" id="height" name="height" class="form-control" placeholder="数字" value="15" style="width: 50px;  margin-left: 5px;float: left">
                                </div>
                                <div class="form-group" style="margin-left: 20px">
                                    <label>清晰度：</label>
                                </div>
                                <div class="form-group" style="width: 80px;">
                                    <select id="dpi" name="dpi" style="width: 100%">
                                        <option value="300">300</option>
                                        <option value="600">600</option>
                                        <option value="96">96</option>
                                        <option value="72">72</option>
                                    </select>
                                </div>
                            </div>
                            <br>

                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="">x轴字体大小：</label>
                                </div>
                                <div class="form-group" style="width: 70px;margin-right: 40px">
                                    <input type="text" id="xts" name="xts" class="form-control" placeholder="数字" value="16" style="width: 100%;float: left;">
                                </div>
                                <div class="form-group">
                                    <label for="">y轴字体大小：</label>
                                </div>
                                <div class="form-group" style="width: 70px">
                                    <input type="text" id="yts" name="yts" class="form-control" placeholder="数字" value="16" style="width: 100%;float: left;">
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="">x轴标题大小：</label>
                                </div>
                                <div class="form-group" style="width: 70px;margin-right: 40px">
                                    <input type="text" id="xls" name="xls" class="form-control" placeholder="数字" value="18" style="width: 100%;float: left;">
                                </div>
                                <div class="form-group">
                                    <label for="">y轴标题大小：</label>
                                </div>
                                <div class="form-group" style="width: 70px">
                                    <input type="text" id="yls" name="yls" class="form-control" placeholder="数字" value="18" style="width: 100%;float: left;">
                                </div>
                            </div>
                            <br>
                            <br>
                            <input type="button" value="绘&nbsp;&nbsp;制" name="submit" class="btn btn-primary btn-dark" onclick="DrawCCA()" style="margin-left: 30px">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>

    <script>

            function formValidation() {

                $('#CCA').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        xaxis: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        yaxis: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        samsize: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        samfont: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        evifont: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        specifont: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        specisize: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        width: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        height: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        xts: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        yts: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        xls: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        yls: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        }
                    }
                });
                $("#mailSigninForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        code: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                }
                            }
                        }
                    }
                });
                $("#signinForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        user: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#signupForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入手机号！'
                                },
                                phone:{
                                    message: '请输入正确手机号',
                                    country: 'CN'
                                }
                            }
                        },
                        name: {
                            validators: {
                                notEmpty: {
                                    message: '请填写姓名！'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: '请填写邮箱地址！'
                                },
                                emailAddress:{
                                    message:'请输入正确邮箱地址！'
                                }
                            }
                        },
                        company: {
                            validators: {
                                notEmpty: {
                                    message: '请填写单位！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
                $('#passwordForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入新密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password2: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password1',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
            }

            var colornum=0;

            $(document).ready(function () {
                if("@row.status"=="已完成"){
                    $("#CCA").show();
                    $.ajax({
                        url:"/CloudPlatform/SoftTool/getCCAData?taskname=@row.taskname",
                        type:"post",
                        success:function (data) {
                            $("#redraw_pic").attr("src","/CloudPlatform/pic?path="+data.pics[0]+"&num="+Math.random());
                            $("#downPic").attr("href","/CloudPlatform/SoftTool/download?path="+data.downpics);
                            $("#downPng").attr("href","/CloudPlatform/SoftTool/download?path="+data.downpng);
                            $("#downTiff").attr("href","/CloudPlatform/SoftTool/download?path="+data.downtiffs);
                            $("#groupname").text(data.group);
                            colornum=data.group.toString().trim().split(",").length;
                            var cols="";
                            $.each(data.cols,function (i,v) {
                                cols +="<option value='"+v+"'>"+v+"</option>";
                            });
                            $("#xdata").html(cols);
                            $("#ydata").html(cols);
                            $.each(data.elements,function (i,v) {
                                if(i.indexOf("color")>=0) $("#"+i).colorpicker({color: v, defaultPalette: 'web'});
                                else $("#"+i).val(v);
                            });
                            sample();
                            evi();
                            speci();
                            colornum=data.group.length;
                            var colo="";
                            $.each(data.group,function (i,v) {
                                colo +="<li><div style='float: left;width: 30%;margin-top: 5px;'><label>"+v+"</label></div><div class='evo-cp-wrap'><input id='color"+(4+i)+"'  name='color"+(4+i)+"' class='colorPicker evo-cp0' readonly='readonly'></div></li>";
                            });
                            $("#mycolor").html(colo);
                            $.each(data.group,function (i,v) {
                                $("#color"+(4+i)).colorpicker({color: data.color[i], defaultPalette: 'web'});
                            });
                            $(".colorPicker").attr("readonly", "readonly");
                            $(".evo-cp-wrap").css("float", "left");
                            $("#mycolor .evo-cp-wrap").css("width", "200px");
                            $("#snamecol .evo-cp-wrap").css("width", "95px");
                        }
                    });
                }
            });

            // $('#color1').colorpicker({color: '#E41A1C', showOn: 'button', defaultPalette: 'web'});
            // $('#color2').colorpicker({color: '#E41A1C', showOn: 'button', defaultPalette: 'web'});
            // $('#color3').colorpicker({color: '#FF8C00', showOn: 'button', defaultPalette: 'web'});
            // $(".colorPicker").attr("readonly", "readonly");
            // $(".evo-cp-wrap").css("float", "left");
            $("#snamecol .evo-cp-wrap").css("width", "95px");


            function DrawCCA() {
                var form = $("#CCA");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    if(checkXYCol()){
                        swal({
                            title: "请检查xy轴数据",
                            text: "x轴数据与y轴数据不可为同一个！",
                            type: "warning",
                            confirmButtonText: "确认"
                        });
                        return;
                    }
                    var element = "<div id='content'><span id='info'>绘图中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                    var index = layer.alert(element, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        title: "提醒",
                        btn: []
                    });
                    var c=[];
                    for(let i=0;i<colornum;i++){
                        c.push($("#color"+(4+i)).val());
                    }
                    $("#color").val(c.join(":"));
                    var form1 = new FormData($("#CCA")[0]);
                    $.ajax({
                        url: "/CloudPlatform/SoftTool/redrawCCA?taskname=@row.taskname&showsname="+$("#showsname").val()+"&showevi="+$("#showevi").val()+"&showspeci="+$("#showspeci").val(),
                        type: "post",
                        processData: false,
                        contentType: false,
                        data: form1,
                        success: function (data) {
                            $("#redraw_pic").attr("src","/CloudPlatform/pic?path="+data.pics+"&num="+Math.random());
                            layer.close(index);
                        }
                    });
                }
            }


            function checkXYCol(){
                if($("#xdata").val()===$("#ydata").val()) return true;
                else return false;
            }

            function sample() {
                var param = $("#showsname").val();
                if (param == "true") $("#sample").show();
                else $("#sample").hide();
            }

            function evi() {
                var param = $("#showevi").val();
                if (param == "true") $("#evi").show();
                else $("#evi").hide();
            }

            function speci() {
                var param = $("#showspeci").val();
                if (param == "true") $("#speci").show();
                else $("#speci").hide();
            }


    </script>



}