@import models.Tables.DutysRow
@(row:DutysRow)(implicit session: Session)
@home.main("Task Preview"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("font-awesome-4.7.0/css/font-awesome.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/redraw.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>

    <style>
            .form-group-p {
                display: inline-block;
                width: 100%;
                margin: 5px 0 5px 0;
            }
            .evo-pointer {
                cursor: pointer;
                margin-top: unset;
            }
            #GO.mws-panel-content {
                width: 95%;
                padding: 24px;
                float: left;
                background: white;
            }
    </style>

    <div class="container" style="width: 98.5%;margin: unset;max-width: unset;padding: 5px">
        @task.preview(row)
        <div class="mws-panel grid_8" style="background: white!important;">
            <div class="mws-panel-body" style="border: unset">
                <div id="GO" style="display: none" class="mws-panel-content" style="width: 96%;padding-top: 0;padding-right: 0">
                    <hr>
                    <ul class="nav nav-tabs" style="background: #f2f2f2;">
                        <li class="active">
                            <a href="#" data-target=".form1" data-toggle="tab">PCA图</a>
                        </li>
                        <li class="">
                            <a href="#" data-target=".form2" data-toggle="tab">箱线图</a>
                        </li>
                    </ul>
                    <div class="tab-content" style="box-sizing: border-box!important;overflow: auto;scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);scrollbar-width: thin;height: 96%;">
                        <form id="box" method="GET" enctype="multipart/form-data" class="form1 well form-inline tab-pane fade active in" style="box-sizing: border-box!important;">
                            <div class="redraw-head" style="margin-bottom: 10px;margin-top: 10px;">
                                <h3 style="display: inline-block">显示结果图：</h3>
                                <div class="dropdown" style="display: inline-block">
                                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 7px 30px;text-shadow: unset;border-radius: 7px;">
                                        下载结果图
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;width: 150px">
                                        <a class="dropdown-item" id="downPic1" onclick="downloadpics('pca','pdf')">下载 pdf</a>
                                        <a class="dropdown-item" id="downPng1" onclick="downloadpics('pca','png')">下载 png</a>
                                        <a class="dropdown-item" id="downTiff1" onclick="downloadpics('pca','tiff')">下载 tiff</a>
                                    </div>
                                </div>
                            </div>
                            <div class="redraw_panel" style="width: 85%;margin-left: 5%">
                                <img id="redraw_pic1" src="" style="width: 100%;height: auto" >
                            </div>
                            <div class="update_panel redraw-right" style="width: 100%;float: left;margin-bottom: 30px;">
                                <div style="padding: 20px">
                                    <h3 style="color: red">通知：</h3>
                                    <span style="color: red">软件版本已在<label class="update"></label>更新！<label class="update"></label> 前运行的 @row.sname 任务仅可下载结果文件，不支持重新绘图。</span>
                                </div>
                            </div>
                        </form>
                        <form id="pca" method="GET" enctype="multipart/form-data" class="form2 well form-inline tab-pane fade" style="box-sizing: border-box!important;">
                            <div class="redraw-head" style="margin-bottom: 10px;margin-top: 10px;">
                                <h3 style="display: inline-block">显示结果图：</h3>
                                <div class="dropdown" style="display: inline-block">
                                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 7px 30px;text-shadow: unset;border-radius: 7px;">
                                        下载结果图
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;width: 150px">
                                        <a class="dropdown-item" id="downPic2" onclick="downloadpics('kegg_L1','pdf')">下载 pdf</a>
                                        <a class="dropdown-item" id="downPng2" onclick="downloadpics('kegg_L1','png')">下载 png</a>
                                        <a class="dropdown-item" id="downTiff2" onclick="downloadpics('kegg_L1','tiff')">下载 tiff</a>
                                    </div>
                                </div>
                            </div>
                            <div class="redraw_panel" style="width: 90%;margin-left: 5%">
                                <img id="redraw_pic2" src="" style="width: 100%;height: auto" >
                            </div>
                            <div class="update_panel redraw-right" style="width: 100%;float: left;margin-bottom: 30px;">
                                <div style="padding: 20px">
                                    <h3 style="color: red">通知：</h3>
                                    <span style="color: red">软件版本已在<label class="update"></label>更新！<label class="update"></label> 前运行的 @row.sname 任务仅可下载结果文件，不支持重新绘图。</span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <br>
                </div>
            </div>
        </div>
    </div>


    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>

    <script>
            const updatetime="2020-08-27";

            function checkupdate(){
                $(".update").text(updatetime);
                if("@row.subtime".split(" ")[0]<updatetime) {
                    $(".update_panel").show();
                    $(".redraw_panel").hide();
                } else {
                    $(".redraw_panel").show();
                    $(".update_panel").hide();
                }
            }

            function downloadpics(picname,suffix){
                if("@row.status"!=="已完成"){
                    swal({
                        title: "无法下载",
                        text: "任务未完成，无法下载！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                }else{
                    window.location.href = "/CloudPlatform/SoftTool/download?taskname=@row.taskname&picname="+picname+"&suffix="+suffix+"&num="+Math.random();
                }
            }

            function formValidation() {
            }

            $(document).ready(function () {
                if("@row.status"=="已完成"){
                    $("#GO").show();
                    $.ajax({
                        url:"/CloudPlatform/SoftTool/getTAX4Fun?taskname=@row.taskname",
                        type:"post",
                        success:function (data) {
                            $.each(data.pics,function (i,v) {
                                var num=i+1;
                                $("#redraw_pic"+num).attr("src","/CloudPlatform/pic?path="+v+"&num="+Math.random());
                            });
                            checkupdate();
                        }
                    });
                }
            });
    </script>



}