@import models.Tables.DutysRow
@(row:DutysRow)(implicit session: Session)
@home.main("Task Preview"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("font-awesome-4.7.0/css/font-awesome.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/redraw.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>

    <style>
            .picleft{
                margin-top: 5px;
                width: 120px;
                text-align: right;
            }
            .picright{
                width: 200px;
            }
            .fontleft{
                margin-top: 5px;
                width: 130px;
                text-align: right;
            }
            .fontright{
                width: 190px;
            }
            .picright select{
                width: 100%;
            }
            .fontright select{
                width: 100%;
            }
            .fontright input{
                width: 100%;
                float: left;
                margin-top: 5px;
                margin-left: 10px;
            }
    </style>

    <div class="container" style="width: 98.5%;margin: unset;max-width: unset;padding: 5px">
        @task.preview(row)
        <div class="mws-panel grid_8" style="background: white!important;">
            <div class="mws-panel-body" style="border: unset">
                <div class="mws-panel-content" style="width: 96%;padding-top: 0;padding-right: 0">
                    <hr>
                    <div class="redraw-head">
                        <h3 style="display: inline-block">重新绘图：</h3>
                    </div>
                    <br>
                    <form id="ABI" style="display: none" method="GET" enctype="multipart/form-data">
                        <div style="width: 65%;float: left">
                            <iframe id="pdf" width="100%" height="650px" style="border: lightgray 1px solid;"></iframe>
                        </div>
                        <div class="redraw_panel redraw-right" style="width: 35%;float: left;margin-bottom: 30px;display: none">
                            <div class="tab-content" style="box-sizing: border-box!important;">
                                <h4 style="padding-left: 30px; margin-top: 0px; font-size: 15px; margin-bottom: 20px;">绘图参数：</h4>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label for="format">一个窗口显示 </label>
                                    </div>
                                    <div class="form-group" style="width: 60px;display: inline-block">
                                        <input type="text" name="window" id="window" value="40" placeholder="数字" class="form-control input-sm" style="width:60px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="format">个碱基</label>
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label for="format">绘制第 </label>
                                    </div>
                                    <div class="form-group" style="width: 60px;display: inline-block">
                                        <input type="text" name="startbase" id="startbase" value="0" placeholder="数字" class="form-control input-sm" style="width:60px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="format">-</label>
                                    </div>
                                    <div class="form-group" style="width: 60px">
                                        <input type="text" name="endbase" id="endbase" value="0" placeholder="数字" class="form-control input-sm" style="width:60px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="format">个碱基 (0-0 默认全部)</label>
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label for="format">绘制迹线的碱基：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="bases" id="bases" value="GATC" placeholder="/[GATC]+/" class="form-control input-sm" style="width:188px;">
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label>是否分开绘制不同碱基的迹线：</label>
                                    </div>
                                    <div class="form-group">
                                        <select id="separate" name="separate" style="width: 100px;">
                                            <option value="Y">yes</option>
                                            <option value="N" selected>no</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label>是否将序列显示在图片上：</label>
                                    </div>
                                    <div class="form-group">
                                        <select id="sequence" name="sequence" style="width: 125px;">
                                            <option value="Y" selected>yes</option>
                                            <option value="N">no</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label>是否绘制Y轴刻度：</label>
                                    </div>
                                    <div class="form-group">
                                        <select id="yticks" name="yticks" style="width: 170px;">
                                            <option value="Y">yes</option>
                                            <option value="N" selected>no</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label for="format">图片标题：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="gtitle" id="gtitle" value="" placeholder="请输入英文，中文默认不显示" class="form-control input-sm" style="width: 223px;">
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label for="format">图片副标题：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="gsubtitle" id="gsubtitle" value="" placeholder="请输入英文，中文默认不显示" class="form-control input-sm" style="width: 210px;">
                                    </div>
                                </div>
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label for="format">X轴标题：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="gxtitle" id="gxtitle" value="" placeholder="请输入英文，中文默认不显示" class="form-control input-sm" style="width: 227px;">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <input type="button" value="绘&nbsp;&nbsp;制" name="submit" class="btn btn-primary btn-dark" onclick="DrawAbiview()" style="margin-left: 30px">
                        </div>
                        <div class="update_panel redraw-right" style="width: 40%;float: left;margin-bottom: 30px;">
                            <div style="padding: 20px">
                                <h3 style="color: red">通知：</h3>
                                <span style="color: red">软件版本已在<label class="update"></label>更新！<label class="update"></label> 前运行的 @row.sname 任务仅可下载结果文件，不支持重新绘图。</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>

    <script>

            const updatetime="2020-07-29";

            function checkupdate(){
                $(".update").text(updatetime);
                if("@row.subtime".split(" ")[0]<=updatetime) {
                    $(".update_panel").show();
                    $(".redraw_panel").hide();
                } else {
                    $(".redraw_panel").show();
                    $(".update_panel").hide();
                }
            }

            var pdfurl="";

            $(document).ready(function () {
                if("@row.status"=="已完成"){
                    checkupdate();
                    $("#ABI").show();
                    $.ajax({
                        url:"/CloudPlatform/SoftTool/getAbiData?taskname=@row.taskname",
                        type:"post",
                        success:function (data) {
                            pdfurl=data.pdfUrl;
                            $("#pdf").attr("src","/CloudPlatform/Utils/viewer?file=/CloudPlatform/pdf&fileUrl="+pdfurl+"&num="+Math.random());
                            $.each(data.elements,function (i,v) {
                                $("#"+i).val(v);
                            });
                        }
                    });
                }
            });

            function DrawAbiview() {
                var form = $("#ABI");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    var element = "<div id='content'><span id='info'>绘图中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                    var index = layer.alert(element, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        title: "提醒",
                        btn: []
                    });
                    var form1 = new FormData($("#ABI")[0]);
                    $.ajax({
                        url: "/CloudPlatform/SoftTool/redrawAbiview?taskname=@row.taskname",
                        type: "post",
                        processData: false,
                        contentType: false,
                        data: form1,
                        success: function (data) {
                            $("#pdf").attr("src","/CloudPlatform/Utils/viewer?file=/CloudPlatform/pdf&fileUrl="+pdfurl+"&num="+Math.random());
                            layer.close(index);
                        }
                    });
                }else {
                    swal({
                        title: "参数设置错误",
                        text: "有参数不合法，请核实！",
                        type: "error",
                        confirmButtonText: "确认"
                    });
                }
            }


            function formValidation() {
                $('#ABI').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    excluded: [':disabled'],
                    fields: {
                        window: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        startbase: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        endbase: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        bases: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!/[GATC]+/'
                                }
                            }
                        },
                        gtitle:{
                            validators:{
                                callback:{
                                    message: '标题不可包含汉字!',
                                    callback: function (value, validator, $field) {
                                        return chechtitle("gtitle");
                                    }
                                }
                            }
                        },
                        gsubtitle:{
                            validators:{
                                callback:{
                                    message: '副标题不可包含汉字!',
                                    callback: function (value, validator, $field) {
                                        return chechtitle("gsubtitle");
                                    }
                                }
                            }
                        },
                        gxtitle:{
                            validators:{
                                callback:{
                                    message: 'X轴标题不可包含汉字!',
                                    callback: function (value, validator, $field) {
                                        return chechtitle("gxtitle");
                                    }
                                }
                            }
                        }
                    }
                });
            }

            function chechtitle(param){
                var val = $("#"+param).val();
                var rule = /[\u4e00-\u9fa5]+/;
                return !(rule.test(val));
            }

    </script>
}