@()(implicit session: Session)

<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/header.css")" media="screen" />
<script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
<style>
        .layui-layer {
            -webkit-overflow-scrolling: touch;
            top: 35%;
            left: 41%;
            margin: 0;
            padding: 0;
            background-color: #fff;
            -webkit-background-clip: content;
            box-shadow: 1px 1px 50px rgba(0,0,0,.3);
        }
        .layui-layer-lan .layui-layer-btn {
            padding: 10px;
            text-align: right;
            border-top: unset;
        }
        .layui-layer-lan[type=dialog] {
            min-width: 280px;
            border-radius: 11.5px;
        }
        .layui-layer-lan .layui-layer-title {
            background: #1f3851;
            color: #fff;
            border: none;
            border-top-left-radius: 11.5px;
            border-top-right-radius: 11.5px;
        }
        .logo{
            backface-visibility:hidden;
            -webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
            -moz-backface-visibility:hidden; 	/* Firefox */
            -ms-backface-visibility:hidden; 	/* Internet Explorer */
        }
    #latestNotice.reveal-modal{
        width: 800px;
        left: 45%;
    }
</style>
<div id="mws-header" class="clearfix fix" style="height: 100px">
    <div id="mws-logo-container">
        <div id="mws-logo-wrap">
            <img class="logo" src="/assets/images/logo6.png" style="margin-top: 15px;  margin-left: 0px;">
        </div>
    </div>
    <div style="float: right;height: 100px;">
        <div id="mws-user-tools" class="clearfix" style="position: relative;">
            @if(session.get("userId").isEmpty) {
                <div class="social-nav">
                    <div class="rss social-nav_li">
                        <a href="#" class="signin ti-user" data-reveal-id="signin" title="Sign in">
                            登录
                        </a>
                        <a href="#" class="mailsignin ti-user" data-reveal-id="mail_signin" title="Sign in" style="display: none">
                        </a>
                    </div>
                    <div class="rss social-nav_li">
                        <a href="#" class="signup " data-reveal-id="signup" title="Sign in" style="margin-top: 24px;">
                            注册
                        </a>
                    </div>
                </div>
            } else {
                <div id="mws-user-info" class="mws-inset" style="height: 32px;width: 160px;margin-top: 40px">
                    <div id="mws-user-photo">
                        <img src="/assets/example/profile.jpg" alt="User Photo" />
                    </div>
                    <div id="mws-user-functions">
                        <div id="mws-username">
                            你好, @session.get("userName")
                        </div>
                        <ul>
                            <li><a href="@routes.HomeController.personal()">个人中心</a></li>
                            <li><a href="#" onclick="Signout()">退出</a></li>
                        </ul>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<div id="signin" class="reveal-modal">
    <div class="cont">
        <div class="login-form-head">
            <h4 style="font-size: 2.5rem!important;font-family: 'Poppins', sans-serif">账号登录</h4>
            <p style="font-size: 15px;margin-top: 10px;">你好, 欢迎使用微课云</p>
        </div>
        <form action="#" class="signup form-horizontal" id="signinForm">
            <div class="login-form-body">
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="login-user" style="width: 100px">手机/邮箱：</label>
                    </div>
                    <div class="logright">
                        <input type="text" id="login-user" name="user" class="log_re_chan">
                        <i class="ti-email"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="login-pas">密码：</label>
                    </div>
                    <div class="logright">
                        <input type="password" id="login-pas" name="password" class="log_re_chan">
                        <i class="ti-lock"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="validnumber">验证码：</label>
                    </div>
                    <div class="logright">
                        <input type = "text" id = "validnumber" name="validnumber" autofocus="autofocus" style="float: left; width: 170px;margin-left: 10px;padding: 7px 9px 7px 9px;" required />
                        <input type = "button" class="code" id="signincode" value="发送短信" onclick="createCode()" style="width: 89px;  height: 30px;  margin-left: 18px; border: 1px solid #d8d8d8;  background: white;" />
                    </div>
                </div>
                <div class="submit-btn-area" style="margin-top: 35px">
                    <button id="form_submit" type="submit" onclick="Signin()">登录 <i class="ti-arrow-right"></i></button>
                    <a class="signup" data-reveal-id="signup"></a>
                </div>
                <div class="form-footer text-center mt-5">
                    <p class="text-muted" style="margin-top: 33px;font-size: 14px;">其他登录方式：<a onclick="openMailSignin()" style="cursor: pointer;margin-right: 25px;margin-left: 0px">短信登录</a>      还没有账号? <a onclick="openSignup()" style="cursor: pointer;">立即注册</a></p>
                </div>
            </div>
        </form>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

    <!-- BEGIN MODAL WINDOWS -->
<div id="signup" class="reveal-modal" style="top: 95px;">
    <div class="cont">
        <div class="login-form-head">
            <h4 style="font-size: 2.5rem!important;font-family: 'Poppins', sans-serif">账号注册</h4>
            <p style="font-size: 16px;margin-top: 10px">你好, 欢迎加入我们微课云</p>
        </div>
        <form action="" class="signup form-horizontal" id="signupForm">
            <div class="login-form-body">
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="upphone">手机号：</label>
                    </div>
                    <div class="logright">
                        <input type="text" id="upphone" name="phone" class="log_re_chan">
                        <i class="ti-mobile"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft"><label for="upname">姓名：</label></div>
                    <div class="logright">
                        <input type="text" id="upname" name="name" class="log_re_chan">
                        <i class="ti-user"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="exampleInputEmail1">邮箱：</label>
                    </div>
                    <div class="logright">
                        <input type="email" id="exampleInputEmail1" name="email" class="log_re_chan">
                        <i class="ti-email"></i>
                    </div>
                </div>
                <div class="form-gp form-group" style="margin-top: 35px">
                    <div class="logleft">
                        <label for="comp" style="top: -20px;">
                            <p style="margin: 0;float: right">单位：</p>
                            <p style="margin: 0;float: right;font-size: 12px;">(学校/公司)</p>
                        </label>
                    </div>
                    <div class="logright">
                        <input type="text" id="comp" name="company" class="log_re_chan">
                        <i class="ti-briefcase"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="exampleInputPassword1">密码：</label>
                    </div>
                    <div class="logright">
                        <input type="password" id="exampleInputPassword1" onfocus="pwdfocus('pwdwarn1')" onblur="pwdblur('pwdwarn1')" name="password" class="log_re_chan">
                        <i class="ti-lock"></i>
                    </div>
                    <div class='pwdwarn' style='float:right;'>
                        <div id='pwdwarn1' style='display:none;'>
                            <div class='tooltip fade right in' style='width: 200px;bottom: -40px;right: -220px;display: block;'>
                                <div class='tooltip-arrow'></div>
                                <div class='tooltip-inner'>安全起见，建议不要使用qq、微信、支付宝等常用密码。</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft"><label for="exampleInputPassword2">确认密码：</label></div>
                    <div class="logright">
                        <input type="password" id="exampleInputPassword2" name="password1" onfocus="pwdfocus('pwdwarn2')" onblur="pwdblur('pwdwarn2')" class="log_re_chan">
                        <i class="ti-lock"></i>
                    </div>
                    <div class='pwdwarn' style='float:right;'>
                        <div id='pwdwarn2' style='display:none;'>
                            <div class='tooltip fade right in' style='width: 200px;bottom: -40px;right: -220px;display: block;'>
                                <div class='tooltip-arrow'></div>
                                <div class='tooltip-inner'>安全起见，建议不要使用qq、微信、支付宝等常用密码。</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="validnumber1">验证码：</label>
                    </div>
                    <div class="logright">
                        <input type = "text" id = "validnumber1" name="validnumber" autofocus="autofocus" style="float: left;  width: 160px; margin-left: 10px; padding: 7px 9px 7px 9px;" required />
                        <input type = "button" value="发送验证码" id="sendcode1" class="sendcode" onclick="Verify('upphone','sendcode1')" style="width: 105px;  height: 35px;  margin-left: 18px; border: 1px solid #d8d8d8;  background: white;border-radius: 6px;" />
                    </div>
                </div>
                <div class="submit-btn-area" style="margin-top: 44px;" >
                    <button id="form_submit" type="submit" onclick="Signup()">注册 <i class="ti-arrow-right"></i></button>
                </div>
                <div class="form-footer text-center mt-5">
                    <p class="text-muted" style="margin-top: 33px;font-size: 14px;">已经有帐号? <a onclick="openSignin()" style="cursor: pointer;">登录</a></p>
                </div>
            </div>
        </form>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="newpassword" class="reveal-modal">
    <div class="cont">
        <div class="login-form-head">
            <h4 style="font-size: 2.5rem!important;font-family: 'Poppins', sans-serif">修改密码</h4>
            <p style="font-size: 14px;margin-top: 10px">嗨! 这里修改密码，请务必记住新密码</p>
        </div>
        <form class="signup form-horizontal" id="passwordForm">
            <div class="login-form-body">
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="phone">手机号：</label>
                    </div>
                    <div class="logright">
                        <input type="text" id="phone" name="phone" value="@session.get("userPhone")" class="log_re_chan"  readonly>
                        <i class="ti-mobile"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="InputNewPassword1">新密码：</label>
                    </div>
                    <div class="logright">
                        <input type="password" id="InputNewPassword1" name="password1" class="log_re_chan">
                        <i class="ti-lock"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="InputNewPassword2">确认密码：</label>
                    </div>
                    <div class="logright">
                        <input type="password" id="InputNewPassword2" name="password2" class="log_re_chan">
                        <i class="ti-lock"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="validnumber2">验证码：</label>
                    </div>
                    <div class="logright">
                        <input type = "text" id = "validnumber2" name="validnumber" autofocus="autofocus" style="float: left; width: 160px; margin-left: 10px; padding: 7px 9px 7px 9px;" required />
                        <input type = "button" value="发送验证码" id="sendcode2" class="sendcode" onclick="Verify('phone','sendcode2')" style="width: 105px;  height: 35px!important; margin-left: 18px; border: 1px solid #d8d8d8!important;  background: white!important;border-radius: 6px!important;" />
                    </div>
                </div>
                <div class="submit-btn-area" style="margin-top: 44px;" >
                    <button id="form_submit" type="submit" onclick="changePassword()">确认修改 <i class="ti-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="mail_signin" class="reveal-modal">
    <div class="cont">
        <div class="login-form-head">
            <h4 style="font-size: 2.5rem!important;font-family: 'Poppins', sans-serif">账号登录</h4>
            <p style="font-size: 15px;margin-top: 10px;">你好, 欢迎使用云平台</p>
        </div>
        <form action="#" class="signup form-horizontal" id="mailSigninForm">
            <div class="login-form-body">
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="mailphone">手机号：</label>
                    </div>
                    <div class="logright">
                        <input type="text" id="mailphone" name="phone" class="log_re_chan">
                        <i class="ti-email"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="mailcode">验证码：</label>
                    </div>
                    <div class="logright">
                        <input type = "text" id = "mailcode" name="code" autofocus="autofocus" style="float: left;  width: 160px; margin-left: 10px; padding: 7px 9px 7px 9px;" required />
                        <input type = "button" value="发送验证码" id="sendcode3" class="sendcode" onclick="Verify('mailphone','sendcode3')" style="width: 105px;  height: 35px;  margin-left: 18px;border: 1px solid #d8d8d8;  background: white;border-radius: 6px;" />
                    </div>
                </div>
                <div class="submit-btn-area" style="margin-top: 35px">
                    <button id="form_submit" type="submit" onclick="MailSignin()">登录 <i class="ti-arrow-right"></i></button>
                    <a class="signup" data-reveal-id="signup"></a>
                </div>
                <div class="form-footer text-center mt-5">
                    <p class="text-muted" style="margin-top: 33px;font-size: 14px;">其他登录方式：<a onclick="openSignin()" style="cursor: pointer;margin-right: 25px;margin-left: 0px">密码登录</a>还没有账号? <a onclick="openSignup()" style="cursor: pointer;">立即注册</a></p>
                </div>
            </div>
        </form>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="changephone" class="reveal-modal">
    <div class="cont">
        <div class="login-form-head">
            <h4 style="font-size: 2.5rem!important;font-family: 'Poppins', sans-serif">绑定新手机</h4>
            <p style="font-size: 15px;margin-top: 10px;">你好, 这里解除原手机号绑定，并绑定新手机号</p>
        </div>
        <form action="#" class="signup form-horizontal" id="changePhoneForm">
            <div class="login-form-body">
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="mailoldphone">旧手机号：</label>
                    </div>
                    <div class="logright">
                        <input type="text" id="mailoldphone" name="oldphone" value="@session.get("userPhone")" class="log_re_chan" readonly>
                        <i class="ti-mobile"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="mailoldcode">验证码：</label>
                    </div>
                    <div class="logright">
                        <input type = "text" id = "mailoldcode" name="oldcode" autofocus="autofocus" style="float: left;  width: 160px; margin-left: 10px; padding: 7px 9px 7px 9px;" required />
                        <input type = "button" value="发送验证码" class="sendcode" id="sendcode4" onclick="Verify('mailoldphone','sendcode4')" style="width: 105px;  height: 35px;  margin-left: 18px;border: 1px solid #d8d8d8;  background: white;border-radius: 6px;" />
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="mailnewphone">新手机号：</label>
                    </div>
                    <div class="logright">
                        <input type="text" id="mailnewphone" name="newphone" class="log_re_chan">
                        <i class="ti-mobile"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="mailcode">验证码：</label>
                    </div>
                    <div class="logright">
                        <input type = "text" id = "mailnewcode" name="newcode" autofocus="autofocus" style="float: left;  width: 160px; margin-left: 10px; padding: 7px 9px 7px 9px;" required />
                        <input type = "button" value="发送验证码" class="sendcode" id="sendcode5" onclick="Verify('mailnewphone','sendcode5')" style="width: 105px;  height: 35px;  margin-left: 18px;border: 1px solid #d8d8d8;  background: white;border-radius: 6px;" />
                    </div>
                </div>
                <div class="submit-btn-area" style="margin-top: 35px">
                    <button id="form_submit" type="submit" onclick="changePhone()">重新绑定 <i class="ti-arrow-right"></i></button>
@*                    <a class="signup" data-reveal-id="signup"></a>*@
                </div>
            </div>
        </form>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="changedetail" class="reveal-modal">
    <div class="cont">
        <div class="login-form-head">
            <h4 style="font-size: 2.5rem!important;font-family: 'Poppins', sans-serif">修改个人信息</h4>
            <p style="font-size: 15px;margin-top: 10px;">你好, 这里修改个人信息</p>
        </div>
        <form class="signup form-horizontal" id="changeDetailForm">
            <div class="login-form-body">
                <div class="form-gp form-group" style="display: none">
                    <div class="logright">
                        <input type="text" id="dephone" name="phone" value="@session.get("userPhone")" class="log_re_chan" readonly>
                        <i class="ti-mobile"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft"><label for="dename">姓名：</label></div>
                    <div class="logright">
                        <input type="text" id="dename" name="name" value="@session.get("userName")" class="log_re_chan">
                        <i class="ti-user"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="demail">邮箱：</label>
                    </div>
                    <div class="logright">
                        <input type="email" id="demail" name="email" value="@session.get("userEmail")" class="log_re_chan">
                        <i class="ti-email"></i>
                    </div>
                </div>
                <div class="form-gp form-group" style="margin-top: 35px">
                    <div class="logleft">
                        <label for="decomp" style="top: -20px;">
                            <p style="margin: 0;float: right">单位：</p>
                            <p style="margin: 0;float: right;font-size: 12px;">(学校/公司)</p>
                        </label>
                    </div>
                    <div class="logright">
                        <input type="text" id="decomp" name="company" value="@session.get("userCompany")" class="log_re_chan">
                        <i class="ti-briefcase"></i>
                    </div>
                </div>
                <div class="form-gp form-group">
                    <div class="logleft">
                        <label for="mailcode">验证码：</label>
                    </div>
                    <div class="logright">
                        <input type = "text" id = "mailcode" name="code" autofocus="autofocus" style="float: left;  width: 160px; margin-left: 10px; padding: 7px 9px 7px 9px;" required />
                        <input type = "button" value="发送验证码" class="sendcode" id="sendcode6" onclick="Verify('dephone','sendcode6')" style="width: 105px;  height: 35px;  margin-left: 18px;border: 1px solid #d8d8d8;  background: white;border-radius: 6px;" />
                    </div>
                </div>
                <div class="submit-btn-area" style="margin-top: 35px">
                    <button id="form_submit" type="submit" onclick="changeDe()">确认修改 <i class="ti-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="latestNotice" class="reveal-modal" style="width: 600px; left: 50%;top:12%;">
    <div class="cont" style="width: 100%">
        <div class="login-form-head">
            <h4 id="noteHead" style="font-size: 2.5rem!important;font-family: 'Poppins', sans-serif">标题</h4>
            <span style="font-size: 15px;margin-top: 10px;">发布时间：</span><span id="notePubtime">sss</span>
        </div>
        <div class="login-form-body" style="padding-bottom: 26px;overflow-y: auto;max-height: 450px">
            <div id="noteContent" class="noteContent">

            </div>
        </div>
        <div class="submit-btn-area" style="margin-top: 20px;padding: 0px 50px 0px 50px;">
            <button id="form_submit" onclick="closeReveal()">确认 <i class="ti-arrow-right"></i></button>
        </div>
    </div>
    <a class="close-reveal-modal" style="display: none">&#215;</a>
</div>

<script>
        $('.form-gp input').on('focus', function() {
            $(this).parent('.logright').parent('.form-gp').addClass('focused');
        });

        $('.form-gp input').on('focusout', function() {
            $(this).parent('.logright').parent('.form-gp').removeClass('focused');
        });

        function closeReveal() {
            $(".close-reveal-modal").click();
        }

        function pwdfocus(para) {
            $("#"+para).show();
        }
        function pwdblur(para) {
            $("#"+para).hide();
        }

        var path = window.location.pathname;

        var code ; //在全局定义验证码

        function openMailSignin() {
            $(".close-reveal-modal").click();
            $(".mailsignin").click();
        }

        function openSignup() {
            $(".close-reveal-modal").click();
            $(".signup").click();
            createCode();
        }

        function openSignin() {
            $(".close-reveal-modal").click();
            $(".signin").click();
            createCode();
        }

        function createCode() {
            code = "";
            var codeLength = 4;//验证码的长度
            var random = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9);//随机数
            for (var i = 0; i < codeLength; i++) {//循环操作
                var index = Math.floor(Math.random() * 10);//取得随机数的索引（0~35）
                code += random[index];//根据索引取得随机数加到code上
            }
            $(".code").val(code);//把code值赋给验证码
        }

        function Signout() {
            //cookie销毁
            // $.cookie("cloudUserId",null);
            window.location.href = "/CloudPlatform/User/signout";
        }

        //账号密码登录
        function Signin() {
            var form = $("#signinForm");
            var fv = form.data("formValidation");
            fv.validate();
            if (fv.isValid()) {
                var element = "<div id='content'><span id='info'>登录中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                var index = layer.alert(element, {
                    skin: 'layui-layer-lan',
                    closeBtn: 0,
                    title: "提醒",
                    btn: []
                });
                $.ajax({
                    url: "@routes.UserController.signIn()",
                    type: "post",
                    dataType: "json",
                    data: form.serialize(),
                    success: function (data) {
                        if (data.valid === "false") {
                            layer.close(index);
                            createCode();
                            $("#signinForm").formValidation("revalidateField", "validnumber");
                            swal({
                                title: "错误",
                                text: "账号或密码错误",
                                type: "error",
                                confirmButtonText: "确认"
                            })
                        } else {
                            layer.close(index);
                            window.location.href = "/CloudPlatform/User/signInSuccess?path=" + path + "&id=" + data.id;
                        }
                    }
                });
            }
        }

        //注册
        function Signup() {
            var form = $("#signupForm");
            var fv = form.data("formValidation");
            fv.validate();
            if (fv.isValid()) {
                $.ajax({
                    url: "@routes.UserController.addUser()",
                    type: "post",
                    dataType: "json",
                    data: form.serialize(),
                    success: function (data) {
                        if (data.valid == "false") {
                            swal({
                                title: "错误!",
                                text: data.message,
                                type: "error",
                                confirmButtonText: "确定"
                            });
                        } else {
                            $(".close-reveal-modal").click();
                            swal({
                                title: "注册成功",
                                text: "注册成功!欢迎使用云平台",
                                type: 'success',
                                confirmButtonText: "确定"
                            }, function () {
                                $(".signin").click();
                            });
                        }
                    }
                });
            }
        }

        //短信登陆
        function MailSignin() {
            var form = $("#mailSigninForm");
            var fv = form.data("formValidation");
            fv.validate();
            if (fv.isValid()) {
                var element = "<div id='content'><span id='info'>登录中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                var index = layer.alert(element, {
                    skin: 'layui-layer-lan',
                    closeBtn: 0,
                    title: "提醒",
                    btn: []
                });
                $.ajax({
                    url: "@routes.UserController.mailSignIn()",
                    type: "post",
                    dataType: "json",
                    data: form.serialize(),
                    success: function (data) {
                        if (data.valid === "false") {
                            layer.close(index);
                            swal({
                                title: "错误",
                                text: "验证码错误",
                                type: "error",
                                confirmButtonText: "确认"
                            })
                        } else if (data.valid === "null") {
                            layer.close(index);
                            swal({
                                title: "错误",
                                text: "请先发送验证码",
                                type: "error",
                                confirmButtonText: "确认"
                            })
                        } else {
                            layer.close(index);
                            window.location.href = "/CloudPlatform/User/signInSuccess?path=" + path + "&id=" + data.id;
                        }
                    }
                });
            }
        }

        //修改密码
        function changePassword() {
            var form = $("#passwordForm");
            var fv = form.data("formValidation");
            fv.validate();
            if (fv.isValid()) {
                $.ajax({
                    url: "@routes.UserController.changePassword()",
                    type: "post",
                    dataType: "json",
                    data: form.serialize(),
                    success: function (data) {
                        if (data.valid == "false") {
                            swal({
                                title: "Error!",
                                text: data.message,
                                type: "error",
                                confirmButtonText: "OK"
                            })
                        } else {
                            $(".close-reveal-modal").click();
                            swal({
                                title: "修改成功",
                                text: "修改密码成功!",
                                type: 'success',
                                confirmButtonText: "返回页面，请重新登录！"
                            }, function () {
                                window.location.href = "/CloudPlatform/User/signout?path=" + path;
                            })
                        }
                    }
                });
            }

        }

        //重绑手机
        function changePhone() {
            var form = $("#changePhoneForm");
            var fv = form.data("formValidation");
            fv.validate();
            if (fv.isValid()) {
                var element = "<div id='content'><span id='info'>重新绑定中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                var index = layer.alert(element, {
                    skin: 'layui-layer-lan',
                    closeBtn: 0,
                    title: "提醒",
                    btn: []
                });
                $.ajax({
                    url: "@routes.UserController.changePhone()",
                    type: "post",
                    dataType: "json",
                    data: form.serialize(),
                    success: function (data) {
                        if (data.valid === "false") {
                            layer.close(index);
                            swal({
                                title: "错误",
                                text: data.message,
                                type: "error",
                                confirmButtonText: "确认"
                            })
                        } else {
                            layer.close(index);
                            window.location.href = "/CloudPlatform/User/signInSuccess?path=" + path + "&id=" + data.id;
                        }
                    }
                });
            }
        }

        //修改个人信息
        function changeDe() {
            var form = $("#changeDetailForm");
            var fv = form.data("formValidation");
            fv.validate();
            if (fv.isValid()) {
                console.log(222);
                var element = "<div id='content'><span id='info'>修改中，请耐心等待...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                var index = layer.alert(element, {
                    skin: 'layui-layer-lan',
                    closeBtn: 0,
                    title: "提醒",
                    btn: []
                });
                $.ajax({
                    url: "/CloudPlatform/User/changeDetail",
                    type: "post",
                    dataType: "json",
                    data: form.serialize(),
                    success: function (data) {
                        console.log(data.valid);
                        if (data.valid === "false") {
                            console.log(333);
                            layer.close(index);
                            swal({
                                title: "错误",
                                text: data.message,
                                type: "error",
                                confirmButtonText: "确认"
                            })
                        } else {
                            layer.close(index);
                            swal({
                                title: "修改成功",
                                text: "修改成功!",
                                type: 'success',
                                confirmButtonText: "确认"
                            }, function () {
                                window.location.href = "/CloudPlatform/User/signInSuccess?path=" + path + "&id=" + data.id;
                            })
                        }
                    }
                });
            }
        }

        function Verify(param,sendcode) {
            if($("#"+param).val()==""){
                swal({
                    title: "请输入手机号",
                    text: "请输入手机号",
                    type: "warning",
                    confirmButtonText: "确认"
                })
            }else sendEmail($("#"+param).val(),param,sendcode);
        }

        var count = 60;

        function sendEmail(phone,param,sendcode) {
            $.ajax({
                url: "/CloudPlatform/Utils/sendMSG?phone="+phone+"&where="+param,
                type: "post",
                success: function (data) {
                    if (data.valid === "true") {
                        var curCount = count;
                        $("#"+sendcode).val("重新发送（" + curCount + "）").attr("disabled", true).css("background","#dfdfdf");
                        var interValObj = window.setInterval(function () {
                            if (curCount == 0) {
                                window.clearInterval(interValObj);
                                $("#"+sendcode).val("重发验证码").attr("disabled", false).css("background","white");
                            } else {
                                curCount -= 1;
                                $("#"+sendcode).val("重新发送（" + curCount + "s）");
                            }
                        }, 1000);
                        swal({
                            title: "短信发送成功",
                            text: "短信发送成功,验证码有效期10分钟！",
                            type: "success",
                            confirmButtonText: "确认"
                        })
                    }else if (data.valid === "false") {
                        if(data.responsecode==="isv.MOBILE_NUMBER_ILLEGAL"){
                            swal({
                                title: "错误",
                                text: "无效手机号，请填写正确的手机号！",
                                type: "error",
                                confirmButtonText: "确认"
                            })
                        }
                    }else{ //valid=nophone
                        swal({
                            title: "短信发送失败",
                            text: data.message,
                            type: "error",
                            confirmButtonText: "确认"
                        });
                    }
                }
            });
        }



</script>