@()(implicit session: Session)
@home.main("Home"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/index.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>

    <style>
            .ui-widget-content, .ui-widget-content a:hover {
                color: #333333;
            }
            .mws-report .mws-report-content {
                width: 65%;
                height: 80%;
                position: relative;
                margin-left: 30%;
                margin-top: 25px;
                display: block;
                padding: 3px 0px 8px 10px;
            }
            ul#latelist li, ul#hotlist li {
                float: left;
                margin: 8px;
                padding: 4px 0px 4px 11px;
            }
        .moresoft{
            margin-top: 13.5px;
            color: steelblue!important;
            font-size: 15px;
        }
            .moresoft:hover{
                color: royalblue;
            }
    </style>



    <div class="container mainpadding" style="margin-top: 10px!important;">
        <div class="mws-panel grid_8">
            <div class="mws-tabs">
                <div style="padding: 1em 0em 1em 1em;">
                    <div style="width: 85%;height: 40px">
                        <ul style="margin-left: 12px;display: inline-block">
                            <li style="margin-right: 10px"><a href="#hotest" onclick="loadhot()">热门工具</a></li>
                            <li><a href="#latest" onclick="loadlate()">最新工具</a></li>
                        </ul>
                        <a style="display: inline-block;float: right;" class="moresoft" href="/CloudPlatform/home/allsoft?types=li_allsoft">更多软件&nbsp;>></a>
                    </div>
                </div>

                <div id="hotest" style="padding: 1em 0em 1em 1em;">
                    <ul id="hotlist" class="ui-widget ui-helper-clearfix">
                    </ul>
                </div>
                <div id="latest" style="padding: 1em 0em 1em 1em;">
                    <ul id="latelist" class="ui-widget ui-helper-clearfix">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>

            $(document).ready(function () {
                loadhot();
                loadlate();
                @*if("@login"=="false") openSignin();*@
            });

            function loadlate() {
                removeul("latelist");
                $.ajax({
                    url: "/CloudPlatform/Softwares/home/latest",
                    type: "get",
                    success: function (data) {
                        var html="";
                        $.each(data.rows,function (i,v) {
                            html += "<li class='mws-report'>" + v.pics + "<div class='mws-report-content'>" +
                                    "<div class='likeable' style='float:right;'><div id='fmsg1' style='display:none;'>" +
                                    "<div class='tooltip fade left in' style='width: 75px;bottom: 2px;right: 19px;display: block;'>" +
                                    "<div class='tooltip-arrow'></div><div class='tooltip-inner'>点击收藏</div>" +
                                    "</div></div><div id='fmsg2' style='display:none;'>" +
                                    "<div class='tooltip fade left in' style='width: 75px;bottom: 2px;right: 19px;display: block;'>" +
                                    "<div class='tooltip-arrow'></div><div class='tooltip-inner'>取消收藏</div></div></div>" + v.like +
                                    "</div>"+v.description+"</div></li>";

                        });
                        $("#latelist").html(html);
                    }
                });
            }

            function loadhot() {
                removeul("hotlist");
                $.ajax({
                    url: "/CloudPlatform/Softwares/home/hotest",
                    type: "get",
                    success: function (data) {
                        var html="";
                        $.each(data.rows,function (i,v) {
                            html += "<li class='mws-report'>" + v.pics + "<div class='mws-report-content'>" +
                                    "<div class='likeable' style='float:right;'><div id='fmsg1' style='display:none;'>" +
                                    "<div class='tooltip fade left in' style='width: 75px;bottom: 2px;right: 19px;display: block;'>" +
                                    "<div class='tooltip-arrow'></div><div class='tooltip-inner'>点击收藏</div>" +
                                    "</div></div><div id='fmsg2' style='display:none;'>" +
                                    "<div class='tooltip fade left in' style='width: 75px;bottom: 2px;right: 19px;display: block;'>" +
                                    "<div class='tooltip-arrow'></div><div class='tooltip-inner'>取消收藏</div></div></div>" + v.like +
                                    "</div>"+v.description+"</div></li>";
                        });
                        $("#hotlist").html(html);
                    }
                });
            }

            function removeul(param){
                $("#"+param+" li").remove();
            }


            function mover($para) {
                if (($para).hasClass("yellow-icon")) {
                    $para.prev().show();
                } else {
                    $para.removeClass('icon-star-empty');
                    $para.addClass('icon-star');
                    $para.prev().prev().show();
                }
            }

            function mout($para) {
                $para.prev().hide();
                $para.prev().prev().hide();
                if (!$para.hasClass("yellow-icon")) {
                    $para.addClass('icon-star-empty');
                    $para.removeClass('icon-star');
                }
            }

            //tab
            $(".mws-tabs").tabs();

            var islock = false;  //防止重复点击
            function collect($para,sid) {
                //没登陆的时候聚焦到登陆框
                if (@session.get("userId").isEmpty) {
                    openSignin();
                    return;
                }
                if (islock) {
                    alert(" =.=!!");
                    return;
                }
                islock = true;
                setTimeout(function () {
                    islock = false;
                }, 200);
                if (($para).hasClass("yellow-icon")) {
                    $.ajax({
                        url: "/CloudPlatform/User/delLike?sid="+sid,
                        type: "post",
                        success: function (data) {
                            swal({
                                title: "已取消收藏该软件",
                                type: "success",
                                confirmButtonText: "确认"
                            });
                            // alert('已取消收藏该软件', 1000);
                            $para.removeClass("icon-star").removeClass("yellow-icon").addClass("icon-star-empty");
                        }
                    });
                } else {
                    $.ajax({
                        url: "/CloudPlatform/User/addLike?sid="+sid,
                        type: "post",
                        success: function (data) {
                            $para.removeClass("icon-heart-empty").addClass("icon-heart yellow-icon");
                            swal({
                                title: "收藏该软件成功",
                                type: "success",
                                confirmButtonText: "确认"
                            });
                            // alert('收藏该软件成功', 1000);
                        }
                    });
                }
            }

            function formValidation() {
                $("#mailSigninForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        code: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                }
                            }
                        }
                    }
                });
                $("#signinForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        user: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#signupForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入手机号！'
                                },
                                phone:{
                                    message: '请输入正确手机号',
                                    country: 'CN'
                                }
                            }
                        },
                        name: {
                            validators: {
                                notEmpty: {
                                    message: '请填写姓名！'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: '请填写邮箱地址！'
                                },
                                emailAddress:{
                                    message:'请输入正确邮箱地址！'
                                }
                            }
                        },
                        company: {
                            validators: {
                                notEmpty: {
                                    message: '请填写单位！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
                $('#passwordForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入新密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password2: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password1',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
            }

    </script>

    @home.footer()


}
