@()(implicit session: Session)
@home.main("Update News"){

    <style>
            .justify-content-center {
                -ms-flex-pack: center!important;
                justify-content: center!important;
            }
            .row {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
            }
            .pl-md-5, .px-md-5 {
                padding-left: 3rem!important;
            }
            .pl-md-0, .px-md-0 {
                padding-left: 0!important;
            }
            .pl-3, .px-3 {
                padding-left: 1rem!important;
            }
            .ml-md-5, .mx-md-5 {
                margin-left: 3rem!important;
            }
            .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }
            .list-unstyled {
                padding-left: 0;
                list-style: none;
            }
            dl, ol, ul {
                margin-top: 0;
                margin-bottom: 1rem;
                margin-left: 60px;
            }
            .met-log-list>h2 {
                -webkit-transform: translate(-50%,0);
                -moz-transform: translate(-50%,0);
                -ms-transform: translate(-50%,0);
                -o-transform: translate(-50%,0);
                transform: translate(-50%,0);
            }
            .met-log-list>li>h3 {
                left: -25px;
                top: 26px;
                -webkit-transform: translate(-100%,0);
                -moz-transform: translate(-100%,0);
                -ms-transform: translate(-100%,0);
                -o-transform: translate(-100%,0);
                transform: translate(-100%,0);
            }
            .met-log-list>li .rounded-circle {
                width: 15px;
                height: 15px;
                line-height: 6px;
                border: 2px solid #2bc4ff;
                color: #2bc4ff;
                left: -12px;
                top: 23px;
                font-size: 20px;
            }
            .mb-2, .my-2 {
                margin-bottom: .5rem!important;
                margin-top: .5rem!important;
                display: inline-block!important;
                padding-left: 1rem!important;
                font-size: 30px;
            }
            .d-inline-block {
                display: inline-block!important;
            }
            .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
                margin-bottom: .5rem;
                font-family: inherit;
                font-weight: 700;
                line-height: 1.2;
                color: inherit;
                text-shadow: unset;
            }
            h1, h2, h3, h4, h5, h6 {
                margin-top: 0;
                margin-bottom: .5rem;
            }
            .pb-md-4, .py-md-4 {
                padding-bottom: 1.5rem!important;
                padding-top: 1.5rem!important;
                padding-left: 1.5rem!important;
            }
            .position-relative {
                position: relative!important;
            }

            .text-muted {
                color: #6c757d!important;
            }
            .font-weight-bold {
                font-weight: 700!important;
            }
            .text-center {
                text-align: center!important;
            }
            .p-1 {
                padding: .25rem!important;
            }
            .position-absolute {
                position: absolute!important;
            }
            .rounded-circle {
                border-radius: 50%!important;
            }
            .bg-white {
                background-color: #e1e2f5!important;
            }
            .mb-0, .my-0 {
                margin-bottom: 0!important;
            }
            dt {
                font-weight: 700;
            }
            .p-3 {
                padding: 1rem!important;
            }
            .mt-3, .my-3 {
                margin-top: 1rem!important;
            }
            .bg-light {
                background-color: #f8f9fa!important;
            }
            .card {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
                max-height: 300px;
                width: 650px;
                padding: 30px 40px 30px 40px;
                border-radius: 15px;
            }
            dd {
                margin-bottom: .5rem;
                margin-left: 0;
            }
            .met-log-list>li dl dd .met-editor {
                max-height: 300px;
            }
            .font-size-14 {
                font-size: 14px !important;
            }
            .met-editor {
                width: 100%;
                max-width: 100%;
                font-size: 16px;
                line-height: 1.8;
            }
            .oya {
                overflow-y: auto!important;
            }

            .text-muted {
                color: #6c757d!important;
            }
            .met-editor p {
                margin-bottom: .8em;
            }
            p {
                margin-top: 0;
                margin-bottom: 1rem;
            }
            .met-scrollbar::-webkit-scrollbar {
                width: 7px;
                height: 11px;
                background-color: rgba(0, 0, 0, 0.2);
            }
            .met-scrollbar{
                scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
                scrollbar-width: thin;
            }
        li{
            margin-bottom: 0px;
        }
    </style>


    <div class="container" style="margin-bottom: 40px">

        <div class="row justify-content-center">
            <div class="met-log-body col-xl-9 pl-md-5" style="margin-left: 50px;margin-top: 50px">
                <ul class="met-log-list list-unstyled pl-md-5 ml-md-5">
                    <h2 class="my-2">2020</h2>

                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #2bc4ff 1px solid;display: none">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.7.29</h3>
                        <span class="rounded-circle p-1 position-absolute bg-white text-center font-weight-bold">.</span>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.1.0 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：Tax4Fun功能预测；</p>
                                        <p>1、新增：视频增加弹幕功能；</p>
                                        <p>1、新增：登录图片验证；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #2bc4ff 1px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.8.5</h3>
                        <span class="rounded-circle p-1 position-absolute bg-white text-center font-weight-bold"></span>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.5 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：教学视频增加弹幕功能、播放调速、视频截屏等功能；</p>
                                        <p>1、修复：修复组内相关性分析，只上传一个矩阵文件时，网络图连线重复问题，；</p>
                                        <p>1、更新：组内相关性分析网络图重绘，添加数据筛选板块，包括显示的小数点位数、p值检验阈值、c值检验阈值；</p>
                                        <p>1、更新：权重网络图重绘，添加数据筛选板块，具体包括同组内相关性分析；</p>
                                        <p>1、优化：更换组内相关性分析logo
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #2bc4ff 1px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.8.4</h3>
                        <span class="rounded-circle p-1 position-absolute bg-white text-center font-weight-bold">.</span>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.4 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：组内相关性分析功能；</p>
                                        <p>2、新增：软件更新时间戳，实现软件更新后，在软件更新时间之前运行的任务只能下载结果文件，不能重新绘图；</p>
                                        <p>3、更新：所有软件使用说明更新；</p>
                                        <p>4、更新：箱线图，PCA，CCA的教学视频更新；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #2bc4ff 1px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.7.29</h3>
                        <span class="rounded-circle p-1 position-absolute bg-white text-center font-weight-bold">.</span>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.3 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：维恩图添加了文件格式的检查。upload lists type1：检查文件是否超过6列(作图最多6组)；upload lists type2：检查table文件每行数据数量是否一致，检查内部数据是否为有效数字，检查第一行样品名是否重复存在；检查group文件行数是否超过6行（作图最多6组），检查每行中的样品名在table文件中是否存在；</p>
                                        <p>2、新增：维恩图使用说明、示例结果；</p>
                                        <p>3、新增：热图重新绘图增加参数，可调整横坐标文字旋转角度；</p>
                                        <p>4、新增：热图示例文件格式更新；</p>
                                        <p>5、优化：所有颜色选择器，支持手动输入色值；并增加色值有效性的检查；</p>
                                        <p>6、优化：我的任务中单个任务删除时，添加了是否确认删除的询问；</p>
                                        <p>7、优化：所有功能的示例文件，点击后文件内容将直接在新窗口显示，需要下载鼠标右键选择另存为；</p>
                                        <p>8、优化：注册账号时，点击密码和确认密码输入框跳出提示：安全起见，建议不要使用qq、微信、支付宝等常用密码；</p>
                                        <p>9、优化：输入错误网页地址报错问题，将重定向到404页面，提示页面丢失或不存在；</p>
                                        <p>10、修复：浏览器关闭，登陆状态失效问题；</p>
                                        <p>11、修复：点击我的任务，导航栏上下抖动问题；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #2bc4ff 1px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.7.21</h3>
                        <span class="rounded-circle p-1 position-absolute bg-white text-center font-weight-bold">.</span>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.2 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar" style="padding-right: 10px">
                                        <p>1、新增：维恩图添加了第二个文件上传接口，支持通过本身带有统计数据的矩阵文件和分组文件进行维恩图的绘制；</p>
                                        <p>2、新增：更新日志功能；</p>
                                        <p>3、新增：2个短信验证功能，修改个人信息、改绑手机号；</p>
                                        <p>4、变更：热图功能整体变更；</p>
                                        <p>5、修复：运行时间戳的时差问题；</p>
                                        <p>6、修复：热图结果图重绘xy轴字体设置相反问题；</p>
                                        <p>7、优化：我的任务界面优化；</p>
                                        <p>8、优化：个人中心界面布局优化；</p>
                                        <p>9、优化：任务详情,使用参数部分设计优化；</p>
                                        <p>10、优化：GO富集分析，盒型图（Boxplot），CCA/RDA，主成分分析（PCA）四个功能的使用说明更新；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li class="position-relative pl-3 pl-md-4 py-3 py-md-4" style="padding-left: 5px!important;border-left: #2bc4ff 1px solid;">
                        <h3 class="h6 position-absolute text-muted" style="font-weight: 500">2020.6.30</h3>
                        <span class="rounded-circle p-1 position-absolute bg-white text-center font-weight-bold">.</span>
                        <div>
                            <dl class="mb-0">
                                <dt><h4 class="h5">微课云 1.0.1 更新日志</h4></dt>
                                <dd class="card mb-0 mt-3 bg-light">
                                    <div class="met-editor font-size-14 text-muted oya met-scrollbar">
                                        <p>1、新增：GO富集分析，KEGG富集分析，主成分分析（PCA），CCA/RDA，热图（Heatmap），盒型图（Boxplot），权重网络图，维恩图，共8个软件功能；</p>
                                        <p>2、新增：3个短信验证功能，短信验证登录、短信验证注册、修改密码；</p>
                                        <p>3、新增：个人中心；</p>
                                        <p>4、新增：软件收藏功能；</p>
                                        <p>5、新增：我的任务，关键词搜索，任务批量删除等功能；</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
            function formValidation() {
                $("#mailSigninForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        code: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                }
                            }
                        }
                    }
                });
                $("#signinForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        user: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#signupForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入手机号！'
                                },
                                phone:{
                                    message: '请输入正确手机号',
                                    country: 'CN'
                                }
                            }
                        },
                        name: {
                            validators: {
                                notEmpty: {
                                    message: '请填写姓名！'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: '请填写邮箱地址！'
                                },
                                emailAddress:{
                                    message:'请输入正确邮箱地址！'
                                }
                            }
                        },
                        company: {
                            validators: {
                                notEmpty: {
                                    message: '请填写单位！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
                $('#passwordForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入新密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password2: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password1',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
            }
    </script>

    @home.footer()
}