<link rel="stylesheet" href="/assets/emotion/css/normalize.css" media="screen" />
    <!-- Skeleton grid system -->
<link rel="stylesheet" href="/assets/emotion/css/skeleton.css" media="screen" />
    <!-- Base Template Styles-->
<link rel="stylesheet" href="/assets/emotion/css/base.css" media="screen" />
    <!-- Template Styles-->
<link rel="stylesheet" href="/assets/emotion/css/style.css" media="screen" />
    <!-- Superfish -->
<link rel="stylesheet" href="/assets/emotion/css/superfish.css" media="screen" />
    <!-- Prettyphoto -->
<link rel="stylesheet" href="/assets/emotion/css/prettyPhoto.css" media="screen" />
    <!-- FontAwesome -->
<link rel="stylesheet" href="/assets/zui/zui.min.css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
<link rel="stylesheet" href="/assets/emotion/css/settings.css" media="screen" />
    <!-- Flexslider -->
<link rel="stylesheet" href="/assets/emotion/css/flexslider.css" media="screen" />
    <!-- Layout and Media queries-->
<link rel="stylesheet" href="/assets/emotion/css/media-queries.css" media="screen" />

    <!--[if lt IE 9]>
		<link rel="stylesheet" href="/assets/emotion/css/ie/ie8.css" media="screen" />
	<![endif]-->

    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- Favicons
	================================================== -->
<link rel="shortcut icon" href="/assets/images/favicon.ico">
<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png">

<div id="wrapper">

    <div class="wrapp-holder">
        <div class="wrap-frame">

                <!-- BEGIN SLIDER -->
            <div id="slider" class="slider loading">
                <div class="container clearfix">
                    <div class="grid_12">

                        <div class="bannercontainer">
                            <div class="banner">
                                <ul>
                                        <!-- THE FIRST SLIDE -->
                                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
                                            <!-- THE MAIN IMAGE IN THE SLIDE -->
                                        <img src="/assets/images/samples/slide3.jpg">

                                            <!-- THE CAPTIONS OF THE FIRST SLIDE -->
                                        <div class="tp-caption sfl original"
                                        data-x="100"
                                        data-y="146"
                                        data-speed="300"
                                        data-start="600"
                                        data-captionhidden="on"
                                        data-endeasing="easeOutExpo"
                                        data-easing="easeOutExpo">
												Create Your Own
                                        </div>

                                        <div class="tp-caption sfr original_high"
                                        data-x="142"
                                        data-y="178"
                                        data-speed="300"
                                        data-start="800"
                                        data-captionhidden="on"
                                        data-endeasing="easeOutExpo"
                                        data-easing="easeOutExpo">
												Personality!
                                        </div>

                                    </li>


                                        <!-- THE SECOND SLIDE -->
                                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-slideindex="back">

                                            <!-- THE MAIN IMAGE IN THE SLIDE -->
                                        <img src="/assets/images/slide-light.jpg">

                                            <!-- THE CAPTIONS OF THE SECOND SLIDE -->
                                        <div class="tp-caption sfl original"
                                        data-x="100"
                                        data-y="146"
                                        data-speed="300"
                                        data-start="600"
                                        data-captionhidden="on"
                                        data-endeasing="easeOutExpo"
                                        data-easing="easeOutExpo">
												Our team is
                                        </div>

                                        <div class="tp-caption sfr original_high"
                                        data-x="142"
                                        data-y="178"
                                        data-speed="300"
                                        data-start="800"
                                        data-captionhidden="on"
                                        data-endeasing="easeOutExpo"
                                        data-easing="easeOutExpo">
												Professional
                                        </div>

                                        <div class="caption randomrotate"
                                        data-x="680"
                                        data-y="35"
                                        data-speed="600"
                                        data-start="1200"
                                        data-easing="easeOutExpo"  ><img src="/assets/images/samples/img140x140.jpg" alt="Image 3"></div>

                                        <div class="caption randomrotate"
                                        data-x="530"
                                        data-y="35"
                                        data-speed="600"
                                        data-start="1300"
                                        data-easing="easeOutExpo"  ><img src="/assets/images/samples/img140x140.jpg" alt="Image 4"></div>

                                        <div class="caption randomrotate"
                                        data-x="680"
                                        data-y="185"
                                        data-speed="300"
                                        data-start="1400"
                                        data-easing="easeOutExpo"  ><img src="/assets/images/samples/img140x140.jpg" alt="Image 5"></div>

                                        <div class="caption randomrotate"
                                        data-x="530"
                                        data-y="185"
                                        data-speed="600"
                                        data-start="1500"
                                        data-easing="easeOutExpo"  ><img src="/assets/images/samples/img140x140.jpg" alt="Image 6"></div>


                                    </li>

                                        <!-- THE THIRD SLIDE -->
                                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
                                            <!-- THE MAIN IMAGE IN THE SLIDE -->
                                        <img src="/assets/images/samples/slide2.jpg">

                                            <!-- THE CAPTIONS OF THE THIRD SLIDE -->
                                        <div class="tp-caption sft original"
                                        data-x="100"
                                        data-y="146"
                                        data-speed="300"
                                        data-start="600"
                                        data-captionhidden="on"
                                        data-endeasing="easeOutExpo"
                                        data-easing="easeOutExpo">
												The Best Solution
                                        </div>

                                        <div class="tp-caption sfb original_high"
                                        data-x="142"
                                        data-y="178"
                                        data-speed="300"
                                        data-start="800"
                                        data-captionhidden="on"
                                        data-endeasing="easeOutExpo"
                                        data-easing="easeOutExpo">
												You can Find!
                                        </div>

                                    </li>


                                        <!-- THE FOURTH SLIDE -->
                                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-slideindex="back">

                                            <!-- THE MAIN IMAGE IN THE SLIDE -->
                                        <img src="/assets/images/slide-black.jpg">

                                        <div class="caption fade fullscreenvideo" data-autoplay="false" data-x="0" data-y="0" data-speed="500" data-start="10" data-easing="easeOutBack">111</div>

                                    </li>

                                        <!-- THE FIFTH SLIDE -->
                                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
                                            <!-- THE MAIN IMAGE IN THE SLIDE -->
                                        <img src="/assets/images/samples/slide1.jpg">

                                            <!-- THE CAPTIONS OF THE FIFTH SLIDE -->
                                        <div class="tp-caption sft original"
                                        data-x="100"
                                        data-y="146"
                                        data-speed="300"
                                        data-start="600"
                                        data-captionhidden="on"
                                        data-endeasing="easeOutExpo"
                                        data-easing="easeOutExpo">
												We always think
                                        </div>

                                        <div class="tp-caption sfb original_high"
                                        data-x="142"
                                        data-y="178"
                                        data-speed="300"
                                        data-start="800"
                                        data-captionhidden="on"
                                        data-endeasing="easeOutExpo"
                                        data-easing="easeOutExpo">
												About Customers
                                        </div>

                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                <!-- END SLIDER -->

                <!-- BEGIN CONTENT WRAPPER -->
            <div id="content-wrapper" class="content-wrapper">

                <div class="container">

                    <div class="clearfix">
                        <div class="grid_12">
                                <!-- BEGIN TABBED CONTENT -->
                            <div class="tabs tabs__alt">
                                <div class="tab-menu clearfix">
                                    <ul>
                                        <li><a href="#tab1">Latest</a></li>
                                        <li><a href="#tab2">Popular</a></li>
                                        <li><a href="#tab3">Featured</a></li>
                                    </ul>
                                </div>
                                <div class="tab-wrapper">
                                    <div id="tab1" class="tab">
                                            <!-- Latest Posts Loop -->
                                        <ul class="post-loop unstyled clearfix">
                                            <li>
                                                <img src="/assets/images/samples/img220x210.jpg" alt="" class="post-img" width="220" height="210">
                                                <div class="post-caption">
                                                    <span class="post-cats"><a href="#">News</a> / <a href="#">Design</a></span>
                                                    <h4><a href="#">Vivamus  ullamcorper,  nunc sed  imperdiet pretium</a></h4>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="/assets/images/samples/img220x210.jpg" alt="" class="post-img" width="220" height="210">
                                                <div class="post-caption">
                                                    <span class="post-cats"><a href="#">Illustration</a></span>
                                                    <h4><a href="#">Pellentesque tristique lacinia adipiscing</a></h4>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="/assets/images/samples/img220x210.jpg" alt="" class="post-img" width="220" height="210">
                                                <div class="post-caption">
                                                    <span class="post-cats"><a href="#">Graphic</a> / <a href="#">Design</a></span>
                                                    <h4><a href="#">Nulla vitae dui vel dolor laoreet</a></h4>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="/assets/images/samples/img220x210.jpg" alt="" class="post-img" width="220" height="210">
                                                <div class="post-caption">
                                                    <span class="post-cats"><a href="#">News</a> / <a href="#">Logo</a></span>
                                                    <h4><a href="#">Suspendisse odio est, lacinia nec adipiscing</a></h4>
                                                </div>
                                            </li>
                                        </ul>
                                            <!-- /Latest Posts Loop -->
                                    </div>
                                    <div id="tab2" class="tab">
                                            <!-- Popular Posts Loop -->
                                        <ul class="post-loop unstyled clearfix">
                                            <li>
                                                <img src="/assets/images/samples/img220x210.jpg" alt="" class="post-img" width="220" height="210">
                                                <div class="post-caption">
                                                    <span class="post-cats"><a href="#">Illustration</a></span>
                                                    <h4><a href="#">Pellentesque tristique lacinia adipiscing</a></h4>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="/assets/images/samples/img220x210.jpg" alt="" class="post-img" width="220" height="210">
                                                <div class="post-caption">
                                                    <span class="post-cats"><a href="#">News</a> / <a href="#">Design</a></span>
                                                    <h4><a href="#">Vivamus  ullamcorper,  nunc sed  imperdiet pretium</a></h4>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="/assets/images/samples/img220x210.jpg" alt="" class="post-img" width="220" height="210">
                                                <div class="post-caption">
                                                    <span class="post-cats"><a href="#">News</a> / <a href="#">Logo</a></span>
                                                    <h4><a href="#">Suspendisse odio est, lacinia nec adipiscing</a></h4>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="/assets/images/samples/img220x210.jpg" alt="" class="post-img" width="220" height="210">
                                                <div class="post-caption">
                                                    <span class="post-cats"><a href="#">Graphic</a> / <a href="#">Design</a></span>
                                                    <h4><a href="#">Nulla vitae dui vel dolor laoreet</a></h4>
                                                </div>
                                            </li>

                                        </ul>
                                            <!-- /Popular Posts Loop -->
                                    </div>
                                </div>
                            </div>
                                <!-- END TABBED CONTENT -->
                        </div>
                    </div>
                    <div class="hr hr-dashed"></div>
                </div>
            </div>
                <!-- END CONTENT WRAPPER -->
        </div>
    </div>



</div>


    <!-- Javascript Files
	================================================== -->

    <!-- initialize jQuery Library -->
<script src="/assets/emotion/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
<script src="/assets/emotion/js/jquery-migrate-1.1.1.min.js"></script>
    <!-- Modernizr -->
<script src="/assets/emotion/js/modernizr.custom.17475.js"></script>
    <!-- easing plugin -->
<script src="/assets/emotion/js/jquery.easing.min.js"></script>
    <!-- Prettyphoto -->
<script src="/assets/emotion/js/jquery.prettyPhoto.js"></script>
    <!-- Superfish -->
<script src="/assets/emotion/js/jquery.mobilemenu.js"></script>
    <!-- superfish -->
<script src="/assets/emotion/js/jquery.superfish-1.5.0.js"></script>
    <!-- Twitter -->
<script src="/assets/emotion/js/jquery.twitter.js"></script>
    <!-- Flickr -->
<script src="/assets/emotion/js/jflickrfeed.js"></script>
    <!-- ElastiSlide Carousel -->
<script src="/assets/emotion/js/jquery.elastislide.js"></script>
    <!-- jQuery REVOLUTION Slider  -->
<script src="/assets/emotion/js/jquery.themepunch.plugins.min.js"></script>
<script src="/assets/emotion/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Isotope -->
<script src="/assets/emotion/js/jquery.isotope.min.js"></script>
<script src="/assets/emotion/js/jquery.imagesloaded.min.js"></script>
    <!-- Flexslider -->
<script src="/assets/emotion/js/jquery.flexslider.js"></script>

    <!-- Custom -->
<script src="/assets/emotion/js/custom.js"></script>