@import models.Tables.DutysRow
@()(implicit session: Session)
@home.main("Task Preview"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-slider-master/css/bootstrap-slider.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("font-awesome-4.7.0/css/font-awesome.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/redraw.css")" media="screen" />


    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap-slider-master/bootstrap-slider.js")"></script>

    <div class="container" style="width: 98.5%;margin: unset;max-width: unset;padding: 5px">

        <div class="mws-panel grid_8" style="background: white!important;">
            <div class="mws-panel-body" style="border: unset">
                <div class="mws-panel-content" style="width: 96%;padding-top: 0;padding-right: 0">
                    <hr>
                    <br>
                    <form id="VOC"  method="GET" enctype="multipart/form-data">
                        <div class="form-group-p">
                            <div class="form-group picleft">
                                <label for="format">P值阈值：</label>
                            </div>
                            <div class="form-group right picright" style="width: 80px;display: inline-block">
                                <input type="text" name="pcl" id="pcl" value="10e-6" placeholder="数字" class="form-control input-sm" style="width:80px;">
                            </div>
                        </div>

                        <div class="slider">
                            <input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        

            $("#ex8").bootstrapSlider({
            });

            
            
            function formValidation() {

            }

    </script>
}