@()(implicit session: Session)
@home.main("Emboss Abiview") {


@*    <iframe src="/viewer?file=/mnt/sdb/ww/bak/CloudPlatform/R/lefse/output/lefse_LDA.cladogram.pdf" style="width: 100%;height:100%;">*@

@*    </iframe>*@


    <iframe id="pdf" width="100%" height="800"></iframe>


    <script>
        var pdfurl="F:/CloudPlatform/R/abiview/abiview.pdf";
        $("#pdf").attr("src","/viewer?file=/CloudPlatform/pdf&fileUrl="+pdfurl+"&num="+Math.random());
        $("#openFile").hide();

    </script>


}







