@(abbre:String)(implicit session: Session)
@home.main("Emboss Abiview"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <div class="col-md-12 mysoft-content" style="width: 98%;">
        <div class="mysoft-content-left whitebox" style="width: 771px;overflow-y: auto">
            <form id="ABI" method="GET" novalidate="novalidate" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"> </div>
                <h3 class="tools-title">Emboss Abiview</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="">
                    </div>
                </div>
                <br><br>
                <div id="div1" class="one-line">
                    <div class="form-group-p" style="width: 465px">
                        <div class="form-group">
                            <label for="exampleInputName2">上传ABI文件：</label>
                        </div>
                        <div class="form-group" style="width: 350px">
                            <input type="file" class="form-control file" id="table1" name="table1">
                        </div>
                    </div>
                    <div class="form-group-extra">
                        <em><a href="/assets/files/abiview_table.ab1" target='_blank'>示例文件</a></em><span class="must" style="margin-left: 10px">*</span>&nbsp;&nbsp;
                    </div>
                    <br>
                    <br>
                </div>
                <div class="form-group-p">
                    <div class="form-group">
                        <label>输出图片类型（pdf必会生成）：</label>
                    </div>
                    <div class="form-group">
                        <select name="graph" style="width: 100%;">
                            <option value="ps">postscript</option>
                            <option value="svg">svg</option>
                            <option value="xterm">xterm</option>
                            <option value="hpgl">hpgl</option>
                            <option value="hp7470">hp7470</option>
                            <option value="hp7580">hp7580</option>
                            <option value="meta">meta</option>
                            <option value="cps">cps</option>
                            <option value="x11">x11</option>
                            <option value="tek">tek</option>
                            <option value="tekt">tekt</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label>输出序列格式：</label>
                    </div>
                    <div class="form-group">
                        <select name="osformat">
                            <option value="acedb">ACeDB</option>
                            <option value="asn1">ASN.1</option>
                            <option value="clustal">Clustal .aln</option>
                            <option value="codata">CODATA</option>
                            <option value="embl">EMBL</option>
                            <option value="fasta" selected="selected">Pearson FASTA</option>
                            <option value="fitch">Fitch</option>
                            <option value="gcg">GCG 9.x/10.x</option>
                            <option value="gcg8">GCG 8.x</option>
                            <option value="genbank">Genbank</option>
                            <option value="gff">GFF</option>
                            <option value="hennig86">Hennig86</option>
                            <option value="ig">Intelligenetics</option>
                            <option value="Jackknifer">Jackknifer</option>
                            <option value="Jackknifernon">Jackknifernon</option>
                            <option value="mega">Mega</option>
                            <option value="meganon">Meganon</option>
                            <option value="msf">GCG MSF</option>
                            <option value="nrbf">NBRF (PIR)</option>
                            <option value="ncbi">NCBI FASTA</option>
                            <option value="nexus">Nexus/PAUP</option>
                            <option value="nexusnon">Nexusnon/PAUPnon</option>
                            <option value="phylip">PHYLIP interleaved</option>
                            <option value="phylip3">PHYLIP non-interleaved</option>
                            <option value="selex">SELEX</option>
                            <option value="strider">DNA strider</option>
                            <option value="swiss">SwissProt</option>
                            <option value="staden">Staden</option>
                            <option value="text">plain text</option>
                            <option value="treecon">Treecon</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapseOne">
                        <h4 class="panel-title">
                            <a id="pos1">
                                <span style="font-size:12px;">选填参数（Optional）：</span>
                            </a>
                        </h4>
                    </div>
                    <br>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">一个窗口显示 </label>
                                </div>
                                <div class="form-group" style="width: 80px;display: inline-block">
                                    <input type="text" name="window" id="window" value="40" placeholder="数字" class="form-control input-sm" style="width:80px;">
                                </div>
                                <div class="form-group">
                                    <label for="format">个碱基</label>
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">绘制第 </label>
                                </div>
                                <div class="form-group" style="width: 80px;display: inline-block">
                                    <input type="text" name="startbase" id="startbase" value="0" placeholder="数字" class="form-control input-sm" style="width:80px;">
                                </div>
                                <div class="form-group">
                                    <label for="format">-</label>
                                </div>
                                <div class="form-group" style="width: 80px">
                                    <input type="text" name="endbase" id="endbase" value="0" placeholder="数字" class="form-control input-sm" style="width:80px;">
                                </div>
                                <div class="form-group">
                                    <label for="format">个碱基 (0-0 默认绘制全部)</label>
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">绘制迹线的碱基：</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="bases" id="bases" value="GATC" placeholder="/[GATC]+/" class="form-control input-sm" style="width:285px;">
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否分开绘制不同碱基的迹线：</label>
                                </div>
                                <div class="form-group">
                                    <select name="separate">
                                        <option value="Y">yes</option>
                                        <option value="N" selected>no</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否将序列显示在图片上：</label>
                                </div>
                                <div class="form-group">
                                    <select name="sequence">
                                        <option value="Y" selected>yes</option>
                                        <option value="N">no</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否绘制Y轴刻度：</label>
                                </div>
                                <div class="form-group">
                                    <select name="yticks">
                                        <option value="Y">yes</option>
                                        <option value="N" selected>no</option>
                                    </select>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
                <br>
                <input type="hidden" value="upload" name="act">
                <input type="hidden" value="heatmap" name="action">
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="runAbiview()" style="margin-bottom: 20px">
            </form>

        </div>

        <div class="handler"></div>

        <div class="mysoft-content-right" style="width: 279px;box-sizing: border-box!important;">
            <ul class="nav nav-tabs">
                <li class="active" id="ins_tab1">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="out_tab1">
                    <a href="###" data-target="#example" data-toggle="tab">教学视频</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="instruction">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>1.背景介绍</strong></span><br>
                        Emboss是一个开放源代码的序列分析软件包，是为分子生物学研究的特别需要而发展起来的，包括大量核酸和蛋白质分析工具，Abiview工具主要用于阅读ABI文件并显示路径。
                        <br>
                        ABI文件是指包含DNA分析仪记录的DNA序列信息的数据文件，也被称为DNA跟踪或电泳文件。ABI文件使用ABI文件查看器时，会将DNA序列的比较和分析以图形方式展示。
                        <br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.操作方法</strong></span><br>
                    </p>
                    <img src="/assets/images/softpic/instruction/abi1.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%">操作界面</p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.1.上传文件</strong></span><br>
                        Abiview仅支持上传abi格式文件，也就是峰图文件，这部分结果一般会体现在测序结果文件部分。<br>
                        可选输出参数：<br>
                        (1) 输出图片类型<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/abi2.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        (2) 输出序列格式<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/abi3.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br><br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.2.选填参数</strong></span><br>
                        (1) 窗口显示碱基数：可自选输入<br>
                        (2) 绘制x——y个碱基：0-0默认绘制全部<br>
                        (3) 绘制轨迹线的碱基：GATC<br>
                        (4) 是否分开绘制不同碱基的迹线：是 或 否<br>
                        (5) 是否将序列显示在图片上：是 或 否<br>
                        (6) 是否绘制Y轴刻度：是 或 否<br>
                        设置完成后，点击“提交“按键，即可开始分析<br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.3.查看任务</strong></span><br>
                        提交任务后，点击界面右侧的“历史任务”模块，或者点击界面“我的任务”，都可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/abi4.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/abi5.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br><br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>3.示例图片</strong></span><br>
                        结果图片区域展示的是根据参数绘制的峰图，可以调整右侧的绘图参数在线调整。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/abi6.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br><br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>4.结果文件</strong></span><br>
                        结果文件fasta格式的序列文件、选定格式的abi结果图和pdf格式的abi结果图<br>
                        序列文件：根据abi文件提取的序列文件<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/abi7.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                </div>
                <div class="tab-pane fade" id="example">
                    <h5 style="margin-bottom: 2px">视频录制中...敬请期待！</h5>
                </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh('@abbre')">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_time"><span>任务编号</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(document).ready(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("ABI","ABI");
                // loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgts3S_QUo_uGeyAc.mp4","/assets/images/softpic/video/heatmap_video.png")
            });


            function runAbiview(formId) {
                var form = $("#ABI");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    if(checktaskname()) {
                        var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                        var index = layer.alert(element, {
                            skin: 'layui-layer-lan',
                            closeBtn: 0,
                            title: "提醒",
                            btn: []
                        });
                        setTimeout(function () {
                            layer.close(index);
                            var form1 = new FormData($("#ABI")[0]);
                            $.ajax({
                                url: "/CloudPlatform/SoftTool/runAbiview",
                                type: "post",
                                processData: false,
                                contentType: false,
                                data: form1,
                                success: function (data) {
                                    removeul();
                                    loadHistory("@abbre");
                                    $("#his_tab1").addClass("active");
                                    $("#out_tab1").removeClass("active");
                                    $("#ins_tab1").removeClass("active");
                                    $("#history").addClass("active").addClass("in");
                                    $("#example").removeClass("active");
                                    $("#instruction").removeClass("active");
                                    getTaskName("ABI","ABI");
                                }
                            });
                        }, 2000);
                    }
                }
            }

            function formValidation() {
                $('#ABI').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        taskname: {
                            validators: {
                                notEmpty: {
                                    message: '任务编号不能为空!'
                                },
                                remote:{
                                    type: 'POST',
                                    url: '@routes.DutyController.checktaskname()',
                                    message: "任务编号重复，请重新输入"
                                }
                            }
                        },
                        table1: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传矩阵表格文件!'
                                },
                                file: {
                                    // extension: 'jpeg,jpg,png',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        window: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        startbase: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        endbase: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        bases: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!/[GATC]+/'
                                }
                            }
                        }
                    }
                });
            }


    </script>

}