@()(implicit session: Session)
@home.main("Boxplot"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>


    <style>
            .messager.top {
                top: 20px;
                height: auto;
            }
    .messager-content {
        text-align: center;
        float: left;
        height: 31px;
        display: inline-flex;
        padding: 9px 0 0 0;
    }
    .mysoft-content-left .form-group-extra .btn-sm {
        font-size: 14px;
        background-color: #27b9d0;
        border-color: #27b9d0;
        border-radius: 4px;
        padding: 5px 15px;
        height: auto;
    }
    .mysoft-content-right .tab-content, .mysoft-content-left form {
        box-shadow: unset;
    }
    .img-thumbnail {
        display: inline-block;
        max-width: 100%;
        height: auto;
        padding: 4px;
        line-height: 1.53846154;
        background-color: #fff;
        border: unset;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    blockquote {
        padding: 10px 20px;
        margin: 0 0 20px;
        border-left: unset;
    }
    .mysoft-content-left .form-group-p .right-form-group input:not([type="radio"]):not([type="checkbox"]), .mysoft-content-left .form-group-p .right-form-group select, .mysoft-content-left .form-group-p .form-group:nth-child(2) input:not([type="radio"]):not([type="checkbox"]), .mysoft-content-left .form-group-p .form-group:nth-child(2) select {
         width: 100%;
        height: 32px;
    }
            .mysoft-content-left .form-group-extra .input-sm {
                width: 40%;
                height: 35px;
                border-bottom: 1px solid #dfe0de;
            }
</style>

    <div class="col-md-12 mysoft-content">
        <div class="  mysoft-content-left  whitebox" style="width: 590px;">
            <form id="boxplot" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <img class="tools-img" src="/assets/images/softpic/box.png">
                <h3 class="tools-title">盒型图</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="box">
                    </div>
                </div>

                <br><br>

                <script type="text/javascript">
                        $("#mytaskname").keyup(function () {
                            var val = $("#mytaskname").val();
                            var rule = /[()（）@@#$%^&*~`!|\/\\?;,.，。:"]/;
                            if (rule.test(val)) {
                                alert('任务编号里不能有特殊字符，请重新填写!');
                            }
                        })
                </script>
                <div id="myform">
                    <div id="div1" class="one-line">
                        <div class="form-group-p">
                            <div class="form-group">
                                <label for="filepath1">输入源文件 1：</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" style="" id="filepath1" name="text1" readonly="readonly">
                                <img id="tempimg1" dynsrc="" src="" style="display:none">
                                <input id="hideinput1" type="file" name="table1" style="display:none;" onchange="change(this.value)">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <span id="choosefile" type="button" onclick="choosefile($(this))" data-id="1" class="btn btn-sm btn-info choosebutton">
                                选择文件                                </span>
                            <input type="text" name="name1" value="group1" class="form-control input-sm">
                            <span class="must">*</span>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <input type="button" value="增加表格" id="addfile" name="addfile" class="btn btn-primary newbutton">
                <input type="button" value="删除表格" id="delfile" name="delfile" class="btn btn-primary newbutton">
                <br>
                <br>

                <div class="one-line">
                    <div class="form-group-p">
                        <div class="form-group">
                            <label for="color">
                                自定义颜色(请输入<span id="colornum">1</span>个)：
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="text" id="color" name="color" class="form-control" placeholder="" value="">
                        </div>
                    </div>
                    <div class="form-group-extra">
                        <div style="width: 25px; float: left;" class="evo-cp-wrap">
                            <input id="color1" name="color1" class="form-control colorPicker evo-cp0" value="#ccffff" type="hidden">

                        </div>
                        <span id="link" class="btn" style="margin-left:10px;"> 添加该颜色 </span>
                    </div>
                </div>


                <br>
                <br>
                <div class="form-group-p">

                    <div class="form-group">
                        <label for="">
                            Y 轴范围&nbsp;：</label>
                    </div>
                    <div class="form-group">
                        <label style="width: 17%;">
                            <input type="text" name="ylim1" class="form-control" placeholder="数字" value="">
                        </label>
                        <label>--</label>
                        <label style="width: 17%;  margin-left: 5px;">
                            <input type="text" name="ylim2" class="form-control" placeholder="数字" value="" onblur="ylim();">
                        </label>
                    </div>
                </div>
                <br>
                <br>

@*                <input type="hidden" value="upload" name="act">*@
@*                <input type="hidden" value="box" name="action">*@
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="boxplot()">
            </form>
        </div>
        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 460px;">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="###" data-target="#tab2Content2" data-toggle="tab">示例结果</a>
                </li>
                <li class="">
                    <a href="###" data-target="#tab2Content1" data-toggle="tab">使用说明</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="tab2Content2">
                    <h5>输出结果：盒型图</h5>
                    <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/box_result.png" alt="生物云平台">

                </div>
                <div class="tab-pane fade" id="tab2Content1">
                    <p>
                        <strong>
                            功能：</strong>
                        <br>
                        用一个带有表头的，且以tab符分隔的表格数据绘制一个盒型图                            </p>
                    <br>
                    <p>
                        <strong>
                            输入：</strong>
                        <br>
                        上传文件格式说明：格式如下，数据与数据之间务必用制表符隔开(tab符)，不能用空格，制图时将以第一行为x轴                            </p>
                    <blockquote>
                        <pre>y1	y2	y3
                            1	2	3
                            3	4	3
                            99	88	66
                            7	5	6
                            7	8	9
                            66	88	99
                            7	9	3
                            12	8	15
                            13	20	5
                        </pre>
                    </blockquote>
                    <br>
                    <strong>
                        参数：</strong>
                    <p>
                    </p><p>
                    ①自定义颜色：不填的话用系统默认颜色。填写的话，要注意颜色数量要与文件个数相等，①添加/修改颜色用十六进制格式或英文书写(如有三个输入文件，那么可以定义black,green,red或#000000,#008000,#FF0000，注意每个颜色要用逗号隔开)， ② 还有另外一种添加颜色的方法：右边有调色板可以选取需要的颜色，点击带颜色小方格，选中需要的颜色后然后点击添加改颜色按钮就增加了一个颜色。                            </p>
                    <p>
                        ②y取值范围：最小值--最大值                            </p>
                    <p></p>
                    <br>
                    <p>
                        <strong>
                            输出：</strong>
                    </p>
                    <p>
                        程序将输出盒型图，提供常见图片格式的图片下载                            </p>
                    <br>
                    <p></p>                          </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script type="text/javascript">



            function choosefile($para) {
                if(@session.get("userId").isEmpty){
                    swal({
                        title: "尚未登录",
                        text: "请先登录账号",
                        type: "warning",
                        confirmButtonText: "确认"
                    })
                }else {
                    $number = $para.attr("data-id");
                    $("#hideinput" + $number).click();
                }

            }

            //上传文件判断，大小限制!
            var maxsize = 5 * 1024 * 1024;//2M
            var errMsg = '建议使用云端文件，本地文件上传最大为5M！';

            function change(value, rowMax, colMax) {
                $("#filepath" + $number).val(value);
                var filepath = document.getElementById("hideinput" + $number);

                var file_size = 0;


                file_size = filepath.files[0].size;
                let name = filepath.files[0].name;
                let patt = /^[a-zA-Z0-9._]+$/;
                if (!patt.test(name)) {
                    alert("文件名只能由字母，数字，'_'和'.'组成");
                    $("#filepath" + $number).val('');
                    $("#hideinput" + $number).val('');
                }
                var size = file_size;
                if (size > maxsize) {
                    alert(errMsg);
                    $("#filepath" + $number).val('');
                    $("#hideinput" + $number).val('');
                }

            }

            function ylim() {
                var ylim1 = $.trim($("input[name=ylim1]").val());
                var ylim2 = $.trim($("input[name=ylim2]").val());
                if (ylim1 != '' && ylim2 != '') {
                    if (parseFloat(ylim1) > parseFloat(ylim2)) {
                        alert('Y轴范围应该从小到大');
                        $("input[name=ylim1]").val('');
                        $("input[name=ylim2]").val('');
                        return;
                    }
                }
            }

        $('#color1').colorpicker({color: '#00BFFF', defaultPalette: 'web'});
        $('#link').on('click', function (evt) {
            evt.stopImmediatePropagation();
            var newcolor = $("#color1").val();
            if (newcolor != '') {
                var oldcolor = $("#color").val();
                if (oldcolor.indexOf(newcolor) >= 0) {
                    alert('不能有重复颜色');
                    exit();
                }
                if (oldcolor == '') {
                    $("#color").val(newcolor);
                } else {
                    var allcolor = oldcolor + ',' + newcolor;
                    $("#color").val(allcolor);
                }
            }
        });



            $(".evo-cp-wrap").css("width", "25px");
            $(".evo-cp-wrap").css("float", "left");
            softid = '22';

            var textnum = 1;

            function judgeEmpty() {
                var t=textnum;
                while(t>0){
                    if($("#filepath"+t).val()=='')
                        return true;
                    t--;
                }
                return false;
            }

            function boxplot() {
                if(@session.get("userId").isEmpty){
                    swal({
                        title: "尚未登录",
                        text: "请先登录账号",
                        type: "warning",
                        confirmButtonText: "确认"
                    })
                }if(judgeEmpty()){
                    swal({
                        title: "源文件不能为空",
                        text: "请输入源文件或减少源文件数量",
                        type: "warning",
                        confirmButtonText: "确认"
                    })
                }
                else {
                    console.log(111)
                    var form1 = new FormData($("#boxplot")[0]);

                    var element = "<div id='content'><span id='info'>运行中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;'></div>"
                    var index = layer.alert(element, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        title: "Info",
                        btn: []
                    });

                    $.ajax({
                        url: "/CloudPlatform/SoftTool/runBoxplot?id=@session.get("userId")"+"&textnum="+textnum,
                        type: "post",
                        processData: false,
                        contentType: false,
                        data: form1,
                        success: function (data) {
                            if (data.valid === "false") {
                                layer.close(index);
                                swal("Error", data.message, "error");

                            } else {

                                layer.close(index);
                                $.ajax({
                                    url:"/CloudPlatform/SoftTool/getFiles?id=@session.get("userId")"+"&taskname="+data.taskname,
                                    type:"post",
                                    success:function (pics) {
                                        var pic = "";
                                        var html = "";
                                        $.each(pics,function (i,v) {
                                            pic +="<li><img class='img-rounded img-thumbnail img-responsive' src='/CloudPlatform/pic?path="+v+"' alt=\"生物云平台\"><li>"
                                            html += "<li><a href='/CloudPlatform/SoftTool/download?path="+data.path+"&name=" + v.substring(v.lastIndexOf("\\")+1,v.length) + "' target='_blank'>" + v.substring(v.lastIndexOf("\\")+1,v.length) + "</a></li>"
                                        });
                                        $("#filesUrl").html(html);
                                        $("#pics").html(pic);
                                    }
                                })

                                $("#result_tab1").show();
                                $("#result_tab1").addClass("active")
                                $("#out_tab1").removeClass("active")
                                $("#ins_tab1").removeClass("active")
                                $("#result1").addClass("active").addClass("in")
                                $("#form1").removeClass("active");
                                $("#instruction1").removeClass("active");
                            }
                        }
                    });
                }
            }



            $(function () {
                $("#addfile").click(function () {
                    if (textnum > 2) {
                        var msg = new $.zui.Messager('不能超过最大表格数', {
                            placement: 'top',
                            time: '2000',
                            icon: 'bell',
                            type: 'warning'
                        });
                        msg.show();
                    } else {
                        $clonedcopy = $("#div" + textnum).clone().attr("id", "div" + (parseFloat(textnum) + 1));
                        $("#myform").append($clonedcopy);
                        $("#div" + (parseFloat(textnum) + 1)).find("label").text("输入源文件 " + (parseFloat(textnum) + 1) + "：")
                                .parent().next().find("input[type='text']").attr("id", "filepath" + (parseFloat(textnum) + 1)).attr("name", "text" + (parseFloat(textnum) + 1))
                                .next("img").attr("id", "tempimg" + (parseFloat(textnum) + 1))
                                .next("input[type='file']").attr("id", "hideinput" + (parseFloat(textnum) + 1)).attr("name", "table" + (parseFloat(textnum) + 1))
                                .parent().parent().parent().find(".form-group-extra").find(".choosebutton").attr("data-id", (parseFloat(textnum) + 1))
                                .next("input[type='text']").attr("value", "group" + (parseFloat(textnum) + 1)).attr("name", "name" + (parseFloat(textnum) + 1));
                        $("#filepath" + (parseFloat(textnum) + 1)).val('');
                        textnum++;
                    }
                    $("#colornum").text(textnum);
                });
                $("#delfile").click(function () {
                    if (textnum < 2) {
                        var msg = new $.zui.Messager('不可以再删减了', {
                            placement: 'top',
                            time: '20000000',
                            icon: 'bell',
                            type: 'warning'
                        });
                        msg.show();
                    } else {
                        $("#div" + textnum).remove();
                        textnum--;
                        $("#colornum").text(textnum);
                    }
                });
            });











    </script>


}