@(abbre:String)(implicit session: Session)
@home.main("Boxplot"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>


    <style>
            .messager.top {
                top: 20px;
                height: auto;
            }
            .messager-content {
                text-align: center;
                float: left;
                height: 31px;
                display: inline-flex;
                padding: 9px 0 0 0;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="  mysoft-content-left  whitebox" style="width: 590px;">
            <form id="Boxplot" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic Boxplot"></div>
                <h3 class="tools-title">箱线图（Boxplot）</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="Box">
                    </div>
                </div>

                <br><br>
                <div id="myform">
                    <div id="div1" class="one-line">
                        <div class="form-group-p">
                            <div class="form-group">
                                <label for="filepath1">上传文件：</label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table1" name="table1" onchange="checkTable()">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em>
                                <a href='/assets/files/Boxplot.txt' target='_blank' style="margin-left: 20px;">示例文件</a>
@*                                <a href='/CloudPlatform/SoftTool/downloadExamples?name=Boxplot.txt' target='_blank' style="margin-left: 20px;">示例文件</a>*@
                            </em>
                            <span class="must" style="margin-left: 10px">*</span>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
@*                <input type="button" value="增加表格" id="addfile" name="addfile" class="btn btn-primary newbutton">*@
@*                <input type="button" value="删除表格" id="delfile" name="delfile" class="btn btn-primary newbutton">*@
                <div class="form-group-p">
                    <div class="form-group">
                        <label>是否绘制数据点：</label>
                    </div>
                    <div class="form-group">
                        <select name="spot" style="width: 45%;">
                            <option value="FALSE">no</option>
                            <option value="TRUE">yes</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="">
                            Y 轴范围（选填）&nbsp;：</label>
                    </div>
                    <div class="form-group">
                        <label style="width:50px;">
                            <input type="text" name="ymin" class="form-control" placeholder="数字" value="" style="width: 60px">
                        </label>
                        <label>--</label> <label style="width:50px;">
                        <input type="text" name="ymax" class="form-control" placeholder="数字" value="" onblur="ylim();" style="width: 60px">
                    </label>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="boxplot()">
            </form>
        </div>
        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 460px;">
            <ul class="nav nav-tabs">
                <li class="active" id="ins_tab1">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="out_tab1">
                    <a href="###" data-target="#example" data-toggle="tab">教学视频</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="instruction">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>1.背景介绍</strong></span><br>
                        箱线图是利用数据中的五个统计量：最小值、第一四分位数、中位数、第三四分位数与最大值来描述数据的一种方法，它也可以粗略地看出数据是否具有有对称性，分布的分散程度等信息，可以用于对几个样本的比较。
                        <br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.操作方法</strong></span>
                    </p>
                    <img src="/assets/images/softpic/instruction/box1.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%">
                        操作界面
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.1.输入文件</strong></span><br>
                        输入文件必须是以tab键分割的txt文件，示例文件如下：
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/box2.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.2.设置参数</strong></span><br>
                        上传文件后，选择绘图参数，可选参数包括是否绘制数据点和设定y轴的范围，设定好参数后，点击“提交”即可
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/box3.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.3.查看任务</strong></span><br>
                        提交任务后，点击界面右侧的“boxplot历史任务”模块，可以看到任务编号、提交时间、结束时间和状态。通过点击界面“我的任务”也可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/box4.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/box5.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>3.示例图片</strong></span><br>
                        生成的图片根据设置的参数不同会出现差异，示例图片如下，参数选择绘制数据点，y轴范围为1-100。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/box6.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>4.结果文件</strong></span><br>
                        结果文件仅包含生成的箱线图pdf格式文件，但是该图可以通过以下参数进行在线调整。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/box7.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                </div>
                <div class="tab-pane fade" id="example">
                    <div id="dplayer"></div>
                </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh('@abbre')">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_time"><span>任务编号</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("Boxplot","BOX");
                loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgjp_K_QUorqPq9gU.mp4","/assets/images/softpic/video/box_video.png")
            });

            var flagtable=true;
            var lock = true;

            function checkTable() {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table1').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        sample=line[0].trim().split('\t');
                        var length=sample.length;
                        if(length>11){
                            flagtable=flagtable&&false;
                            swal({
                                title: "文件格式错误",
                                text: "数据列不可大于10，最多绘制10个盒子！",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            resolve(false);
                        }
                        for(let i in line){
                            let row=line[i].trim().split('\t');
                            var name=[];
                            var r=parseInt(i)+1;
                            if(row.length!=length){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "矩阵文件格式错误",
                                    text: "矩阵文件第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                            for(let j in row){
                                var c = parseInt(j) + 1;
                                if(i!=0) {
                                    //这里稍后去掉j!=0
                                    if (!checkRate(row[j].trim())) {
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "矩阵文件格式错误",
                                            text: "矩阵文件第" + r + "行,第" + c + "列数据不是数字",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }
                                }else {
                                    if(name.indexOf(row[j])>=0){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "矩阵文件错误",
                                            text: "矩阵文件第1行,第"+c+"列样品名重复存在，请核实！",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }else name.push(row[j]);
                                }
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            function boxplot() {
                if(lock) {
                    lock = false;
                    var form = $("#Boxplot");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        flagtable=true;
                        var check=[];
                        check.push(checkTable());
                        Promise.all(check).then((r)=>{
                            if(flagtable&&checktaskname()) {
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#Boxplot")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runBoxplot",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory("@abbre");
                                            $("#his_tab1").addClass("active");
                                            $("#out_tab1").removeClass("active");
                                            $("#ins_tab1").removeClass("active");
                                            $("#history").addClass("active").addClass("in");
                                            $("#example").removeClass("active");
                                            $("#instruction").removeClass("active");
                                            getTaskName("Boxplot","BOX");
                                        }
                                    });
                                }, 2000);
                            }
                        });
                    }
                    lock = true;
                }
            }

            function formValidation() {
                $('#Boxplot').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        taskname: {
                            validators: {
                                notEmpty: {
                                    message: '任务编号不能为空!'
                                },
                                remote:{
                                    type: 'POST',
                                    url: '@routes.DutyController.checktaskname()',
                                    message: "任务编号重复，请重新输入",
                                    // delay: 1000
                                }
                            }
                        },
                        table1: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传矩阵表格文件!'
                                },
                                file: {
                                    // extension: 'jpeg,jpg,png',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        ymin: {
                            validators: {
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        ymax: {
                            validators: {
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        }
                    }
                });
            }

            function ylim() {
                var ymin = $.trim($("input[name=ymin]").val());
                var ymax = $.trim($("input[name=ymax]").val());
                if (ymin != '' && ymax != '') {
                    if (parseFloat(ymin) > parseFloat(ymax)) {
                        alert('Y轴范围应该从小到大');
                        $("input[name=ymin]").val('');
                        $("input[name=ymax]").val('');
                        return false;
                    }
                }
                return true;
            }

    </script>


}