@(abbre:String)(implicit session: Session)
@home.main("Bubble"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <div class="col-md-12 mysoft-content" style="width: 98%;">
        <div class="mysoft-content-left whitebox" style="width: 771px;overflow-y: auto">
            <form id="BB" method="GET" novalidate="novalidate" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"></div>
                <h3 class="tools-title">气泡图</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload3("1：", "div1", "上传文件：","table1","bubble.txt","bubble.Go.enrich.xls","bubble.Ko.enrich.xls","示例文件(标准)","示例文件(GO)","示例文件(KEGG)")<br>
                @units.selector("2：","","文件类型：","filetype")
                @units.textinput("3：","","用于做图的行数：", "top","数字","30")<br><br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="runBB()" style="margin-bottom: 20px">
            </form>
        </div>
        @units.pageRight("", "视频录制中...敬请期待！","BB")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $("#table1").change(function () {
                checkTable();
            });

            $(document).ready(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("BB","BB");
                $("#instruction").append(instruction);
                var filetypename = ["标准格式","GO文件","KEGG文件"];
                var filetype = ["standard","go","kegg"];
                creatSelector("filetype", filetypename, filetype, "标准格式");
                // loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgts3S_QUo_uGeyAc.mp4","/assets/images/softpic/video/heatmap_video.png")
            });

            var lock = true;

            function runBB(formId) {
                if(lock) {
                    lock = false;
                    var form = $("#BB");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        flagtable=true;
                        var check=[];
                        check.push(checkTable());
                        Promise.all(check).then((r)=>{
                            if(flagtable && checktaskname()) {
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#BB")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runBubble",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory("@abbre");
                                            $("#his_tab1").addClass("active");
                                            $("#out_tab1").removeClass("active");
                                            $("#ins_tab1").removeClass("active");
                                            $("#history").addClass("active").addClass("in");
                                            $("#example").removeClass("active");
                                            $("#instruction").removeClass("active");
                                            getTaskName("BB","BB");
                                        }
                                    });
                                }, 2000);
                            }
                        });
                    }
                    lock = true;
                }
            }

            var flagtable=true;

            function checkTable() {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table1').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        var sample=line[0].trim().split('\t');
                        var length=sample.length;
                        if(line.length<=parseInt($("#top").val())){
                            flagtable=flagtable&&false;
                            swal({
                                title: "文件错误",
                                text: "输入文件去除header，总数据量 < 用于做图的行！请核实",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            resolve(false);
                        }
                        for(let i in line){
                            var r=parseInt(i)+1;
                            let row=line[i].trim().split('\t');
                            var name=[];
                            if(row.length!=length){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "文件错误",
                                    text: "文件第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            function formValidation() {
                let field = {};
                let table = ["table1"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let number = ["top"];
                FieldNumber(field, number);
                let excluded = [":hidden"];
                addFormValidation("BB", field, excluded)
            }

        var instruction = "<p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                        <span style=\"font-weight:700;\"><strong>1.背景介绍</strong></span><br>\n" +
                "                        气泡图通常用于多维数据的展示，例如将差异基因注释通路的富集情况进行可视化展示等。<br>\n" +
                "                    </p>\n" +
                "                    <br>\n" +
                "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                        <span style=\"font-weight:700;\"><strong>2.操作方法</strong></span><br>\n" +
                "                    </p>\n" +
                "                    <img src=\"/assets/images/softpic/instruction/bb1.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%\">操作界面</p>\n" +
                "                    <br>\n" +
                "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                        <span style=\"font-weight:700;\"><strong>2.1.上传文件</strong></span><br>\n" +
                "                        气泡图需要使用的文件是table键分隔的txt格式GO/KEGG富集文件，以GO富集为例，第一列为GO term名称，第二列为GO大类（BP、MF和CC），第三列为富集到该term的基因数，示例文件如下：\n" +
                "                        <br>\n" +
                "                    </p>\n" +
                "                    <img src=\"/assets/images/softpic/instruction/bb2.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                    <br>\n" +
                "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                        上传文件并选择参数后，点击“提交”按键，即可开始分析<br>\n" +
                "                    </p>\n" +
                "                    <br>\n" +
                "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                        <span style=\"font-weight:700;\"><strong>2.2.查看任务</strong></span><br>\n" +
                "                        提交任务后，点击界面右侧的“历史任务”模块，或者点击界面“我的任务”，都可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。\n" +
                "                        <br>\n" +
                "                    </p>\n" +
                "                    <img src=\"/assets/images/softpic/instruction/bb3.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                    <br>\n" +
                "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                        在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。<br>\n" +
                "                    </p>\n" +
                "                    <img src=\"/assets/images/softpic/instruction/bb4.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                    <br>\n" +
                "                    <br>\n" +
                "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                        <span style=\"font-weight:700;\"><strong>3.示例图片</strong></span><br>\n" +
                "                        通过数据布局参数、颜色参数和字体参数三个模块在线调整图片。<br>\n" +
                "                        (1) 数据布局参数包括：图片清晰度和图片宽高；<br>\n" +
                "                        (2) 颜色参数部分可以自主选择配色；<br>\n" +
                "                        (3) 字体参数：字体大小、旋转角度、标题内容及大小；<br>\n" +
                "                    </p>\n" +
                "                    <img src=\"/assets/images/softpic/instruction/bb5.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                    <br>\n" +
                "                    <br>\n" +
                "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                        <span style=\"font-weight:700;\"><strong>4.结果文件</strong></span><br>\n" +
                "                        结果文件仅包含绘制的气泡图pdf格式文件，气泡代表丰度大小。<br>\n" +
                "                    </p>\n" +
                "                    <img src=\"/assets/images/softpic/instruction/bb6.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                    <br>";


    </script>

}