@(abbre:String,sname:String)(implicit session: Session)
@home.main("CCA/RDA"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />

    <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            [class^=icon-], [class*=" icon-"] {
                font-family: ZenIcon;
                font-size: 14px!important;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                line-height: 1;
                text-transform: none;
                speak: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                width: auto;
                height: auto;
                display: contents;
            }
            .evo-pointer {
                margin-top: 0px;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%;">
        <div class=" mysoft-content-left whitebox" style="width: 771px;overflow-y: auto">
            <form id="CCA" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"> </div>
                <h3 class="tools-title">@sname</h3>
                <br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="cca">
                    </div>
                </div>
                <br><br>
                <div>
                    <div id="mydiv1" class="one-line">
                        <div class="form-group-p" style="width: 500px">
                            <div class="form-group">
                                <label for="exampleInputName0"><em>1：</em>OTU丰度表：</label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table1" name="table1" onchange="checkTable()">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/CloudPlatform/SoftTool/downloadExamples?name=CCA_otu.txt">示例文件</a></em>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div id="mydiv0" class="one-line">
                        <div class="form-group-p" style="width: 500px">
                            <div class="form-group">
                                <label for="exampleInputName0">
                                    <em>2：</em>环境因子列表文件：
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table2" name="table2" onchange="checkEvi()">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/CloudPlatform/SoftTool/downloadExamples?name=CCA_env.txt">示例文件</a></em>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                    <!-- 参数 -->
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="qushi">
                            <em>3：</em>分析类型：
                        </label>
                    </div>
                    <div class="form-group">
                        <select name="anatype" id="anatype">
                            <option value="RDA">RDA</option>
                            <option value="CCA">CCA</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <label for="exampleInputName2">
                    <em>4：</em>选填：
                </label>
                <br><br>
                <div id="groupfile" class="one-line">
                    <div class="form-group-p">
                        <div class="form-group">
                            <input type="checkbox" name="isgroup" value="A" id="isgroup" class="form-control" style="height: 13px;width: auto;float: left;margin-top: 3px;">&nbsp;&nbsp;
                        </div>
                        <span class="pointer" >是否分组绘图</span>
                    </div>
                    <br>
                    <div id="group" style="display: none;">
                        <div class="form-group-p" style="width: 500px">
                            <div class="form-group">
                                <label for="exampleInputName0">
                                    分组文件(选填)：
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table3" name="table3" onchange="checkGroupfile()">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/CloudPlatform/SoftTool/downloadExamples?name=CCA_group.txt">示例文件</a></em>
                        </div>
                        <br>
                        <br>
                    </div>
                    <br>
                    <br>
                </div>

                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="cca()">
            </form>
        </div>

        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 305px;">

            <ul class="nav nav-tabs">
                <li class="active" id="out_tab1">
                    <a href="###" data-target="#example" data-toggle="tab">示例结果</a>
                </li>
                <li class="" id="ins_tab1">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">CCA/RDA历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="example">
                    <h5>结果输出：</h5>
                    <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/CCA1-2.nonlabs.png" alt="生物云平台">
                    <br>
                    <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/CCA1-2.png" alt="生物云平台">
                </div>
                <div class="tab-pane fade" id="instruction">
                    <p>
                        <strong>功能：</strong>
                        <br>
                        利用CCA/RDA分析环境因子对群落分布影响							</p>
                    <br>
                    <p>
                        <strong>输入：</strong>
                        <br>
                        1. 输入文件：
                        <br>
                        （1）带物种注释的OTU丰度表（必须）								<br>
                        （2）各样本的环境因子表格，要求环境因子数目不超过样本数（必须）								<br>
                        （3）如果有分组信息，请输入样本分组信息表。单样本最多支持两种分组信息，如A样本同时属于病人分组，也属于成年人分组。（非必需）								<br>
                        （4）
                        <font style="color:red">所有表格格式为tab-delimited所保存的txt格式。</font>
                        <br>
                    </p>
                    <br>
                    <h3>参数：</h3>
                    <p>
                    </p>
                    <br>
                    <p>
                        <strong>分析类型：</strong>
                    </p>
                    <p>可以选择CCA分析 或者 RDA分析</p>
                    <br>
                    <p>
                        <strong>是否显示物种名称：</strong>
                    </p>
                    <p>默认显示样本名称</p>
                    <br>
                    <p>
                        <strong>前几物种展示：</strong>
                    </p>
                    <p>默认该分类水平下丰度在前10的微生物作图</p>
                    <br>
                    <p>
                        <strong>图形名称：</strong>
                    </p>
                    <p>设定图形标题名称,暂不支持中文</p>
                    <br>
                    <p>
                        <strong>点的大小：</strong>
                    </p>
                    <p>图形点大小控制，默认为3，值越大点越大</p>
                    <br>
                    <p>
                        <strong>点透明度：</strong>
                    </p>
                    <p>图形点透明度控制，默认为0.7,可以填0-1的值</p>
                    <br>

                    <p>
                        <strong>自定义分组颜色(颜色的个数要和分组个数相等)</strong>
                    </p>
                    <p>设定分组颜色，所选择颜色数目应与分组数目一致 </p>
                    <br>
                    <p></p>
                    <p>
                        <strong>输出：</strong>
                        <br>
                        1)
                        <strong>样本坐标表：</strong>
                        记录了样本在各个维度上的位置								<br>
                        2)
                        <strong>物种坐标表：</strong>
                        记录了物种在各个维度上的位置								<br>
                        3)
                        <strong>环境因子坐标：</strong>
                        记录了环境因子在各个维度上的位置								<br>
                    </p><p>
                        <!-- 如果length of gradient中梯度最大的值（第一个数值）大于4，则推荐选择CCA分析；如果在3.0-4.0之间，可选择RDA和CCA分析；如果小于3.0, 则推荐RDA分析。 -->
                </p>
                    4)
                    <strong>环境因子相关性表：</strong>
                    前两列表示环境因子箭头与排序轴夹角余弦值，表示环境因素与排序轴相关性。							<br>
                    <p>
                            <!-- <strong>前两列表：</strong>表示环境因子箭头与排序轴夹角余弦值，表示环境因素与排序轴相关性。R值表示环境因子对物种分布的影响值，值越大，影响越大。 -->
                    </p>
                    5)
                    <strong>CCA/RDA结果图</strong>
                    <br>
                    <p>
                        CCA1-2.nonlabs.png/pdf: A CCA/RDA plot without sample names
                        <br>
                        CCA1-2.png/pdf: A CCA/RDA plot with sample names
                    </p>
                    <p>
                            <!-- <img class="img-rounded img-thumbnail img-responsive" src="/tools/Public/help/ccaout.png" alt="生物云平台">。 -->
                    </p>
                    <p></p>
                </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh('@abbre')">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_name"><span>任务编号</span></div>
                            <div class="his_time"><span>提交时间</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(document).ready(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("CCA","CCA");
            });

            $("#isgroup").click(function () {
                var isSelected = this.checked;
                if (isSelected === true) {
                    $("#group").show();
                } else {
                    $("#group").hide();
                }
            });

        function cca() {
                var form = $("#CCA");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    var bool=false;
                    checkTable();
                    checkEvi();
                    if($("#isgroup").prop("checked")){
                        if($("#table3").val()==""){
                            swal({
                                title: "请上传分组文件",
                                text: "请上传或输入分组，或取消分组绘图！",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return;
                        }else{
                            checkGroupfile();
                            bool=flagtable&&flagevi&&flaggroupfile;
                        }
                    } else {
                        bool=flagtable&&flagevi;
                    }
                    if(bool&&checktaskname()) {
                        var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                        var index = layer.alert(element, {
                            skin: 'layui-layer-lan',
                            closeBtn: 0,
                            title: "提醒",
                            btn: []
                        });
                        setTimeout(function () {
                            layer.close(index);
                            var form1 = new FormData($("#CCA")[0]);
                            $.ajax({
                                url: "/CloudPlatform/SoftTool/runCCA?isgroup=" + $("#isgroup").prop("checked"),
                                type: "post",
                                processData: false,
                                contentType: false,
                                data: form1,
                                success: function (data) {
                                    removeul();
                                    loadHistory("@abbre");
                                    $("#his_tab1").addClass("active");
                                    $("#out_tab1").removeClass("active");
                                    $("#ins_tab1").removeClass("active");
                                    $("#history").addClass("active").addClass("in");
                                    $("#example").removeClass("active");
                                    $("#instruction1").removeClass("active");
                                    getTaskName("CCA","CCA");
                                }
                            });
                        }, 2000);
                    }
                }

        }

            var sample;
            var flaggroupfile=true;
            var flagtable=true;
            var flagevi=true;
            var colornum=1;

            function checkTable() {
                var reader=new FileReader();
                reader.readAsText(document.getElementById('table1').files[0],"UTF-8");
                reader.onload=function () {
                    let text=reader.result;
                    let line=text.trim().split('\n');
                    sample=line[0].trim().split('\t');
                    var length=sample.length;
                    for(let i in line){
                        var r=parseInt(i)+1;
                        let row=line[i].trim().split('\t');
                        var name=[];
                        if(row.length!=length){
                            flagtable=false;
                            swal({
                                title: "OTU丰度表错误",
                                text: "OTU丰度表第"+r+"行数据数量不一致",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }
                        for(let j in row){
                            var c=parseInt(j)+1;
                            if(i!=0){
                                if(j!=0 && !checkRate(row[j].trim())){
                                    flagtable=false;
                                    swal({
                                        title: "OTU丰度表错误",
                                        text: "OTU丰度表第"+r+"行,第"+c+"列数据不是数字",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return false;
                                }
                            }else {
                                if(name.indexOf(row[j])>=0){
                                    flagtable=false;
                                    swal({
                                        title: "OTU丰度表错误",
                                        text: "OTU丰度表第1行,第"+c+"列样品名重复存在，请核实！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return false;
                                }else name.push(row[j]);
                            }
                        }
                    }
                    flagtable=true;
                    return true;
                };
            }
            
            function checkEvi() {
                var reader=new FileReader();
                reader.readAsText(document.getElementById('table2').files[0],"UTF-8");
                reader.onload=function () {
                    let text=reader.result;
                    let line=text.trim().split('\n');
                    var length=line[0].trim().split('\t').length;
                    if(sample.length!=line.length){
                        var on=parseInt(sample.length)-1;
                        var en=parseInt(line.length)-1;
                        flagevi=false;
                        swal({
                            title: "环境因子列表错误",
                            text: "环境因子列表样本数量与OTU分度表不一致，OUT分度表样本数量"+on+"，环境列表样本数量"+en,
                            type: "warning",
                            confirmButtonText: "确认"
                        });
                        return false;
                    }
                    var name=[];
                    for(let i in line){
                        var r=parseInt(i)+1;
                        let row=line[i].trim().split('\t');
                        if(row.length!=length){
                            flagevi=false;
                            swal({
                                title: "环境因子列表错误",
                                text: "环境因子列表第"+r+"行数据数量不一致！",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }
                        if(i!=0&&sample.indexOf(row[0])<0){
                            flagevi=false;
                            swal({
                                title: "环境因子列表错误",
                                text: "环境因子列表第"+r+"行样品名不存在,请核对OTU文件！",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }
                        if(name.indexOf(row[0])>=0){
                            flagevi=false;
                            swal({
                                title: "环境因子列表错误",
                                text: "环境因子列表第"+r+"行样品名重复存在",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }else name.push(row[0]);
                        for(let j in row){
                            var c=parseInt(j)+1;
                            if(i!=0) {
                                if (j != 0 && !checkRate(row[j].trim())) {
                                    flagevi = false;
                                    swal({
                                        title: "环境因子列表错误",
                                        text: "环境因子列表第" + r + "行,第" + c + "列数据不是数字",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return false;
                                }
                            }
                        }
                    }
                    flagevi=true;
                    return true;
                };
            }

            function checkGroupfile() {
                if($("#table3").val()!=""){
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table3').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        var name=[];
                        for(let i in line) {
                            if(i!=0){
                                let row=line[i].trim().split('\t');
                                var r=parseInt(i)+1;
                                if(row.length!=2){
                                    flaggroupfile=false;
                                    swal({
                                        title: "分组文件格式错误",
                                        text: "分组文件第"+r+"行格式错误，必须为两列！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return;
                                }
                                if(sample.indexOf(row[0])<0){
                                    flaggroupfile=false;
                                    swal({
                                        title: "分组文件格式错误",
                                        text: "分组文件第"+r+"行样品名不存在，请核对OTU文件！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return;
                                }
                                if(name.indexOf(row[0])>=0){
                                    flaggroupfile=false;
                                    swal({
                                        title: "分组文件错误",
                                        text: "分组文件第"+r+"行样品名重复存在，请核实！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return;
                                }else name.push(row[0]);
                            }
                        }
                        flaggroupfile=true;
                    };
                }else flaggroupfile=true;
            }

            function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            function formValidation() {
                $('#CCA').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        taskname: {
                            validators: {
                                notEmpty: {
                                    message: '任务编号不能为空!'
                                },
                                remote:{
                                    type: 'POST',
                                    url: '@routes.DutyController.checktaskname()',
                                    message: "任务编号重复，请重新输入",
                                    delay: 1000
                                }
                            }
                        },
                        table1: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传OTU丰度表!'
                                },
                                file: {
                                    // extension: 'txt',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件格式必须为txt，且不得大于5M！'
                                }
                            }
                        },
                        table2: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传环境因子列表文件!'
                                },
                                file: {
                                    // extension: 'jpeg,jpg,png',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        }
                    }
                });
                $('#passwordForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入新密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password2: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password1',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
            }

    </script>
}