@(abbre:String)(implicit session: Session)
@home.main("Circos"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />

        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .messager.top {
                top: 20px;
                height: auto;
            }
            .messager-content {
                text-align: center;
                float: left;
                height: 31px;
                display: inline-flex;
                padding: 9px 0 0 0;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="  mysoft-content-left  whitebox" style="width: 590px;overflow-y: auto;">
            <form id="CIR" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"></div>
                <h3 class="tools-title">Circos圈图</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload2("1：","","基因组结构文件：","fttable","cir_len1.txt","cir_len2.txt")<br>
                @units.checkbox("2： ","","上传基因组或者基因之间共线性关系","line")<br>
                @units.fileupload("","line-part","上传共线性关系：","cdtable","cir_colinear1.txt")<br>
                @units.checkbox("3： ","","上传基因或者基因组窗口","ot")<br>
                <div id="ot-part" style="display: none">
                    <div style="padding: 20px 0px 20px 20px; border: 1px solid lightgray; border-radius: 5px;">
                        <div id="myform">
                            @units.fileupload2("","file1","基因组窗口 1：","table1","cir_da1.txt","cir_da1_2.txt")
                        </div>
                        <div class="one-line" style="margin-top: 15px;">
                            <input type="button" value="增加表格" class="btn btn-primary" onclick="addFile()">
                            <input type="button" value="减少表格" class="btn btn-primary" onclick="delFile()">
                        </div>
                    </div>
                    <br>
                    @units.selector("","","是否绘制基因组窗口详细信息：","sl")<br>
                </div>
                <br>
                <br>
                @units.textinput("","div_filenum","","filenum","","")
                @units.textinput("","div_l","","l","","")
                @units.textinput("","div_o","","o","","")
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="doCircos()">
                <br>
                <br>
            </form>
        </div>
        @units.pageRight("", "视频录制中...敬请期待！","CIR")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $("#fttable").change(function () {
                checkTable('fttable','基因组结构文件');
            });

            $("#cdtable").change(function () {
                checkTable('cdtable','共线性关系文件');
            });

            $("#table1").change(function () {
                checkTable('table1','基因组窗口 1 文件');
            });

            $(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("CIR","CIR");
                $("#line-part").hide();
                $("#div_filenum").hide();
                $("#div_l").hide();
                $("#div_o").hide();
                $("#instruction").append(instruction);
                var tf = ["TRUE","FALSE"];
                var tfname = ["yes","no"];
                creatSelector("sl",tfname,tf,"no");
            });

            const fileValidators = {
                validators: {
                    notEmpty: {
                        message: '必须上传文件！或减少表格数量，或取消绘制内圈！'
                    },
                    file: {
                        // extension: 'jpeg,jpg,png',
                        // type: 'image/jpeg,image/png',
                        maxSize: 5*1024*1024,
                        message: '文件不得大于5M！'
                    }
                }
            };

            $("#line").click(function () {
                var isSelected = this.checked;
                if (isSelected === true) {
                    $("#line-part").show();
                } else {
                    $("#line-part").hide();
                }
            });

            $("#ot").click(function () {
                var isSelected = this.checked;
                if (isSelected === true) {
                    $("#ot-part").show();
                } else {
                    $("#ot-part").hide();
                }
            });

            var filenum=1;

            function addFile() {
                if(filenum==4){
                    swal({
                        title: "添加失败",
                        text: "添加失败，最大数量为4个！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                }else{
                    filenum=filenum+1;
                    var files = "<div id=\"file"+filenum+"\" class=\"one-line\" style=\"margin-top: 15px;\">\n" +
                            "                        <div class=\"form-group-p\" style='width: 450px'>\n" +
                            "                            <div class=\"form-group\">\n" +
                            "                                <label for=\"filepath1\">基因组窗口 "+filenum+"：</label>\n" +
                            "                            </div>\n" +
                            "                            <div class=\"form-group\">\n" +
                            "                                <input type=\"file\" class=\"form-control file\" id=\"table"+filenum+"\" name=\"table"+filenum+"\" onchange=\"checkTable('table"+filenum+"','基因组窗口 "+filenum+" 文件')\">\n" +
                            "                            </div>\n" +
                            "                        </div>\n" +
                            "                    </div>";
                    var files2 =
                    $("#myform").append(files);
                    $(".file").fileinput({
                        showPreview: false,
                        showUpload:false,
                        showRemove:true,
                        browseLabel: "选择文件"
                    });
                    $("#CIR").formValidation('addField',"table"+filenum, fileValidators);
                }
            }

            function delFile() {
                if(filenum==1){
                    swal({
                        title: "删除失败",
                        text: "删除失败，最小数量为1个！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                }else{
                    $("#file"+filenum).remove();
                    filenum=filenum-1;
                    $("#CIR").formValidation('removeField','table'+filenum);
                }
            }

            var sample,tablesflag=true;
            var lock = true;

            function checkTable(name,typename) {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById(name).files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        sample=line[0].trim().split('\t');
                        var length=sample.length;
                        for(let i in line){
                            let row=line[i].trim().split('\t');
                            var r=parseInt(i)+1;
                            if(row.length!=length){
                                tablesflag=tablesflag&&false;
                                swal({
                                    title: typename+"格式错误",
                                    text: typename+"第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                        }
                        tablesflag=tablesflag&&true;
                        resolve(true);
                    };
                });
            }

            function doCircos() {
                if(lock) {
                    lock = false;
                    var form = $("#CIR");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        if($("#line").prop("checked")) $("#l").val("TRUE");
                        else $("#l").val("FALSE");
                        if($("#ot").prop("checked")) $("#o").val("TRUE");
                        else $("#o").val("FALSE");
                        $("#filenum").val(filenum);
                        tablesflag=true;
                        var check=[];
                        check.push(checkTable("fttable","基因组结构文件"));
                        if($("#line").prop("checked")) check.push(checkTable("cdtable","共线性关系文件"));
                        if($("#ot").prop("checked")) {
                            for(let i=1;i<=filenum;i++) check.push(checkTable("table"+i,"基因组窗口"+i));
                        }
                        Promise.all(check).then((r)=>{
                            if(tablesflag && checktaskname()){
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#CIR")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runSoft?abbre=@abbre&sname=Circos圈图",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory("@abbre");
                                            switchRunningTab();
                                            getTaskName("CIR","CIR");
                                        }
                                    });
                                }, 2000);
                            }
                        });

                    }
                    lock = true;
                }
            }

            function formValidation() {
                let field = {};
                let table = ["fttable", "cdtable"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let number = ["mt"];
                FieldNumber(field, number);
                let excluded = [":hidden"];
                field["table1"] = fileValidators;
                addFormValidation("CIR", field, excluded)
            }


            var instruction = "<p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>1.背景介绍</strong></span><br>\n" +
                    "                        Circos图用途非常广泛，可以用于表征大多数类型的数据，包括把我们常见的散点图、折线图等都可以整合到Circos图中，尤其适合用来描述生物信息学和基因组学的数据。\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.操作方法</strong></span><br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/cir1.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%\">操作界面</p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.1.基因组结构文件</strong></span><br>\n" +
                    "                        基因组结构文件必须包含表头，第一列为Chr/Scaffold/Contig ID，第二列为该Chr/ Scaffold/Contig的长度，第三列为该条Chr/Scaffold/Contig在图中展示的颜色。需要注意的是：\n" +
                    "                        <span style=\"font-weight:700;\"><strong>文件前两列是必须的</strong></span>\n" +
                    "                        ，表头也必须为Chr和length，如有第三列，表头为color，否则软件不能识别。\n" +
                    "                        <br>\n" +
                    "                        老师可以根据公司提供的基因组统计结果，另存为以tab键分隔的.txt文件，示例文件如下：\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/cir2.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.2.上传基因组或基因间共线性关系</strong></span><br>\n" +
                    "                        如需绘制基因组或基因间的共线性关系，需要手动上传共线性关系文件，共线性关系文件第一列至第七列分别为：Chr/Scaffold/Contig ID、该Chr/Scaffold/Contig共线性起始位置、该Chr/Scaffold/Contig共线性终止位置、与之有共线性关系的Chr/Scaffold/Contig ID、对应Chr/Scaffold/Contig共线性起始位置、对应Chr/Scaffold/Contig ID共线性终止位置、共线性线条颜色，示例文件如下：\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/cir3.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.3.上传基因或基因组窗口</strong></span><br>\n" +
                    "                        如需绘制基因或基因组窗口，需要上传对应的窗口文件，窗口文件支持两种格式：<br>\n" +
                    "                        (1) 第一列至第六列分别为：Chr/Scaffold/Contig ID、起始位置、终止位置、窗口数量、类型、颜色；<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/cir4.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        (2) 第一列为Chr/Scaffold/Contig ID，第二列为起始位置，第三列为终止位置，第四列为窗口数；<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/cir5.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        是否绘制基因组窗口详细信息：yes或no<br>\n" +
                    "                        上传文件并选择参数后，点击“提交”按键，即可开始分析<br>\n" +
                    "                    </p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.4.查看任务</strong></span><br>\n" +
                    "                        提交任务后，点击界面右侧的“历史任务”模块，或者点击界面“我的任务”，都可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/cir6.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/cir7.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>3.示例图片</strong></span><br>\n" +
                    "                        通过数据布局参数、颜色参数和字体参数三个模块在线调整图片。<br>\n" +
                    "                        (1) 数据布局参数包括：染色体间距、线圈样式、是否显示圈对应的文件名、是否显示基因组窗口信息、显示基因组窗口方式、是否绘制高亮区；<br>\n" +
                    "                        (2) 颜色参数部分可以自主选择配色；<br>\n" +
                    "                        (3) 字体参数：共线性连线距圆心距离、圈起始位置、染色体标签大小、基因组结构高度、刻度粗细和大小<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/cir8.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>4.结果文件</strong></span><br>\n" +
                    "                        结果文件仅包含绘制的circos图pdf格式文件。<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/cir9.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>";


    </script>


}