@(abbre:String)(implicit session: Session)
@home.main("Circos"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />

        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .messager.top {
                top: 20px;
                height: auto;
            }
            .messager-content {
                text-align: center;
                float: left;
                height: 31px;
                display: inline-flex;
                padding: 9px 0 0 0;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="  mysoft-content-left  whitebox" style="width: 590px;">
            <form id="CIR" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"></div>
                <h3 class="tools-title">Circos圈图</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="">
                    </div>
                </div>
                <br><br>
                <div class="one-line">
                    <div class="form-group-p">
                        <div class="form-group">
                            <label for="filepath1"><em>1： </em>基因组结构文件：</label>
                        </div>
                        <div id="group_part" class="form-group">
                            <input type="file" class="form-control file" id="fttable" name="fttable" onchange="checkTable('fttable','基因组结构文件')">
                        </div>
                    </div>
                    <div class="form-group-extra" style="margin-left: 10px">
                        <em>
                            <a href="/assets/files/cir_len1.txt" target='_blank'>示例文件1</a>
                        </em>
                        <em>
                            <a href="/assets/files/cir_len2.txt" target='_blank'>示例文件2</a>
                        </em>
                    </div>
                </div>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label style="float: left;"><em>2： </em>上传基因组或者基因之间共线性关系</label>
                        <input type="checkbox" name="line" id="line" class="form-control" style="height: 13px;width: auto;float: left;margin-top: 9px;margin-left: 5px">
                    </div>
                </div>
                <br>
                <div id="line-part" style="display: none">
                    <div class="form-group-p">
                        <div class="form-group">
                            <label for="filepath1">上传共线性关系：</label>
                        </div>
                        <div id="group_part" class="form-group">
                            <input type="file" class="form-control file" id="cdtable" name="cdtable" onchange="checkTable('cdtable','共线性关系文件')">
                        </div>
                    </div>
                    <div class="form-group-extra">
                        <em>
                            <a href="/assets/files/cir_colinear1.txt" target='_blank' style="margin-left: 20px;">示例文件</a>
                        </em>
                    </div>
                </div>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label style="float: left;"><em>3： </em>上传基因或者基因组窗口</label>
                        <input type="checkbox" name="ot" id="ot" class="form-control" style="height: 13px;width: auto;float: left;margin-top: 9px;margin-left: 5px">
                    </div>
                </div>
                <br>
                <div id="ot-part" style="display: none">
                    <div style="padding: 20px 0px 20px 20px; border: 1px solid lightgray; border-radius: 5px;">
                        <div id="myform">
                            <div id="file1" class="one-line">
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label for="filepath1">基因组窗口 1：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" class="form-control file" id="table1" name="table1" onchange="checkTable('table1','基因组窗口 1 文件')">
                                    </div>
                                </div>
                                <div class="form-group-extra" style="margin-left: 10px">
                                    <em>
                                        <a href="/assets/files/cir_da1.txt" target='_blank'>示例文件1</a>
                                    </em>
                                    <em>
                                        <a href="/assets/files/cir_da1_2.txt" target='_blank'>示例文件2</a>
                                    </em>
                                </div>
                            </div>
                        </div>
                        <div class="one-line" style="margin-top: 15px;">
                            <input type="button" value="增加表格" class="btn btn-primary" onclick="addFile()">
                            <input type="button" value="减少表格" class="btn btn-primary" onclick="delFile()">
                        </div>
                    </div>
                    <br>
                    <div class="form-group-p">
                        <div class="form-group">
                            <label for="qushi">是否绘制基因组窗口详细信息：</label>
                        </div>
                        <div class="form-group">
                            <select name="sl" id="sl">
                                <option value="TRUE">yes</option>
                                <option value="FALSE" selected>no</option>
                            </select>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="doCircos()">
            </form>
        </div>
        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 460px;">
            <ul class="nav nav-tabs">
                <li class="active" id="ins_tab1">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="out_tab1">
                    <a href="###" data-target="#example" data-toggle="tab">教学视频</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="instruction">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>1.背景介绍</strong></span><br>
                        Circos图用途非常广泛，可以用于表征大多数类型的数据，包括把我们常见的散点图、折线图等都可以整合到Circos图中，尤其适合用来描述生物信息学和基因组学的数据。
                        <br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.操作方法</strong></span><br>
                    </p>
                    <img src="/assets/images/softpic/instruction/cir1.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%">操作界面</p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.1.基因组结构文件</strong></span><br>
                        基因组结构文件必须包含表头，第一列为Chr/Scaffold/Contig ID，第二列为该Chr/ Scaffold/Contig的长度，第三列为该条Chr/Scaffold/Contig在图中展示的颜色。需要注意的是：
                        <span style="font-weight:700;"><strong>文件前两列是必须的</strong></span>
                        ，表头也必须为Chr和length，如有第三列，表头为color，否则软件不能识别。
                        <br>
                        老师可以根据公司提供的基因组统计结果，另存为以tab键分隔的.txt文件，示例文件如下：
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/cir2.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.2.上传基因组或基因间共线性关系</strong></span><br>
                        如需绘制基因组或基因间的共线性关系，需要手动上传共线性关系文件，共线性关系文件第一列至第七列分别为：Chr/Scaffold/Contig ID、该Chr/Scaffold/Contig共线性起始位置、该Chr/Scaffold/Contig共线性终止位置、与之有共线性关系的Chr/Scaffold/Contig ID、对应Chr/Scaffold/Contig共线性起始位置、对应Chr/Scaffold/Contig ID共线性终止位置、共线性线条颜色，示例文件如下：
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/cir3.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.3.上传基因或基因组窗口</strong></span><br>
                        如需绘制基因或基因组窗口，需要上传对应的窗口文件，窗口文件支持两种格式：<br>
                        (1) 第一列至第六列分别为：Chr/Scaffold/Contig ID、起始位置、终止位置、窗口数量、类型、颜色；<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/cir4.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        (2) 第一列为Chr/Scaffold/Contig ID，第二列为起始位置，第三列为终止位置，第四列为窗口数；<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/cir5.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        是否绘制基因组窗口详细信息：yes或no<br>
                        上传文件并选择参数后，点击“提交”按键，即可开始分析<br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.4.查看任务</strong></span><br>
                        提交任务后，点击界面右侧的“历史任务”模块，或者点击界面“我的任务”，都可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/cir6.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/cir7.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>3.示例图片</strong></span><br>
                        通过数据布局参数、颜色参数和字体参数三个模块在线调整图片。<br>
                        (1) 数据布局参数包括：染色体间距、线圈样式、是否显示圈对应的文件名、是否显示基因组窗口信息、显示基因组窗口方式、是否绘制高亮区；<br>
                        (2) 颜色参数部分可以自主选择配色；<br>
                        (3) 字体参数：共线性连线距圆心距离、圈起始位置、染色体标签大小、基因组结构高度、刻度粗细和大小<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/cir8.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>4.结果文件</strong></span><br>
                        结果文件仅包含绘制的circos图pdf格式文件。<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/cir9.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                </div>
                <div class="tab-pane fade" id="example">
                    <h5 style="margin-bottom: 2px">视频录制中...敬请期待！</h5>
                </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh('@abbre')">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_time"><span>任务编号</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("CIR","CIR");
            });

            const fileValidators = {
                validators: {
                    notEmpty: {
                        message: '必须上传文件！或减少表格数量，或取消绘制内圈！'
                    },
                    file: {
                        // extension: 'jpeg,jpg,png',
                        // type: 'image/jpeg,image/png',
                        maxSize: 5*1024*1024,
                        message: '文件不得大于5M！'
                    }
                }
            };

            $("#line").click(function () {
                var isSelected = this.checked;
                if (isSelected === true) {
                    $("#line-part").show();
                } else {
                    $("#line-part").hide();
                }
            });

            $("#ot").click(function () {
                var isSelected = this.checked;
                if (isSelected === true) {
                    $("#ot-part").show();
                } else {
                    $("#ot-part").hide();
                }
            });

            var filenum=1;

            function addFile() {
                if(filenum==4){
                    swal({
                        title: "添加失败",
                        text: "添加失败，最大数量为4个！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                }else{
                    filenum=filenum+1;
                    var files = "<div id=\"file"+filenum+"\" class=\"one-line\" style=\"margin-top: 15px;\">\n" +
                            "                        <div class=\"form-group-p\">\n" +
                            "                            <div class=\"form-group\">\n" +
                            "                                <label for=\"filepath1\">基因组窗口 "+filenum+"：</label>\n" +
                            "                            </div>\n" +
                            "                            <div class=\"form-group\">\n" +
                            "                                <input type=\"file\" class=\"form-control file\" id=\"table"+filenum+"\" name=\"table"+filenum+"\" onchange=\"checkTable('table"+filenum+"','基因组窗口 "+filenum+" 文件')\">\n" +
                            "                            </div>\n" +
                            "                        </div>\n" +
                            "                    </div>";
                    $("#myform").append(files);
                    $(".file").fileinput({
                        showPreview: false,
                        showUpload:false,
                        showRemove:true,
                        browseLabel: "选择文件"
                    });
                    $("#CIR").formValidation('addField',"table"+filenum, fileValidators);
                }
            }

            function delFile() {
                if(filenum==1){
                    swal({
                        title: "删除失败",
                        text: "删除失败，最小数量为1个！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                }else{
                    $("#file"+filenum).remove();
                    filenum=filenum-1;
                    $("#CIR").formValidation('removeField','table'+filenum);
                }
            }

            var sample,tablesflag=true;
            var lock = true;

            function checkTable(name,typename) {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById(name).files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        sample=line[0].trim().split('\t');
                        var length=sample.length;
                        for(let i in line){
                            let row=line[i].trim().split('\t');
                            var r=parseInt(i)+1;
                            if(row.length!=length){
                                tablesflag=tablesflag&&false;
                                swal({
                                    title: typename+"格式错误",
                                    text: typename+"第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                        }
                        tablesflag=tablesflag&&true;
                        resolve(true);
                    };
                });
            }

            function doCircos() {
                if(lock) {
                    lock = false;
                    var form = $("#CIR");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        tablesflag=true;
                        var check=[];
                        check.push(checkTable("fttable","基因组结构文件"));
                        if($("#line").prop("checked")) check.push(checkTable("cdtable","共线性关系文件"));
                        if($("#ot").prop("checked")) {
                            for(let i=1;i<=filenum;i++) check.push(checkTable("table"+i,"基因组窗口"+i));
                        }
                        Promise.all(check).then((r)=>{
                            if(tablesflag && checktaskname()){
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#CIR")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runCircos?filenum="+filenum+"&l="+$("#line").prop("checked")+"&o="+$("#ot").prop("checked"),
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory("@abbre");
                                            $("#his_tab1").addClass("active");
                                            $("#out_tab1").removeClass("active");
                                            $("#ins_tab1").removeClass("active");
                                            $("#history").addClass("active").addClass("in");
                                            $("#example").removeClass("active");
                                            $("#instruction").removeClass("active");
                                            getTaskName("CIR","CIR");
                                        }
                                    });
                                }, 2000);
                            }
                        });

                    }
                    lock = true;
                }
            }

            function formValidation() {
                $('#CIR').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        taskname: {
                            validators: {
                                notEmpty: {
                                    message: '任务编号不能为空!'
                                },
                                remote:{
                                    type: 'POST',
                                    url: '@routes.DutyController.checktaskname()',
                                    message: "任务编号重复，请重新输入",
                                    // delay: 1000
                                }
                            }
                        },
                        fttable: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传主圈文件！'
                                },
                                file: {
                                    // extension: 'jpeg,jpg,png',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        cdtable: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传连线文件！'
                                },
                                file: {
                                    // extension: 'jpeg,jpg,png',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        table1: fileValidators
                    }
                });
            }


    </script>


}