@(abbre:String)(implicit session: Session)
@home.main("Circos Phylum"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="mysoft-content-left whitebox" style="width: 590px;">
            <form id="CCS" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"></div>
                <h3 class="tools-title">Circos物种关系图</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload2("","file1","OTU丰度表：","table1","lefse_otu_table.biom","lefse_otutable.txt")<br>
                @units.fileupload("","","分组文件：","group","lefse_map.txt")
                @units.selector("","","选择OTU层级：","L")
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapseOne">
                        <h4 class="panel-title">
                            <a id="pos1">
                                <span style="font-size:12px;">选填参数（Optional）：</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>作图的OTU丰度取值范围</label>
                                    <div style="float:right; position: absolute; right: 11px; bottom: 0px;">
                                        <div id='gaptip2' style="display: none">
                                            <div class='tooltip fade top in' style='width: 200px; bottom: 20px; right: -89px; display: block;'>
                                                <div class='tooltip-arrow'></div>
                                                <div class='tooltip-inner'>(最小值：最大值) 作图不取边界值，最小值必须大于等于0，最大值不填默认全部。</div>
                                            </div>
                                        </div>
                                        <i class="mws-ic-16 ic-question1" onmouseover="gapfocus('gaptip2')" onmouseout="gapblur('gaptip2')" style="padding-left: 22px; background-position: center; padding-top: 2px;"></i>
                                    </div>
                                    <label style="padding-left: 15px;">：</label>
                                </div>
                                <div class="form-group">
                                    <div class="form-group" style="width: 48%; float: left;">
                                        <input id="otmin" name="otmin" type="text" value="0"/>
                                    </div>
                                    <label style="width: 4%; text-align: center; float: left;">:</label>
                                    <div class="form-group" style="width: 48%; float: left;">
                                        <input id="otmax" name="otmax" type="text"/>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group" style="position: relative">
                                    <label>间距设置</label>
                                    <div style="float:right; position: absolute; right: 11px; bottom: 0px;">
                                        <div id='gaptip1' style="display: none">
                                            <div class='tooltip fade top in' style='width: 200px; bottom: 20px; right: -89px; display: block;'>
                                                <div class='tooltip-arrow'></div>
                                                <div class='tooltip-inner'>单数字：统一设置间距，如1。间距详细设置，请进入重绘界面设置。</div>
                                            </div>
                                        </div>
                                        <i class="mws-ic-16 ic-question1" onmouseover="gapfocus('gaptip1')" onmouseout="gapblur('gaptip1')" style="padding-left: 22px; background-position: center; padding-top: 2px;"></i>
                                    </div>
                                    <label style="padding-left: 15px;">：</label>
                                </div>
                                <div class="form-group right" style="line-height: 39px;">
                                    <input id="gs" name="gs" type="text" style="width: 100%" value="1"/>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
                <label style="color: #938f8f">注意：层级越大OTU过多，会产生circos作图空间不足运行失败的问题。OTU取值范围，筛选作图数据，以及设置作图间距，可以解决作图空间不足问题</label>
                <br><br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="doCircos()">
            </form>
        </div>
        @units.pageRight("更详细使用说明编写中...敬请期待！", "视频录制中...敬请期待！","CCS")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $("#group").change(function () {
                checkGroupfile();
            });

            $(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("CCS","CCS");

                $("#line-part").hide();
                $("#instruction").append(instruction);
                var L = ["1","2","3","4","5","6","7"];
                creatSelector("L",L,L,"1");
            });

            const fileValidators = {
                validators: {
                    notEmpty: {
                        message: '必须上传otu丰度表！或减少表格数量'
                    },
                    file: {
                        // extension: 'jpeg,jpg,png',
                        // type: 'image/jpeg,image/png',
                        maxSize: 5*1024*1024,
                        message: '文件不得大于5M！'
                    }
                }
            };

            var sample,flagtable=true;
            var lock = true;

            function checkGroupfile() {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('group').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        var name=[];
                        for(let i in line) {
                            if(i!=0){
                                let row=line[i].trim().split('\t');
                                var r=parseInt(i)+1;
                                if(row.length!=2){
                                    flagtable=flagtable&&false;
                                    swal({
                                        title: "分组文件格式错误",
                                        text: "分组文件第"+r+"行格式错误，必须为两列！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    resolve(false);
                                }
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function doCircos() {
                if(lock) {
                    lock = false;
                    var form = $("#CCS");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        flagtable=true;
                        var check=[];
                        check.push(checkGroupfile());
                        Promise.all(check).then((r)=>{
                            if(flagtable&&checktaskname()) {
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                var form1 = new FormData($("#CCS")[0]);
                                $.ajax({
                                    url: "/CloudPlatform/SoftTool/runSoft?abbre=@abbre&sname=Circos物种关系图",
                                    type: "post",
                                    processData: false,
                                    contentType: false,
                                    data: form1,
                                    success: function (data) {
                                        layer.close(index);
                                        removeul();
                                        loadHistory("@abbre");
                                        switchRunningTab();
                                        getTaskName("CCS","CCS");
                                    }
                                });
                            }
                        });
                    }
                    lock = true;
                }
            }

            function formValidation() {
                let field = {};
                let table = ["table1", "group"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let number = ["gs"];
                FieldNumber(field, number);
                let excluded = [":hidden"];
                field["otmin"] = {
                    validators: {
                        notEmpty: {
                            message: '不能为空!'
                        },
                        numeric: {
                            message: '必须为数字！'
                        },
                        greaterThan: {
                            value: 0,
                            message: "必须大于等于0！"
                        }
                    }
                };
                field["otmax"] = {
                    validators: {
                        numeric: {
                            message: '必须为数字！'
                        },
                        callback:{
                            message: '最大值必须大于最小值！',
                            callback: function (value, validator, $field) {
                                return ($("#otmax").val() == "" || parseInt($("#otmax").val()) > parseInt($("#otmin").val()));
                            }
                        }
                    }
                };
                addFormValidation("CCS", field, excluded)
            }


    </script>


}