@(abbre:String)(implicit session: Session)
@home.main("Emboss Eprimer3"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .panel > .panel-heading {
                color: #979696;
                background-color: white;
                margin-top: -17px;
                padding: 8px 10px;
                margin-left: 30px;
                border: unset;
            }
            .mysoft-content-left .form-group-p {
                width: 435px;
                overflow: hidden;
                display: inline-block;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%;">
        <div class="mysoft-content-left whitebox" style="width: 771px;overflow-y: auto">
            <form id="PMR" method="GET" novalidate="novalidate" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"> </div>
                <h3 class="tools-title">Emboss Eprimer3</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="">
                    </div>
                </div>
                <br><br><br>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapse1" style="width: 162px;">
                        <h4 class="panel-title">
                            <a id="pos1">
                                <span style="font-size:15px;">输入部分(Input section)</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group-p" style="width: 415px">
                                <div class="form-group">
                                    <label for="exampleInputName2">上传序列文件：</label>
                                </div>
                                <div class="form-group" style="width: 300px">
                                    <input type="file" class="form-control file" id="table1" name="table1">
                                </div>
                            </div>
                            <div class="form-group-extra">
                                <em><a href="/assets/files/eprimer3.txt" target='_blank'>示例文件</a></em><span class="must" style="margin-left: 10px">*</span>&nbsp;&nbsp;
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否选择PCR引物(Pick PCR primers)：</label>
                                </div>
                                <div class="form-group">
                                    <select name="primer">
                                        <option value="Y" selected>yes</option>
                                        <option value="N">no</option>
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>选择参数(select task)：</label>
                                </div>
                                <div class="form-group">
                                    <select name="task">
                                        <option value="1:Pick PCR primers" selected="selected">选择pcr引物</option>
                                        <option value="2:Pick forward primer only">设计正向引物</option>
                                        <option value="3:Pick reverse primer only">设计反向引物</option>
                                        <option value="4:No primers needed">不设计引物</option>
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否选择杂交探针(pick hybridization probe)：</label>
                                </div>
                                <div class="form-group">
                                    <select name="hybridprobe">
                                        <option value="Y">yes</option>
                                        <option value="N" selected>no</option>
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p" style="width: 465px">
                                <div class="form-group">
                                    <label>Primer3内部寡核苷酸文库文件：</label><label style="color: red;font-size: 12px">（Optional）</label>
                                </div>
                            </div>
                            <div class="form-group-p" style="width: 465px">
                                <div class="form-group">
                                    <label>(Primer3 internal oligo mishybridizing library file)</label>
                                </div>
                            </div>
                            <div class="form-group-p" style="width: 465px">
                                <div class="form-group" style="width: 380px;height: 34px;">
                                    <input type="file" class="form-control file" id="table2" name="table2">
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p" style="width: 465px">
                                <div class="form-group">
                                    <label>Primer3错配引物库文件：</label><label style="color: red;font-size: 12px">（Optional）</label>
                                </div>
                            </div>
                            <div class="form-group-p" style="width: 465px">
                                <div class="form-group">
                                    <label>(Primer3 mispriming library file)</label>
                                </div>
                            </div>
                            <div class="form-group-p" style="width: 465px">
                                <div class="form-group" style="width: 380px;height: 34px;">
                                    <input type="file" class="form-control file" id="table3" name="table3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapse2" style="width: 251px;">
                        <h4 class="panel-title">
                            <a id="pos1">
                                <span style="font-size:15px;">程序选项(Program options)</span><label style="color: red;font-size: 12px">（Optional)</label>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">返回结果数(Number of results to return):</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="numreturn" id="numreturn" value="5" placeholder="数字" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapse3" style="width: 262px;">
                        <h4 class="panel-title">
                            <a id="pos1">
                                <span style="font-size:15px;">序列选项(Sequence options)</span><label style="color: red;font-size: 12px">（Optional)</label>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">设计引物区域(Include region)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="includedregion" id="includedregion" placeholder="" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">目标区域(Target region)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="targetregion" id="targetregion" placeholder="" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">排除区域(Excluded region)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="excludedregion" id="excludedregion" placeholder="" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">检查正向引物序列(Forward input primer sequence to check)：</label>
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group" style="height: 34px; width: 100%;">
                                    <input type="text" name="forwardinput" id="forwardinput" placeholder="" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">检查反向引物序列(Reverse input primer sequence to check)：</label>
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group" style="height: 34px; width: 100%;">
                                    <input type="text" name="reverseinput" id="reverseinput" placeholder="" class="form-control input-sm" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapse4" style="width: 237px;">
                        <h4 class="panel-title">
                            <a id="pos1">
                                <span style="font-size:15px;">引物选项(Primer options)</span><label style="color: red;font-size: 12px">（Optional)</label>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">GC夹子(GC clamp)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="gcclamp" id="gcclamp" value="0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">引物最优长度(Primer optimum size)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="optsize" id="optsize" value="20" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">引物最小长度(Primer minimum size)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="minsize" id="minsize" value="18" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">引物最大长度(Primer maximum size)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="maxsize" id="maxsize" value="27" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">引物最优退火温度(Primer optimum Tm)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="opttm" id="opttm" value="60.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">引物最低退火温度(Primer minimum Tm)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="mintm" id="mintm" value="57.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">引物最高退火温度(Primer maximum Tm)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="maxtm" id="maxtm" value="63.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p" style="display: none;">
                                <div class="form-group">
                                    <label for="format">Maximum difference in Tm of primers：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="maxdifftm" id="maxdifftm" value="100.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">引物最优GC含量(Primer optimum GC percent)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="ogcpercent" id="ogcpercent" value="50.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">引物最低GC含量(Primer minimum GC percent)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="mingc" id="mingc" value="20.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">引物平均GC含量(Primer maximum GC percent)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="maxgc" id="maxgc" value="80.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">盐浓度(Salt concentration (mM))：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="saltconc" id="saltconc" value="50.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p" style="display: none;">
                                <div class="form-group">
                                    <label for="format">DNA concentration (nM)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="dnaconc" id="dnaconc" value="50.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">单核苷酸重复序列(Maximum polynucleotide repeat)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="maxpolyx" id="maxpolyx" value="5" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapse5" style="width: 246px;">
                        <h4 class="panel-title">
                            <a id="pos1">
                                <span style="font-size:15px;">产物选项(Product options)</span><label style="color: red;font-size: 12px">（Optional)</label>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">产物平均长度(Product optimum size)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="psizeopt" id="psizeopt" value="200" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">产物大小范围(Product size range)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="prange" id="prange" value="100-300" placeholder="数字-数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">产物最优退火温度(Product optimum Tm)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="ptmopt" id="ptmopt" value="0.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">产物最小退火温度(Product minimum Tm)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="ptmmin" id="ptmmin" value="-1000000.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">产物最大退火温度(Product maximum Tm)：</label>
                                </div>
                                <div class="form-group" >
                                    <input type="text" name="ptmmax" id="ptmmax" value="1000000.0" placeholder="数字" class="form-control input-sm" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <input type="hidden" value="upload" name="act">
                <input type="hidden" value="heatmap" name="action">
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="runEprimer()" style="margin-bottom: 20px">
            </form>

        </div>

        <div class="handler"></div>

        <div class="mysoft-content-right" style="width: 279px;box-sizing: border-box!important;">
            <ul class="nav nav-tabs">
                <li class="active" id="ins_tab1">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="out_tab1">
                    <a href="###" data-target="#example" data-toggle="tab">教学视频</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="instruction">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>1.背景介绍</strong></span><br>
                        Emboss是一个开放源代码的序列分析软件包，是为分子生物学研究的特别需要而发展起来的，包括大量核酸和蛋白质分析工具，Eprimer3工具主要用于对指定序列设计引物。
                        <br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.操作方法</strong></span><br>
                    </p>
                    <img src="/assets/images/softpic/instruction/pmr1.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%">操作界面</p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.1.上传文件</strong></span><br>
                        上传文件必须是txt格式文件，可以利用NCBI下载的gbk文件，另存为txt文件即可。<br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.2.选填参数</strong></span><br>
                        <span style="background-color: yellow">此处的参数全部为选填内容，涉及个性化内容，翻译表达可能有误，建议有需求的老师查阅emboss Eprimer3使用说明手册（http://www.bioinformatics.nl/cgi-bin/emboss/help/eprimer3）进行了解。</span><br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">2.2.1.输入部分（Input section）</span><br>
                        (1) 选择使用参考：默认为standard<br>
                        (2) 选择PCR引物(Pick PCR primers)：是 或 否<br>
                        (3) 选择参数（select task）：选择pcr引物、设计正向引物、设计反向引物、不设计引物<br>
                        (4) 选择杂交探针（pick hybridization probe？）：是 或 否<br>
                        (5) Primer3内部寡核苷酸文库文件（Primer3 internal oligo mishybridizing library file）：文件必须是fasta格式的，每个序列条目都必须以“>id line”开头。选定此参数后，EPrimer3将每个候选寡核苷酸相对于每个文库序列进行局部比对，并拒绝局部比对得分乘以指定权重超过INTERNAL-OLIGO-MAX-MISHYB的引物。（权重的最大值任意设置为12.0）。<br>
                        (6) Primer3错配引物库文件（Primer3 mispriming library file）：文件必须是fasta格式的，每个序列条目都必须以“>id line”开头。选定此参数后，EPrimer3将每个候选引物与每个文库序列进行比对，并拒绝局部比对得分乘以指定权重超过MAX-MISPRIMING的引物。（权重的最大值任意设置为100.0。）<br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">2.2.2.程序选项（Program options）</span><br>
                        (1) 返回结果数（Number of results to return）：默认为5<br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">2.2.3.序列选项（Sequence options）</span><br>
                        (1) 设计引物区域（include region）:给定设计引物的范围<br>
                        (2) 目标区域（target region）<br>
                        (3) 排除区域（exclude region）: 引物不得与指定的任何区域重叠<br>
                        (4) 检查正向引物序列（Forward input primer sequence to check）：输入正向引物，并设计与它匹配的反向引物<br>
                        (5) 检查反向引物序列（Reverse input primer sequence to check）：输入反向引物，并设计与它匹配的正向引物<br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">2.2.4.引物选项（Primer options）</span><br>
                        (1) GC夹子（GC clamp）<br>
                        (2) 引物最优长度（Primer optimum size）：默认为20<br>
                        (3) 引物最小长度（Primer minimum size）：默认为18<br>
                        (4) 引物最大长度（Primer maximum size）：默认为27<br>
                        (5) 引物最优退火温度（Primer optimum Tm）：默认为60.0<br>
                        (6) 引物最低退火温度（Primer minimum Tm）：默认为57.0<br>
                        (7) 引物最高退火温度（Primer maximum Tm）：默认为63.0<br>
                        (8) 引物最优GC含量（Primer optimum GC percent）：默认为50.0<br>
                        (9) 引物最低GC含量（Primer minimum GC percent）：默认为20.0<br>
                        (10) 引物平均GC含量（Primer maximum GC percent）：默认为80.0<br>
                        (11) 盐浓度（Salt concentration（mM））：盐的毫摩尔浓度（通常指KCl）在PCR体系中的浓度<br>
                        (12) 单核苷酸重复序列（Maximum polynucleotide repeat）：引物中的单核苷酸重复序列，默认为5<br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">2.2.5.产物选项（Product options）</span><br>
                        (1) 产物平均长度（Product optimum size）：默认为200<br>
                        (2) 产物大小范围（Product size range）：默认为100-300<br>
                        (3) 产物最优退火温度（Product optimum Tm）：默认为0<br>
                        (4) 产物最小退火温度（Product minimum Tm）：默认为-100000<br>
                        (5) 产物最大退火温度（Product maximum Tm）：默认为100000<br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        设置完成后，点击“提交“按键，即可开始分析<br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.3.查看任务</strong></span><br>
                        提交任务后，点击界面右侧的“历史任务”模块，或者点击界面“我的任务”，都可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/pmr2.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        在任务详情界面，展示的是任务参数和结果文件列表2个区域，提供结果文件下载功能。<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/pmr3.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>3.结果文件</strong></span><br>
                        结果文件部分展示的是通过上传文件设计的引物，示例文件如下：<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/pmr4.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                </div>
                <div class="tab-pane fade" id="example">
                    <h5 style="margin-bottom: 2px">视频录制中...敬请期待！</h5>
                    <div id="dplayer"></div>
                </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh('@abbre')">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_time"><span>任务编号</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(document).ready(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("PMR","PMR");
                // loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgts3S_QUo_uGeyAc.mp4","/assets/images/softpic/video/heatmap_video.png")
            });

            var lock = true;

            function runEprimer(formId) {
                if(lock) {
                    lock = false;
                    var form = $("#PMR");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        if(checktaskname()) {
                            var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                            var index = layer.alert(element, {
                                skin: 'layui-layer-lan',
                                closeBtn: 0,
                                title: "提醒",
                                btn: []
                            });
                            setTimeout(function () {
                                layer.close(index);
                                var form1 = new FormData($("#PMR")[0]);
                                $.ajax({
                                    url: "/CloudPlatform/SoftTool/runEprimer",
                                    type: "post",
                                    processData: false,
                                    contentType: false,
                                    data: form1,
                                    success: function (data) {
                                        removeul();
                                        loadHistory("@abbre");
                                        $("#his_tab1").addClass("active");
                                        $("#out_tab1").removeClass("active");
                                        $("#ins_tab1").removeClass("active");
                                        $("#history").addClass("active").addClass("in");
                                        $("#example").removeClass("active");
                                        $("#instruction").removeClass("active");
                                        getTaskName("PMR","PMR");
                                    }
                                });
                            }, 2000);
                        }
                    }else{
                        switchToInvalid();
                        swal({
                            title: "参数设置错误",
                            text: "有参数不合法，请核实！",
                            type: "error",
                            confirmButtonText: "确认"
                        });
                    }
                    lock = true;
                }
            }

            function formValidation() {
                $('#PMR').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    excluded: [':disabled'],
                    fields: {
                        taskname: {
                            validators: {
                                notEmpty: {
                                    message: '任务编号不能为空!'
                                },
                                remote:{
                                    type: 'POST',
                                    url: '@routes.DutyController.checktaskname()',
                                    message: "任务编号重复，请重新输入"
                                }
                            }
                        },
                        table1: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传矩阵表格文件!'
                                },
                                file: {
                                    // extension: 'jpeg,jpg,png',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        numreturn: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        gcclamp: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        optsize: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        minsize: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        maxsize: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        opttm: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        mintm: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        maxtm: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        maxdifftm: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        ogcpercent: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        mingc: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        maxgc: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        saltconc: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        dnaconc: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        maxpolyx: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        psizeopt: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        ptmopt: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        ptmmin: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        ptmmax: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        osizeopt: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        ominsize: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        omaxsize: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        otmopt: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        otmmin: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        otmmax: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        ogcopt: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        ogcmin: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        ogcmax: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        osaltconc: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        odnaconc: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        oanyself: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        oendself: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        opolyxmax: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        omishybmax: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        firstbaseindex: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        maxmispriming: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        pairmaxmispriming: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        numnsaccepted: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        selfany: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        selfend: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        },
                        maxendstability: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空!'
                                },
                                numeric: {
                                    message: '必须为数字！'
                                }
                            }
                        }
                    }
                });
            }


            function switchToInvalid() {
                $(".help-block[data-fv-result='INVALID']").each(function () {
                    if($(this).parent().parent().parent().parent().hasClass("collapse")){
                        var parent=$(this).parent().parent().parent().parent().attr("id");
                        $("div[href='#"+parent+"']").click();
                    }
                    return false;
                });
            }


    </script>

}