@(abbre:String)(implicit session: Session)
@home.main("Emboss Getorf"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <div class="col-md-12 mysoft-content" style="width: 98%;">
        <div class="mysoft-content-left whitebox" style="width: 771px;overflow-y: auto">
            <form id="GTF" method="GET" novalidate="novalidate" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"> </div>
                <h3 class="tools-title">Emboss Getorf</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload("", "div1", "上传序列文件：","table1","getorf.txt")
                @units.selector("","","输出序列格式：","osformat")<br>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapseOne">
                        <h4 class="panel-title">
                            <a id="pos1">
                                <span style="font-size:12px;">选填参数（Optional）：</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <br>
                            @units.selector("","","选择使用参考：","table")
                            @units.textinput("","","ORF显示的最小核苷酸大小：", "minsize", "数字", "30")
                            @units.textinput("","","ORF显示的最大核苷酸大小：", "maxsize", "数字", "1000000")
                            @units.selector("","","输出类型：","find")
                            @units.selector("","","是否将初始START密码子更改为蛋氨酸：","methionine")
                            @units.selector("","","序列是否为循环的：","circular")
                            @units.selector("","","是否以相反的顺序找到ORF：","reverse")
                            @units.textinput("","","报告侧翼核苷酸的数量：", "flanking", "数字", "100")
                        </div>
                    </div>
                </div>
                <br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="runGetorf()" style="margin-bottom: 20px">
            </form>
        </div>
        @units.pageRight("", "视频录制中...敬请期待！","GTF")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(document).ready(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("GTF","GTF");
                loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAg_9DmggYotuHsmAc.mp4","/assets/images/softpic/video/getorf_video.png")

                $("#instruction").append(instruction);
                var osformatname = ["ACeDB","ASN.1","Clustal .aln","CODATA","EMBL","Pearson FASTA","Fitch","GCG 9.x/10.x","GCG 8.x","Genbank","GFF","Hennig86","Intelligenetics","Jackknifer","Jackknifernon","Mega","Meganon","GCG MSF","NBRF (PIR)","NCBI FASTA","Nexus/PAUP","Nexusnon/PAUPnon","PHYLIP interleaved","PHYLIP non-interleaved","SELEX","DNA strider","SwissProt","Staden","plain text","Treecon"];
                var osformat = ["acedb","asn1","clustal","codata","embl","fasta","fitch","gcg","gcg8","genbank","gff","hennig86","ig","Jackknifer","Jackknifernon","mega","meganon","msf","nrbf","ncbi","nexus","nexusnon","phylip","phylip3","selex","strider","swiss","staden","text","treecon"];
                creatSelector("osformat",osformatname,osformat,"fasta");
                var tablename = ["Standard","Standard (with alternative initiation codons)","Vertebrate Mitochondrial","Yeast Mitochondrial","Mold, Protozoan, Coelenterate Mitochondrial and Mycoplasma/Spiroplasma","Invertebrate Mitochondrial","Ciliate Macronuclear and Dasycladacean","Echinoderm Mitochondrial","Euplotid Nuclear","Bacterial","Alternative Yeast Nuclear","Ascidian Mitochondrial","Flatworm Mitochondrial","Blepharisma Macronuclear","Chlorophycean Mitochondrial","Trematode Mitochondrial","Scenedesmus obliquus","Thraustochytrium Mitochondrial"];
                var table = ["0:Standard","1:Standard (with alternative initiation codons)","2:Vertebrate Mitochondrial","3:Yeast Mitochondrial","4:Mold, Protozoan, Coelenterate Mitochondrial and Mycoplasma/Spiroplasma","5:Invertebrate Mitochondrial","6:Ciliate Macronuclear and Dasycladacean","9:Echinoderm Mitochondrial","10:Euplotid Nuclear","11:Bacterial","12:Alternative Yeast Nuclear","13:Ascidian Mitochondrial","14:Flatworm Mitochondrial","15:Blepharisma Macronuclear","16:Chlorophycean Mitochondrial","21:Trematode Mitochondrial","22:Scenedesmus obliquus","23:Thraustochytrium Mitochondrial"];
                creatSelector("table",tablename,table,"Standard");
                var findname = ["Translation of regions between STOP codons","Translation of regions between START and STOP codons","Nucleic sequences between STOP codons","Nucleic sequences between START and STOP codons","Nucleotides flanking START codons","Nucleotides flanking initial STOP codons","Nucleotides flanking ending STOP codons"];
                var find = ["0:Translation of regions between STOP codons","1:Translation of regions between START and STOP codons","2:Nucleic sequences between STOP codons","3:Nucleic sequences between START and STOP codons","4:Nucleotides flanking START codons","5:Nucleotides flanking initial STOP codons","6:Nucleotides flanking ending STOP codons"]
                creatSelector("find",findname,find,"Translation of regions between STOP codons");
                var tfname = ["yes","no"];
                var tf = ["Y","N"];
                creatSelector("methionine",tfname,tf,"yes");
                creatSelector("circular",tfname,tf,"no");
                creatSelector("reverse",tfname,tf,"no");
            });

            var lock = true;

            function runGetorf(formId) {
                if(lock) {
                    lock = false;
                    var form = $("#GTF");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        if(checktaskname()) {
                            var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                            var index = layer.alert(element, {
                                skin: 'layui-layer-lan',
                                closeBtn: 0,
                                title: "提醒",
                                btn: []
                            });
                            setTimeout(function () {
                                layer.close(index);
                                var form1 = new FormData($("#GTF")[0]);
                                $.ajax({
                                    url: "/CloudPlatform/SoftTool/runSoft?abbre=@abbre&sname=Emboss Getorf",
                                    type: "post",
                                    processData: false,
                                    contentType: false,
                                    data: form1,
                                    success: function (data) {
                                        removeul();
                                        loadHistory("@abbre");
                                        switchRunningTab();
                                        getTaskName("GTF","GTF");
                                    }
                                });
                            }, 2000);
                        }
                    }
                    lock = true;
                }
            }

            function formValidation() {
                let field = {};
                let table = ["table1"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let number = ["minsize","maxsize","flanking"];
                FieldNumber(field, number);
                let excluded = [":hidden"];
                addFormValidation("GTF", field, excluded)
            }

            var instruction = "<p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>1.背景介绍</strong></span><br>\n" +
                    "                        Emboss是一个开放源代码的序列分析软件包，是为分子生物学研究的特别需要而发展起来的，包括大量核酸和蛋白质分析工具，Getorf工具可以直观的以不同方式展示序列中的开放阅读框。\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.操作方法</strong></span><br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/gtf1.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%\">操作界面</p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.1.上传文件</strong></span><br>\n" +
                    "                        Getorf上传文件必须是txt格式，可以直接使用从NCBI下载的gbk文件，另存为txt即可。<br>\n" +
                    "                        可选输出格式：<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/gtf2.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.2.选填参数</strong></span><br>\n" +
                    "                        (1) 选择使用参考：默认为standard<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/gtf3.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        (2) ORF显示的最小核苷酸大小：默认为30<br>\n" +
                    "                        (3) ORF显示的最大核苷酸大小：默认为1000000<br>\n" +
                    "                        (4) 输出类型：默认为Translation of regions between STOP codons<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/gtf4.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        (5) 是否将初始START密码子更改为蛋氨酸：是 或 否<br>\n" +
                    "                        (6) 序列是否为循环的：是 或 否<br>\n" +
                    "                        (7) 是否以相反的顺序找到ORF：是 或 否<br>\n" +
                    "                        (8) 报告侧翼核苷酸的数量：默认为100<br>\n" +
                    "                        设置完成后，点击“提交“按键，即可开始分析<br>\n" +
                    "                    </p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.3.查看任务</strong></span><br>\n" +
                    "                        提交任务后，点击界面右侧的“历史任务”模块，或者点击界面“我的任务”，都可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/gtf5.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        在任务详情界面，展示的是任务参数和结果文件列表2个区域，提供结果文件下载功能。<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/gtf6.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br><br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>3.结果文件</strong></span><br>\n" +
                    "                        结果文件仅包含提取的fasta格式ORF序列文件<br>\n" +
                    "                        序列文件：提取的ORF序列文件<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/gtf7.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>";

    </script>

}