@()(implicit session: Session)
@home.main("GO"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />

    <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .checkbox-primary > label:after, .checkbox-primary > input, .radio-primary > label:after, .radio-primary > input {
                color: #ffffff00;
                margin: 0;
                top: 7px;
                left: -2px;
                width: 13px;
                height: 13px;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="whitebox mysoft-content-left" style="width: 730px;">
            <form id="GO" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <img class="tools-img" src="/assets/images/softpic/go.jpg">
                <h3 class="tools-title">GO富集分析&nbsp;&nbsp;&nbsp;&nbsp;
                </h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="">
                    </div>
                </div>
                <br><br>
                <div class="form-group-p" style="width: 100%">
                    <label for="exampleInputName2">
                        <em>1：</em><label><span>上传基因数据文件：</span></label>
                    </label>
                    <br>
                    <div class="one-line">
                        <div class="form-group-p" style="width: auto">
                            <div class="form-group">
                                <ul class="nav nav-tabs" style="width: 240px">
                                    <li class="active">
                                        <a href="###" onclick="curtable(2)" data-target="#tab1Content1" data-toggle="tab">输入文件</a>
                                    </li>
                                    <li >
                                        <a href="###" onclick="curtable(1)" data-target="#tab1Content2" data-toggle="tab">手动输入</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group-p" style="width: auto">
                            <div class="form-group" style="margin-right: 15px">
                                <em>
                                    <a onclick="showexample('table',1)">示例文件1</a>
                                </em>
                            </div>
                            <div class="form-group">
                                <em>
                                    <a onclick="showexample('table',2)">示例文件2</a>
                                </em>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab1Content1">
                            <p><br></p>
                            <div id="div1" class="one-line">
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label for="exampleInputName2">上传文件：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" class="form-control file" id="table1" name="table1">
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="tab1Content2">
                            <p>
                            </p>
                            <div class="tab-pane form-group" id="tabContent2">
                                <textarea id="txdata1" name="txdata1" class="form-control kindeditorSimple" style="width: 100%;height:150px;" placeholder="手动输入时,点击示例文件，示例将导入文本框。上传文件时，点击示例文件，将直接下载文件。文本框右下角可调节文本框大小。"></textarea>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label style="float: left;"><em>2： </em>使用已有参考</label>
                        <input type="checkbox" name="refer" value="A" id="refer" class="form-control" style="height: 13px;width: auto;float: left;margin-top: 9px;margin-left: 5px">
                    </div>
                </div>
                <div id="para" style="display: none">
                    <div class="form-group-p">
                        <div class="form-group">
                            <label for="exampleInputName2">选择物种：</label>
                        </div>
                        <div class="form-group">
                            <select name="species" id="species">
                                <option value="Agaricus_bisporus" selected="selected">Agaricus_bisporus</option>
                                <option value="Arabidopsis_thaliana">Arabidopsis_thaliana</option>
                                <option value="Beet">Beet</option>
                                <option value="Candida_albicans">Candida_albicans</option>
                                <option value="Chicken">Chicken</option>
                                <option value="Cow">Cow</option>
                                <option value="Goat">Goat</option>
                                <option value="Human_HG19">Human_HG19</option>
                                <option value="Human_HG38">Human_HG38</option>
                                <option value="Mouse">Mouse</option>
                                <option value="Rat">Rat</option>
                                <option value="Rice">Rice</option>
                                <option value="Sheep">Sheep</option>
                                <option value="Solanum_lycopersicum">Solanum_lycopersicum</option>
                                <option value="Solanum_tuberosum">Solanum_tuberosum</option>
                                <option value="Soybean">Soybean</option>
                                <option value="watermelon">watermelon</option>
                                <option value="White_pear">White_pear</option>
                                <option value="Zebrafish">Zebrafish</option>
                            </select>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <br>
                <br>
                <div id="para2">
                    <div class="form-group-p" style="width: 100%">
                        <label for="exampleInputName2">
                            <em>3：</em><label><span>背景基因文件：</span></label>
                        </label>
                        <div class="one-line">
                            <div class="form-group" style="width: 400px;">
                                <input type="file" class="form-control file" id="table2" name="table2" >
                            </div>
                            <div class="form-group-extra" style="margin-left: 20px">
                                <em><a href="/CloudPlatform/SoftTool/downloadExamples?name=golist.lst">示例文件</a></em>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="dogo()">
            </form>
        </div>

        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 320px;">
            <ul class="nav nav-tabs nav-tabs-right">
                <li class="active">
                    <a href="###" data-target="#example" data-toggle="tab">示例结果</a>
                </li>
                <li class="">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">GO历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="example">
                    <span style="color:red;">示例文件1，示例文件2 皆为大豆基因数据</span>
                    <br><br>
                    <h5>结果输出：</h5>
                    <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/go_example1.png">
                    <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/go_example2.png">
                </div>
                <div class="tab-pane fade" id="instruction">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>功能：</strong></span><br>
                        Gene Ontology（简称GO）是一个国际标准化的基因功能分类体系，提供了一套动态更新的标准词汇表（controlled vocabulary）来全面描述生物体中基因和基因产物的属性。GO总共有三个ontology（本体），分别描述基因的分子功能（molecular function）、细胞组分（cellular component）、参与的生物过程（biological process）。GO的基本单位是term（词条、节点），每个term都对应一个属性。GO功能分析一方面给出差异表达基因的GO功能分类注释；另一方面给出差异表达基因的GO功能显著性富集分析。 首先，我们将差异表达基因向GO数据库(http://www.geneontology.org/)的各term映射，并计算每个term的基因数，从而得到具有某个GO功能的基因列表及基因数目统计。然后应用超几何检验，找出与整个基因组背景相比，在差异表达基因中显著富集的GO条目。
                        <br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>输入：</strong></span>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ①输入的表格文件，必须为txt格式。可以选择在excel中将数据打开，然后另存为"文本文件(制表符分隔)(*.txt)"。
                        <span style="color:red;">也可以输入两列，diff是差异结果，第二列为差异倍数取log2，大于0上调，小于0下调，此时参数应选择diff。</span>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ②富集的目的基因列表，即想要研究的基因列表，每行第一列为基因id，基因id要包含在背景基因表中。
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ③背景基因总表，如果是有参考基因组的模式生物，可以直接使用已有参考基因作为背景基因文件。目前提供的物种有水稻、拟南芥、小鼠、大鼠、斑马鱼、鸡、秀丽线虫、果蝇、人。ID类型可选择基因ID或转录本ID，根据富集目的基因的ID类型决定。可以点击“预览参考文件”来查看具体ID。
                        <br>
                        如果所研究物种不在以上范围，则需要自行准备GO背景基因文件。现在支持两种格式。第一种：格式为第一列为基因id，第二列为GO注释结果。第二种：同一个基因的所有GO号会在同一行并列给出。任务提交后，程序会自动判断处理。如下图所示：
                    </p>
                    <img class="img-rounded img-thumbnail img-responsive" src="https://www.omicshare.com/tools/Public/help/go2_1.png" alt="生物云平台" style="height:auto;"><span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"> </span><img class="img-rounded img-thumbnail img-responsive" src="https://www.omicshare.com/tools/Public/help/go2_2.png" alt="生物云平台" style="height:auto;"><span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span><br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <br>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>输出：</strong></span>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ①out.[PFC].html: 网页格式结果，3个分别对应GO的3个主要分类。
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ②out.[PFC].xls： 基因的GO功能分类统计结果。
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ③out.[PFC].png：基因的GO功能分类结果统计图
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ④out.secLevel2.svg/png：为GO二级分类统计图，统计了用于富集的基因在GO 的二级分类中占各个分类的数量，统计结果在xls表中。表格内容包括，Ontology，Class（GO的二级分类），基因数，具体基因id。
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ⑤out.level2.xls: GO第二级分类统计
                    </p>
                </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh()">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_name"><span>任务编号</span></div>
                            <div class="his_time"><span>提交时间</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>

    <script type="text/javascript">

            function getTaskName() {
                let date = new Date();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                let h = date.getHours();
                let m = date.getMinutes();
                let s = date.getSeconds();
                let name = "GO"+month + day + h + m + s ;
                $("#mytaskname").val(name);
                $("#GO").formValidation("revalidateField", "taskname");
            }

            $("#mytaskname").keyup(function () {
                checktaskname();
            });

            function checktaskname() {
                var val = $("#mytaskname").val();
                var rule = /[()（）@@#$%^&*~`!|\/\\?;,.，。:"]/;
                if (rule.test(val)) {
                    alert('任务编号里不能有特殊字符，请重新填写!');
                    return false;
                }
                if(val.toString().indexOf(" ")>0){
                    alert('任务编号里不能有空格!');
                    return false;
                }
                if(val.toString().length>13){
                    alert('任务编号最长13位!');
                    return false;
                }
                return true;
            }

            var running=false;

            $(document).ready(function () {
                formValidation();
                loadHistory();
                getTaskName();
            });

            var cur=true;

            function refresh() {
                if(cur){
                    cur=false;
                    removeul();
                    loadHistory();
                    var count=5;
                    $("#btn-refresh").text("00:"+count);
                    var tim=setInterval(function () {
                        $("#btn-refresh").text("00:"+count);
                        if(count==0){
                            cur=true;
                            $("#btn-refresh").text("刷新状态");
                            clearInterval(tim);
                        }else count=count-1;
                    },1000);
                }else return;
            }

            function loadHistory(){
                var html="";
                if(@session.get("userId").isEmpty){
                    html+="<li class='hislist'><span>尚未登陆,暂无数据</span></li>"
                    $("#hislist").after(html);
                }else{
                    $.ajax({
                        url: "/CloudPlatform/MyTasks/getDutysByType?sabbrename=GO",
                        type: "post",
                        success: function (data) {
                            if(data.run==true) running=true;
                            else running=false;
                            $.each(data.rows,function (i,v) {
                                html += "<li class='hislist'><div class='his_name'><span>"+v.taskname+"</span></div><div class='his_time'><span>"+v.subtime+"</span></div><div class='his_time'><span>"+v.finitime+"</span></div><div class='his_name'>"+v.status+"</div><hr></li>";
                            });
                            $("#hislist").after(html);
                            if(running==true){
                                cur=false;
                                var count=5;
                                $("#btn-refresh").text("00:"+count);
                                var timmer=setInterval(function () {
                                    $("#btn-refresh").text("00:"+count);
                                    if(count==0){
                                        $("#btn-refresh").text("刷新状态");
                                        if(running==false) {
                                            removeul();
                                            loadHistory();
                                            cur=true;
                                            clearInterval(timmer);
                                        } else {
                                            checkrunning();
                                        }
                                        count=5;
                                    }else count=count-1;
                                },1000);
                            }
                        }
                    });
                }
            }

            function checkrunning() {
                $.ajax({
                    url: "/CloudPlatform/MyTasks/getDutysByType?sabbrename=GO",
                    type: "post",
                    success: function (data) {
                        if(data.run==true) running=true;
                        else running=false;
                    }
                });
            }

            function removeul(){
                $("#hisul li").remove();
                $("#hisul").append("<li id=\"hislist\" class=\"hislist\">\n" +
                        "                                    <div class=\"his_name\"><span>任务编号</span></div>\n" +
                        "                                    <div class=\"his_time\"><span>提交时间</span></div>\n" +
                        "                                    <div class=\"his_time\"><span style='margin-left: -20px;'>结束时间</span></div>\n" +
                        "                                    <div class=\"his_name\"><span style='margin-left: -23px;'>状态</span></div>\n" +
                        "                                    <hr>\n" +
                        "                                </li>");

            }

            $(".file").fileinput({
                showPreview: false,
                showUpload:false,
                showRemove:false,
                showCancel: false,
                browseLabel: "选择文件"
            });

            function dogo() {
                var form = $("#GO");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                    var index = layer.alert(element, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        title: "提醒",
                        btn: []
                    });
                    setTimeout(function () {
                        layer.close(index);
                        var form1 = new FormData($("#GO")[0]);
                        $.ajax({
                            url: "/CloudPlatform/SoftTool/runGo?types=go&refer="+ref+"&table="+table,
                            type: "post",
                            processData: false,
                            contentType: false,
                            data: form1,
                            success: function (data) {
                                removeul();
                                loadHistory();
                                $("#his_tab1").addClass("active");
                                $("#out_tab1").removeClass("active");
                                $("#ins_tab1").removeClass("active");
                                $("#history").addClass("active").addClass("in");
                                $("#example").removeClass("active");
                                $("#instruction1").removeClass("active");
                                getTaskName();
                            }
                        });
                    }, 2000);
                }
            }

            var table=2;
            var ref="FALSE";

            function curtable(param) {
                table=param;
            }

            $("#refer").click(function () {
                var isSelected = this.checked;
                if (isSelected === true) {
                    $("#para").show();
                    $("#para2").hide();
                    ref="TRUE";
                } else {
                    $("#para").hide();
                    $("#para2").show();
                    ref="FALSE";
                }
            });

            function showexample(type,param) {
                if(type=="table"){
                    if(table==1) {
                        if(param==1) $("#txdata1").val(ta1);
                        else $("#txdata1").val(ta2);
                    }
                    else {
                        if(param==1) window.location.href = "/CloudPlatform/SoftTool/downloadExamples?name=gokegg1.txt"
                        else window.location.href = "/CloudPlatform/SoftTool/downloadExamples?name=gokegg2.txt"
                    }
                }
            }

            function formValidation() {
                $('#GO').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    taskname: {
                        validators: {
                            notEmpty: {
                                message: '任务编号不能为空!'
                            },
                            remote:{
                                type: 'POST',
                                url: '@routes.DutyController.checktaskname()',
                                message: "任务编号重复，请重新输入",
                                delay: 1000
                            }
                        }
                    },
                    table1: {
                        validators: {
                            notEmpty: {
                                message: '必须上传矩阵表格文件!'
                            },
                            file: {
                                // extension: 'jpeg,jpg,png',
                                // type: 'image/jpeg,image/png',
                                maxSize: 5*1024*1024,
                                message: '文件不得大于5M！'
                            }
                        }
                    },
                    table2: {
                        validators: {
                            notEmpty: {
                                message: '必须上传背景基因文件!'
                            }
                        }
                    }
                }
            });
                $("#mailSigninForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        code: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                }
                            }
                        }
                    }
                });
                $("#signinForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        user: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#signupForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入手机号！'
                                },
                                phone:{
                                    message: '请输入正确手机号',
                                    country: 'CN'
                                }
                            }
                        },
                        name: {
                            validators: {
                                notEmpty: {
                                    message: '请填写姓名！'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: '请填写邮箱地址！'
                                },
                                emailAddress:{
                                    message:'请输入正确邮箱地址！'
                                }
                            }
                        },
                        company: {
                            validators: {
                                notEmpty: {
                                    message: '请填写单位！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
                $('#passwordForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入新密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password2: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password1',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
            }

            var ta1="Geneid\n" + "Glyma.01G006000\n" + "Glyma.01G011500\n" + "Glyma.01G011900\n" + "Glyma.01G012100\n" +
                    "Glyma.01G021000\n" + "Glyma.01G032600\n" + "Glyma.01G036000\n" + "Glyma.01G053800\n" +
                    "Glyma.01G062400\n" + "Glyma.01G096700\n" + "Glyma.01G099500\n" + "Glyma.01G105000\n" +
                    "Glyma.01G115500\n" + "Glyma.01G120300\n" + "Glyma.01G121209\n" + "Glyma.01G133050\n" +
                    "Glyma.01G142400\n" + "Glyma.01G172600\n" + "Glyma.01G187700\n" + "Glyma.01G198100\n" +
                    "Glyma.01G204400\n" + "Glyma.01G215500\n" + "Glyma.01G217700\n" + "Glyma.01G221600\n" +
                    "Glyma.01G223000\n" + "Glyma.01G239500\n" + "Glyma.01G242600\n" + "Glyma.01G242700\n" +
                    "Glyma.01G242800\n" + "Glyma.02G001100\n" + "Glyma.02G002100\n" + "Glyma.02G007400\n" +
                    "Glyma.02G022700\n" + "Glyma.02G028000\n" + "Glyma.02G029900\n" + "Glyma.02G038601\n" +
                    "Glyma.02G052700\n" + "Glyma.02G053900\n" + "Glyma.02G054200\n" + "Glyma.02G073700\n" +
                    "Glyma.02G104600\n" + "Glyma.02G121500\n" + "Glyma.02G125600\n" + "Glyma.02G128800\n" +
                    "Glyma.02G156600\n" + "Glyma.02G184400\n" + "Glyma.02G186350\n" + "Glyma.02G195900\n" +
                    "Glyma.02G205001\n" + "Glyma.02G227700\n" + "Glyma.02G242200\n" + "Glyma.02G265900\n" +
                    "Glyma.02G282300\n" + "Glyma.02G309300\n" + "Glyma.03G005800\n" + "Glyma.03G018102\n" +
                    "Glyma.03G018900\n" + "Glyma.03G028000\n" + "Glyma.03G040100\n" + "Glyma.03G041300\n" +
                    "Glyma.03G042700\n" + "Glyma.03G042800\n" + "Glyma.03G057100\n" + "Glyma.03G068200\n" +
                    "Glyma.03G078200\n" + "Glyma.03G098600\n" + "Glyma.03G101800\n" + "Glyma.03G104800\n" +
                    "Glyma.03G113200\n" + "Glyma.03G122200\n" + "Glyma.03G132700\n" + "Glyma.03G141900\n" +
                    "Glyma.03G148300\n" + "Glyma.03G159000\n" + "Glyma.03G167600\n" + "Glyma.03G181700\n" +
                    "Glyma.03G198600\n" + "Glyma.03G202600\n" + "Glyma.03G206800\n" + "Glyma.03G222600\n";
            var ta2="Geneid\tlogFC\n" +
                    "Glyma.01G006000\t2.07822610607782\n" +
                    "Glyma.01G011500\t2.4525737885893\n" +
                    "Glyma.01G011900\t-3.30147399711293\n" +
                    "Glyma.01G012100\t-3.66959375118833\n" +
                    "Glyma.01G021000\t-8.86795188785606\n" +
                    "Glyma.01G032600\t2.23610253960442\n" +
                    "Glyma.01G036000\t-3.7753163271244\n" +
                    "Glyma.01G053800\t-2.29886786779066\n" +
                    "Glyma.01G062400\t-3.10778171636326\n" +
                    "Glyma.01G096700\t-2.39273204989496\n" +
                    "Glyma.01G099500\t2.35989594508638\n" +
                    "Glyma.01G105000\t-3.72922147940937\n" +
                    "Glyma.01G115500\t-4.44765933736886\n" +
                    "Glyma.01G120300\t3.44666978730701\n" +
                    "Glyma.01G121209\t-3.20299822364865\n" +
                    "Glyma.01G133050\t-2.68459029745086\n" +
                    "Glyma.01G142400\t-4.77957227853504\n" +
                    "Glyma.01G172600\t-3.5619418690147\n" +
                    "Glyma.01G187700\t-3.0494686762643\n" +
                    "Glyma.01G198100\t-1.91278890218778\n" +
                    "Glyma.01G204400\t-6.06822393155109\n" +
                    "Glyma.01G215500\t-2.80972717360803\n" +
                    "Glyma.01G217700\t-3.70054304455409\n" +
                    "Glyma.01G221600\t-2.19999660541509\n" +
                    "Glyma.01G223000\t-2.55065294850781\n" +
                    "Glyma.01G239500\t-2.04607645063677\n" +
                    "Glyma.01G242600\t-4.10992977500167\n" +
                    "Glyma.01G242700\t-8.28183345779038\n" +
                    "Glyma.01G242800\t-2.04840325905017\n" +
                    "Glyma.02G001100\t-2.08922290765613\n" +
                    "Glyma.02G002100\t-2.36507733105451\n" +
                    "Glyma.02G007400\t-2.0915854842742\n" +
                    "Glyma.02G022700\t-2.40267430356423\n" +
                    "Glyma.02G028000\t-2.74257578273325\n" +
                    "Glyma.02G029900\t-2.06237405299478\n" +
                    "Glyma.02G038601\t-3.31663686112551\n" +
                    "Glyma.02G052700\t-2.91717356887038\n" +
                    "Glyma.02G053900\t-3.95683812588591\n" +
                    "Glyma.02G054200\t-5.88471778544358\n" +
                    "Glyma.02G073700\t-2.74599455996733\n" +
                    "Glyma.02G104600\t-2.59225452744737\n" +
                    "Glyma.02G121500\t3.31482223793319\n" +
                    "Glyma.02G125600\t-2.77085205570627\n" +
                    "Glyma.02G128800\t-2.66243688186728\n" +
                    "Glyma.02G156600\t10.9250598580926\n" +
                    "Glyma.02G184400\t2.7796965240175\n" +
                    "Glyma.02G186350\t11.0557343368489\n" +
                    "Glyma.02G195900\t-5.72981832158658\n" +
                    "Glyma.02G205001\t-2.3671848805616\n" +
                    "Glyma.02G227700\t-1.91863670119171\n" +
                    "Glyma.02G242200\t-2.05985808673463\n" +
                    "Glyma.02G265900\t-2.77397176358302\n" +
                    "Glyma.02G282300\t-2.19799795985111\n" +
                    "Glyma.02G309300\t-2.05313879570529\n" +
                    "Glyma.03G005800\t-1.98007408718856\n" +
                    "Glyma.03G018102\t-2.7630396328938\n" +
                    "Glyma.03G018900\t2.06743086843184\n" +
                    "Glyma.03G028000\t-4.30908225685566\n" +
                    "Glyma.03G040100\t-2.01874840212948\n" +
                    "Glyma.03G041300\t-1.97897521751507\n" +
                    "Glyma.03G042700\t-2.32556437920911\n" +
                    "Glyma.03G042800\t-2.34876427985968\n" +
                    "Glyma.03G057100\t-3.73341919614339\n" +
                    "Glyma.03G068200\t-4.32614258346403\n" +
                    "Glyma.03G078200\t-1.93050184374347\n" +
                    "Glyma.03G098600\t-4.03145290092495\n" +
                    "Glyma.03G101800\t-2.08845313647803\n" +
                    "Glyma.03G104800\t-2.03318381757067\n" +
                    "Glyma.03G113200\t-8.0344714718168\n" +
                    "Glyma.03G122200\t2.04916296338444\n" +
                    "Glyma.03G132700\t-2.93885799346974\n" +
                    "Glyma.03G141900\t-3.52849028712209\n" +
                    "Glyma.03G148300\t-2.08297986032708\n" +
                    "Glyma.03G159000\t-2.32976846073278\n" +
                    "Glyma.03G167600\t-2.05159173243727\n" +
                    "Glyma.03G181700\t-2.2482590531534\n" +
                    "Glyma.03G198600\t-3.02836282201156\n" +
                    "Glyma.03G202600\t-2.33701304831756\n" +
                    "Glyma.03G206800\t-2.33576700235243\n" +
                    "Glyma.03G222600\t-4.66285268391474";


            var ggo= "B17-12-1\tB\n" +
                    "B17-12-2\tB\n" +
                    "B17-12-3\tB\n" +
                    "C17-16-2\tC\n" +
                    "C17-16-3\tC\n" +
                    "C17-16\tC";



    </script>



}