@()(implicit session: Session)
@home.main("GO"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />

        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .checkbox-primary > label:after, .checkbox-primary > input, .radio-primary > label:after, .radio-primary > input {
                color: #ffffff00;
                margin: 0;
                top: 7px;
                left: -2px;
                width: 13px;
                height: 13px;
            }
            .mysoft-content-left .form-group-extra .btn-sm {
                font-size: 14px;
                background-color: #27b9d0;
                border-color: #27b9d0;
                border-radius: 4px;
                padding: 5px 15px;
                height: auto;
            }
            .mysoft-content-right .tab-content, .mysoft-content-left form {
                box-shadow: unset;
            }
            .img-thumbnail {
                display: inline-block;
                max-width: 100%;
                height: auto;
                padding: 4px;
                line-height: 1.53846154;
                background-color: #fff;
                border: unset;
                border-radius: 4px;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }
            blockquote {
                padding: 10px 20px;
                margin: 0 0 20px;
                 border-left: unset;
            }
    </style>

    <div class="col-md-12 mysoft-content">
        <div class="whitebox mysoft-content-left" style="width: 730px;">
            <form id="GO" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <img class="tools-img" src="/assets/images/softpic/gogsea.png">
                <h3 class="tools-title">GO富集分析&nbsp;&nbsp;&nbsp;&nbsp;
                </h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="go">
                    </div>
                </div>

                <br><br>

                <script type="text/javascript">
                        $("#mytaskname").keyup(function () {
                            var val = $("#mytaskname").val();
                            var rule = /[()（）@@#$%^&*~`!|\/\\?;,.，。:"]/;
                            if (rule.test(val)) {
                                alert('任务编号里不能有特殊字符，请重新填写!');
                            }
                        })
                </script>
                <div id="div1" class="one-line">
                    <div class="form-group-p">
                        <div class="form-group  ">
                            <em>1：</em><label for="exampleInputName2">
                            <span data-toggle="collapse" href="#collapse0" class="pointer">
                                富集目的基因文件：
                            </span>
                        </label>
                        </div>
                        <div class="form-group  ">
                            <input type="text" class="form-control" style="" id="filepath1" name="text1" readonly="readonly">
                            <img id="tempimg1" dynsrc="" src="" style="display:none">
                            <input id="hideinput1" type="file" name="table1" style="display:none;" onchange="change(this.value)">
                        </div>
                    </div>
                    <div class="form-group-extra">
                        <span id="choosefile" type="button" onclick="choosefile($(this))" data-id="1" class="btn btn-sm btn-info choosebutton">选择文件</span>
                        <em>
                            <a href="/tools/Public/help/test.goexample.list" target="_blank" style=" margin-left:10px;">
                                示例文件									</a>
                        </em>
                    </div>
                    <br>
                    <br>
                </div>
                <div id="collapse0" class="panel-collapse fade collapse" style="height: auto;">
                    <div class="panel-body">
                        即想要研究的基因列表，每行第一列为基因id，基因id要包含在背景基因表中							</div>
                </div>


                <div class="form-group">
                    <label for="qushi">
                            &nbsp;&nbsp; &nbsp;&nbsp; 类型：&nbsp;&nbsp;
                    </label>
                </div>
                <div class="form-group">
                    <div class="radio-primary">
                        <input id="difftype1" name="difftype" type="radio" value="nodiff" checked="checked">
                        <label for="difftype1">nodiff</label>
                    </div>

                    <div class="radio-primary">
                        <input id="difftype2" name="difftype" type="radio" value="diff">
                        <label for="difftype2">diff</label>
                    </div>
                </div>


                <textarea id="" name="txdata" class="form-control kindeditorSimple" style="height:150px;width:100%;" placeholder="或手动输入文件"></textarea>
                <br>
                <br>


                <div class="form-group">
                    <em>2：</em><label for="exampleInputName2">
                    <input type="checkbox" name="desc" value="A" id="adddesc">&nbsp;&nbsp;
                    <span data-toggle="collapse" href="#collapse2" class="pointer">使用已有参考</span>
                </label>
                </div>

                    <!--   <div style="float:left;margin-bottom:30px;">
							<input type="checkbox" name="desc" value="A" id="adddesc">添加已有参考&nbsp;&nbsp;
						  </div> -->
                <br>
                <br>
                <div id="para" style="display:none;">
                    <label for="exampleInputName2">
                        <span>物种/类型/版本</span>
                    </label>

                    <div class="form-group" style="display: block">
                        <select name="parameter2" id="parameter2">
                            <option value="osa" selected="selected">Oryza sativa Japonica genes (IRGSP-1.0
                                (IRGSP-1.0))
                            </option>
                            <option value="osa2">Oryza sativa Indica genes (ASM465v1 (2010-07-BGI))</option>
                            <option value="ath">Arabidopsis thaliana genes (TAIR10 (2010-09-TAIR10))</option>
                            <option value="mmu">Mus musculus genes (GRCm38.p4)</option>
                            <option value="rno">Rattus norvegicus genes (Rnor_6.0)</option>
                            <option value="dre">Danio rerio genes (GRCz10)</option>
                            <option value="gga">Gallus gallus genes (Galgal4) E</option>
                            <option value="hsa">Homo sapiens genes (GRCh38.p5)</option>
                            <option value="cel">Caenorhabditis elegans genes (WBcel235 (WS250))</option>
                            <option value="dme">Drosophila melanogaster genes (BDGP6 (dmel_r6.02_FB2014_05)
                            </option>
                        </select>
                        <select name="parameter3" id="parameter3">
                            <option value="0" selected="selected">基因</option>
                            <option value="1">转录本</option>
                        </select>
                        <select name="parameter4" id="parameter4">
                            <option value="1" selected="selected">Ensemble_84or31</option>
                            <option value="2" selected="selected">Ensemble_96or43</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <span id="preview" type="button" onclick="preview()" class="btn btn-sm btn-info " style="margin-top: 7px">预览参考文件</span>
                </div>

                <br>
                <br>
                <div id="collapse2" class="panel-collapse fade collapse" style="height: auto;">
                    <div class="panel-body">
                        目前提供的物种有水稻、拟南芥、小鼠、大鼠、斑马鱼、鸡、秀丽线虫、果蝇、人。ID类型可选择基因ID或转录本ID，根据富集目的基因的ID类型决定。可以点击“使用已有参考选项”后出现的“预览参考文件”来查看具体ID。							</div>
                </div>
                <script type="text/javascript">


                        function preview() {
                            // $para=$(this).parent().attr("id");
                            var para1 = $("#parameter4").val();
                            var para2 = $("#parameter3").val();
                            var para3 = $("#parameter2").val();
                            console.log(para1 + para2 + para3);
                            $.post("/tools/home/soft/goannotpreview", {
                                para1: para1,
                                para2: para2,
                                para3: para3
                            }, function (data) {
                                data = $.parseJSON(data);

                                (new $.zui.ModalTrigger({
                                    custom: function () {
                                        str = '<div style="overflow:auto;width:880px;height:500px;white-space:nowrap;">' + data.type + '</div>';

                                        return str;
                                    }, width: '900px', height: '600px', icon: 'file', title: '文件预览'
                                })).show();

                            })
                        }
                </script>

                <div id="div2" class="one-line">
                    <div class="form-group-p">
                        <div class="form-group">
                            <em>3：</em><label for="exampleInputName2">
                            <span data-toggle="collapse" href="#collapse1" class="pointer">
                                GO背景基因文件：
                            </span>
                        </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" style="" id="filepath2" name="text2" readonly="readonly">
                            <img id="tempimg2" dynsrc="" src="" style="display:none">
                            <input id="hideinput2" type="file" name="table2" style="display:none;" onchange="change(this.value)">
                        </div>
                    </div>
                    <div class="form-group-extra">
                        <span id="choosefile" type="button" onclick="choosefile($(this))" data-id="2" class="btn btn-sm btn-info choosebutton">选择文件</span>
                        <em>
                            <a href="/tools/Public/help/gobackgene.txt" target="_blank" style=" margin-left:10px; ">
                                示例文件									</a>
                        </em>
                    </div>
                    <br>
                    <br>
                </div>
                <div id="collapse1" class="panel-collapse fade collapse" style="height: auto;">
                    <div class="panel-body">
                        所有基因的GO注释文件，格式为第一列为基因id，第二类为GO注释结果							</div>
                </div>
                <br>
                <input type="hidden" value="upload" name="act">
                <input type="hidden" value="blastcmp" name="action">
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="go()">
            </form>

        </div>

        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 320px;">
            <ul class="nav nav-tabs nav-tabs-right">
                <li class="active">
                    <a href="###" data-target="#tab2Content2" data-toggle="tab">示例结果</a>
                </li>
                <li class="">
                    <a href="###" data-target="#tab2Content1" data-toggle="tab">使用说明</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="tab2Content2">
                    <h5>输出结果：</h5>
                    <blockquote>
                        <p>
                            ① out.[PFC].html 网页格式结果，3个分别对应GO的3个主要分类。结果如下图所示，
                            包含两个部分:
                            第一部分为GO富集结果统计表，包括GOid，GO功能描述，基因比例，背景基因比例，P值，Q值，P值Q值 小于0.05的显示红色。									<br>
                            <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/newgo1.png" alt="生物云平台">
                            <br>
                            ② 第二部分为GO富集的具体基因，点击GOid可以链接到http://amigo.geneontology.org 官网，可以查看GO的具体信息。									<br>
                            <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/newgo2.png" alt="生物云平台">

                        </p>
                        <p>
                            ③ out.[PFC].png，out.[PFC].pdf,out.[PFC].xls
                            GO富集的有向无环图，只显示富集的GO term（即p值小于0.05的），没有小于
                            0.05的结果时，则没有这些文件。可以在xls结果从查看，结果与网页结果对应，包括GOid，GO功能描述，基因比例，背景基因比例，P值，Q值，以及相应的基因id.

                        </p>
                        <br>
                        <p>
                            ④ out.secLevel.svg/png
                            图片结果如下图所示，为GO二级分类统计图，统计了用于富集的基因在GO 的二级分类中占各个分类的数量，统计结果在xls表中。表格内容包括，Ontology，Class（GO的二级分类），基因数，具体基因id.
                            <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/newgo3.png" alt="生物云平台">
                            <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/newgo4.png" alt="生物云平台">
                        </p>
                    </blockquote>
                </div>
                <div class="tab-pane fade" id="tab2Content1">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>功能：</strong></span><br>
                        Gene Ontology（简称GO）是一个国际标准化的基因功能分类体系，提供了一套动态更新的标准词汇表（controlled vocabulary）来全面描述生物体中基因和基因产物的属性。GO总共有三个ontology（本体），分别描述基因的分子功能（molecular function）、细胞组分（cellular component）、参与的生物过程（biological process）。GO的基本单位是term（词条、节点），每个term都对应一个属性。GO功能分析一方面给出差异表达基因的GO功能分类注释；另一方面给出差异表达基因的GO功能显著性富集分析。 首先，我们将差异表达基因向GO数据库(http://www.geneontology.org/)的各term映射，并计算每个term的基因数，从而得到具有某个GO功能的基因列表及基因数目统计。然后应用超几何检验，找出与整个基因组背景相比，在差异表达基因中显著富集的GO条目。
                        <br>
                        <strong> P的计算公式： </strong>
                        <img class="img-rounded img-thumbnail img-responsive" src="https://www.omicshare.com/tools/Public/help/go_p.png" alt="生物云平台" style="height:auto;width:180px;">
                        其中，N为所有Unigene中具有GO注释的基因数目；n为N中差异表达基因的数目；M为所有Unigene中注释为某特定GO term的基因数目；m为注释为某特定GO term的差异表达基因数目。计算得到的pvalue通过FDR校正之后，以corrected-pvalue≤0.05为阈值，满足此条件的GO term定义为在差异表达基因中显著富集的GO term。通过GO功能显著性富集分析能确定差异表达基因行使的主要生物学功能。
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>输入：</strong></span>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ①输入的表格文件，必须为txt格式。可以选择在excel中将数据打开，然后另存为"文本文件(制表符分隔)(*.txt)"。
                        <span style="color:red;">也可以输入两列，diff是差异结果，第二列为差异倍数取log2，大于0上调，小于0下调，此时参数应选择diff。</span>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ②富集的目的基因列表，即想要研究的基因列表，每行第一列为基因id，基因id要包含在背景基因表中。
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ③背景基因总表，如果是有参考基因组的模式生物，可以直接使用已有参考基因作为背景基因文件。目前提供的物种有水稻、拟南芥、小鼠、大鼠、斑马鱼、鸡、秀丽线虫、果蝇、人。ID类型可选择基因ID或转录本ID，根据富集目的基因的ID类型决定。可以点击“预览参考文件”来查看具体ID。
                        <br>
                        如果所研究物种不在以上范围，则需要自行准备GO背景基因文件。现在支持两种格式。第一种：格式为第一列为基因id，第二列为GO注释结果。第二种：同一个基因的所有GO号会在同一行并列给出。任务提交后，程序会自动判断处理。如下图所示：
                    </p>
                    <img class="img-rounded img-thumbnail img-responsive" src="https://www.omicshare.com/tools/Public/help/go2_1.png" alt="生物云平台" style="height:auto;"><span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"> </span><img class="img-rounded img-thumbnail img-responsive" src="https://www.omicshare.com/tools/Public/help/go2_2.png" alt="生物云平台" style="height:auto;"><span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span><br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <br>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>输出：</strong></span>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ①out.[PFC].html: 网页格式结果，3个分别对应GO的3个主要分类。
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ②out.[PFC].xls： 基因的GO功能分类统计结果。
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ③out.[PFC].png：基因的GO功能分类结果统计图
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ④out.secLevel2.svg/png：为GO二级分类统计图，统计了用于富集的基因在GO 的二级分类中占各个分类的数量，统计结果在xls表中。表格内容包括，Ontology，Class（GO的二级分类），基因数，具体基因id。
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ⑤out.level2.xls: GO第二级分类统计
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script type="text/javascript">

        var difftype="nodiff";
        var bool=false;

        function go() {

            if($("#difftype1").is(':checked')) difftype=$("#difftype1").val();
            else difftype=$("#difftype2").val();

            if($("#adddesc").is(':checked')) bool=true;
            else  bool=false;

            if(@session.get("userId").isEmpty){
                swal({
                    title: "尚未登录",
                    text: "请先登录账号",
                    type: "warning",
                    confirmButtonText: "确认"
                })
            }else {

                var form1 = new FormData($("#GO")[0]);
                var element = "<div id='content'><span id='info'>运行中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;'></div>"
                var index = layer.alert(element, {
                    skin: 'layui-layer-lan',
                    closeBtn: 0,
                    title: "Info",
                    btn: []
                });

                $.ajax({
                    url: "/CloudPlatform/SoftTool/runGo?id=@session.get("userId")"+"&difftype="+difftype+"&adddesc="+bool,
                    type: "post",
                    processData: false,
                    contentType: false,
                    data: form1,
                    success: function (data) {
                        if (data.valid === "false") {
                            layer.close(index);
                            swal("Error", data.message, "error");

                        } else {

                            layer.close(index);
                            $.ajax({
                                url:"/CloudPlatform/SoftTool/getFiles?id=@session.get("userId")"+"&taskname="+data.taskname,
                                type:"post",
                                success:function (pics) {
                                    var pic = "";
                                    var html = "";
                                    $.each(pics,function (i,v) {
                                        pic +="<li><img class='img-rounded img-thumbnail img-responsive' src='/CloudPlatform/pic?path="+v+"' alt=\"生物云平台\"><li>"
                                        html += "<li><a href='/CloudPlatform/SoftTool/download?path="+data.path+"&name=" + v.substring(v.lastIndexOf("\\")+1,v.length) + "' target='_blank'>" + v.substring(v.lastIndexOf("\\")+1,v.length) + "</a></li>"
                                    });
                                    $("#filesUrl").html(html);
                                    $("#pics").html(pic);
                                }
                            })

                            $("#result_tab1").show();
                            $("#result_tab1").addClass("active")
                            $("#out_tab1").removeClass("active")
                            $("#ins_tab1").removeClass("active")
                            $("#result1").addClass("active").addClass("in")
                            $("#form1").removeClass("active");
                            $("#instruction1").removeClass("active");
                        }
                    }
                });
            }
        }


            function choosefile($para) {
                if(@session.get("userId").isEmpty){
                    swal({
                        title: "尚未登录",
                        text: "请先登录账号",
                        type: "warning",
                        confirmButtonText: "确认"
                    })
                }else {
                    $number = $para.attr("data-id");
                    $("#hideinput" + $number).click();
                }

            }

            //上传文件判断，大小和格式 限制! 问题：云端文件判断不了。（云端文件上传时已经经过限制，可以大于5M，本地限制大小是因上传速度问题)
            var maxsize = 5 * 1024 * 1024;//2M
            var errMsg = '建议使用云端文件，本地文件上传最大为5M！';

            function change(value, rowMax, colMax) {
                $("#filepath" + $number).val(value);
                var filepath = document.getElementById("hideinput" + $number);

                var file_size = 0;


                file_size = filepath.files[0].size;
                let name = filepath.files[0].name;
                let patt = /^[a-zA-Z0-9._]+$/;
                if (!patt.test(name)) {
                    alert("文件名只能由字母，数字，'_'和'.'组成");
                    $("#filepath" + $number).val('');
                    $("#hideinput" + $number).val('');
                }
                var size = file_size;
                if (size > maxsize) {
                    alert(errMsg);
                    $("#filepath" + $number).val('');
                    $("#hideinput" + $number).val('');
                }

            }

            $(document).ready(function () {
                $("#adddesc").click(function () {
                    $("#para").toggle();
                    var isSelected = this.checked;
                    // alert(isSelected);
                    if (isSelected == true) {
                        $("#div2").hide();
                    } else {
                        $("#div2").show();
                    }
                })
            });
    </script>



}