@(abbre:String)(implicit session: Session)
@home.main("Heatmap"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
    <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <div class="col-md-12 mysoft-content" style="width: 98%;">
        <div class="mysoft-content-left whitebox" style="width: 771px;overflow-y: auto">
            <form id="heatmap" method="GET" novalidate="novalidate" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic Heatmap"> </div>
                <h3 class="tools-title">热图（Heatmap）</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="">
                    </div>
                </div>
                <br><br>
                <div id="div1" class="one-line">
                    <div class="form-group-p" style="width: 465px">
                        <div class="form-group">
                            <label for="exampleInputName2">上传矩阵文件：</label>
                        </div>
                        <div class="form-group" style="width: 350px">
                            <input type="file" class="form-control file" id="table1" name="table1" onchange="checkTable()">
                        </div>
                    </div>
                    <div class="form-group-extra">
                        <em><a href="/assets/files/heatmap.txt" target='_blank'>示例文件</a></em><span class="must" style="margin-left: 10px">*</span>&nbsp;&nbsp;
                    </div>
                    <br>
                    <br>
                </div>
                <div class="form-group-p">
                    <div class="form-group">
                        <label>是否对行聚类：</label>
                    </div>
                    <div class="form-group">
                        <select id="cluster_rows" name="cluster_rows" onchange="clurow()">
                            <option value="FALSE">不聚类</option>
                            <option value="TRUE">自动聚类</option>
                            <option value="file">上传聚类信息文件</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div id="autoclur" class="one-line" style="display: none">
                    <div class="form-group-p">
                        <div class="form-group">
                            <label>自动行聚类方法：</label>
                        </div>
                        <div class="form-group">
                            <select id="crm" name="crm">
                                <option value="complete">complete</option>
                                <option value="single">single</option>
                                <option value="ward.D">ward</option>
                                <option value="average">average</option>
                                <option value="mcquitty">mcquitty</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div id="clur" class="one-line" style="display: none">
                    <div class="form-group-p" style="width: 500px">
                        <div class="form-group">
                            <label for="exampleInputName0">
                                行聚类文件：
                            </label>
                        </div>
                        <div class="form-group" style="width: 350px;display: inline-block">
                            <input type="file" class="form-control file" id="table2" name="table2">
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/assets/files/heat_inputrow.txt" target='_blank'>示例文件</a></em>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="form-group-p">
                    <div class="form-group">
                        <label>是否对列聚类：</label>
                    </div>
                    <div class="form-group">
                        <select id="cluster_cols" name="cluster_cols" onchange="clucol()">
                            <option value="FALSE">不聚类</option>
                            <option value="TRUE">自动聚类</option>
                            <option value="file">上传聚类信息文件</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div id="autocluc" class="one-line" style="display: none">
                    <div class="form-group-p">
                        <div class="form-group">
                            <label>自动列聚类方法：</label>
                        </div>
                        <div class="form-group">
                            <select id="ccm" name="ccm">
                                <option value="complete">complete</option>
                                <option value="single">single</option>
                                <option value="ward.D">ward</option>
                                <option value="average">average</option>
                                <option value="mcquitty">mcquitty</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div id="cluc" class="one-line" style="display: none">
                    <div class="form-group-p" style="width: 500px">
                        <div class="form-group">
                            <label for="exampleInputName0">
                                列聚类文件：
                            </label>
                        </div>
                        <div class="form-group" style="width: 350px;display: inline-block">
                            <input type="file" class="form-control file" id="table3" name="table3">
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/assets/files/heat_inputcol.txt" target='_blank'>示例文件</a></em>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="form-group-p">
                    <div class="form-group">
                        <input type="checkbox" name="isgroupr" id="isgroupr" class="form-control" style="height: 13px;width: auto;float: left;margin-top: 3px;">&nbsp;&nbsp;
                    </div>
                    <span>是否行分组</span>
                </div>
                <br>
                <div id="groupr" class="one-line" style="display: none;">
                    <div class="form-group-p" style="width: 500px">
                        <div class="form-group">
                            <label for="exampleInputName0">
                                行分组文件：
                            </label>
                        </div>
                        <div class="form-group" style="width: 350px;display: inline-block">
                            <input type="file" class="form-control file" id="table4" name="table4" onchange="checkGroupRow()">
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/assets/files/heat_rowgroup.txt" target='_blank'>示例文件</a></em>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="form-group-p">
                    <div class="form-group">
                        <input type="checkbox" name="isgroupc" id="isgroupc" class="form-control" style="height: 13px;width: auto;float: left;margin-top: 3px;">&nbsp;&nbsp;
                    </div>
                    <span>是否列分组</span>
                </div>
                <br>
                <div id="groupc" class="one-line" style="display: none;">
                    <div class="form-group-p" style="width: 500px">
                        <div class="form-group">
                            <label for="exampleInputName0">
                                列分组文件：
                            </label>
                        </div>
                        <div class="form-group" style="width: 350px;display: inline-block">
                            <input type="file" class="form-control file" id="table5" name="table5" onchange="checkGroupCol()">
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/assets/files/heat_colgroup.txt" target='_blank'>示例文件</a></em>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="form-group-p">
                    <div class="form-group">
                        <input type="checkbox" name="istag" id="istag" class="form-control" style="height: 13px;width: auto;float: left;margin-top: 3px;">&nbsp;&nbsp;
                    </div>
                    <span>是否自定义格子标签</span>
                </div>
                <br>
                <div id="showtag" class="one-line" style="display: none;">
                    <div class="form-group-p" style="width: 500px">
                        <div class="form-group">
                            <label for="exampleInputName0">
                                标签文件：
                            </label>
                        </div>
                        <div class="form-group" style="width: 350px;display: inline-block">
                            <input type="file" class="form-control file" id="table6" name="table6" onchange="checkTag()">
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/assets/files/heat_tag.txt" target='_blank'>示例文件</a></em>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapseOne">
                        <h4 class="panel-title">
                            <a id="pos1">
                                <span style="font-size:12px;">选填参数（Optional）：</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">选择用于作图的行：</label>
                                    <input type="text" name="inr" id="inr" value="" placeholder="如1-10,13,15-20" class="form-control input-sm" style="width:200px;">
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="format">选择用于作图的列：</label>
                                    <input type="text" name="inc" id="inc" value="" placeholder="如1-10,13,15-20" class="form-control input-sm" style="width:200px;">
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否取lg：</label>
                                </div>
                                <div class="form-group">
                                    <select name="lg">
                                        <option value="none">none</option>
                                        <option value="lg2">lg2</option>
                                        <option value="lg10">lg10</option>
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>归一化：</label>
                                </div>
                                <div class="form-group">
                                    <select name="sc">
                                        <option value="none">none</option>
                                        <option value="col">column</option>
                                        <option value="row">row</option>
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label>颜色：<span style="font-size:small;">&nbsp;(从左到右，代表数值越来越大)</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <select name="color" id="color" style="width: 170px">
                                    <option value="#E41A1C:#FFFF00:#1E90FF">蓝-黄-红</option>
                                    <option value="#E41A1C:#FFFFFF:#1E90FF">蓝-白-红</option>
                                </select>
                            </div>
                            <br>
                            <br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>在格子上显示数字：</label>
                                </div>
                                <div class="form-group">
                                    <select name="hasnum">
                                        <option value="FALSE">no</option>
                                        <option value="TRUE">yes</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否显示行名：</label>
                                </div>
                                <div class="form-group">
                                    <select name="hasrname">
                                        <option value="TRUE">yes</option>
                                        <option value="FALSE">no</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>是否显示列名：</label>
                                </div>
                                <div class="form-group">
                                    <select name="hascname">
                                        <option value="TRUE">yes</option>
                                        <option value="FALSE">no</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label>画出格子的边界：</label>
                                </div>
                                <div class="form-group">
                                    <select id="hasborder" name="hasborder">
                                        <option value="white">yes</option>
                                        <option value="none">no</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="upload" name="act">
                <input type="hidden" value="heatmap" name="action">
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="runheatmap()" style="margin-bottom: 20px">
            </form>

        </div>

        <div class="handler"></div>

        <div class="mysoft-content-right" style="width: 279px;box-sizing: border-box!important;">
            <ul class="nav nav-tabs">
                <li class="active" id="ins_tab1">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="out_tab1">
                    <a href="###" data-target="#example" data-toggle="tab">教学视频</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="instruction">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>1.背景介绍</strong></span><br>
                        作为目前最常见的一种可视化手段，热图因其丰富的色彩变化和生动饱满的信息表达被广泛应用于各种大数据分析场景，云平台也提供了在线绘制热图工具。
                        <br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.操作方法</strong></span>
                    </p>
                    <img src="/assets/images/softpic/instruction/heat1.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%">
                        操作界面
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.1.输入文件</strong></span><br>
                        首先上传二维矩阵文件，第一行为样本，第一列为基因名，示例文件如下。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/heat2.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.2.行列参数</strong></span><br>
                        上传矩阵文件后，设置行列参数。<br>
                        (1) 是否对行聚类：不聚类或自动聚类或上传聚类信息文件，自动聚类需要选择聚类方法<br>
                        (2) 是否对列聚类：不聚类或自动聚类或上传聚类信息文件，自动聚类需要选择聚类方法<br>
                        (3) 是否对行分组：是或否，选择“是”需要上传分组文件<br>
                        (4) 是否对列分组：是或否，选择“是”需要上传分组文件<br>
                        (5) 是否自定义格子标签：是或否，选择“是”需要上传标签文件<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/heat3.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.3.选择参数</strong></span><br>
                        选择用于作图的行列、是否归一化、是否取对数、颜色设置和是否在格子上显示数字等。选择完成后点击“提交”按钮即可。<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/heat4.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.4.查看任务</strong></span><br>
                        提交任务后，点击界面右侧的“heatmap历史任务”模块，可以看到任务编号、提交时间、结束时间和状态。通过点击界面“我的任务”也可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/heat5.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。
                        <br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>3.示例图片</strong></span><br>
                        生成的图片根据设置的参数不同会出现差异，示例图片如下，参数选择按前5列绘制、按列进行归一化处理、不取lg、不对行和列聚类。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/heat6.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>4.结果文件列表</strong></span><br>
                        结果文件仅包含生成的热图pdf格式文件，但该热图可以通过以下参数进行在线调整。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/heat7.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                </div>
                <div class="tab-pane fade" id="example">
                    <div id="dplayer"></div>
                </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh('@abbre')">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_time"><span>任务编号</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(document).ready(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("heatmap","Heat");
                loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgts3S_QUo_uGeyAc.mp4","/assets/images/softpic/video/heatmap_video.png")
            });

            var flagtable=true;
            var row=0;
            var col=0;
            var colsample;
            var rowsample;

            function checkTable() {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table1').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        row=line.length-1;
                        colsample=line[0].trim().split('\t');
                        col=colsample.length-1;
                        var length=colsample.length;
                        rowsample=[];
                        for(let i in line){
                            var r=parseInt(i)+1;
                            let row=line[i].trim().split('\t');
                            if(rowsample.indexOf(row[0])>=0){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "矩阵文件错误",
                                    text: "矩阵文件第"+r+"行基因名重复存在，请核实！",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }else rowsample.push(row[0]);
                            var name=[];
                            if(row.length!=length){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "矩阵文件格式错误",
                                    text: "矩阵文件第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                            for(let j in row){
                                var c=parseInt(j)+1;
                                if(i!=0){
                                    if(j!=0 && !checkRate(row[j].trim())){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "矩阵文件格式错误",
                                            text: "矩阵文件第"+r+"行,第"+c+"列数据不是数字",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }
                                }else {
                                    if(name.indexOf(row[j])>=0){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "矩阵文件错误",
                                            text: "矩阵文件第1行,第"+c+"列样品名重复存在，请核实！",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }else name.push(row[j]);
                                }
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkGroupRow() {
                return new Promise((resolve, reject) => {
                    if($("#isgroupr").prop("checked")){
                        if($("#table1").val()==""){
                            flagtable=flagtable&&false;
                            $("#heatmap").formValidation("revalidateField", "table1");
                            $("#groupr").find(".fileinput-remove").click();
                            // var file = document.getElementById('table4');
                            // file.value = '';
                            // $(".file-caption-name").attr("title","");
                            swal({
                                title: "请先上传矩阵文件",
                                text: "请先上传矩阵文件！",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            resolve(false);
                        }
                        if($("#table4").val()!=""){
                            var reader=new FileReader();
                            reader.readAsText(document.getElementById('table4').files[0],"UTF-8");
                            reader.onload=function () {
                                let text=reader.result;
                                let line=text.trim().split('\n');
                                var name=[];
                                for(let i in line) {
                                    if(i!=0){
                                        let row=line[i].trim().split('\t');
                                        var r=parseInt(i)+1;
                                        if(rowsample.indexOf(row[0])<0){
                                            flagtable=flagtable&&false;
                                            swal({
                                                title: "行分组文件格式错误",
                                                text: "行分组文件第"+r+"行样品名不存在，请核对矩阵文件！",
                                                type: "warning",
                                                confirmButtonText: "确认"
                                            });
                                            resolve(false);
                                        }
                                        if(name.indexOf(row[0])>=0){
                                            flagtable=flagtable&&false;
                                            swal({
                                                title: "行分组文件错误",
                                                text: "行分组文件第"+r+"行样品名重复存在，请核实！",
                                                type: "warning",
                                                confirmButtonText: "确认"
                                            });
                                            resolve(false);
                                        }else name.push(row[0]);
                                    }
                                }
                                flagtable=flagtable&&true;
                                resolve(true);
                            };
                        }else {
                            flagtable=flagtable&&false;
                            resolve(false);
                        }
                    }else {
                        flagtable=flagtable&&true;
                        resolve(true);
                    }
                });
            }

            function checkGroupCol() {
                return new Promise((resolve, reject) => {
                    if($("#isgroupc").prop("checked")) {
                        if($("#table1").val()==""){
                            flagtable=flagtable&&false;
                            $("#heatmap").formValidation("revalidateField", "table1");
                            $("#groupc").find(".fileinput-remove").click();
                            swal({
                                title: "请先上传矩阵文件",
                                text: "请先上传矩阵文件！",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            resolve(false);
                        }
                        if($("#table5").val()!=""){
                            var reader=new FileReader();
                            reader.readAsText(document.getElementById('table5').files[0],"UTF-8");
                            reader.onload=function () {
                                let text=reader.result;
                                let line=text.trim().split('\n');
                                var name=[];
                                for(let i in line) {
                                    if(i!=0){
                                        let row=line[i].trim().split('\t');
                                        var r=parseInt(i)+1;
                                        if(colsample.indexOf(row[0])<0){
                                            flagtable=flagtable&&false;
                                            swal({
                                                title: "列分组文件格式错误",
                                                text: "列分组文件第"+r+"行样品名不存在，请核对矩阵文件！",
                                                type: "warning",
                                                confirmButtonText: "确认"
                                            });
                                            resolve(false);
                                        }
                                        if(name.indexOf(row[0])>=0){
                                            flagtable=flagtable&&false;
                                            swal({
                                                title: "列分组文件错误",
                                                text: "列分组文件第"+r+"行样品名重复存在，请核实！",
                                                type: "warning",
                                                confirmButtonText: "确认"
                                            });
                                            resolve(false);
                                        }else name.push(row[0]);
                                    }
                                }
                                flagtable=flagtable&&true;
                                resolve(true);
                            };
                        }else {
                            flagtable=flagtable&&false;
                            resolve(false);
                        }
                    }else {
                        flagtable=flagtable&&true;
                        resolve(true);
                    }
                });
            }

            function checkTag() {
                return new Promise((resolve, reject) => {
                    if($("#istag").prop("checked")) {
                        if($("#table1").val()==""){
                            flagtable=flagtable&&false;
                            $("#heatmap").formValidation("revalidateField", "table1");
                            $("#showtag").find(".fileinput-remove").click();
                            swal({
                                title: "请先上传矩阵文件",
                                text: "请先上传矩阵文件！",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            resolve(false);
                        }
                        if($("#table6").val()!=""){
                            var reader=new FileReader();
                            reader.readAsText(document.getElementById('table6').files[0],"UTF-8");
                            reader.onload=function () {
                                let text=reader.result;
                                let line=text.trim().split('\n');
                                var rowname=[];
                                for(let i in line) {
                                    let row=line[i].trim().split('\t');
                                    var r=parseInt(i)+1;
                                    if(i!=0){
                                        if(rowsample.indexOf(row[0])<0){
                                            flagtable=flagtable&&false;
                                            swal({
                                                title: "标签文件格式错误",
                                                text: "标签文件第"+r+"行基因名不存在，请核对矩阵文件！",
                                                type: "warning",
                                                confirmButtonText: "确认"
                                            });
                                            resolve(false);
                                        }
                                        if(rowname.indexOf(row[0])>=0){
                                            flagtable=flagtable&&false;
                                            swal({
                                                title: "标签文件错误",
                                                text: "标签文件第"+r+"行基因名重复存在，请核实！",
                                                type: "warning",
                                                confirmButtonText: "确认"
                                            });
                                            resolve(false);
                                        }else rowname.push(row[0]);

                                    }else{
                                        var colname=[];
                                        for(let j in row){
                                            var c=parseInt(j)+1;
                                            if(j!=0){
                                                if(colsample.indexOf(row[j])<0){
                                                    flagtable=flagtable&&false;
                                                    swal({
                                                        title: "标签文件格式错误",
                                                        text: "标签文件第"+c+"列样品名不存在，请核对矩阵文件！",
                                                        type: "warning",
                                                        confirmButtonText: "确认"
                                                    });
                                                    resolve(false);
                                                }
                                                if(colname.indexOf(row[j])>=0){
                                                    flagtable=flagtable&&false;
                                                    swal({
                                                        title: "标签文件错误",
                                                        text: "标签文件第"+c+"列样品名重复存在，请核实！",
                                                        type: "warning",
                                                        confirmButtonText: "确认"
                                                    });
                                                    resolve(false);
                                                }else colname.push(row[j]);
                                            }
                                        }
                                    }
                                }
                                flagtable=flagtable&&true;
                                resolve(true);
                            };
                        }else {
                            flagtable=flagtable&&false;
                            resolve(false);
                        }
                    }else {
                        flagtable=flagtable&&true;
                        resolve(true);
                    }
                });
            }


            function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            function checkrow() {
                if($("#inr").val()!="") {
                    var r=$("#inr").val().toString().split(/[,\-]/);
                    if(r.length>row){
                        swal({
                            title: "作图的行格式错误",
                            text: "用于作图的行的数量不得超过矩阵文件数据行数！当前作图的行的数量为"+r.length+"，矩阵文件数据共"+row+"行",
                            type: "warning",
                            confirmButtonText: "确认"
                        });
                        return false;
                    }
                    for(let rr in r){
                        if(parseInt(r[rr])>row){
                            swal({
                                title: "作图的行格式错误",
                                text: r[rr]+"超过矩阵文件行数！矩阵文件数据共"+row+"行",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }
                    }
                    return true;
                }else return true;
            }

            function checkcol() {
                if($("#inc").val()!="") {
                    var c=$("#inc").val().toString().split(/[,\-]/);
                    if(c.length>col){
                        swal({
                            title: "作图的列格式错误",
                            text: "用于作图的列的数量不得超过矩阵文件数据列数！当前作图的列的数量为"+c.length+"，矩阵文件数据共"+col+"列",
                            type: "warning",
                            confirmButtonText: "确认"
                        });
                        return false;
                    }
                    for(let cc in c){
                        if(parseInt(c[cc])>col){
                            swal({
                                title: "作图的行格式错误",
                                text: c[cc]+"超过矩阵文件列数！矩阵文件数据共"+col+"列",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }
                    }
                    return true;
                }else return true;
            }

            function checkgroupr() {
                if($("#table4").val()!="" && $("#inr").val()!=""){
                    swal({
                        title: "错误",
                        text: "上传行分组后，不可再选择用于做图的行！请取消上传行分组文件，或删除用于做图的行",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    return false;
                }else return true;
            }

            function checkgroupc() {
                if($("#table5").val()!="" && $("#inc").val()!=""){
                    swal({
                        title: "错误",
                        text: "上传列分组后，不可再选择用于做图的列！请取消上传列分组文件，或删除用于做图的列",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    return false;
                }else return true;
            }

            function runheatmap(formId) {
                var form = $("#heatmap");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    flagtable=true;
                    var check=[];
                    check.push(checkTable());
                    check.push(checkGroupRow());
                    check.push(checkGroupCol());
                    check.push(checkTag());
                    Promise.all(check).then((r)=>{
                        if(flagtable&&checkcol()&&checkrow()&&checkgroupr()&&checkgroupc()&&checktaskname()) {
                            var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                            var index = layer.alert(element, {
                                skin: 'layui-layer-lan',
                                closeBtn: 0,
                                title: "提醒",
                                btn: []
                            });
                            setTimeout(function () {
                                layer.close(index);
                                var form1 = new FormData($("#heatmap")[0]);
                                $.ajax({
                                    url: "/CloudPlatform/SoftTool/runHeatmap?isgroupr="+$("#isgroupr").prop("checked")+"&isgroupc="+$("#isgroupc").prop("checked")+"&istag="+$("#istag").prop("checked"),
                                    type: "post",
                                    processData: false,
                                    contentType: false,
                                    data: form1,
                                    success: function (data) {
                                        removeul();
                                        loadHistory("@abbre");
                                        $("#his_tab1").addClass("active");
                                        $("#out_tab1").removeClass("active");
                                        $("#ins_tab1").removeClass("active");
                                        $("#history").addClass("active").addClass("in");
                                        $("#example").removeClass("active");
                                        $("#instruction").removeClass("active");
                                        getTaskName("heatmap","Heat");
                                    }
                                });
                            }, 2000);
                        }
                    });
                }
            }

            function clurow() {
                if($("#cluster_rows").val()=="file") {
                    $("#autoclur").hide();
                    $("#clur").show();
                }else if($("#cluster_rows").val()=="TRUE") {
                    console.log(111);
                    $("#clur").hide();
                    $("#autoclur").show();
                } else {
                    $("#clur").hide();
                    $("#autoclur").hide()
                }
            }

            function clucol() {
                if($("#cluster_cols").val()=="file") {
                    $("#autocluc").hide();
                    $("#cluc").show();
                } else if($("#cluster_cols").val()=="TRUE") {
                    $("#cluc").hide();
                    $("#autocluc").show();
                } else {
                    $("#cluc").hide();
                    $("#autocluc").hide();
                }
            }

            $("#isgroupr").click(function () {
                var isSelected = this.checked;
                if (isSelected === true) {
                    $("#groupr").show();
                } else {
                    $("#groupr").hide();
                }
            });

            $("#isgroupc").click(function () {
                var isSelected = this.checked;
                if (isSelected === true) {
                    $("#groupc").show();
                } else {
                    $("#groupc").hide();
                }
            });

            $("#istag").click(function () {
                var isSelected = this.checked;
                if (isSelected === true) {
                    $("#showtag").show();
                } else {
                    $("#showtag").hide();
                }
            });

            function formValidation() {
                $('#heatmap').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        taskname: {
                            validators: {
                                notEmpty: {
                                    message: '任务编号不能为空!'
                                },
                                remote:{
                                    type: 'POST',
                                    url: '@routes.DutyController.checktaskname()',
                                    message: "任务编号重复，请重新输入"
                                }
                            }
                        },
                        table1: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传矩阵表格文件!'
                                },
                                file: {
                                    // extension: 'jpeg,jpg,png',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        table2: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传行聚类文件，或选择自动聚类或不聚类!'
                                },
                                file: {
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        table3: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传列聚类文件，或选择自动聚类或不聚类!'
                                },
                                file: {
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        table4: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传行分组文件，或取消行分组!'
                                },
                                file: {
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        table5: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传列分组文件，或取消列分组!'
                                },
                                file: {
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        table6: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传格子标签文件，或取消自定义格子标签!'
                                },
                                file: {
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        }
                    }
                });
            }


    </script>



}