@()(implicit session: Session)
@home.main("Inner-group Correlation Analysis"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />

    <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .messager.top {
                top: 20px;
                height: auto;
            }
            .messager-content {
                text-align: center;
                float: left;
                height: 31px;
                display: inline-flex;
                padding: 9px 0 0 0;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="  mysoft-content-left  whitebox" style="width: 590px;">
            <form id="IGC" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <img class="tools-img" src="/assets/images/softpic/box.jpg">
                <h3 class="tools-title">组内相关性分析</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="">
                    </div>
                </div>
                <br><br>
                <div id="myform">
                    <div id="div1" class="one-line">
                        <div class="form-group-p">
                            <div class="form-group">
                                <label for="filepath1">上传文件：</label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table1" name="table1" onchange="checkTable()">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em>
                                <a href='/CloudPlatform/SoftTool/downloadExamples?name=Boxplot.txt' target='_blank' style="margin-left: 20px;">示例文件</a>
                            </em>
                            <span class="must" style="margin-left: 10px">*</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="qushi">
                            分析类型：
                        </label>
                    </div>
                    <div class="form-group">
                        <select name="anatype" id="anatype">
                            <option value="pearson">pearson</option>
                            <option value="kendall">kendall</option>
                            <option value="spearman">spearman</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="qushi">
                            选择计算向量：
                        </label>
                    </div>
                    <div class="form-group">
                        <select name="vector" id="vector">
                            <option value="col">column</option>
                            <option value="row">row</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label>颜色(从左到右，代表数值越来越大)：</label>
                    </div>
                    <div class="form-group">
                        <select name="color" id="color">
                            <option value="#1E90FF:#FFFFFF:#E41A1C">蓝,白,红</option>
                            <option value="#1E90FF:#FFFFFF:#E41A1C">蓝,白,红</option>
                            <option value="#1E90FF:#FFFFFF:#E41A1C">蓝,白,红</option>
                            <option value="#1E90FF:#FFFFFF:#E41A1C">蓝,白,红</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label>在格子上显示数字：</label>
                    </div>
                    <div class="form-group">
                        <select name="hasnum">
                            <option value="FALSE">no</option>
                            <option value="TRUE">yes</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label>画出格子的边界：</label>
                    </div>
                    <div class="form-group">
                        <select id="hasborder" name="hasborder">
                            <option value="FALSE">no</option>
                            <option value="TRUE">yes</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label>是否显示行名：</label>
                    </div>
                    <div class="form-group">
                        <select name="hasrname">
                            <option value="TRUE">yes</option>
                            <option value="FALSE">no</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label>是否显示列名：</label>
                    </div>
                    <div class="form-group">
                        <select name="hascname">
                            <option value="TRUE">yes</option>
                            <option value="FALSE">no</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="innergroup()">
            </form>
        </div>
        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 460px;">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="###" data-target="#example" data-toggle="tab">示例结果</a>
                </li>
                <li class="">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">组内相关性历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="example">
                    <h3 style="margin-bottom: 10px;">输出类型1:</h3>
                    <h5 style="margin-bottom: 2px">示例参数: </h5>
                    <p>1. 是否绘制数据点：no</p>
                    <br>
                    <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/boxplot_example1.png" alt="生物云平台">
                    <br>
                    <br>
                    <h3 style="margin-bottom: 10px;">输出类型2:</h3>
                    <h5 style="margin-bottom: 2px">示例参数: </h5>
                    <p>1. 是否绘制数据点：yes</p>
                    <br>
                    <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/boxplot_example2.png" alt="生物云平台">

                </div>
                <div class="tab-pane fade" id="instruction">
                    <p><strong>功能：</strong><br>计算表格内所有元素的两两相关性。</p><br>
                    <p><strong>输入：</strong><br>
                    </p><p>（1）表格包含分析数据及表头信息，如示例文件中的基因表达量表格，表头为样本名称，列名为基因ID，每行数据为对应基因在各样本中表达量的FPKM值</p>
                    <p>（2）输入文件为tab-delimited所保存的txt格式</p>
                    <p></p>
                    <br>
                    <p><strong>参数：</strong></p>
                    <p>（1）分析类型：包含两种，pearson和spearman，1）pearson系数，通常用于计算连续数据的相关性；2）spearman系数，专门用于计算等级数据的相关性。</p>
                    <p>（2）计算向量：默认列向量col。如示例文件中，若选择列向量，则以列为基础，计算每两列数据的相关性，即样本之间的相关性，可用于评估样本分组差异、样本重复性等；若选择行向量，则以行为基础，计算每两行数据的相关性，即基因之间的相关性，可用于评估基因的关联特征等。 </p>
                    <p>（3）颜色，可根据数据量大小、相关性系数波动范围等选择2种或3种颜色，默认2种， white,green。</p>
                    <p>（4）字体大小：默认为10 </p>
                    <p>（5）在格子上显示数字：默认为no，不显示 </p>
                    <p>（6）画出格子边界：默认为no,不显示 </p>
                    <p>（7）结果是否显示行名：默认为yes,显示 </p>
                    <p>（8）结果是否显示列名：默认为yes,显示</p>

                    <br>
                    <p><strong>输出：</strong></p>
                    <p>all.cor.matrix.xls：相关系数矩阵，绘制热图的数据格式</p><br>
                    <p>all.pvalue.matrix.xls：相关显著性p值矩阵</p><br>
                    <p>all.cor_pvalue.list.xls：相关系数及p值列表，云平台工具绘制网络图的数据格式（<a href="http://www.omicshare.com/tools/Home/Soft/cytoscape" target="_blank">网络图链接 </a>)</p><br>
                    <p>all.cor_heatmap.png/pdf: 默认输出两种格式的结果图</p><br>

                    <p></p>
                    <p><strong>结果说明：</strong></p>
                    <p>相关系数为正表示正相关，为负表示负相关。常用的相关性强弱判断标准如下图：</p>
                    <p>
                    </p><blockquote style="width:50%">
                    <table class="table datatable">
                        <thead>
                            <tr><th></th>
                                <th></th>
                            </tr></thead>
                        <tbody>
                            <tr>
                                <td>相关系数绝范围 </td>
                                <td>相关性强弱程度</td>
                            </tr>
                            <tr>
                                <td>0.8-1.0</td>
                                <td>极强相关</td>
                            </tr>
                            <tr>
                                <td>0.6-0.8</td>
                                <td>强相关</td>
                            </tr>
                            <tr>
                                <td>0.4-0.6</td>
                                <td>中等程度相关</td>
                            </tr>
                            <tr>
                                <td>0.2-0.4</td>
                                <td>弱相关</td>
                            </tr>
                            <tr>
                                <td>0.0-0.2</td>
                                <td>极弱相关或无相关</td>
                            </tr>
                        </tbody>
                    </table>
                </blockquote>
                    <p></p>
                    <p>相关显著性p &lt;0.05，代表显著相关；p &lt;0.01，代表极显著相关</p>

                </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh()">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_name"><span>任务编号</span></div>
                            <div class="his_time"><span>提交时间</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
    <script type="text/javascript">

            function getTaskName() {
                let date = new Date();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                let h = date.getHours();
                let m = date.getMinutes();
                let s = date.getSeconds();
                let name = "IGC"+month + day + h + m + s ;
                $("#mytaskname").val(name);
                $("#IGC").formValidation("revalidateField", "taskname");
            }

            $("#mytaskname").keyup(function () {
                checktaskname();
            });

            function checktaskname() {
                var val = $("#mytaskname").val();
                var rule = /[()（）@@#$%^&*~`!|\/\\?;,.，。:"]/;
                if (rule.test(val)) {
                    alert('任务编号里不能有特殊字符，请重新填写!');
                    return false;
                }
                if(val.toString().indexOf(" ")>0){
                    alert('任务编号里不能有空格!');
                    return false;
                }
                if(val.toString().length>13){
                    alert('任务编号最长13位!');
                    return false;
                }
                return true;
            }

            var running=false;

            $(function () {
                formValidation();
                loadHistory();
                getTaskName();
            });

            var cur=true;

            function refresh() {
                if(cur){
                    cur=false;
                    removeul();
                    loadHistory();
                    var count=5;
                    $("#btn-refresh").text("00:"+count);
                    var tim=setInterval(function () {
                        $("#btn-refresh").text("00:"+count);
                        if(count==0){
                            cur=true;
                            $("#btn-refresh").text("刷新状态");
                            clearInterval(tim);
                        }else count=count-1;
                    },1000);
                }else return;
            }

            function loadHistory(){
                var html="";
                if(@session.get("userId").isEmpty){
                    html+="<li class='hislist'><span>尚未登陆,暂无数据</span></li>"
                    $("#hislist").after(html);
                }else{
                    $.ajax({
                        url: "/CloudPlatform/MyTasks/getDutysByType?sabbrename=IGC",
                        type: "post",
                        success: function (data) {
                            if(data.run==true) running=true;
                            else running=false;
                            $.each(data.rows,function (i,v) {
                                html += "<li class='hislist'><div class='his_name'><span>"+v.taskname+"</span></div><div class='his_time'><span>"+v.subtime+"</span></div><div class='his_time'><span>"+v.finitime+"</span></div><div class='his_name'>"+v.status+"</div><hr></li>";
                            });
                            $("#hislist").after(html);
                            if(running==true){
                                cur=false;
                                var count=5;
                                $("#btn-refresh").text("00:"+count);
                                var timmer=setInterval(function () {
                                    $("#btn-refresh").text("00:"+count);
                                    if(count==0){
                                        $("#btn-refresh").text("刷新状态");
                                        if(running==false) {
                                            removeul();
                                            loadHistory();
                                            cur=true;
                                            clearInterval(timmer);
                                        } else {
                                            checkrunning();
                                        }
                                        count=5;
                                    }else count=count-1;
                                },1000);
                            }
                        }
                    });
                }
            }

            function checkrunning() {
                $.ajax({
                    url: "/CloudPlatform/MyTasks/getDutysByType?sabbrename=IGC",
                    type: "post",
                    success: function (data) {
                        if(data.run==true) running=true;
                        else running=false;
                    }
                });
            }

            function removeul(){
                $("#hisul li").remove();
                $("#hisul").append("<li id=\"hislist\" class=\"hislist\">\n" +
                        "                                    <div class=\"his_name\"><span>任务编号</span></div>\n" +
                        "                                    <div class=\"his_time\"><span>提交时间</span></div>\n" +
                        "                                    <div class=\"his_time\"><span style='margin-left: -20px;'>结束时间</span></div>\n" +
                        "                                    <div class=\"his_name\"><span style='margin-left: -23px;'>状态</span></div>\n" +
                        "                                    <hr>\n" +
                        "                                </li>");

            }

            $(".file").fileinput({
                showPreview: false,
                showUpload:false,
                showRemove:false,
                showCancel: false,
                browseLabel: "选择文件"
            });

            var flagtable=false;

            function checkTable() {
                var reader=new FileReader();
                reader.readAsText(document.getElementById('table1').files[0],"UTF-8");
                reader.onload=function () {
                    let text=reader.result;
                    let line=text.trim().split('\n');
                    sample=line[0].trim().split('\t');
                    var length=sample.length;
                    for(let i in line){
                        var r=parseInt(i)+1;
                        let row=line[i].trim().split('\t');
                        var name=[];
                        if(row.length!=length){
                            flagtable=false;
                            swal({
                                title: "文件格式错误",
                                text: "输入文件第"+r+"行数据数量不一致",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }
                        for(let j in row){
                            var c=parseInt(j)+1;
                            if(i!=0){
                                if(j!=0 && !checkRate(row[j].trim())){
                                    flagtable=false;
                                    swal({
                                        title: "文件格式错误",
                                        text: "输入文件第"+r+"行,第"+c+"列数据不是数字",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return false;
                                }
                            }else {
                                if(name.indexOf(row[j])>=0){
                                    flagtable=false;
                                    swal({
                                        title: "文件格式错误",
                                        text: "输入文件第1行,第"+c+"列样品名重复存在，请核实！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return false;
                                }else name.push(row[j]);
                            }
                        }
                    }
                    flagtable=true;
                    return true;
                };
            }

            function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            function innergroup() {
                var form = $("#IGC");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                    var index = layer.alert(element, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        title: "提醒",
                        btn: []
                    });
                    checkTable();
                    setTimeout(function () {
                        layer.close(index);
                        if(flagtable&&checktaskname()){
                            var form1 = new FormData($("#IGC")[0]);
                            $.ajax({
                                url: "/CloudPlatform/SoftTool/runIGC",
                                type: "post",
                                processData: false,
                                contentType: false,
                                data: form1,
                                success: function (data) {
                                    removeul();
                                    loadHistory();
                                    $("#his_tab1").addClass("active");
                                    $("#out_tab1").removeClass("active");
                                    $("#ins_tab1").removeClass("active");
                                    $("#history").addClass("active").addClass("in");
                                    $("#example").removeClass("active");
                                    $("#instruction").removeClass("active");
                                    getTaskName();
                                }
                            });
                        }
                    }, 2000);
                }
            }


            function formValidation() {
                $('#ScaPlot').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        taskname: {
                            validators: {
                                notEmpty: {
                                    message: '任务编号不能为空!'
                                },
                                remote:{
                                    type: 'POST',
                                    url: '@routes.DutyController.checktaskname()',
                                    message: "任务编号重复，请重新输入",
                                    // delay: 1000
                                }
                            }
                        },
                        table1: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传矩阵表格文件!'
                                },
                                file: {
                                    // extension: 'jpeg,jpg,png',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        }
                    }
                });
                $("#mailSigninForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        code: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                }
                            }
                        }
                    }
                });
                $("#signinForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        user: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#signupForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入手机号！'
                                },
                                phone:{
                                    message: '请输入正确手机号',
                                    country: 'CN'
                                }
                            }
                        },
                        name: {
                            validators: {
                                notEmpty: {
                                    message: '请填写姓名！'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: '请填写邮箱地址！'
                                },
                                emailAddress:{
                                    message:'请输入正确邮箱地址！'
                                }
                            }
                        },
                        company: {
                            validators: {
                                notEmpty: {
                                    message: '请填写单位！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
                $('#passwordForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入新密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password2: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password1',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                }
                            }
                        }
                    }
                });
            }


    </script>


}