@(abbre:String)(implicit session: Session)
@home.main("Intraclass Correlation Analysis"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .messager.top {
                top: 20px;
                height: auto;
            }
            .messager-content {
                text-align: center;
                float: left;
                height: 31px;
                display: inline-flex;
                padding: 9px 0 0 0;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="  mysoft-content-left  whitebox" style="width: 590px;">
            <form id="ITC" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"></div>
                <h3 class="tools-title">组间相关性分析</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="">
                    </div>
                </div>
                <br><br>
                <div id="myform">
                    <div class="one-line">
                        <div class="form-group-p">
                            <div class="form-group">
                                <label for="filepath1">矩阵文件 1：</label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table1" name="table1" onchange="checkTable('table1')">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em>
                                <a href="/assets/files/itc_table.txt" target='_blank' style="margin-left: 20px;">示例文件1</a>
                            </em>
                        </div>
                    </div>
                    <br>
                    <div id="file2" class="one-line">
                        <div class="form-group-p">
                            <div class="form-group">
                                <label for="filepath1">矩阵文件 2：</label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table2" name="table2" onchange="checkTable('table2')">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em>
                                <a href="/assets/files/itc_table2.txt" target='_blank' style="margin-left: 20px;">示例文件2</a>
                            </em>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="qushi">
                            分析类型：
                        </label>
                    </div>
                    <div class="form-group">
                        <select name="anatype" id="anatype" style="display: inline-block;width: 80%">
                            <option value="pearson">pearson</option>
                            <option value="spearman">spearman</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="intraclass()">
            </form>
        </div>
        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 460px;">
            <ul class="nav nav-tabs">
                <li class="active" id="ins_tab1">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="out_tab1">
                    <a href="###" data-target="#example" data-toggle="tab">教学视频</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="instruction">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>1.背景介绍</strong></span><br>
                        组间相关性是对表格中样本或分组间进行相关性分析，相关系数越接近于1，表明相似度越高<br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.操作方法</strong></span><br>
                    </p>
                    <img src="/assets/images/softpic/instruction/itc1.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%">操作界面</p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.1.上传矩阵文件</strong></span><br>
                        工具主要计算两个矩阵文件每一行间的相关性，矩阵文件必须是table键分隔的txt格式文件，可以为两个组学数据，例如基因表达量表、代谢物丰度表、微生物丰度表等。表格需要带表头和列名，第一列为样本名/OTU id，第一行为各种元素，例如环境因子/物种名。示例文件如下：
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/itc2.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <img src="/assets/images/softpic/instruction/itc3.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.2.选择分析类型</strong></span><br>
                        云平台提供2种相关性算法，pearson相关系数用来衡量两个随机变量之间的相关性，适合连续性变量、符合正态分布假设的数据；spearman相关系数又称秩相关系数，是利用两变量的秩次大小作线性相关分析，对原始变量的分布不作要求。适合于定序变量、不满足正态分布假设或总体分布未知的数据，属于非参数统计方法，适用范围要广些。
                        <br>
                        选择完成后，点击“提交”按键，即可开始分析
                        <br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.3.查看任务</strong></span><br>
                        提交任务后，点击界面右侧的“历史任务”模块，或者点击界面“我的任务”，都可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/itc4.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/itc5.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>3.示例图片</strong></span><br>
                        云平台提供权重网络图和heatmap热图，都可以根据需求在线调整。<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/itc6.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <img src="/assets/images/softpic/instruction/itc7.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>4.结果文件</strong></span><br>
                        结果文件包含相关性系数矩阵、p值矩阵、相关性系数c值和p值分析结果等<br>
                        <span style="font-weight:700;"><strong>相关性系数矩阵</strong></span>
                        ：第一行和第一列为元素名，表中数值为两个元素的相关系数，数值越大，表示两个元素的相关性越大，越相近。<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/itc8.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>P值矩阵</strong></span>
                        ：第一行和第一列为元素名，表中数值为两个元素的相关显著性p值，数值越大，表示两个元素的相关性越大，越相近。<br>
                    </p>
                    <img src="/assets/images/softpic/instruction/itc9.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>相关性系数c值和p值分析结果：</strong></span><br>
                    </p>
                    <img src="/assets/images/softpic/instruction/itc10.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>根据p值生成的星星矩阵：</strong></span><br>
                    </p>
                    <img src="/assets/images/softpic/instruction/itc11.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <br>
                </div>
                <div class="tab-pane fade" id="example">
                    <div id="dplayer"></div>
                </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh('@abbre')">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_time"><span>任务编号</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("ITC","ITC");
                loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgir_R_wUooK3g5gY.mp4","/assets/images/softpic/video/igc_video.png")
            });

            var flagtable=false;

            function checkTable(param) {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById(param).files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        sample=line[0].trim().split('\t');
                        var length=sample.length;
                        for(let i in line){
                            var r=parseInt(i)+1;
                            let row=line[i].trim().split('\t');
                            var name=[];
                            if(row.length!=length){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "文件格式错误",
                                    text: "输入文件第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                            for(let j in row){
                                var c=parseInt(j)+1;
                                if(i!=0){
                                    if(j!=0 && !checkRate(row[j].trim())){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "文件格式错误",
                                            text: "输入文件第"+r+"行,第"+c+"列数据不是数字",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }
                                }else {
                                    if(name.indexOf(row[j])>=0){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "文件格式错误",
                                            text: "输入文件第1行,第"+c+"列样品名重复存在，请核实！",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }else name.push(row[j]);
                                }
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            function intraclass() {
                var form = $("#ITC");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    flagtable=true;
                    var check=[];
                    check.push(checkTable('table1'));
                    Promise.all(check).then((r)=>{
                        if(flagtable && checktaskname()){
                            var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                            var index = layer.alert(element, {
                                skin: 'layui-layer-lan',
                                closeBtn: 0,
                                title: "提醒",
                                btn: []
                            });
                            setTimeout(function () {
                                layer.close(index);
                                var form1 = new FormData($("#ITC")[0]);
                                $.ajax({
                                    url: "/CloudPlatform/SoftTool/runIGC?tablenum=2",
                                    type: "post",
                                    processData: false,
                                    contentType: false,
                                    data: form1,
                                    success: function (data) {
                                        removeul();
                                        loadHistory("@abbre");
                                        $("#his_tab1").addClass("active");
                                        $("#out_tab1").removeClass("active");
                                        $("#ins_tab1").removeClass("active");
                                        $("#history").addClass("active").addClass("in");
                                        $("#example").removeClass("active");
                                        $("#instruction").removeClass("active");
                                        getTaskName("ITC","ITC");
                                    }
                                });
                            }, 2000);
                        }
                    });
                }
            }


            function formValidation() {
                $('#ITC').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        taskname: {
                            validators: {
                                notEmpty: {
                                    message: '任务编号不能为空!'
                                },
                                remote:{
                                    type: 'POST',
                                    url: '@routes.DutyController.checktaskname()',
                                    message: "任务编号重复，请重新输入",
                                    // delay: 1000
                                }
                            }
                        },
                        table1: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传矩阵表格文件！或减少矩阵'
                                },
                                file: {
                                    // extension: 'jpeg,jpg,png',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        },
                        table2: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传矩阵表格文件！或减少矩阵'
                                },
                                file: {
                                    // extension: 'jpeg,jpg,png',
                                    // type: 'image/jpeg,image/png',
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        }
                    }
                });
            }


    </script>


}