@(abbre:String)(implicit session: Session)
@home.main("Intraclass Correlation Analysis"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .messager.top {
                top: 20px;
                height: auto;
            }
            .messager-content {
                text-align: center;
                float: left;
                height: 31px;
                display: inline-flex;
                padding: 9px 0 0 0;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="  mysoft-content-left  whitebox" style="width: 590px;">
            <form id="ITC" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"></div>
                <h3 class="tools-title">组间相关性分析</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload("1： ", "", "上传矩阵文件 1：","table1","itc_table.txt")
                @units.fileupload("2： ", "", "上传矩阵文件 2：","table2","itc_table2.txt")
                @units.selector("3： ","","分析类型：","anatype")<br><br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="intraclass()">
            </form>
        </div>
        @units.pageRight("", "","ITC")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $("#table2").change(function () {
                checkTable('table2');
            });

            $("#table1").change(function () {
                checkTable('table1');
            });

            $(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("ITC","ITC");
                loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgir_R_wUooK3g5gY.mp4","/assets/images/softpic/video/igc_video.png")
                $("#instruction").append(instruction);
                var anatype = ["pearson","spearman"];
                creatSelector("anatype",anatype,anatype,"pearson");
            });

            var flagtable=true;

            function checkTable(param) {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById(param).files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        sample=line[0].trim().split('\t');
                        var length=sample.length;
                        for(let i in line){
                            var r=parseInt(i)+1;
                            let row=line[i].trim().split('\t');
                            var name=[];
                            if(row.length!=length){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "文件格式错误",
                                    text: "输入文件第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                            for(let j in row){
                                var c=parseInt(j)+1;
                                if(i!=0){
                                    if(j!=0 && !checkRate(row[j].trim())){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "文件格式错误",
                                            text: "输入文件第"+r+"行,第"+c+"列数据不是数字",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }
                                }else {
                                    if(name.indexOf(row[j])>=0){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "文件格式错误",
                                            text: "输入文件第1行,第"+c+"列样品名重复存在，请核实！",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }else name.push(row[j]);
                                }
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            var lock = true;

            function intraclass() {
                if(lock) {
                    lock = false;
                    var form = $("#ITC");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        flagtable=true;
                        var check=[];
                        check.push(checkTable('table1'));
                        check.push(checkTable('table2'));
                        Promise.all(check).then((r)=>{
                            if(flagtable && checktaskname()){
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#ITC")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runIGC?tablenum=2",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory("@abbre");
                                            $("#his_tab1").addClass("active");
                                            $("#out_tab1").removeClass("active");
                                            $("#ins_tab1").removeClass("active");
                                            $("#history").addClass("active").addClass("in");
                                            $("#example").removeClass("active");
                                            $("#instruction").removeClass("active");
                                            getTaskName("ITC","ITC");
                                        }
                                    });
                                }, 2000);
                            }
                        });
                    }
                    lock = true;
                }
            }

            function formValidation() {
                let field = {};
                let table = ["table1", "table2"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let excluded = [":hidden"];
                addFormValidation("ITC", field, excluded)
            }

            var instruction = "<p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>1.背景介绍</strong></span><br>\n" +
                    "                        组间相关性是对表格中样本或分组间进行相关性分析，相关系数越接近于1，表明相似度越高<br>\n" +
                    "                    </p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.操作方法</strong></span><br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc1.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%\">操作界面</p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.1.上传矩阵文件</strong></span><br>\n" +
                    "                        工具主要计算两个矩阵文件每一行间的相关性，矩阵文件必须是table键分隔的txt格式文件，可以为两个组学数据，例如基因表达量表、代谢物丰度表、微生物丰度表等。表格需要带表头和列名，第一列为样本名/OTU id，第一行为各种元素，例如环境因子/物种名。示例文件如下：\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc2.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc3.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.2.选择分析类型</strong></span><br>\n" +
                    "                        云平台提供2种相关性算法，pearson相关系数用来衡量两个随机变量之间的相关性，适合连续性变量、符合正态分布假设的数据；spearman相关系数又称秩相关系数，是利用两变量的秩次大小作线性相关分析，对原始变量的分布不作要求。适合于定序变量、不满足正态分布假设或总体分布未知的数据，属于非参数统计方法，适用范围要广些。\n" +
                    "                        <br>\n" +
                    "                        选择完成后，点击“提交”按键，即可开始分析\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.3.查看任务</strong></span><br>\n" +
                    "                        提交任务后，点击界面右侧的“历史任务”模块，或者点击界面“我的任务”，都可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc4.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc5.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>3.示例图片</strong></span><br>\n" +
                    "                        云平台提供权重网络图和heatmap热图，都可以根据需求在线调整。<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc6.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc7.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>4.结果文件</strong></span><br>\n" +
                    "                        结果文件包含相关性系数矩阵、p值矩阵、相关性系数c值和p值分析结果等<br>\n" +
                    "                        <span style=\"font-weight:700;\"><strong>相关性系数矩阵</strong></span>\n" +
                    "                        ：第一行和第一列为元素名，表中数值为两个元素的相关系数，数值越大，表示两个元素的相关性越大，越相近。<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc8.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>P值矩阵</strong></span>\n" +
                    "                        ：第一行和第一列为元素名，表中数值为两个元素的相关显著性p值，数值越大，表示两个元素的相关性越大，越相近。<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc9.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>相关性系数c值和p值分析结果：</strong></span><br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc10.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>根据p值生成的星星矩阵：</strong></span><br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/itc11.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>";

    </script>


}