@(abbre:String)(implicit session: Session)
@home.main("Lefse"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .messager.top {
                top: 20px;
                height: auto;
            }
            .messager-content {
                text-align: center;
                float: left;
                height: 31px;
                display: inline-flex;
                padding: 9px 0 0 0;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="  mysoft-content-left  whitebox" style="width: 590px;">
            <form id="Lefse" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"></div>
                <h3 class="tools-title">lefse分析</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload2("", "file1", "OTU丰度表：","table1","lefse_otu_table.biom","lefse_otutable.txt")<br>
                @units.fileupload("", "", "分组文件：","group","lefse_map.txt")<br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="dolefse()">
            </form>
        </div>
        @units.pageRight("更详细使用说明编写中...敬请期待！", "","LEF")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("Lefse","LEF");
                loadVideo("//13125180.s21v.faiusr.com/58/2/ABUIABA6GAAgl-LjgAYogLqCjwI.mp4","/assets/images/softpic/video/lefse_video.png");
                $("#faq").html(faq);
                popTip();
            });

            function popTip() {
                swal({
                    title: "该模块已停止维护",
                    text: "已推出升级版Lefse2.0模块，旧版lefse停止维护！是否要跳转到Lefse2.0？",
                    type: "info",
                    showCancelButton: true,
                    cancelButtonText: '取 消',//按钮内容
                    confirmButtonText: '确认跳转'
                }, function () {
                    window.location.href = "/CloudPlatform/SoftPage/LF2";
                });
            }

            var sample,tablesflag=true;
            var lock = true;

            function dolefse() {
                if(lock) {
                    lock = false;
                    var form = $("#Lefse");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        if(tablesflag){
                            if(checktaskname()){
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#Lefse")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runSoft?abbre=@abbre&sname=lefse分析",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory("@abbre");
                                            switchRunningTab();
                                            getTaskName("Lefse","LEF");
                                        }
                                    });
                                }, 2000);
                            }
                        }

                    }
                    lock = true;
                }
            }


            function formValidation() {
                let field = {};
                let table = ["table1", "group"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let excluded = [":hidden"];
                addFormValidation("Lefse", field, excluded)
            }

            var faq = "<div class=\"panel-group panel-group-met-scrollbar\" id=\"lef-example\" style=\"overflow-x: auto; border-bottom: 1px solid #e5e5e5;\">\n" +
                    "            <div class=\"panel\">\n" +
                    "                <div class=\"panel-heading\">\n" +
                    "                    <a class=\"accordion-toggle\" data-toggle=\"collapse\" data-parent=\"#lef-example\" href=\"#collapse-faq0\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>1. 使用凌恩生物结题报告中的什么数据进行分析？</strong></span>\n" +
                    "                    </a>\n" +
                    "                </div>\n" +
                    "                <div id=\"collapse-faq0\" class=\"panel-collapse collapse in\">\n" +
                    "                    <div class=\"panel-body\">\n" +
                    "                        <p>凌恩生物扩增子结题报告中OTU丰度表，位于结果文件夹的 01.OTU_Taxa/normalize/otu_taxa_table.biom，或同一文件夹下的otu_taxa_table.xls，xls文件在使用时用excel打开，首行添加““# Constructed from biom file”另存为“制表符分隔的txt文件”，biom无需此步骤。</p>\n" +
                    "                        <p>注意！一定要选择带有分类信息的OTU丰度表！否则一定会报错！</p><br>\n" +
                    "                        <img src=\"/assets/images/softpic/faq/lf1.png\" style=\"height:auto;\">\n" +
                    "                        <img src=\"/assets/images/softpic/faq/lf2.png\" style=\"height:auto;width: 230px;\">\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "            </div>\n" +
                    "            <div class=\"panel\">\n" +
                    "                <div class=\"panel-heading\">\n" +
                    "                    <a class=\"accordion-toggle collapsed\" data-toggle=\"collapse\" data-parent=\"#lef-example\" href=\"#collapse-faq1\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2. 提示“第xx行样本名不存在”或“第xx行存在重复值”</strong></span>\n" +
                    "                    </a>\n" +
                    "                </div>\n" +
                    "                <div id=\"collapse-faq1\" class=\"panel-collapse collapse\">\n" +
                    "                    <div class=\"panel-body\">\n" +
                    "                        <p>出现该提示时，请从以下几方面自查文件格式：</p>\n" +
                    "                        <p>1）是否已将xls文件另存为“<strong>制表符分隔的txt文件</strong>”；</p>\n" +
                    "                        <p>2）文件<strong>格式</strong>是否与<strong>示例文件</strong>相同；</p>\n" +
                    "                        <p>3）文件中是否有<strong>特殊符号和中文</strong>，例如 <strong>%、NA、+、-、（）、空格、科学计数、罗马字母</strong>等，去掉特殊符号，将空值用数字“0”替换，中文更改为英文；</p>\n" +
                    "                        <p>4）数据中是否有<strong>空列、空行、重复的行、重复的列</strong>，特别是行名（一般为gene id）、列名(一般为样本名)出现重复值，有的话就删掉，<strong>空列和重复列会影响画图，请务必检查（可以用excel查看是否有重复）</strong>；</p>\n" +
                    "                        <p>5）所有文件中是否都有该样本名。</p>\n" +
                    "                        <p>排查完之后，重新上传数据、提交任务。如果仍然不能分析，可通过左侧导航栏的“<strong>意见反馈</strong>”选项反馈意见，也可以加入<strong>凌波微课交流群</strong>，联系<strong>小助教或其他云平台老师解决</strong>。</p>\n" +
                    "                        <br>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "            </div>\n" +
                    "            <div class=\"panel\">\n" +
                    "                <div class=\"panel-heading\">\n" +
                    "                    <a class=\"accordion-toggle collapsed\" data-toggle=\"collapse\" data-parent=\"#lef-example\" href=\"#collapse-faq2\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>3. 带分类的OTU丰度表格式要求</strong></span>\n" +
                    "                    </a>\n" +
                    "                </div>\n" +
                    "                <div id=\"collapse-faq2\" class=\"panel-collapse collapse\">\n" +
                    "                    <div class=\"panel-body\">\n" +
                    "                        <p>凌恩生物结题报告中的分类学一列中，在每个分类层级的英文单词前都有表示该层级的前缀（d_、P_等），<strong>是云平台进行lefse分析的必须因素</strong>，请务必检查自己的文件中是否有这些标识。</p>\n" +
                    "                        <br>\n" +
                    "                        <img src=\"/assets/images/softpic/faq/lf3.png\" style=\"height:auto;\">\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "            </div>\n" +
                    "            <div class=\"panel\">\n" +
                    "                <div class=\"panel-heading\">\n" +
                    "                    <a class=\"accordion-toggle collapsed\" data-toggle=\"collapse\" data-parent=\"#lef-example\" href=\"#collapse-faq3\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>4. 如何查看示例文件</strong></span>\n" +
                    "                    </a>\n" +
                    "                </div>\n" +
                    "                <div id=\"collapse-faq3\" class=\"panel-collapse collapse\">\n" +
                    "                    <div class=\"panel-body\">\n" +
                    "                        <p>点击下方截图红框中的“示例文件”，即可打开新页面，查看云平台提供的示例文件。</p>\n" +
                    "                        <br>\n" +
                    "                        <img src=\"/assets/images/softpic/faq/lf4.png\" style=\"height:auto;\">\n" +
                    "                        <br>\n" +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "            </div>\n" +
                    "        </div>";

    </script>


}