@(abbre:String)(implicit session: Session)
@home.main("Lefse 2.0"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .messager.top {
                top: 20px;
                height: auto;
            }
            .messager-content {
                text-align: center;
                float: left;
                height: 31px;
                display: inline-flex;
                padding: 9px 0 0 0;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="mysoft-content-left  whitebox" style="width: 590px;overflow-y: auto">
            <form id="LF2" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"></div>
                <h3 class="tools-title">lefse分析2.0</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload2("", "file1", "OTU丰度表：","table1","lefse_otu_table.biom","lefse_otutable.txt")<br>
                @units.fileupload("", "", "分组文件：","group","lefse_map.txt")
                @units.textinput("","","最高分类学层级(默认6，到属水平)：", "level", "", "6")
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapseOne">
                        <h4 class="panel-title">
                            <a id="pos1">
                                <span style="font-size:12px;">选填参数（Optional）：</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <br>
                            @units.textinput("","","类间因子Kruskal-Wallis秩检验的Alpha值：", "a", "", "0.5")
                            @units.textinput("","","子类间配对Wilcoxon秩检验的Alpha值：", "w", "", "0.5")
                            @units.textinput("","","差异特征LDA对数值的阈值：", "l", "", "2")
                            @units.selector("","","多组分类分析的分析策略：","y")
                            @units.selector("","ediv","是否仅在子类名相同的情况下，进行子类间的成对比较：","e")
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="dolefse()"><br><br>
            </form>
        </div>
        @units.pageRight("", "视频录制中...敬请期待！","LF2")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $("#group").change(function () {
                checkGroupfile();
            });

            $(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("LF2","LF2");
                loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgn_TmggYohMq1nQE.mp4","/assets/images/softpic/video/lefse2_video.png");
                $("#instruction").append(instruction);
                $("#ediv").hide();
                var yname = ["one-against-one","one-against-all(约束较不严,耗时长)"];
                var y = ["1","0"];
                creatSelector("y",yname,y,"one-against-one");
                var ename = ["no","yes"];
                var e = ["0","1"];
                creatSelector("e",ename,e,"es");

            });

            var sample,flagtable=true;

            function checkGroupfile() {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('group').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        var name=[];
                        for(let i in line) {
                            if(i!=0){
                                let row=line[i].trim().split('\t');
                                var r=parseInt(i)+1;
                                if(row.length!=2){
                                    flagtable=flagtable&&false;
                                    swal({
                                        title: "分组文件格式错误",
                                        text: "分组文件第"+r+"行格式错误，必须为两列！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    resolve(false);
                                }
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            var lock = true;

            function dolefse() {
                if(lock) {
                    lock = false;
                    var form = $("#LF2");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        flagtable=true;
                        var check=[];
                        check.push(checkGroupfile());
                        Promise.all(check).then((r)=>{
                            if(flagtable&&checktaskname()) {
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#LF2")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runSoft?abbre=@abbre&sname=lefse分析2.0",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory("@abbre");
                                            $("#his_tab1").addClass("active");
                                            $("#out_tab1").removeClass("active");
                                            $("#ins_tab1").removeClass("active");
                                            $("#history").addClass("active").addClass("in");
                                            $("#example").removeClass("active");
                                            $("#instruction").removeClass("active");
                                            getTaskName("LF2","LF2");
                                        }
                                    });
                                }, 2000);
                            }
                        });
                    }
                    lock = true;
                }
            }

            function formValidation() {
                let field = {};
                let table = ["table1", "group"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let number = ["a","w","l","level"];
                FieldNumber(field, number);
                let excluded = [":hidden"];
                addFormValidation("LF2", field, excluded)
            }

            var instruction = "<p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>1.背景介绍</strong></span><br>\n" +
                    "                        LEfse分析即LDA Effect Size分析，可以实现多个分组之间的比较，还进行分组比较的内部进行亚组比较分析，从而找到组间在丰度上有显著差异的物种（即biomaker），主要是通过非参数因子Kruskal-Wallis秩和检验来实现的。<br>\n" +
                    "                        LEfSe2.0在线工具在1.0工具基础上，增加了LDA判别分析结果文件（仅含差异显著）。增加差异特征图，以及所有结果图的重绘功能。<br>\n" +
                    "                    </p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.操作方法</strong></span><br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf21.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%\">操作界面</p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">lefse分析需要输入的文件包含OTU丰度表和分组文件，OTU丰度表支持biom格式和txt格式文件，分组文件只能是tab键分隔的txt文件。</p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.1.上传文件</strong></span><br>\n" +
                    "                        BIOM格式是微生物组领域最常用的结果保存格式，优点是可将OTU或Feature表、样本属性、物种信息等多个表保存于同一个文件中，且格式统一，体积更小巧，目前被微生物组领域几乎所有主流软件所支持。此处可以直接使用\n" +
                    "                        <span style=\"font-weight:700;\"><strong>凌恩生物扩增子结题报告</strong></span>\n" +
                    "                        中biom格式的OTU丰度表，位于结果文件夹的\n" +
                    "                        <span style=\"font-weight:700;\"><strong>01.OTU_Taxa/normalize/otu_taxa_table.biom</strong></span>\n" +
                    "                        ，示例文件如下：\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf22.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        也可以使用<span style=\"font-weight:700;\"><strong>凌恩生物扩增子结题报告</strong></span>\n" +
                    "                        中excel格式的OTU丰度表，位于结果文件夹的\n" +
                    "                        <span style=\"font-weight:700;\"><strong>01.OTU_Taxa/normalize/otu_taxa_table.xls</strong></span>\n" +
                    "                        ，在使用前需要用excel打开，首行增加“# Constructed from biom file”，并另存为制表符分隔的txt文件，示例文件如下：<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf23.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.2.分组文件</strong></span><br>\n" +
                    "                        分组示例文件如下，第一列为样本名，第二列为分组名<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf24.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.3.选择参数</strong></span><br>\n" +
                    "                        (1) 类间因子Kruskal-Wallis秩检验的Alpha值：默认为0.5<br>\n" +
                    "                        (2) 子类间配对Wilcoxon秩检验的Alpha值：默认为0.5<br>\n" +
                    "                        (3) 差异特征LDA对数值的阈值：默认为2<br>\n" +
                    "                        (4) 多组分类分析的分析策略：一对一或一对多（一对一约束更严格，一对多运行时间更长）<br>\n" +
                    "                        (5) 是否仅在子类名相同的情况下，进行子类间的成对比较：yes或no<br>\n" +
                    "                        选择完成后，点击“提交”按键开始分析<br>\n" +
                    "                    </p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>2.4.查看任务</strong></span><br>\n" +
                    "                        提交任务后，点击界面右侧的“历史任务”模块，或者点击界面“我的任务”，都可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf25.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。\n" +
                    "                        <br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf26.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>3.示例图片</strong></span><br>\n" +
                    "                        云平台提供进化分支图、LDA分析柱图和差异特征图，都可以根据需求在线调整。<br>\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf27.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%\">进化分支图</p>\n" +
                    "                    <br>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf28.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%\">LDA分析柱图</p>\n" +
                    "                    <br>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf29.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%\">差异特征图</p>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>4.结果文件</strong></span><br>\n" +
                    "                        结果文件包括LDA分析结果、含差异显著的LDA分析结果、进化分支图、LDA分析柱图和差异特征图，图片均为pdf格式。<br>\n" +
                    "                        <span style=\"font-weight:700;\"><strong>LDA分析结果</strong></span>\n" +
                    "                        ：第一列为物种信息，即每种微生物类群名称；第二列为每种微生物类群在各分组类别中丰度平均值中最大值的log10，如果平均丰度小于10 按照10来计算。（不过这不是原始表格中的丰度，而是标准化后的丰度，LEfSe自己有套标准化方法）；第三列为差异物种富集的组名称；第四列为LDA 值，用以评估其对观测到的组间差异的效应大小，该值越高代表该微生物类群越重要；第五列为Kruskal-Wallis秩和检验的 P 值，若显著，则将这些微生物作为解释类别之间差异的biomaker来看待；若不显著，则该列值为“-”。\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf210.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>\n" +
                    "                    <br>\n" +
                    "                    <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                    "                        <span style=\"font-weight:700;\"><strong>LDA判别分析结果（仅含差异显著）</strong></span>\n" +
                    "                        ：第一列为物种信息，即每种微生物类群名称；第二列为每种微生物类群在各分组类别中丰度平均值中最大值的log10，如果平均丰度小于10 按照10来计算。（不过这不是原始表格中的丰度，而是标准化后的丰度，LEfSe自己有套标准化方法）；第三列为差异物种富集的组名称；第四列为LDA 值，用以评估其对观测到的组间差异的效应大小，该值越高代表该微生物类群越重要；第五列为Kruskal-Wallis秩和检验的 P 值\n" +
                    "                    </p>\n" +
                    "                    <img src=\"/assets/images/softpic/instruction/lf211.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                    "                    <br>";

    </script>


}