@(abbre:String)(implicit session: Session)
@home.main("Lefse"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .messager.top {
                top: 20px;
                height: auto;
            }
            .messager-content {
                text-align: center;
                float: left;
                height: 31px;
                display: inline-flex;
                padding: 9px 0 0 0;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="  mysoft-content-left  whitebox" style="width: 590px;">
            <form id="Lefse" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"></div>
                <h3 class="tools-title">lefse分析</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload2("", "file1", "OTU丰度表：","table1","lefse_otu_table.biom","lefse_otutable.txt")<br>
                @units.fileupload("", "", "分组文件：","group","lefse_map.txt")<br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="dolefse()">
            </form>
        </div>
        @units.pageRight("更详细使用说明编写中...敬请期待！", "","LEF")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("Lefse","LEF");
                loadVideo("//13125180.s21v.faiusr.com/58/2/ABUIABA6GAAgl-LjgAYogLqCjwI.mp4","/assets/images/softpic/video/lefse_video.png")
                popTip();
            });

            function popTip() {
                swal({
                    title: "该模块已停止维护",
                    text: "已推出升级版Lefse2.0模块，旧版lefse停止维护！是否要跳转到Lefse2.0？",
                    type: "info",
                    showCancelButton: true,
                    cancelButtonText: '取 消',//按钮内容
                    confirmButtonText: '确认跳转'
                }, function () {
                    window.location.href = "/CloudPlatform/SoftPage/LF2";
                });
            }

            var sample,tablesflag=true;
            var lock = true;

            function dolefse() {
                if(lock) {
                    lock = false;
                    var form = $("#Lefse");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        if(tablesflag){
                            if(checktaskname()){
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#Lefse")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runSoft?abbre=@abbre&sname=lefse分析",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory("@abbre");
                                            $("#his_tab1").addClass("active");
                                            $("#out_tab1").removeClass("active");
                                            $("#ins_tab1").removeClass("active");
                                            $("#history").addClass("active").addClass("in");
                                            $("#example").removeClass("active");
                                            $("#instruction").removeClass("active");
                                            getTaskName("Lefse","LEF");
                                        }
                                    });
                                }, 2000);
                            }
                        }

                    }
                    lock = true;
                }
            }


            function formValidation() {
                let field = {};
                let table = ["table1", "group"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let excluded = [":hidden"];
                addFormValidation("Lefse", field, excluded)
            }


    </script>


}