@(abbre:String)(implicit session: Session)
@home.main("Merge Two Tables"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="  mysoft-content-left  whitebox" style="width: 590px;">
            <form id="MTT" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic MTT"></div>
                <h3 class="tools-title">两表格合并</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload2("1： ", "div1", "上传矩阵文件1：","table1","merge2t_1.txt","merge2t_1.xls")<br>
                @units.fileupload2("2： ", "div2", "上传矩阵文件2：","table2","merge2t_2.txt","merge2t_2.xls")<br>
                @units.textinput2("3：","","合并参照列 (矩阵1 - 矩阵2) ：","-","b1","b2","数字","数字","1","1")
                @units.selector("4：","","设置合并方式：","ct")
                @units.selector("5：","","缺省值设置：","sn")
                @units.textinput("","default","自定义缺省值：","mysn","自定义缺省值","")
                <br>
                <br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="merge()">
            </form>
        </div>
        @units.pageRight("更详细使用说明编写中...敬请期待！", "视频录制中...敬请期待！","MTT")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $("#table1").change(function () {
                checkTable('table1');
            });

            $("#table2").change(function () {
                checkTable('table2');
            });

            $(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("MTT","MTT");
                // loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgjp_K_QUorqPq9gU.mp4","/assets/images/softpic/video/box_video.png")

                $("#default").hide();

                var ctname = ["输出两表都含有的行(交集)--内连接","输出表1含有的行--左连接","输出表2含有的行--右连接","输出两表所有的行(并集)--全连接"];
                var ct = ["in","left","right","all"];
                creatSelector("ct",ctname,ct,"输出两表所有的行(并集)--全连接");

                var snname = ["--","X","NULL","N/A","自定义"];
                var sn = ["--","X","NULL","N/A","default"];
                creatSelector("sn",snname,sn,"N/A");

            });

            $("#sn").change(function () {
                if($(this).val()=="default") $("#default").show();
                else $("#default").hide();
            });

            var flagtable=true;

            function checkTable(tablename) {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById(tablename).files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        sample=line[0].trim().split('\t');
                        var length=sample.length;
                        for(let i in line){
                            let row=line[i].trim().split('\t');
                            var name=[];
                            var r=parseInt(i)+1;
                            if(row.length!=length){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "矩阵文件格式错误",
                                    text: "矩阵文件第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            var lock = true;

            function merge() {
                if(lock) {
                    lock = false;
                    var form = $("#MTT");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        flagtable=true;
                        var check=[];
                        check.push(checkTable("table1"));
                        check.push(checkTable("table2"));
                        Promise.all(check).then((r)=>{
                            if(flagtable&&checktaskname()) {
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#MTT")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runSoft?abbre=@abbre&sname=两表格合并",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory("@abbre");
                                            switchRunningTab();
                                            getTaskName("MTT","MTT");
                                        }
                                    });
                                }, 2000);
                            }
                        });
                    }
                    lock = true;
                }
            }


            function formValidation() {
                let field = {};
                let table = ["table1", "table2"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let number = ["b1","b2"];
                FieldNumber(field, number);
                let text2 = ["mysn"];
                FieldText(field,text2);
                let excluded = [":hidden"];
                addFormValidation("MTT", field, excluded)
            }

    </script>


}