@()(implicit session: Session)
@home.main("Net"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />

    <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .mysoft-content-left .form-group-extra .btn-sm {
                font-size: 14px;
                background-color: #27b9d0;
                border-color: #27b9d0;
                border-radius: 4px;
                padding: 5px 15px;
                height: auto;
            }
            .mysoft-content-right .tab-content, .mysoft-content-left form {
                box-shadow: unset;
            }
            .img-thumbnail {
                display: inline-block;
                max-width: 100%;
                height: auto;
                padding: 4px;
                line-height: 1.53846154;
                background-color: #fff;
                border: unset;
                border-radius: 4px;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }
            blockquote {
                padding: 10px 20px;
                margin: 0 0 20px;
                border-left: unset;
            }
            /*file*/
            .hidden-xs {
                display: unset !important;
            }
            .input-group .form-control {
                position: relative;
                z-index: 2;
                float: left;
                width: 80%;
                margin-bottom: 0;
                height: 22px;
                border-radius: 4px;
            }
            .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-radius: 5px;
                background-color: #f7f7f7;
                height: 21px;
                border: 1px solid #e6e6e6;
                box-shadow: none;
            }
            .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            /*历史任务*/
            .his_name{
                /*margin: 5px 10px;*/
                width: 20%;
                display: inline-block;
                text-align: center;
            }
            .his_time{
                /*margin: 5px 10px;*/
                width: 28%;
                display: inline-block;
                text-align: center;
            }
            .hislist hr{
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .btn_refresh{
                padding: 7px 11px 7px 38px;
                color: white!important;
                background: #27b9d0;
                border-radius: 6px;
                background-repeat: no-repeat;
                background-position: 9px 3px;
                margin: 10px 10px;
            }
            .success{
                padding: 6px 10px;
                background: cadetblue;
                border-radius: 16px;
                color: white;
            }
            .failed{
                padding: 6px 10px;
                background: #bf4064;
                border-radius: 16px;
                color: white;
            }
    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%;">
        <div class="mysoft-content-left whitebox" style="width: 715px;">
            <form id="Net" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <img class="tools-img" src="/assets/images/softpic/net.jpg">
                <h3 class="tools-title">权重网络图</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="cytoscape">
                    </div>
                </div>

                <br><br>
                <div>
                    <div id="mydiv1" class="one-line">
                        <div class="form-group-p" style="width: 500px">
                            <div class="form-group">
                                <label for="exampleInputName0"><em>1：</em>基因文件：</label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table1" name="table1" onchange="checkTable()">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/CloudPlatform/SoftTool/downloadExamples?name=Net_genus.txt" target="_blank">示例文件</a></em>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div id="mydiv0" class="one-line">
                        <div class="form-group-p" style="width: 500px">
                            <div class="form-group">
                                <label for="exampleInputName0">
                                    <em>2：</em>环境因子列表文件：
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table2" name="table2" onchange="checkEvi()">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/CloudPlatform/SoftTool/downloadExamples?name=Net_env.txt" target="_blank">示例文件</a></em>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                    <!-- 参数 -->
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="qushi">
                            <em>3：</em>相关分析方法：
                        </label>
                    </div>
                    <div class="form-group">
                        <select name="anatype" id="anatype">
                            <option value="pearson">pearson</option>
                            <option value="kendall">kendall</option>
                            <option value="spearman">spearman</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="netweight()">
            </form>
        </div>
        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 335px;">
            <ul class="nav nav-tabs">
                <li class="active" id="out_tab1">
                    <a href="###" data-target="#example" data-toggle="tab">示例结果</a>
                </li>
                <li class="" id="ins_tab1">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">NetWeight历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="example">
                    <h5>输出结果：</h5>
                    <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/cytoscape2out.png" alt="生物云平台">
                </div>
                <div class="tab-pane fade" id="instruction">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span><a href="" target="_blank"><i class="icon icon-question-sign" style="font-size: 14px!important;"></i><strong><span style="color:#337FE5;">了解该工具的原理与详细解析，请点击＞＞</span></strong></a></span>
                    </p>
                    <p class="MsoNormal">
                        <br>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">功能：</span><br>
                        将基因间的调控互作关系绘制成一个有权重的网络图。
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">输入：</span>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ①需要输入一个边界文件。<br>
                        ②边界文件格式说明:边界文件至少包含三列，其中，<br>
                        第一列和第二列为基因名称或基因ID，在同一行中，表示第一列的基因和第二列的基因有相互作用关系(没有方向的区分)。第三列为权重，即两个基因间的相关系数。<br>
                        在权重网络图中，不同的权重将用不同的线条类型表示。之后还可以有其他数据，比如基迪奥WGCNA结题报告中给出的cytoscape配置文件edge文件，总共有六列。<br>
                        边界文件必需包含表头，表头可以自定义，如：fromNode, toNode, weight
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">参数：</span>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ①连通性：连通性的计算方法有硬阈值和软阈值两种方法。硬阈值是指一个基因与多少个基因有联系。例如基因A总共与10个基因有相互作用，则基因A的连通性为10。软阈值是指一个基因与其他基因的相关系数（权重，weight）的总和。例如基因A与基因B 的权重为0.2，与基因C的权重为0.3，与基因D的权重为0.5，则基因A的连通性为0.2+0.3+0.5=1。
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ②权重范围：可自行设置权重范围，展示特定权重范围下的基因间调控关系。 注意：如果连通性方法选择的是硬阈值，则是先筛选权重范围再在这个范围内计算基因的连通性；如果连通性方法选择的是软阈值，则是先计算每个基因的连通性后再筛选权重范围进行展示。
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">输出：</span><br>
                        输出一个可以编辑的网络图。自行编辑后，可以保存为png, pdf, svg格式。同时输出连通性的颜色图例，可以另行下载，格式为.svg。
                    </p>
                    <p>
                        <br>
                    </p>                        </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh()">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_name"><span>任务编号</span></div>
                            <div class="his_time"><span>提交时间</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>

    <script type="text/javascript">

            function getTaskName() {
                let date = new Date();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                let h = date.getHours();
                let m = date.getMinutes();
                let s = date.getSeconds();
                let name = "NET"+month + day + h + m + s ;
                $("#mytaskname").val(name);
                $("#Net").formValidation("revalidateField", "taskname");
            }

            $("#mytaskname").keyup(function () {
                checktaskname();
            });

            function checktaskname() {
                var val = $("#mytaskname").val();
                var rule = /[()（）@@#$%^&*~`!|\/\\?;,.，。:"]/;
                if (rule.test(val)) {
                    alert('任务编号里不能有特殊字符，请重新填写!');
                    return false;
                }
                if(val.toString().indexOf(" ")>0){
                    alert('任务编号里不能有空格!');
                    return false;
                }
                if(val.toString().length>13){
                    alert('任务编号最长13位!');
                    return false;
                }
                return true;
            }

            var running=false;

            $(document).ready(function () {
                formValidation();
                loadHistory();
                getTaskName();
            });

            var cur=true;

            function refresh() {
                if(cur){
                    cur=false;
                    removeul();
                    loadHistory();
                    var count=5;
                    $("#btn-refresh").text("00:"+count);
                    var tim=setInterval(function () {
                        $("#btn-refresh").text("00:"+count);
                        if(count==0){
                            cur=true;
                            $("#btn-refresh").text("刷新状态");
                            clearInterval(tim);
                        }else count=count-1;
                    },1000);
                }else return;
            }

            function loadHistory(){
                var html="";
                if(@session.get("userId").isEmpty){
                    html+="<li class='hislist'><span>尚未登陆,暂无数据</span></li>"
                    $("#hislist").after(html);
                }else{
                    $.ajax({
                        url: "/CloudPlatform/MyTasks/getDutysByType?sabbrename=NetWeight",
                        type: "post",
                        success: function (data) {
                            if(data.run==true) running=true;
                            else running=false;
                            $.each(data.rows,function (i,v) {
                                html += "<li class='hislist'><div class='his_name'><span>"+v.taskname+"</span></div><div class='his_time'><span>"+v.subtime+"</span></div><div class='his_time'><span>"+v.finitime+"</span></div><div class='his_name'>"+v.status+"</div><hr></li>";
                            });
                            $("#hislist").after(html);
                            if(running==true){
                                cur=false;
                                var count=5;
                                $("#btn-refresh").text("00:"+count);
                                var timmer=setInterval(function () {
                                    $("#btn-refresh").text("00:"+count);
                                    if(count==0){
                                        $("#btn-refresh").text("刷新状态");
                                        if(running==false) {
                                            removeul();
                                            loadHistory();
                                            cur=true;
                                            clearInterval(timmer);
                                        } else {
                                            checkrunning();
                                        }
                                        count=5;
                                    }else count=count-1;
                                },1000);
                            }
                        }
                    });
                }
            }

            function checkrunning() {
                $.ajax({
                    url: "/CloudPlatform/MyTasks/getDutysByType?sabbrename=NetWeight",
                    type: "post",
                    success: function (data) {
                        if(data.run==true) running=true;
                        else running=false;
                    }
                });
            }

            function removeul(){
                $("#hisul li").remove();
                $("#hisul").append("<li id=\"hislist\" class=\"hislist\">\n" +
                        "                                    <div class=\"his_name\"><span>任务编号</span></div>\n" +
                        "                                    <div class=\"his_time\"><span>提交时间</span></div>\n" +
                        "                                    <div class=\"his_time\"><span style='margin-left: -20px;'>结束时间</span></div>\n" +
                        "                                    <div class=\"his_name\"><span style='margin-left: -23px;'>状态</span></div>\n" +
                        "                                    <hr>\n" +
                        "                                </li>");

            }

            $(".file").fileinput({
                showPreview: false,
                showUpload:false,
                showRemove:false,
                showCancel: false,
                browseLabel: "选择文件"
            });

        function netweight() {
            var form = $("#Net");
            var fv = form.data("formValidation");
            fv.validate();
            if (fv.isValid()) {
                checkTable();
                checkEvi();
                if(flagtable&&flagevi&&checktaskname()){
                    var form1 = new FormData($("#Net")[0]);
                    $.ajax({
                        url: "/CloudPlatform/SoftTool/runNet",
                        type: "post",
                        processData: false,
                        contentType: false,
                        data: form1,
                        success: function (data) {
                            removeul();
                            loadHistory();
                            $("#his_tab1").addClass("active");
                            $("#out_tab1").removeClass("active");
                            $("#ins_tab1").removeClass("active");
                            $("#history").addClass("active").addClass("in");
                            $("#example").removeClass("active");
                            $("#instruction1").removeClass("active");
                            getTaskName();
                        }
                    });
                }
            }
        }


            var sample;
            var flagtable=true;
            var flagevi=true;

            function checkTable() {
                var reader=new FileReader();
                reader.readAsText(document.getElementById('table1').files[0],"UTF-8");
                reader.onload=function () {
                    let text=reader.result;
                    let line=text.trim().split('\n');
                    sample=line[0].trim().split('\t');
                    var length=sample.length;
                    for(let i in line){
                        var r=parseInt(i)+1;
                        let row=line[i].trim().split('\t');
                        var name=[];
                        if(row.length!=length){
                            flagtable=false;
                            swal({
                                title: "OTU丰度表错误",
                                text: "OTU丰度表第"+r+"行数据数量不一致",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }
                        for(let j in row){
                            var c=parseInt(j)+1;
                            if(i!=0){
                                if(j!=0 && !checkRate(row[j].trim())){
                                    flagtable=false;
                                    swal({
                                        title: "OTU丰度表错误",
                                        text: "OTU丰度表第"+r+"行,第"+c+"列数据不是数字",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return false;
                                }
                            }else {
                                if(name.indexOf(row[j])>=0){
                                    flagtable=false;
                                    swal({
                                        title: "OTU丰度表错误",
                                        text: "OTU丰度表第1行,第"+c+"列样品名重复存在，请核实！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return false;
                                }else name.push(row[j]);
                            }
                        }


                    }
                    flagtable=true;
                    return true;
                };
            }

            function checkEvi() {
                var reader=new FileReader();
                reader.readAsText(document.getElementById('table2').files[0],"UTF-8");
                reader.onload=function () {
                    let text=reader.result;
                    let line=text.trim().split('\n');
                    var length=line[0].trim().split('\t').length;
                    if(sample.length!=length){
                        var on=parseInt(sample.length)-1;
                        var en=parseInt(length)-1;
                        flagevi=false;
                        swal({
                            title: "环境因子列表错误",
                            text: "环境因子列表样本数量与OTU分度表不一致，OUT分度表样本数量"+on+"，环境列表样本数量"+en,
                            type: "warning",
                            confirmButtonText: "确认"
                        });
                        return false;
                    }
                    var name=[];
                    for(let i in line){
                        var r=parseInt(i)+1;
                        let row=line[i].trim().split('\t');
                        if(row.length!=length){
                            flagevi=false;
                            swal({
                                title: "环境因子列表错误",
                                text: "环境因子列表第"+r+"行数据数量不一致！",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }
                        if(name.indexOf(row[0])>=0){
                            flagevi=false;
                            swal({
                                title: "环境因子列表错误",
                                text: "环境因子列表第"+r+"行样品名重复存在",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }else name.push(row[0]);
                        for(let j in row){
                            var c=parseInt(j)+1;
                            if(i!=0) {
                                if (j != 0 && !checkRate(row[j].trim())) {
                                    flagevi = false;
                                    swal({
                                        title: "环境因子列表错误",
                                        text: "环境因子列表第" + r + "行,第" + c + "列数据不是数字",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return false;
                                }
                            }else {
                                if(j!= 0 && sample.indexOf(row[j])<0){
                                    flagevi=false;
                                    swal({
                                        title: "环境因子列表错误",
                                        text: "环境因子列表第"+r+"行样品名不存在,请核对OTU文件！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    return false;
                                }
                            }
                        }
                    }
                    flagevi=true;
                    return true;
                };
            }

            function checkRate(input) {
                var re = /^(-?\d+)(\.\d+)?$/; //判断字符串是否为浮点数
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            function formValidation() {
                $('#Net').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        taskname: {
                            validators: {
                                notEmpty: {
                                    message: '任务编号不能为空!'
                                },
                                remote:{
                                    type: 'POST',
                                    url: '@routes.DutyController.checktaskname()',
                                    message: "任务编号重复，请重新输入",
                                    delay: 1000
                                }
                            }
                        },
                        table1: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传OTU丰度表!'
                                },
                                file: {
                                    maxSize: 5*1024*1024,
                                    message: '文件格式必须为txt，且不得大于5M！'
                                }
                            }
                        },
                        table2: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传环境因子列表文件!'
                                },
                                file: {
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        }
                    }
                });
                $("#signinForm").formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        user: {
                            validators: {
                                notEmpty: {
                                    message: '请输入账号！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: '请输入验证码！'
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#signupForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        phone: {
                            validators: {
                                notEmpty: {
                                    message: '请输入手机号！'
                                },
                                phone:{
                                    message: '请输入正确手机号',
                                    country: 'CN'
                                }
                            }
                        },
                        name: {
                            validators: {
                                notEmpty: {
                                    message: '请填写姓名！'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: '请填写邮箱地址！'
                                },
                                emailAddress:{
                                    message:'请输入正确邮箱地址！'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber1').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });
                $('#passwordForm').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '请输入旧密码！'
                                }
                            }
                        },
                        password1: {
                            validators: {
                                notEmpty: {
                                    message: '请输入新密码！'
                                },
                                stringLength: {
                                    min: 6,
                                    message: '请输入至少六位密码！'
                                }
                            }
                        },
                        password2: {
                            validators: {
                                notEmpty: {
                                    message: '请输入确认密码！'
                                },
                                identical: {
                                    field: 'password1',
                                    message: '两次密码不一致!'
                                }
                            }
                        },
                        validnumber: {
                            validators: {
                                notEmpty: {
                                    message: "请输入验证码！"
                                },
                                callback: {
                                    message: '验证码错误！',
                                    callback: function () {
                                        return $('#validnumber2').val() === code;
                                    }
                                }
                            }
                        }
                    }
                });

            }

    </script>

}