@()(implicit session: Session)
@home.main("netWeight"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />

        <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <style>
            .mysoft-content-left .form-group-extra .btn-sm {
                font-size: 14px;
                background-color: #27b9d0;
                border-color: #27b9d0;
                border-radius: 4px;
                padding: 5px 15px;
                height: auto;
            }
            .mysoft-content-right .tab-content, .mysoft-content-left form {
                box-shadow: unset;
            }
            .img-thumbnail {
                display: inline-block;
                max-width: 100%;
                height: auto;
                padding: 4px;
                line-height: 1.53846154;
                background-color: #fff;
                border: unset;
                border-radius: 4px;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }
            blockquote {
                padding: 10px 20px;
                margin: 0 0 20px;
                border-left: unset;
            }
    </style>

    <div class="col-md-12 mysoft-content">
        <div class="mysoft-content-left whitebox" style="width: 715px;">
            <form id="Weight" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <img class="tools-img" src="/assets/images/softpic/cytoscape.png">
                <h3 class="tools-title">权重网络图</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="cytoscape">
                    </div>
                </div>

                <br><br>

                <script type="text/javascript">
                        $("#mytaskname").keyup(function () {
                            var val = $("#mytaskname").val();
                            var rule = /[()（）@@#$%^&*~`!|\/\\?;,.，。:"]/;
                            if (rule.test(val)) {
                                alert('任务编号里不能有特殊字符，请重新填写!');
                            }
                        })
                </script>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="###" data-target="#tab2Content3" data-toggle="tab">输入文件</a>
                    </li>
                    <li><a href="###" data-target="#tab2Content4" data-toggle="tab">手动输入</a>
                    </li>
                </ul>
                <div class="tab-content" >
                    <div class="tab-pane fade active in" id="tab2Content3"><br>
                        <div id="div1" class="one-line">
                            <div class="form-group-p">
                                <div class="form-group">
                                    <label for="exampleInputName2">输入边界文件：
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" style="" id="filepath1" name="text1" readonly="readonly">
                                    <img id="tempimg1" dynsrc="" src="" style="display:none">
                                    <input id="hideinput1" type="file" name="table1" style="display:none;" onchange="change(this.value)">
                                </div>
                            </div>
                            <div class="form-group-extra">

                                <span id="choosefile" type="button" onclick="choosefile($(this))" data-id="1" class="btn btn-sm btn-info choosebutton">选择文件</span>
                                <em>
                                    <a href="/tools/Public/help/11.CytoscapeInput-edges-black.txt" target="_blank">示例文件                                            </a>
                                </em>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2Content4">
                        <p><br>
                            <textarea id="" name="txdata" class="form-control kindeditorSimple" style="height:150px;width:100%;" placeholder="或手动输入文件"></textarea>
                        </p>
                    </div>
                </div>
                <br>
                <div class="form-group-p">

                    <div class="form-group">
                        <label>连通性方法：</label>
                    </div>
                    <div class="form-group">

                        <select name="lian_type" class="form-control" id="lian_type">
                            <option value="hard">硬阈值</option>
                            <option value="soft">软阈值</option>
                        </select>
                    </div>
                </div>
                <br> <br>
                <div class="form-group-p" id="weight_sel">
                    <div class="form-group">
                        <label>权重范围：</label>
                    </div>
                    <div class="form-group">

                        <input type="text" name="weight1" value="0.5" class="form-control input-sm" style="width:15%;">
                        ——
                        <input type="text" name="weight2" value="1.0" class="form-control input-sm" style="width:15%;">
                    </div>

                </div>
                <div class="form-group-extra">
                    <span class="must">*</span>
                </div>
                <br>
                <br style="clear:both;">
                <input type="hidden" value="upload" name="act">
                <input type="hidden" value="blastcmp" name="action">
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="netweight()">
            </form>
        </div>
        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 335px;">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="###" data-target="#tab2Content2" data-toggle="tab">示例结果</a>
                </li>
                <li class="">
                    <a href="###" data-target="#tab2Content1" data-toggle="tab">使用说明</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="tab2Content2">
                    <h5>输出结果：</h5>
                    <img class="img-rounded img-thumbnail img-responsive" src="/assets/images/softpic/exampleResult/cytoscape2out.png" alt="生物云平台">
                </div>
                <div class="tab-pane fade" id="tab2Content1">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span><a href="" target="_blank"><i class="icon icon-question-sign" style="font-size: 14px!important;"></i><strong><span style="color:#337FE5;">了解该工具的原理与详细解析，请点击＞＞</span></strong></a></span>
                    </p>
                    <p class="MsoNormal">
                        <br>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">功能：</span><br>
                        将基因间的调控互作关系绘制成一个有权重的网络图。
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">输入：</span>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ①需要输入一个边界文件。<br>
                        ②边界文件格式说明:边界文件至少包含三列，其中，<br>
                        第一列和第二列为基因名称或基因ID，在同一行中，表示第一列的基因和第二列的基因有相互作用关系(没有方向的区分)。第三列为权重，即两个基因间的相关系数。<br>
                        在权重网络图中，不同的权重将用不同的线条类型表示。之后还可以有其他数据，比如基迪奥WGCNA结题报告中给出的cytoscape配置文件edge文件，总共有六列。<br>
                        边界文件必需包含表头，表头可以自定义，如：fromNode, toNode, weight
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">参数：</span>
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ①连通性：连通性的计算方法有硬阈值和软阈值两种方法。硬阈值是指一个基因与多少个基因有联系。例如基因A总共与10个基因有相互作用，则基因A的连通性为10。软阈值是指一个基因与其他基因的相关系数（权重，weight）的总和。例如基因A与基因B 的权重为0.2，与基因C的权重为0.3，与基因D的权重为0.5，则基因A的连通性为0.2+0.3+0.5=1。
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        ②权重范围：可自行设置权重范围，展示特定权重范围下的基因间调控关系。 注意：如果连通性方法选择的是硬阈值，则是先筛选权重范围再在这个范围内计算基因的连通性；如果连通性方法选择的是软阈值，则是先计算每个基因的连通性后再筛选权重范围进行展示。
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;">输出：</span><br>
                        输出一个可以编辑的网络图。自行编辑后，可以保存为png, pdf, svg格式。同时输出连通性的颜色图例，可以另行下载，格式为.svg。
                    </p>
                    <p>
                        <br>
                    </p>                        </div>

            </div>
        </div>
    </div>


    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script type="text/javascript">


        function netweight() {
            if(@session.get("userId").isEmpty){
                swal({
                    title: "尚未登录",
                    text: "请先登录账号",
                    type: "warning",
                    confirmButtonText: "确认"
                })
            }else {

                var form1 = new FormData($("#Weight")[0]);

                var element = "<div id='content'><span id='info'>运行中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;'></div>"
                var index = layer.alert(element, {
                    skin: 'layui-layer-lan',
                    closeBtn: 0,
                    title: "Info",
                    btn: []
                });

                $.ajax({
                    url: "/CloudPlatform/SoftTool/runWeight?id=@session.get("userId")",
                    type: "post",
                    processData: false,
                    contentType: false,
                    data: form1,
                    success: function (data) {
                        if (data.valid === "false") {
                            layer.close(index);
                            swal("Error", data.message, "error");

                        } else {

                            layer.close(index);
                            $.ajax({
                                url:"/CloudPlatform/SoftTool/getFiles?id=@session.get("userId")"+"&taskname="+data.taskname,
                                type:"post",
                                success:function (pics) {
                                    var pic = "";
                                    var html = "";
                                    $.each(pics,function (i,v) {
                                        pic +="<li><img class='img-rounded img-thumbnail img-responsive' src='/CloudPlatform/pic?path="+v+"' alt=\"生物云平台\"><li>"
                                        html += "<li><a href='/CloudPlatform/SoftTool/download?path="+data.path+"&name=" + v.substring(v.lastIndexOf("\\")+1,v.length) + "' target='_blank'>" + v.substring(v.lastIndexOf("\\")+1,v.length) + "</a></li>"
                                    });
                                    $("#filesUrl").html(html);
                                    $("#pics").html(pic);
                                }
                            })

                            $("#result_tab1").show();
                            $("#result_tab1").addClass("active")
                            $("#out_tab1").removeClass("active")
                            $("#ins_tab1").removeClass("active")
                            $("#result1").addClass("active").addClass("in")
                            $("#form1").removeClass("active");
                            $("#instruction1").removeClass("active");
                        }
                    }
                });
            }
        }


            function choosefile($para) {
                if(@session.get("userId").isEmpty){
                    swal({
                        title: "尚未登录",
                        text: "请先登录账号",
                        type: "warning",
                        confirmButtonText: "确认"
                    })
                }else {
                    $number = $para.attr("data-id");
                    $("#hideinput" + $number).click();
                }
            }


            //上传文件判断，大小和格式 限制! 问题：云端文件判断不了。（云端文件上传时已经经过限制，可以大于5M，本地限制大小是因上传速度问题)
            var maxsize = 5 * 1024 * 1024;//2M
            var errMsg = '建议使用云端文件，本地文件上传最大为5M！';

            function change(value, rowMax, colMax) {
                $("#filepath" + $number).val(value);
                var filepath = document.getElementById("hideinput" + $number);

                var file_size = 0;


                file_size = filepath.files[0].size;
                let name = filepath.files[0].name;
                let patt = /^[a-zA-Z0-9._]+$/;
                if (!patt.test(name)) {
                    alert("文件名只能由字母，数字，'_'和'.'组成");
                    $("#filepath" + $number).val('');
                    $("#hideinput" + $number).val('');
                }
                var size = file_size;
                if (size > maxsize) {
                    alert(errMsg);
                    $("#filepath" + $number).val('');
                    $("#hideinput" + $number).val('');
                }

            }
    </script>

}