@(abbre:String)(implicit session: Session)
@home.main("Net"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <!--button弹出操作-->
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/myzui.min.js")"></script>

    <div class="col-md-12 mysoft-content" style="width: 98%;">
        <div class="mysoft-content-left whitebox" style="width: 715px;">
            <form id="Net" method="GET" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic NetWeight"></div>
                <h3 class="tools-title">权重网络图</h3>
                <div class="form-group">
                    <h2>
                    </h2>
                </div><br><br>
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="mytaskname">任务编号：</label>
                    </div>
                    <div class="form-group">
                        <input id="mytaskname" type="text" class="form-control" name="taskname" placeholder="" value="cytoscape">
                    </div>
                </div>

                <br><br>
                <div>
                    <div id="mydiv1" class="one-line">
                        <div class="form-group-p" style="width: 500px">
                            <div class="form-group">
                                <label for="exampleInputName0"><em>1：</em>基因文件：</label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table1" name="table1" onchange="checkTable()">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/assets/files/Net_genus.txt" target="_blank">示例文件</a></em>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div id="mydiv0" class="one-line">
                        <div class="form-group-p" style="width: 500px">
                            <div class="form-group">
                                <label for="exampleInputName0">
                                    <em>2：</em>环境因子列表文件：
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control file" id="table2" name="table2" onchange="checkEvi()">
                            </div>
                        </div>
                        <div class="form-group-extra">
                            <em><a href="/assets/files/Net_env.txt" target="_blank">示例文件</a></em>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                    <!-- 参数 -->
                <div class="form-group-p">
                    <div class="form-group">
                        <label for="qushi">
                            <em>3：</em>相关分析方法：
                        </label>
                    </div>
                    <div class="form-group">
                        <select name="anatype" id="anatype">
                            <option value="pearson">pearson</option>
                            <option value="kendall">kendall</option>
                            <option value="spearman">spearman</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="netweight()">
            </form>
        </div>
        <div class="handler"></div>
        <div class="mysoft-content-right" style="width: 335px;">
            <ul class="nav nav-tabs">
                <li class="active" id="ins_tab1">
                    <a href="###" data-target="#instruction" data-toggle="tab">使用说明</a>
                </li>
                <li class="" id="out_tab1">
                    <a href="###" data-target="#example" data-toggle="tab">教学视频</a>
                </li>
                <li class="" id="his_tab1">
                    <a href="#" data-target="#history" data-toggle="tab">历史任务</a>
                </li>
            </ul>
            <div class="tab-content" style="box-sizing: border-box!important;">
                <div class="tab-pane fade active in" id="instruction">
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>1.背景介绍</strong></span><br>
                        权重网络图，可以将基因间的调控互作关系绘制成一个有权重的网络图，展示基因间的共表达关系和相关性强弱关系。
                        <br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.操作方法</strong></span>
                    </p>
                    <img src="/assets/images/softpic/instruction/netw1.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%">
                        操作界面
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.1.输入文件</strong></span><br>
                        需要输入基因文件和环境因子列表文件，文件格式都必须为txt文件。
                        <br>
                        基因文件第一列为聚类的OTUid，第一行为样本名，可以直接输入公司提供的OTU丰度表。
                        <br>
                        环境因子列表文件第一列为环境因子，第一行为样品名，示例文件如下
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/netw2.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 44%">
                        基因文件
                    </p>
                    <img src="/assets/images/softpic/instruction/netw3.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;padding-left: 40%">
                        环境因子列表
                    </p>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        上传完成后，选择相关性分析方法，可选项有spearman、pearson和kendall，选择完成后点击“提交”按钮即可
                        <br>
                    </p>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>2.2.查看任务</strong></span><br>
                        提交任务后，点击界面右侧的“NetWeight历史任务”模块，可以看到任务编号、提交时间、结束时间和状态。通过点击界面“我的任务”也可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/netw4.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/netw5.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>3.示例图片</strong></span><br>
                        生成的图片根据设置的参数不同会出现差异，示例图片如下，相关性分析方法为pearson。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/netw6.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                    <p style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;">
                        <span style="font-weight:700;"><strong>4.结果文件列表</strong></span><br>
                        结果文件包含生成的相关性系数及P值分析结果，网络图可以通过在线调整后下载。
                        <br>
                    </p>
                    <img src="/assets/images/softpic/instruction/netw7.png" class="img-rounded img-thumbnail img-responsive" style="height:auto;">
                    <span style="color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;"></span>
                    <br>
                </div>
                <div class="tab-pane fade" id="example">
                    <div id="dplayer"></div>
                </div>
                <div id="history" class="form1_ins tab-pane fade">
                    <a id="btn-refresh" class="btn_refresh mws-i-24 i-refresh-3" onclick="refresh('@abbre')">刷新状态</a>
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_time"><span>任务编号</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $(document).ready(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("Net","NET");
                loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgls3S_QUo6tng5gc.mp4","/assets/images/softpic/video/netweight_video.png")
            });

            var sample = [];
            var flagtable=true;

            var lock = true;

        function netweight() {
            if(lock) {
                lock = false;
                var form = $("#Net");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    flagtable = true;
                    sample = [];
                    checkTable().then((r)=>{
                        checkEvi().then((r)=>{
                            if(flagtable && checktaskname()) {
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#Net")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runNet",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory('@abbre');
                                            $("#his_tab1").addClass("active");
                                            $("#out_tab1").removeClass("active");
                                            $("#ins_tab1").removeClass("active");
                                            $("#history").addClass("active").addClass("in");
                                            $("#example").removeClass("active");
                                            $("#instruction").removeClass("active");
                                            getTaskName("Net","NET");
                                        }
                                    });
                                }, 2000);
                            }
                        });
                    });
                }
                lock = true;
            }
        }



            function checkTable() {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table1').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        sample=line[0].trim().split('\t');
                        var length=sample.length;
                        for(let i in line){
                            var r=parseInt(i)+1;
                            let row=line[i].trim().split('\t');
                            var name=[];
                            if(row.length!=length){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "OTU丰度表错误",
                                    text: "OTU丰度表第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                            for(let j in row){
                                var c=parseInt(j)+1;
                                if(i!=0){
                                    if(j!=0 && !checkRate(row[j].trim())){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "OTU丰度表错误",
                                            text: "OTU丰度表第"+r+"行,第"+c+"列数据不是数字",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }
                                }else {
                                    if(name.indexOf(row[j])>=0){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "OTU丰度表错误",
                                            text: "OTU丰度表第1行,第"+c+"列样品名重复存在，请核实！",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }else name.push(row[j]);
                                }
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkEvi() {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table2').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        var length=line[0].trim().split('\t').length;
                        if(sample.length!=length){
                            var on=parseInt(sample.length)-1;
                            var en=parseInt(length)-1;
                            flagtable=flagtable&&false;
                            swal({
                                title: "环境因子列表错误",
                                text: "环境因子列表样本数量与基因表不一致，OUT分度表样本数量"+on+"，环境列表样本数量"+en,
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            resolve(false);
                        }
                        var name=[];
                        for(let i in line){
                            var r=parseInt(i)+1;
                            let row=line[i].trim().split('\t');
                            if(row.length!=length){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "环境因子列表错误",
                                    text: "环境因子列表第"+r+"行数据数量不一致！",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                            for(let j in row){
                                var c=parseInt(j)+1;
                                if(i!=0) {
                                    if (j != 0 && !checkRate(row[j].trim())) {
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "环境因子列表错误",
                                            text: "环境因子列表第" + r + "行,第" + c + "列数据不是数字",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }
                                }else {
                                    if(name.indexOf(row[j])>=0){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "环境因子列表错误",
                                            text: "环境因子列表第"+c+"列样品名重复存在",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }else name.push(row[j]);
                                    if(sample.indexOf(row[j])<0){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "环境因子列表错误",
                                            text: "环境因子列表第"+c+"列样品名不存在,请核对基因文件！",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }
                                }
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkRate(input) {
                var re = /^(-?\d+)(\.\d+)?$/; //判断字符串是否为浮点数
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            function formValidation() {
                $('#Net').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        taskname: {
                            validators: {
                                notEmpty: {
                                    message: '任务编号不能为空!'
                                },
                                remote:{
                                    type: 'POST',
                                    url: '@routes.DutyController.checktaskname()',
                                    message: "任务编号重复，请重新输入",
                                    delay: 1000
                                }
                            }
                        },
                        table1: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传OTU丰度表!'
                                },
                                file: {
                                    maxSize: 5*1024*1024,
                                    message: '文件格式必须为txt，且不得大于5M！'
                                }
                            }
                        },
                        table2: {
                            validators: {
                                notEmpty: {
                                    message: '必须上传环境因子列表文件!'
                                },
                                file: {
                                    maxSize: 5*1024*1024,
                                    message: '文件不得大于5M！'
                                }
                            }
                        }
                    }
                });
            }

    </script>

}