@(abbre:String)(implicit session: Session)
@home.main("PCA"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>

    <style>
            .file-input{
                width: 330px;
            }

    </style>

    <div class="col-md-12 mysoft-content" style="width: 98%">
        <div class="mysoft-content-left whitebox" style="width: 771px;overflow-y: auto">
            <form id="PCA1" method="GET" enctype="multipart/form-data" class="form1 well form-inline tab-pane fade active in" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic PCA"> </div>
                <h3 class="tools-title">主成分分析（PCA）</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                <div class="form-group-p" style="width: 100%">
                    <label for="exampleInputName2">
                        <em>1： </em>上传矩阵表格文件：<span class="must">&nbsp;&nbsp;*</span>
                    </label>
                    <br>
                    <div class="one-line">
                        <div class="form-group-p" style="width: auto">
                            <div class="form-group">
                                <ul class="nav nav-tabs" style="width: 300px">
                                    <li class="active">
                                        <a href="###" onclick="curtable(2)" data-target="#tab1Content1" data-toggle="tab">输入文件</a>
                                    </li>
                                    <li>
                                        <a href="###" onclick="curtable(1)" data-target="#tab1Content2" data-toggle="tab">手动输入</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group-p" style="width: auto">
                            <div class="form-group">
                                <em>
                                    <a onclick="showexample('table')">示例文件</a>
                                </em>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tab1Content1">
                            <p><br></p>
                            <div id="div1" class="one-line">
                                <div class="form-group-p">
                                    <div class="form-group">
                                        <label for="exampleInputName2">上传文件：</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" class="form-control file" id="table1" name="table1" onchange="checkTablefile()">
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                            <p></p>
                        </div>
                        <div class="tab-pane fade" id="tab1Content2">
                            <p>
                            </p>
                            <div class="tab-pane form-group" id="tabContent2">
                                <textarea id="txdata1" name="txdata1" class="form-control kindeditorSimple" style="width: 100%;height:150px;" placeholder="手动输入时,点击示例文件，示例将导入文本框。上传文件时，点击示例文件，将直接下载文件。文本框右下角可调节文本框大小。"></textarea>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <hr>
                <br>
                <h4>可选输入：</h4>
                <br>
                @units.selector("2： ","","是否归一化：","scale")
                @units.selector("3： ","","是否显示样本名：","showname")
                @units.selector("","divshowerro","是否显示箭头：","showerro")
                <div class="form-group-p">
                    <div class="form-group">
                        <label style="float: left;"><em>4： </em>是否分组绘图</label>
                        <input type="checkbox" id="isgroup" class="form-control" style="height: 13px;width: auto;float: left;margin-top: 9px;margin-left: 5px">
                    </div>
                </div>
                <br>
                <div id="group" style="display: none;">
                    <div class="form-group-p">
                        <label>上传或输入分组文件</label>
                        <br>
                        <div class="one-line">
                            <div class="form-group-p" style="width: auto">
                                <div class="form-group">
                                    <ul class="nav nav-tabs" style="width: 300px">
                                        <li class="active">
                                            <a href="###" onclick="curgroup(2)" data-target="#tab2Content1" data-toggle="tab">输入文件</a>
                                        </li>
                                        <li>
                                            <a href="###" onclick="curgroup(1)" data-target="#tab2Content2" data-toggle="tab">手动输入</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group-p" style="width: auto">
                                <div class="form-group">
                                    <em>
                                        <a onclick="showexample('group')">示例文件</a>
                                    </em>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="tab2Content1">
                                <p><br></p>
                                <div id="div2" class="one-line">
                                    <div class="form-group-p" style="width: auto">
                                        <div class="form-group">
                                            <label for="exampleInputName2">输入分组文件：</label>
                                        </div>

                                        <div class="form-group">
                                            <input type="file" class="form-control file" id="table2" name="table2" onchange="checkGroupfile()">
                                            <img id="tempimg2" dynsrc="" src="" style="display:none">
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <p></p>
                            </div>
                            <div class="tab-pane fade" id="tab2Content2">
                                <p>
                                </p>
                                <div class="tab-pane form-group" id="tabContent2">
                                    <textarea id="txdata2" name="txdata2" class="form-control kindeditorSimple" style="width: 100%;height:150px;" placeholder="手动输入时,点击示例文件，示例将导入文本框。上传文件时，点击示例文件，将直接下载文件。文本框右下角可调节文本框大小。"></textarea>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-p" style="display: none">
                        <div class="form-group">
                            <label>是否绘制分组圈：</label>
                        </div>
                        <div class="form-group right">
                            <select name="drawcircle" style="width: 30%;">
                                <option value="FALSE">no</option>
                                <option value="TRUE">yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                @units.textinput("","div_table","","tablenum","","2")
                @units.textinput("","div_group","","groupnum","","2")
                @units.textinput("","div_isgroup","","isgrouptext","","FALSE")
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" style="margin-bottom: 20px" onclick="PCA()">
            </form>
        </div>
        @units.pageRight("", "","PCA")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

        $("#showname").change(function () {
            shown();
        });

            $(document).ready(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("PCA1","PCA");
                $("#div_table").hide();
                $("#div_group").hide();
                $("#div_isgroup").hide();
                $("#instruction").append(instruction);
                $("#faq").html(faq);
                var tf = ["TRUE","FALSE"];
                var tfname = ["yes","no"];
                creatSelector("scale",tfname,tf,"yes");
                creatSelector("showname",tfname,tf,"no");
                creatSelector("showerro",tfname,tf,"yes");
                $("#divshowerro").hide();

                loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAg_Z2K_QUojLX0pwY.mp4","/assets/images/softpic/video/pca_video.png")
            });

            $("#isgroup").click(function () {
                var isSelected = this.checked;
                if (isSelected === true) {
                    $("#isgrouptext").val("TRUE");
                    $("#group").show();
                } else {
                    $("#isgrouptext").val("FALSE");
                    $("#group").hide();
                }
            });

            //bootstrap fileinput 选择文件后处理事件
            $("#table1").on("filebatchselected", function(event, files) {
                if($("#table2").val()!="") checkGroupfile();
            });

            var sample = [];
            var flagtable = true;
            var lock = true;

        function PCA() {
            if(lock) {
                lock = false;
                var form = $("#PCA1");
                var fv = form.data("formValidation");
                fv.validate();
                if (fv.isValid()) {
                    flagtable=true;
                    sample = [];
                    checkTablefile().then((r)=>{
                        checkGroupfile().then((r)=>{
                            if(flagtable && checktaskname()){
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#PCA1")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runSoft?abbre=@abbre&sname=主成分分析（PCA）",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            layer.close(index);
                                            removeul();
                                            loadHistory("@abbre");
                                            switchRunningTab();
                                            getTaskName("PCA1","PCA");
                                        }
                                    });
                                }, 2000);
                            }
                        });
                    });
                }
                lock = true;
            }
        }

        function checkTablefile() {
            return new Promise((resolve,reject) =>{
                if(table==2 && $("#table1").val()==""){
                    flagtable=flagtable&&false;
                    swal({
                        title: "矩阵文件错误",
                        text: "请上传矩阵文件！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    resolve(false);
                }
                else if(table==2 && $("#table1").val()!=""){
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table1').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        resolve(checktable(line));
                    };
                }
                else if(table==1 && $("#txdata1").val()==""){
                    flagtable=flagtable&&false;
                    swal({
                        title: "矩阵文件错误",
                        text: "请上传矩阵文件！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    resolve(false);
                }
                else if(table==1 && $("#txdata1").val()!=""){
                    let line=$("#txdata1").val().trim().split('\n');
                    resolve(checktable(line));
                }
            });
        }

        function checktable(line) {
            sample=line[0].trim().split('\t');
            var length=sample.length;
            for(let i in line){
                var r=parseInt(i)+1;
                let row=line[i].trim().split('\t');
                var name=[];
                if(row.length!=length){
                    flagtable=flagtable&&false;
                    swal({
                        title: "矩阵文件格式错误",
                        text: "矩阵文件第"+r+"行数据数量不一致",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    return false;
                }
                for(let j in row){
                    var c=parseInt(j)+1;
                    if(i!=0){
                        if(j!=0 && !checkRate(row[j].trim())){
                            flagtable=flagtable&&false;
                            swal({
                                title: "矩阵文件格式错误",
                                text: "矩阵文件第"+r+"行,第"+c+"列数据不是数字",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }
                    }else {
                        if(name.indexOf(row[j])>=0){
                            flagtable=flagtable&&false;
                            swal({
                                title: "矩阵文件错误",
                                text: "矩阵文件第1行,第"+c+"列样品名重复存在，请核实！",
                                type: "warning",
                                confirmButtonText: "确认"
                            });
                            return false;
                        }else name.push(row[j]);
                    }
                }
            }
            flagtable=flagtable&&true;
            return true;
        }

        function checkGroupfile() {
            return new Promise((resolve, reject) => {
                if(!$("#isgroup").prop("checked")) {
                    flagtable=flagtable&&true;
                    resolve(true);
                }
                else if(group==2 && $("#table2").val()==""){
                    console.log($("#table2").val());
                    flagtable=flagtable&&false;
                    swal({
                        title: "分组文件错误",
                        text: "请上传分组，或取消分组绘图！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    resolve(false);
                }
                else if(group==2 && $("#table2").val()!=""){
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table2').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        resolve(checkgroup(line));
                    };
                }
                else if(group==1 && $("#txdata2").val()==""){
                    flagtable=flagtable&&false;
                    swal({
                        title: "分组文件错误",
                        text: "请上传分组，或取消分组绘图！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    resolve(false);
                }
                else if(group==1 && $("#txdata2").val()!=""){
                    let line=$("#txdata2").val().trim().split('\n');
                    resolve(checkgroup(line));
                }
            });
        }

        function checkgroup(line) {
            var name=[];
            console.log(line.length);
            for(let i in line) {
                let row=line[i].trim().split('\t');
                var r=parseInt(i)+1;
                if(row.length!=2){
                    flagtable=flagtable&&false;
                    swal({
                        title: "分组文件格式错误",
                        text: "分组文件第"+r+"行格式错误，必须为两列！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    return false;
                }
                if(sample.indexOf(row[0])<0){
                    flagtable=flagtable&&false;
                    swal({
                        title: "分组文件格式错误",
                        text: "分组文件第"+r+"行样品名不存在，请核对矩阵文件！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    return false;
                }
                if(name.indexOf(row[0])>=0){
                    flagtable=flagtable&&false;
                    swal({
                        title: "分组文件错误",
                        text: "分组文件第"+r+"行样品名重复存在，请核实！",
                        type: "warning",
                        confirmButtonText: "确认"
                    });
                    return false;
                }else name.push(row[0]);
            }
            flagtable=flagtable&&true;
            return true;
        }

        function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

        function shown() {
            var param = $("#showname").val();
            if (param == "TRUE") $("#divshowerro").show();
            else $("#divshowerro").hide();
        }

        var table=2;
        var group=2;

        function curtable(param) {
            $("#tablenum").val(param);
            table=param;
        }
        function curgroup(param) {
            $("#groupnum").val(param);
            group=param;
        }

        var faq = "<div class=\"panel-group panel-group-met-scrollbar\" id=\"pca-example\" style=\"overflow-x: auto; border-bottom: 1px solid #e5e5e5;\">\n" +
                "            <div class=\"panel\">\n" +
                "                <div class=\"panel-heading\">\n" +
                "                    <a class=\"accordion-toggle\" data-toggle=\"collapse\" data-parent=\"#pca-example\" href=\"#collapse-faq0\">\n" +
                "                        <span style=\"font-weight:700;\"><strong>1. 使用凌恩生物结题报告中的什么数据进行分析？</strong></span>\n" +
                "                    </a>\n" +
                "                </div>\n" +
                "                <div id=\"collapse-faq0\" class=\"panel-collapse collapse in\">\n" +
                "                    <div class=\"panel-body\">\n" +
                "                        <p>可以使用下图的OTU聚类数据，位于结题报告结果文件的01.OTU_Taxa/normal/otu_table.xls，使用时用excel打开，另存为“制表符分隔的txt文件”即可。</p><br>\n" +
                "                        <img src=\"/assets/images/softpic/faq/pca1.png\" style=\"height:auto;\">\n" +
                "                        <img src=\"/assets/images/softpic/faq/pca2.png\" style=\"height:auto;\">\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </div>\n" +
                "            <div class=\"panel\">\n" +
                "                <div class=\"panel-heading\">\n" +
                "                    <a class=\"accordion-toggle collapsed\" data-toggle=\"collapse\" data-parent=\"#pca-example\" href=\"#collapse-faq1\">\n" +
                "                        <span style=\"font-weight:700;\"><strong>2. 出现提示“第xx行样本名不存在”</strong></span>\n" +
                "                    </a>\n" +
                "                </div>\n" +
                "                <div id=\"collapse-faq1\" class=\"panel-collapse collapse\">\n" +
                "                    <div class=\"panel-body\">\n" +
                "                        <p>出现该提示时，请从以下几方面自查文件格式：</p>\n" +
                "                        <p>1）是否已将xls文件另存为“<strong>制表符分隔的txt文件</strong>”；</p>\n" +
                "                        <p>2）文件<strong>格式</strong>是否与<strong>示例文件</strong>相同；</p>\n" +
                "                        <p>3）文件中是否有<strong>特殊符号和中文</strong>，例如 <strong>%、NA、+、-、（）、空格、科学计数、罗马字母</strong>等，去掉特殊符号，将空值用数字“0”替换，中文更改为英文；</p>\n" +
                "                        <p>4）数据中是否有<strong>空列、空行、重复的行、重复的列</strong>，特别是行名（一般为gene id）、列名(一般为样本名)出现重复值，有的话就删掉，<strong>空列和重复列会影响画图，请务必检查（可以用excel查看是否有重复）</strong>；</p>\n" +
                "                        <p>5）所有文件中是否都有该样本名。</p>\n" +
                "                        <img src=\"/assets/images/softpic/faq/pca3.png\" style=\"height:auto;\">\n" +
                "                        <p>排查完之后，重新上传数据、提交任务。如果仍然不能分析，可通过左侧导航栏的“<strong>意见反馈</strong>”选项反馈意见，也可以加入<strong>凌波微课交流群</strong>，联系<strong>小助教或其他云平台老师解决</strong>。</p>\n" +
                "                        <br>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </div>\n" +
                "            <div class=\"panel\">\n" +
                "                <div class=\"panel-heading\">\n" +
                "                    <a class=\"accordion-toggle collapsed\" data-toggle=\"collapse\" data-parent=\"#pca-example\" href=\"#collapse-faq2\">\n" +
                "                        <span style=\"font-weight:700;\"><strong>3. 多样性数据分析过程中想要删除样本怎么办？</strong></span>\n" +
                "                    </a>\n" +
                "                </div>\n" +
                "                <div id=\"collapse-faq2\" class=\"panel-collapse collapse\">\n" +
                "                    <div class=\"panel-body\">\n" +
                "                        <p>可以使用excel完成，操作步骤如下：</p>\n" +
                "                        <p>1）第一步，选中需要删除样本所在列；</p>\n" +
                "                        <p>2）第二步，点击删除按钮，即可完成样本数据的删除；</p>\n" +
                "                        <p>3）第三步，另存为制表符分隔的txt文件；</p>\n" +
                "                        <p>4）第四步，在对应的分组文件中，去掉已删除样本的样本名，避免报错；</p>\n" +
                "                        <img src=\"/assets/images/softpic/faq/pca4.png\" style=\"height:auto;\">\n" +
                "                        <br>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </div>\n" +
                "            <div class=\"panel\">\n" +
                "                <div class=\"panel-heading\">\n" +
                "                    <a class=\"accordion-toggle collapsed\" data-toggle=\"collapse\" data-parent=\"#pca-example\" href=\"#collapse-faq3\">\n" +
                "                        <span style=\"font-weight:700;\"><strong>4. 如何查看示例文件</strong></span>\n" +
                "                    </a>\n" +
                "                </div>\n" +
                "                <div id=\"collapse-faq3\" class=\"panel-collapse collapse\">\n" +
                "                    <div class=\"panel-body\">\n" +
                "                        <p>点击下方截图红框中的“示例文件”，即可打开新页面，查看云平台提供的示例文件。</p>\n" +
                "                        <br>\n" +
                "                        <img src=\"/assets/images/softpic/faq/pca5.png\" style=\"height:auto;\">\n" +
                "                        <br>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </div>\n" +
                "            <div class=\"panel\">\n" +
                "                <div class=\"panel-heading\">\n" +
                "                    <a class=\"accordion-toggle collapsed\" data-toggle=\"collapse\" data-parent=\"#pca-example\" href=\"#collapse-faq4\">\n" +
                "                    <span style=\"font-weight:700;\"><strong>5. 删除整组数据后无法分析，或分析报错？</strong></span>\n" +
                "                    </a>\n" +
                "                </div>\n" +
                "                <div id=\"collapse-faq4\" class=\"panel-collapse collapse\">\n" +
                "                    <div class=\"panel-body\">\n" +
                "                        <p>由于删除数据后，导致数据某一行都为0或者某一行都为同一数值，都可能导致无法归一化，从而分析失败，解决方法如下：</p>\n" +
                "                        <p>1）将可选参数“是否归一化”选择为“No”，即不进行归一化；</p>\n" +
                "                        <p>2）如果设置参数后依然无法分析，可通过左侧导航栏的“意见反馈”选项反馈意见，也可以加入凌波微课交流群，联系小助教或其他云平台老师解决。</p>\n" +
                "                        <br>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </div>\n" +
                "        </div>";

        var ta="Geneid\tB17-12-1\tB17-12-2\tB17-12-3\tC17-16-2\tC17-16-3\tC17-16\n" +
                "Vigun01g000100\t8.717\t9.396\t8.672\t4.085\t5.641\t5.046\n" +
                "Vigun01g000200\t10.467\t10.685\t11.422\t8.531\t11.062\t11.066\n" +
                "Vigun01g000300\t16.308\t16.841\t17.236\t30.494\t34.638\t35.111\n" +
                "Vigun01g000400\t27.537\t27.958\t27.525\t42.391\t47.891\t50.474\n" +
                "Vigun01g000500\t7.538\t6.593\t6.077\t4.069\t4.976\t4.795\n" +
                "Vigun01g000600\t0.305\t0.447\t0.279\t0.133\t0.101\t0.000\n" +
                "Vigun01g000700\t11.620\t10.681\t12.147\t15.832\t18.059\t18.884\n" +
                "Vigun01g000800\t7.057\t7.785\t8.059\t5.200\t6.554\t6.817\n" +
                "Vigun01g000900\t0.082\t0.107\t0.075\t0.048\t0.018\t0.027\n" +
                "Vigun01g001000\t3.992\t4.609\t4.939\t7.347\t9.265\t8.387\n" +
                "Vigun01g001200\t7.539\t6.793\t6.746\t5.438\t5.743\t6.066\n" +
                "Vigun01g001300\t63.648\t64.109\t63.713\t44.927\t49.558\t48.204\n" +
                "Vigun01g001400\t1.727\t1.370\t1.935\t1.994\t1.334\t1.858\n" +
                "Vigun01g001500\t8.154\t7.808\t7.316\t4.559\t6.772\t7.583\n" +
                "Vigun01g001600\t8.900\t8.778\t9.117\t8.872\t9.403\t8.702\n" +
                "Vigun01g001700\t0.399\t0.488\t0.593\t0.000\t0.016\t0.000\n" +
                "Vigun01g001800\t8.952\t8.166\t8.179\t4.220\t4.183\t3.692";

        var go= "B17-12-1\tB\n" +
                "B17-12-2\tB\n" +
                "B17-12-3\tB\n" +
                "C17-16-2\tC\n" +
                "C17-16-3\tC\n" +
                "C17-16\tC";

        function showexample(type) {
            if(type=="table"){
                if(table==1) {
                    $("#txdata1").val(ta);
                    $("#PCA1").formValidation("revalidateField", "txdata1");
                }
                else window.open("/assets/files/PCA_table.txt");
            }
            if(type=="group"){
                if(group==1) {
                    $("#txdata2").val(go);
                    $("#PCA1").formValidation("revalidateField", "txdata2");
                }
                else window.open("/assets/files/PCA_group.txt");
            }
        }

            function formValidation() {
                let field = {};
                let table = ["table1", "table2"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let text2 = ["txdata1","txdata2"];
                FieldText(field, text2);
                let excluded = [":hidden"];
                addFormValidation("PCA1", field, excluded)
            }


        var instruction = "<p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>1.背景介绍</strong></span><br>\n" +
                "                                主成分分析（Principal Component Analysis，PCA）， 是一种对数据进行简化分析的技术，这种方法可以有效的找出数据中最“主要”的元素和结构，去除噪音和冗余，将原有的复杂数据降维，揭示隐藏在复杂数据背后的简单结构。其优点是简单且无参数限制。通过分析不同样品OTU（97%相似性）组成可以反映样品间的差异和距离\n" +
                "                                <br>\n" +
                "                            </p>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>2.操作方法</strong></span>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca1.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>2.1.上传矩阵表格文件</strong></span><br>\n" +
                "                                可以选择输入文件或手动输入两种上传数据的方式，云平台支持的格式为txt格式的二维矩阵文件，示例文件如下。\n" +
                "                                <br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca2.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                第一列为基因ID，第一行为样本名，每一列对应的为这个样本对应基因经过归一化后的表达量。将这个矩阵文件上传到“1. 上传矩阵表格文件”\n" +
                "                                <br>\n" +
                "                            </p>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>2.2.参数选择</strong></span><br>\n" +
                "                                可选参数包括是否显示样本名、是否显示箭头和是否按分组绘图三种，选择不同的参数，绘制图片的显示效果也不同。\n" +
                "                                <br>\n" +
                "                            </p>\n" +
                "                            <br>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca3.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\">2.2.1.选择不按分组绘图，直接点击“提交”即可</span><br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca4.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\">2.2.2.选择按分组进行绘图</span><br>\n" +
                "                                这一步可以选择手动输入或者上传文件，可以选择是否绘制分组圈，示例文件格式如下图，第一列为样品名，第二列为分组编号。上传文件后点击“提交”即可。\n" +
                "                                <br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca5.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>2.3.查看任务</strong></span><br>\n" +
                "                                提交任务后，点击界面右侧的“PCA历史任务”模块，可以看到任务编号、提交时间、结束时间和状态。\n" +
                "                                <br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca6.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                通过点击界面“我的任务”可以查看任务编号、软件名称和状态等信息，点击任务编号，即可查看分析结果。\n" +
                "                                <br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca7.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                在任务详情界面，展示的是任务参数、结果文件列表和在线调整图片3个区域，提供结果文件下载和图片调整功能。\n" +
                "                                <br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca8.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>3.示例图片</strong></span><br>\n" +
                "                                根据设置的不同参数会产生不同的示例图片，共包含5组图片，详见下方\n" +
                "                                <br>\n" +
                "                                <span style=\"font-weight:700;\"><strong>3.1.无分组文件（在无分组文件的情况下，输出图片显示样本名，且不能画分组圈）</strong></span><br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca9.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>3.2.有分组文件，不显示样本名，不绘制样本分组圈</strong></span><br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca10.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>3.3.有分组文件，显示样本名，不绘制样本分组圈</strong></span><br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca11.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>3.4.有分组文件，不显示样本名，绘制样本分组圈</strong></span><br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca12.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>3.5.有分组文件，不显示样本名，绘制样本分组圈</strong></span><br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca13.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>\n" +
                "                            <p style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\">\n" +
                "                                <span style=\"font-weight:700;\"><strong>4.结果文件列表</strong></span><br>\n" +
                "                                结果文件包括PCA结果图、PCA值表格和特征向量矩阵表格，其中PCA结果图可以根据以下参数进行在线调整\n" +
                "                                <br>\n" +
                "                            </p>\n" +
                "                            <img src=\"/assets/images/softpic/instruction/pca14.png\" class=\"img-rounded img-thumbnail img-responsive\" style=\"height:auto;\">\n" +
                "                            <span style=\"color:#636E7B;font-family:Arial, 微软雅黑;font-size:14px;background-color:#FFFFFF;\"></span>\n" +
                "                            <br>";



    </script>
}