@(abbre:String)(implicit session: Session)
@home.main("Ternary Dialog"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>

    <div class="col-md-12 mysoft-content" style="width: 98%;">
        <div class="mysoft-content-left whitebox" style="width: 771px;overflow-y: auto">
            <form id="TRY" method="GET" novalidate="novalidate" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"></div>
                <h3 class="tools-title">三元图</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload("1： ", "div1", "OTU丰度表：","table1","ternay_otu.txt")
                @units.fileupload("2： ", "div2", "三元分组文件：","table2","ternay_group.txt")
                @units.fileupload2("3： ", "div3", "富集标注/物种关注文件：","table3","ternay_enrich.txt","ternay_focus.txt")<br>
                @units.selector("4：","","点大小转换：","psz")<br><br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="runTRY()" style="margin-bottom: 20px">
            </form>
        </div>
        @units.pageRight("更详细使用说明编写中...敬请期待！", "视频录制中...敬请期待！","TRY")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $("#table1").change(function () {
                checkTable();
            });

            $("#table2").change(function () {
                checkGroupfile();
            });

            $("#table3").change(function () {
                checkEnrich();
            });

            $(document).ready(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("TRY","TRY");
                // loadVideo("//13125180.s21v.faiusr.com/58/ABUIABA6GAAgts3S_QUo_uGeyAc.mp4","/assets/images/softpic/video/heatmap_video.png")
                var psz = ["0","1","2"];
                var pszname = ["none","log2","log10"];
                creatSelector("psz",pszname,psz,"none");
            });

            var sample = [], otuid = [];
            var flagtable = true;
            var lock = true;

            function runTRY(formId) {
                if(lock) {
                    lock = false;
                    var form = $("#TRY");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        flagtable=true;
                        sample = [];
                        otuid = [];
                        checkTable().then((r)=>{
                            var check=[];
                            check.push(checkGroupfile());
                            check.push(checkEnrich());
                            Promise.all(check).then((r)=>{
                                if(flagtable && checktaskname()) {
                                    var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                    var index = layer.alert(element, {
                                        skin: 'layui-layer-lan',
                                        closeBtn: 0,
                                        title: "提醒",
                                        btn: []
                                    });
                                    setTimeout(function () {
                                        layer.close(index);
                                        var form1 = new FormData($("#TRY")[0]);
                                        $.ajax({
                                            url: "/CloudPlatform/SoftTool/runSoft?abbre=@abbre&sname=三元图",
                                            type: "post",
                                            processData: false,
                                            contentType: false,
                                            data: form1,
                                            success: function (data) {
                                                removeul();
                                                loadHistory("@abbre");
                                                switchRunningTab();
                                                getTaskName("TRY","TRY");
                                            }
                                        });
                                    }, 2000);
                                }
                            });
                        });
                    }
                    lock = true;
                }
            }


            function checkTable() {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table1').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        sample=line[0].trim().split('\t');
                        var length=sample.length;
                        for(let i in line){
                            var r=parseInt(i)+1;
                            let row=line[i].trim().split('\t');
                            otuid.push(row[0]);
                            var name=[];
                            if(row.length!=length){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "OTU丰度表错误",
                                    text: "OTU丰度表第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                            for(let j in row){
                                var c=parseInt(j)+1;
                                if(i!=0){
                                    if(j!=0 && !checkRate(row[j].trim())){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "OTU丰度表错误",
                                            text: "OTU丰度表第"+r+"行,第"+c+"列数据不是数字",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }
                                }else {
                                    if(name.indexOf(row[j])>=0){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "OTU丰度表错误",
                                            text: "OTU丰度表第1行,第"+c+"列样品名重复存在，请核实！",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }else name.push(row[j]);
                                }
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkGroupfile() {
                return new Promise((resolve, reject) => {
                    if($("#table1").val()==""){
                        flagtable=flagtable&&false;
                        $("#TRY").formValidation("revalidateField", "table1");
                        $("#div2").find(".fileinput-remove").click();
                        swal({
                            title: "请先上传OUT丰度表",
                            text: "请先上传OUT丰度表！",
                            type: "warning",
                            confirmButtonText: "确认"
                        });
                        resolve(false);
                    }
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table2').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        var name=[];
                        for(let i in line) {
                            if(i!=0){
                                let row=line[i].trim().split('\t');
                                var r=parseInt(i)+1;
                                if(row.length!=2){
                                    flagtable=flagtable&&false;
                                    swal({
                                        title: "分组文件格式错误",
                                        text: "分组文件第"+r+"行格式错误，必须为两列！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    resolve(false);
                                }
                                if(sample.indexOf(row[0])<0){
                                    flagtable=flagtable&&false;
                                    swal({
                                        title: "分组文件格式错误",
                                        text: "分组文件第"+r+"行样品名不存在，请核对OTU文件！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    resolve(false);
                                }
                                if(name.indexOf(row[0])>=0){
                                    flagtable=flagtable&&false;
                                    swal({
                                        title: "分组文件错误",
                                        text: "分组文件第"+r+"行样品名重复存在，请核实！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    resolve(false);
                                }else name.push(row[0]);
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkEnrich() {
                return new Promise((resolve, reject) => {
                    if($("#table1").val()==""){
                        flagtable=flagtable&&false;
                        $("#TRY").formValidation("revalidateField", "table1");
                        $("#div3").find(".fileinput-remove").click();
                        swal({
                            title: "请先上传OUT丰度表",
                            text: "请先上传OUT丰度表！",
                            type: "warning",
                            confirmButtonText: "确认"
                        });
                        resolve(false);
                    }
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table3').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        var name=[];
                        for(let i in line) {
                            if(i!=0){
                                let row=line[i].trim().split('\t');
                                var r=parseInt(i)+1;
                                if(row.length!=2){
                                    flagtable=flagtable&&false;
                                    swal({
                                        title: "分组文件格式错误",
                                        text: "分组文件第"+r+"行格式错误，必须为两列！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    resolve(false);
                                }
                                if(otuid.indexOf(row[0])<0){
                                    flagtable=flagtable&&false;
                                    swal({
                                        title: "分组文件格式错误",
                                        text: "分组文件第"+r+"行OTUID不存在，请核对OTU文件！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    resolve(false);
                                }
                                if(name.indexOf(row[0])>=0){
                                    flagtable=flagtable&&false;
                                    swal({
                                        title: "分组文件错误",
                                        text: "分组文件第"+r+"行OTUID重复存在，请核实！",
                                        type: "warning",
                                        confirmButtonText: "确认"
                                    });
                                    resolve(false);
                                }else name.push(row[0]);
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            function formValidation() {
                let field = {};
                let table = ["table1", "table2", "table3"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let excluded = [":hidden"];
                addFormValidation("TRY", field, excluded)
            }


    </script>

}