@(abbre:String)(implicit session: Session)
@home.main("Volcano"){

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/test/mysoft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-fileinput-master/css/fileinput.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/soft.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("DPlayer-1.26.0/mycss/myvideo.css")" media="screen" />

    <script type="text/javascript" src="@routes.Assets.versioned("DPlayer-1.26.0/dist/DPlayer.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("md5/md5.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/jquery-ui.js")"></script>
    <script src="@routes.Assets.versioned("layer-v3.0/layer/layer.js")" type="text/javascript"></script>

    <div class="col-md-12 mysoft-content" style="width: 98%;">
        <div class="mysoft-content-left whitebox" style="width: 771px;overflow-y: auto">
            <form id="VOC" method="GET" novalidate="novalidate" enctype="multipart/form-data" class="well form-inline" style="box-sizing: border-box!important;">
                <div class="softpic mws-ic @abbre"> </div>
                <h3 class="tools-title">火山图（Volcano）</h3><br><br>
                @units.textinput("","","任务编号：", "taskname","","")
                @units.fileupload("", "mydiv1", "上传文件：","table1","volcano.txt")
                @units.textinput("","","P值阈值：", "pcl", "数字", "10e-6")
                @units.textinput("","","F值阈值：", "fcl", "数字", "1")
                <br><br>
                <input type="button" value="提&nbsp;&nbsp;交" name="submit" class="btn btn-primary" onclick="runVolcano()" style="margin-bottom: 20px">
            </form>
        </div>
        @units.pageRight("更详细使用说明编写中...敬请期待！", "","VOC")
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("js/toolsAdjust.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/soft.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("myjs/redraw.js")" type="text/javascript"></script>
    <script type="text/javascript">

            $("#table1").change(function () {
                checkTable();
            });

            $(document).ready(function () {
                formValidation();
                loadHistory("@abbre");
                getTaskName("VOC","VOC");
                loadVideo("//13125180.s21v.faiusr.com/58/2/ABUIABA6GAAg8PLjgAYosv7zuAc.mp4","/assets/images/softpic/video/volcano_video.png")
            });

            var lock = true;

            function runVolcano(formId) {
                if(lock) {
                    lock = false;
                    var form = $("#VOC");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        flagtable=true;
                        var check=[];
                        check.push(checkTable());
                        Promise.all(check).then((r)=>{
                            if(flagtable && checktaskname()) {
                                var element = "<div id='content'><span id='info'>文件上传中...</span>&nbsp;<img class='runningImage' src='/assets/images/loader-twitter.gif' style='width: 30px;height: 20px;float: right;padding-right: 11px;padding-top: 2px;'></div>"
                                var index = layer.alert(element, {
                                    skin: 'layui-layer-lan',
                                    closeBtn: 0,
                                    title: "提醒",
                                    btn: []
                                });
                                setTimeout(function () {
                                    layer.close(index);
                                    var form1 = new FormData($("#VOC")[0]);
                                    $.ajax({
                                        url: "/CloudPlatform/SoftTool/runSoft?abbre=@abbre&sname=火山图（Volcano）",
                                        type: "post",
                                        processData: false,
                                        contentType: false,
                                        data: form1,
                                        success: function (data) {
                                            removeul();
                                            loadHistory("@abbre");
                                            switchRunningTab();
                                            getTaskName("VOC","VOC");
                                        }
                                    });
                                }, 2000);
                            }
                        });
                    }
                    lock = true;
                }
            }

            var flagtable=true;
            var sample=[];

            function checkTable() {
                return new Promise((resolve, reject) => {
                    var reader=new FileReader();
                    reader.readAsText(document.getElementById('table1').files[0],"UTF-8");
                    reader.onload=function () {
                        let text=reader.result;
                        let line=text.trim().split('\n');
                        sample=line[0].trim().split('\t');
                        var length=sample.length;
                        for(let i in line){
                            var r=parseInt(i)+1;
                            let row=line[i].trim().split('\t');
                            var name=[];
                            if(row.length!=length){
                                flagtable=flagtable&&false;
                                swal({
                                    title: "文件错误",
                                    text: "文件第"+r+"行数据数量不一致",
                                    type: "warning",
                                    confirmButtonText: "确认"
                                });
                                resolve(false);
                            }
                            for(let j in row){
                                var c=parseInt(j)+1;
                                if(i!=0){
                                    if(j!=0 && !checkRate(row[j].trim())){
                                        flagtable=flagtable&&false;
                                        swal({
                                            title: "文件错误",
                                            text: "文件第"+r+"行,第"+c+"列数据不是数字",
                                            type: "warning",
                                            confirmButtonText: "确认"
                                        });
                                        resolve(false);
                                    }
                                }
                            }
                        }
                        flagtable=flagtable&&true;
                        resolve(true);
                    };
                });
            }

            function checkRate(input) {
                // var re = /^(-?\d+)(\.\d+)?$/;
                var re=/^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$/;//判断字符串是否为浮点数或科学计数法
                if (!re.test(input)) {
                    return false;
                }else return true;
            }

            function formValidation() {
                let field = {};
                let table = ["table1"];
                FieldFile(field, table);
                let text = ["taskname"];
                FieldTaskname(field, text);
                let number = ["pcl","fcl"];
                FieldNumber(field, number);
                let excluded = [":hidden"];
                addFormValidation("VOC", field, excluded)
            }


    </script>

}