@()(implicit session: Session)
@home.main("Personal Center"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("mycss/personal.css")" media="screen" />

    <style>
            input[type="text"]{
                display: unset;
                padding: unset;
                background: transparent;
            }
            select {
                display: unset;
            }
            label {
                margin-bottom: unset;
            }
            .dataTables_wrapper .dataTables_paginate .paginate_button {
                margin-top: unset;
            }
            .his_name {
                margin: 5px 10px;
                width: 20%;
                display: inline-block;
                text-align: center;
            }
            .his_time {
                margin: 5px 10px;
                width: 25%;
                display: inline-block;
                text-align: center;
            }
            hr {
                margin-top: 5px;
                margin-bottom: 5px;
                border: 0;
                border-top-color: currentcolor;
                border-top-style: none;
                border-top-width: 0px;
                border-top: 1px solid #e5e5e5;
            }
            .success{
                padding: 6px 10px;
                background: cadetblue;
                border-radius: 16px;
                color: white;
                margin: 0px 30px 0px 30px!important;
            }
            .failed{
                padding: 6px 10px;
                background: #bf4064;
                border-radius: 16px;
                color: white;
                margin: 0px 30px 0px 30px!important;
            }
            .mws-re {
                width: 20% !important;
                min-width: 170px;
                margin: 8px 1%;
                height: 160px;
                float: left;
                cursor: pointer;
                display: block;
                text-decoration: none;
                color: #323232;
                box-shadow: unset;
                -webkit-box-sizing: unset;
                -moz-box-sizing: unset;
                box-sizing: unset;
                background: unset;
                background: unset;
                border: unset;
                -webkit-border-radius: unset;
                border-radius: unset;
            }
            .mws-re .mws-report-icon {
                width: 31%;
                height: 40%;
                float: unset;
                display: block;
                border-right: unset;
                background-position: center center;
                margin-left: 33%;
            }
            .mws-re .mws-report-content {
                width: auto;
                height: auto;
                position: relative;
                margin-top: 0;
                margin-left: 0;
                display: block;
                padding: 8px 10px;
                text-align: center;
            }
            .mws-panel .mws-panel-header span.mws-i-24 {
                padding-left: 40px;
                background-position: 8px center;
                color: white;
            }
            .mws-panel .mws-panel-header {
                /*background: url(../../images/core/mws-panel-header-bg.png) repeat-x;*/
                height: 25px;
                position: relative;
                padding: 12px;
                font-size: 14px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -o-border-radius: 4px;
                -khtml-border-radius: 4px;
                border-radius: 4px;
                background: #1f3851;
                /*background: #102541;*/
            }
    </style>

    <div class="container" style="margin: 0 10px;width: 98%;">
        <div class="mws-panel  mws-collapsible">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-user">个人资料</span>
            </div>
            <div class="mws-panel-body">
                <div class="mws-panel-content" style="height: 175px;background: white">
                    <div class="grid_2">
                        <img src="/assets/example/profile.jpg" style="width: 161px;border-radius: 50px;">
                    </div>
                    <div class="grid_6" style="margin-top: 1px;" >
                        <div class="grid_3">
                            <p>用户名：</p>
                            <p>手机：</p>
                            <p>邮箱：</p>
                            <p>学校/机构/公司：</p>
                        </div>
                        <div class="grid_5">
                            <p>@session.get("userName")</p>
                            <p>@session.get("userPhone")</p>
                            <p>@session.get("userEmail")</p>
                            <p>@session.get("userCompany")</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="mws-panel  mws-collapsible">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-clipboard-1">任务记录</span>
            </div>
            <div class="mws-panel-body" style="height: 325px;overflow-y: scroll;background: white">
                <div class="mws-panel-content" style="padding: 0 20px 0 20px">
                    <ul id="hisul" style="margin-top: 15px">
                        <li id="hislist" class="hislist">
                            <div class="his_name"><span>任务编号</span></div>
                            <div class="his_time"><span>提交时间</span></div>
                            <div class="his_time"><span style="margin-left: -20px;">结束时间</span></div>
                            <div class="his_name"><span style="margin-left: -23px;">状态</span></div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mws-panel  mws-collapsible">
            <div class="mws-panel-header">
                <span class="mws-i-24 i-favorite">我的收藏</span>
            </div>
            <div class="mws-panel-body" style="height: 200px;overflow-y: scroll;background: white">
                <div class="mws-panel-content" style="">
                    <div id="likelist" style="padding: 1em 0em 1em 1em;">
                        <ul id="like" class="ui-widget ui-helper-clearfix">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

    </div>

    <script type="text/javascript" src="/assets/plugins/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/assets/plugins/colorpicker/colorpicker.js"></script>
    <script type="text/javascript" src="/assets/plugins/spinner/ui.spinner.js"></script>

    <script type="text/javascript" src="/assets/js/jquery-ui.js"></script>

    <script>

        $(document).ready(function () {
            loadHistory();
            loadSoft();
        });

        function loadHistory(){
            var html="";
            $.ajax({
                url: "/CloudPlatform/MyTasks/getDutys",
                type: "post",
                success: function (data) {
                    $.each(data.rows,function (i,v) {
                        html += "<li class='hislist'><div class='his_name'><span>"+v.taskname+"</span></div><div class='his_time'><span>"+v.submit+"</span></div><div class='his_time'><span>"+v.finish+"</span></div><div class='his_name'>"+v.status+"</div><hr></li>";
                    });
                    $("#hislist").after(html);
                }
            });
        }

        function removeul(){
            $("#hisul li").remove();
            $("#hisul").append("<li id=\"hislist\" class=\"hislist\">\n" +
                    "                                    <div class=\"his_name\"><span>任务编号</span></div>\n" +
                    "                                    <div class=\"his_time\"><span>提交时间</span></div>\n" +
                    "                                    <div class=\"his_time\"><span style='margin-left: -20px;'>结束时间</span></div>\n" +
                    "                                    <div class=\"his_name\"><span style='margin-left: -23px;'>状态</span></div>\n" +
                    "                                    <hr>\n" +
                    "                                </li>");

        }

        function loadSoft(){
            removelike();
            $.ajax({
                url: "/CloudPlatform/Softwares/home/likebref",
                type: "get",
                success: function (data) {
                    var html="";
                    if(JSON.stringify(data.rows)=="[]") html="<li><div>暂无收藏</div></li>";
                    else
                        $.each(data.rows,function (i,v) {
                            html += "<li class='mws-re'>" +v.pics+ "<div class='mws-report-content'>" + v.description+ "</div></li>";
                        });
                    $("#like").html(html);
                }
            });
        }

        function removelike(param){
            $("#like li").remove();
        }

        function formValidation() {
            $('#passwordForm').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    password1: {
                        validators: {
                            notEmpty: {
                                message: '请输入新密码！'
                            },
                            stringLength: {
                                min: 6,
                                message: '请输入至少六位密码！'
                            }
                        }
                    },
                    password2: {
                        validators: {
                            notEmpty: {
                                message: '请输入确认密码！'
                            },
                            identical: {
                                field: 'password1',
                                message: '两次密码不一致!'
                            }
                        }
                    },
                    validnumber: {
                        validators: {
                            notEmpty: {
                                message: "请输入验证码！"
                            }
                        }
                    }
                }
            });
        }

    </script>
}