.grid_8{
    width: 100%;
    margin: unset;
}
.mws-panel .mws-panel-content {
    padding: 24px;
    float: left;
    background: white;
}
.grid_6{
    width: 60%;
}
.grid_2{
    width: 20%;
}
.title{
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Tahoma, Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
    line-height: 2.6;
    color: inherit;
    font-size: 16px;
    color: #424141;
}
.content{
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Tahoma, Arial, sans-serif;
    font-size: 16px;
    color: #827e7e;
}
.success{
    color: white;
    background: cadetblue;
    padding: 8px 15px;
    border-radius: 19px;
}
.failed{
    color: white;
    background: #bf4064;
    padding: 8px 15px;
    border-radius: 19px;
}
.running{
    color: white;
    background: #a08c5f;
    padding: 8px 15px;
    border-radius: 19px;
}
.list{
    margin-left: 125px;
    height: 33%;
}
.list:first-child{
    margin-left: 0px;
}
.align{
    padding-left: 50px;
}
.button{
    /*background: #8fb2b3;*/
    background: #1f3851;
    border-radius: 6px;
    color: white;
    padding: 10px 30px;
}
.content a:hover{
    color: white!important;
    background-color: #133059;
}
#filesUrl a{
    font-size: 17px;
    color: gray;
}
#filesUrl a:hover{
    color: cadetblue;
}
/*滚动条样式*/
.innerbox::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.innerbox::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.innerbox::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
#prepic{
    padding: 10px 20px 0 10px!important;
}
.img-thumbnail{
    -webkit-transition: unset;
    transition: unset;
}
.mws-table tbody tr.odd {
    background-color: #fafafa;
}
.mws-table tbody tr.even {
    background-color: white;
}
.mws-table thead tr {
    background: white;
}
.mws-panel .mws-panel-header {
    height: 25px;
    position: relative;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #bebebe;
    background: #fafafa;
}
table tr th, table tr td {
    border-top: 1px solid #ccc !important;
}
input[type="text"], textarea {
    background: #fff;
    background: rgba(255, 255, 255, .4);
    border: 1px solid #bebebe;
    padding: 7px 9px;
    border-radius: 3px;
    color: #888;
    box-shadow: unset;
}
.form-group{
    float: left;
}
.right{
    width: 70%;
}
.form-group-p{
    display: inline-block;
    width: 100%;
}
input,select{
    line-height: 32px;
    height: 32px;
    width: 60%;
    border-radius: 5px;
    margin-left: 10px;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 700;
}
.form-group input:not([type="radio"]):not([type="checkbox"]),.form-group select,.form-group .form-control[readonly] {
    border-radius: 5px;
    background-color: #f7f7f7;
    height: 32px;
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.form-group-extra {
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
    /* max-width: 180px; */
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 80%;
    margin-bottom: 0;
    height: 22px;
    border-radius: 4px;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-radius: 5px;
    background-color: #f7f7f7;
    height: 21px;
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.fileinput-cancel-button{
    display: none;
}
.file-input{
    width: 330px;
}
.hidden-xs {
    display: unset !important;
}
.redraw-right .form-group-p{
    padding-left: 30px;
}
.must{
    color: red;
    font-size: large;
    font-weight: bold;
    position: relative;
    left: -10px;
}
.redraw-head a:hover,.redraw-head a:focus{
    background: #133059;
    color: white;
}
.layui-layer {
    -webkit-overflow-scrolling: touch;
    top: 35%;
    left: 41%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-background-clip: content;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.layui-layer-lan .layui-layer-btn {
    padding: 10px;
    text-align: right;
    border-top: unset;
}
.layui-layer-lan[type=dialog] {
    min-width: 280px;
    border-radius: 11.5px;
}
.layui-layer-lan .layui-layer-title {
    background: #1f3851;
    color: #fff;
    border: none;
    border-top-left-radius: 11.5px;
    border-top-right-radius: 11.5px;
}
.evo-pointer {
    cursor: pointer;
    margin-top: 8px;
}




.btn-dark {
    color: #fff;
    background-color: #1f3851;
    border-color: #1f3851;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
    color: #fff;
    background-color: #133059;
    border-color: #133059;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
a, a:visited {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

.dropdown-item {
    font-size: 14px;
}
.dropdown-item {
    display: block;
    width: 120px;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.login-form-body .form-gp input {
    width: 100%;
    height: 30px!important;
    border: none!important;
    border-bottom-color: currentcolor!important;
    border-bottom-style: none!important;
    border-bottom-width: medium!important;
    border-bottom: 1px solid #e6e6e6!important;
    background-color: transparent!important;
    border-radius: 3px!important;
    color: #888;
    outline: none;
    font-family: 'MuseoSans500Regular', Arial, sans-serif;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
}
.reference{
    width: 80%;
    float: left;
    overflow: auto;
    max-height: 210px;
    scrollbar-width: thin;
}
.reference::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.update{
    color: red;
}
.label-overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
}